
.nowrap {
  white-space: nowrap;
}
.medium {
  font-weight: 500;
}
.ellipsis {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
::-webkit-input-placeholder {
  color: $placeholder;
  font-weight: 400;
  opacity: 1;
}
::-moz-placeholder {
  color: $placeholder;
  font-weight: 400;
  opacity: 1;
}
:-moz-placeholder {
  color: $placeholder;
  font-weight: 400;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $placeholder;
  font-weight: 400;
  opacity: 1;
}