.kit.view.index {
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: -6rem;
  }
  .search {
    width: 100%;
    margin-bottom: 4rem;
  }
}