.kit.search.result {
  display: block;
  width: 100%;
  height: auto;
  &.shadow {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 5px 10px 21px rgba(106, 123, 135, 0.1);
  }
  &.service {
    .scroll {
      overflow-y: auto;
      max-height: calc(100vh - 28rem);
    }
    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      height: 3.5rem;
      border-bottom: 1px solid $color-border-separator;
      padding: 0 0.75rem;
      font-size: 0.875rem;
      font-weight: 500;
      text-align: left;
      > .title {
        font: inherit;
        color: $title;
        padding: 0 0.25rem;
      }
    }
    > .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 4rem;
      border-top: 1px solid $color-border-separator;
      > .button.outer {
        width: 100%;
        max-width: 100%;
        padding: 0.625rem 0.75rem;
      }
    }
  }
}