.kit.view {
  $color-border: #BBC8D1;
  $color-title: #272727;
  &.map {
    &.full.screen {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &.max.screen {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 6.25rem;
    }
    & > .map.container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #eee;
      z-index: 1;
    }
  }
  & > .sidebar.container {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
    width: 19rem;
    z-index: 2;
    &.navigation {
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 17px 0 21px rgba(159, 159, 159, 0.06);
      z-index: 3;
    }
    &.position-left {
      left: 0;
    }
    &.position-main {
      left: 6.25rem;
    }
    &.size-max {
      width: 24rem;
    }
    &.service.list {
      z-index: 4;
      &.color-main {
        background-color: rgba(255, 255, 255, 0.8);
      }
      &.color-none {
        background-color: transparent;
      }
    }
  }
  & > .search.container {
    position: absolute;
    z-index: 50;
    width: 37.5rem;
    &.service {
      top: 0.75rem;
      left: 27rem;
    }
  }

  &.page {
    &.full.screen {
      padding: 0;
      display: flex;
      width: 100%;
      flex: 1 0 auto;
      background-color: transparent;
    }
    &.center {
      display: flex;
      width: 100%;
      flex: 1 0 auto;
      padding: 0 6.25rem;
      background-color: transparent;
    }
    &.gray {
      background-color: $bg-page-gray;
    }

    & > .container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      width: 100%;
      flex: 1 0 auto;
      padding: 1rem 0 0;
      background-color: #fff;

      & > .line {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        flex: 1 1 100%;
        margin: 0;
      }

      & > .line.breadcrumb {
        width: 100%;
        min-height: 1rem;
        max-height: 1rem;
      }

      & > .line.header {
        justify-content: space-between;
        align-items: flex-start;
        flex: 0 0 auto;
        margin: 0;
        margin-bottom: auto;
        min-height: 6rem;
        max-height: max-content;
        padding: 1.5rem $padding-left-accordion;
        border-bottom: 1px solid $color-border;
        &.small {
          min-height: auto;
        }
        .aqualink {
          font-size: 13px;
        }
        .title {
          font-size: 1rem;
          font-weight: 500;
          color: $color-title;
          padding-right: 1rem;
        }
        > .middle {
          width: 50%;
          margin: auto;
          margin-left: 0;
        }
        > .right {
          width: auto;
          max-width: 100%;
          margin: 0;
          margin-left: auto;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: stretch;
          align-content: space-between;
        }
        > .right + .right {
          margin-left: 2rem;
        }
        > .left {
          width: auto;
          max-width: 100%;
          margin: 0;
          margin-right: auto;
        }
        > .left + .left {
          margin: 0;
        }
        > .left, > .right {
          &.half {
            max-width: 50%;
          }
          &.small {
            width: 25%;
            max-width: 25%;
            margin: auto 0;

          }
        }
      }

      & > .line.content {
        width: 100%;
        flex: 1 0 auto;
        margin: 0;
        height: auto;
        & > .section {
          position: relative;
          .container.border.bottom {
            border-bottom: 1px solid $color-border;
          }
          .container.border.top {
            border-top: 1px solid $color-border;
          }
          .container.medium {
            max-width: 620px;
          }
          .container.p-24-44 {
            padding: 1.5rem 2.75rem;
          }
          .container.p-24-32 {
            padding: 1.5rem 2rem;
          }
          .container.p-12-44 {
            padding: 0.75rem 2.75rem;
          }
          .container.p-20-20 {
            padding: 1.25rem;
          }
          .container.p-32-64 {
            padding: 2rem 4rem;
          }
          &.white {
            background-color: #ffffff;
          }
          &.gray {
            background-color: #F5F5F5;
          }
          &.left.medium {
            width: 50%;
            min-width: 27rem;
            max-width: 36rem;
            border-right: 1px solid $color-border;
          }
          &.right.medium {
            width: 50%;
            min-width: calc(100% - 36rem);
            max-width: calc(100% - 27rem);
          }
          &.left.small {
            width: 25%;
            min-width: 13rem;
            max-width: 13rem;
            border-right: 1px solid $color-border;
          }
          &.right.big {
            width: 50%;
            min-width: calc(100% - 13rem);
            max-width: calc(100% - 13rem);
          }
          &.left.fixed-300 {
            width: 19.5rem;
            min-width: 19.5rem;
            max-width: 19.5rem;
            border-right: 1px solid $color-border;
          }
          &.right.stretch-300 {
            width: calc(100% - 19.5rem);
            min-width: calc(100% - 19.5rem);
            max-width: calc(100% - 19.5rem);
          }
          .container {
            .separator {
              display: block;
              width: 100%;
              border: none;
              margin: 1.5rem 0;
              padding: 0;
              box-shadow: none;
              height: 1px;
              background-color: $gray-200;

            }
          }
        }
      }
    }
  }
}