{% extends '../imports/_main.twig' %}
{% set desktopCss = 'true' %}
{% block content %}
    <div class="ui container mt-10">
        <div class="ui grid">
            <div class="two column row">
                <div class="column">
                    <h3>kit breadcrumb</h3>
                    <div class="">
                        <div class="kit breadcrumb">
                            <a class="section">Главная</a>
                            <i class="divider"></i>
                            <a class="section">Автосервисы</a>
                            <i class="divider"></i>
                            <div class="active section">Автосервис 1</div>
                        </div>
                    </div>

                    <hr>
                    <h3>kit steps points</h3>
                    <div class="">
                        <nav class="kit steps points">
                            <a href="#" class="item visited"></a>
                            <a href="#" class="item active"></a>
                            <a href="#" class="item"></a>
                        </nav>
                    </div>

                    <hr>
                    <h3>kit steps panel big white</h3>
                    <div style="background-color: lightgrey; padding: 2rem 4rem; ">
                        <div class="kit steps panel big white">
                            <div class="icon step-auto"></div>
                            <div class="title">
                                <span class="medium">1 шаг:</span> Автомобиль
                            </div>
                            <div class="subtitle">Укажите VIN-номер или марку, <br>
                                модель и год выпуска автомобиля
                            </div>
                            <nav class="kit steps points">
                                <a href="#" class="item active"></a>
                                <a href="#" class="item "></a>
                                <a href="#" class="item"></a>
                            </nav>
                        </div>
                    </div>
                    <hr>
                    <h3>kit steps panel big white</h3>
                    <div style="background-color: lightgrey; padding: 2rem 4rem; ">
                        <div class="kit steps panel big white">
                            <div class="info">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                                <div class="text">
                                    <div class="title">Aston Martin DB9</div>
                                    <div class="subtitle">2000 г.в.</div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="column">
                    <h3>kit list vertical space small</h3>
                    <div class="">
                        <nav class="kit list vertical space small">
                            <a href="#" class="item">
                                <div style="height: 30px; border: 1px solid gray;"></div>
                            </a>
                            <a href="#" class="item">
                                <div style="height: 30px; border: 1px solid gray;"></div>
                            </a>
                            <a href="#" class="item">
                                <div style="height: 30px; border: 1px solid gray;"></div>
                            </a>
                        </nav>
                    </div>

                    <h3>kit card purpur</h3>
                    <div style="background-color: lightgrey; padding: 2rem;">

                        <nav class="kit list vertical space small">
                            <a href="#" class="item">
                                <div class="kit card purpur">
                                    <div class="name">
                                        <div class="title">Записаться <br> на сервис</div>
                                        <div class="subtitle"><span class="med">8 956</span> СТО в России и СНГ</div>
                                    </div>
                                    <div class="icon">★</div>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <div class="kit card purpur">
                                    <div class="name">
                                        <div class="title">Запросить <br> стоимость ремонта</div>
                                        <div class="subtitle"><span class="med"> 15 мин.</span> <br> среднее время
                                            ответа
                                        </div>
                                    </div>
                                    <div class="icon">☁</div>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <div class="kit card purpur">
                                    <div class="name">
                                        <div class="title">Предварительная диагностика</div>
                                        <div class="subtitle">Помощь в определении проблем с авто</div>
                                    </div>
                                    <div class="icon">☀</div>
                                </div>
                            </a>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <h2></h2>
                </div>
                <div class="column">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}