
{% extends '../imports/_main.twig' %}
{% set desktopCss = 'true' %}
{% block content %}
<div class="ui container mt-4">
    <div class="ui grid">
        <div class="two column row">
            <div class="column">
                <h2>7777</h2>
            </div>
            <div class="column">
                <h2>5555</h2>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <h2></h2>
            </div>
            <div class="column">
                <h2></h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}