{% extends '../imports/_main.twig' %}
{% set desktopCss = 'true' %}
{% block content %}
    <div class="ui container mt-4">
        <div class="ui grid">
            <div class="two column row">
                <div class="column">
                    <h3>kit search square location color-service</h3>
                    <div class="kit search square location color-service">
                        <div class="wrapper">
                            <button id="" class="btn-search"></button>
                            <input type="text" id="" maxlength="100" class="input" placeholder="">
                            <div class="formSearch__clear btn-clear" style="display: block;"></div>
                        </div>
                        <button class="btn-location"></button>
                    </div>
                </div>

                <div class="column">
                    <h3>kit search round color-main</h3>
                    <div class="kit search round color-main">
                        <div class="wrapper">
                            <input type="text" id="" maxlength="100" class="input"
                                   placeholder="Введите название автосервиса или услуги">
                            <div class="formSearch__clear btn-clear" style="display: block;"></div>
                            <button id="" class="btn-search kit btn desktop round yellow">Найти</button>
                        </div>
                    </div>
                </div>

            </div>

            <hr style="width: 100%">
            <div class="two column row">
                <div class="column">
                    <h3>ui form desktop + field fixed-364 + ui action input</h3>
                    <div class="ui form desktop">
                        <div class="field">
                            <label>
                                VIN/FRAME (Номер кузова)
                                <span>*</span>
                                <button type="button" class="kit btn question popoverBtn"
                                        data-container=".main" data-toggle="popover" data-trigger="hover"
                                        data-content="Выберите предоставляемые услуги" data-original-title=""
                                        title=""></button>
                            </label>
                            <div class="field fixed-364">
                                <div class="ui action input">
                                    <input type="text" name=""
                                           placeholder="Введите VIN или номер кузова">
                                    <button class="kit btn h32 blue desktop text small" disabled>Проверить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>ui form desktop + ui input + error message</h3>
                    <div class="ui form desktop">
                        <div class="field">
                            <label>Кузов</label>
                            <div class="ui input">
                                <input class="error" type="text" name="" placeholder="">
                            </div>
                            <div class="error message" style="display: block;">
                                Сообщение об ошибке об ошибкеоб ошибке об ошибкеоб ошибке
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="width: 100%">
            <div class="two column row">
                <div class="column">
                    <h3>ui form desktop + ui input textarea medium</h3>
                    <div class="ui form desktop">
                        <div class="field">
                            <label></label>
                            <div class="ui input">
                                <textarea class="medium" placeholder="Опишите проблему или укажите услугу"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>ui form desktop + ui input + textarea small</h3>
                    <div class="ui form desktop">
                        <div class="field">
                            <label></label>
                            <div class="ui input">
                                <textarea class="small" placeholder="Дополнительная информация"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="width: 100%">
            <div class="two column row">
                <div class="column">
                    <h3>ui checkbox desktop</h3>
                    <div class="ui checkbox desktop">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1">Make my profile visible</label>
                    </div>
                    <br> <br>
                    <div class="ui checkbox desktop">
                        <input type="checkbox" id="checkbox2" disabled>
                        <label for="checkbox2">Make my profile visible</label>
                    </div>
                </div>
                <div class="column">
                    <h3>kit list checkbox desktop</h3>
                    <div class="kit list checkbox desktop">
                        <div class="item withseparator">
                            <div class="ui master checkbox desktop">
                                <input type="checkbox" id="checkbox11" name="Japan">
                                <label for="checkbox11" class="nowrap">
                                    <div class="kit flag outer round">
                                        <span class="kit flag flag-fm desktop"></span>
                                    </div>
                                    <div class="label">Япония</div>
                                </label>
                                <div class="line"></div>
                            </div>

                            <div class="list mt-item-16">
                                <div class="item">
                                    <div class="ui child checkbox desktop">
                                        <input type="checkbox" id="checkbox12" name="Nissan">
                                        <label for="checkbox12">Nissan</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui child checkbox desktop">
                                        <input type="checkbox" id="checkbox13" name="Honda">
                                        <label for="checkbox13">Honda</label>
                                    </div>
                                    <div class="list ml-24 mt-item-8">
                                        <div class="item">
                                            <div class="ui child checkbox desktop">
                                                <input type="checkbox" id="checkboxLH" name="LH">
                                                <label for="checkboxLH">LH</label>
                                            </div>
                                            <div class="ui child checkbox desktop">
                                                <input type="checkbox" id="checkboxRH" name="RH">
                                                <label for="checkboxRH">RH</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui child checkbox desktop">
                                        <input type="checkbox" id="checkbox14" name="Subaru">
                                        <label for="checkbox14">Subaru</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="width: 100%">
            <div class="two column row">
                <div class="column">
                </div>
                <div class="column">
                </div>
            </div>


        </div>
    </div>
{% endblock %}