{% extends '../imports/_main.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/desktop.css">
{% endblock %}
{% block content %}
    <div class="ui container">
        <h1>Элементы главной страницы</h1>
        <p>На данной странице представленны элементы для desktop версии сайта с гглавной страницы.</p>

        <h2>Поик запчастей на главной странице</h2>
        <div class="showdown">
            При вводе данных должен появляться список с вариантами
            Данный блок является `.kit.search`  с модификатором `.index`
            стили для данного блока находятся в файле */desktop/search*
        </div>
        <section class="showcase tile section">
            {% include 'modules/index-search.twig' %}
        </section>

        <div class="showdown">
            {% include 'readme/index-tile.md' %}
        </div>
        <section class="showcase tile section">
            {% include 'modules/index-tile-section.twig' %}
        </section>

        <h2>Подвал</h2>
        <div class="showdown">
            Подвал включает в себя навигацию на справочным разделам и прочую необходимую информацию
            Данный блок является `.kit.footer`  с модификатором `.index`
            стили для данного блока находятся в файле */desktop/footer*
        </div>
        <section class="showcase grey light">
            {% include 'modules/index-footer.twig' %}
        </section>
    </div>
{% endblock %}
