{% extends '../imports/_main.twig' %}
{% set desktopCss = 'true' %}
{% block content %}
    <div class="ui container mt-4">
        <div class="ui grid">
            <div class="row">
                <div class="kit page center">
                    <div class="container">
                        <div class="line header">
                            <div class="left half">
                                <div class="kit usertitle big">
                                    <div class="kit avatar online s48 no-avatar entity">
                                        <div class="img outer">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Автосервис Автосервис Автосервис Автосервис Автосервис
                                            Автосервис 1
                                        </div>
                                        <div class="status">
                                            <div class="ui rating mini star" data-rating="3" data-max-rating="5"
                                                 data-interactive="off"></div>
                                            <a href="#" class="kit comment count">Написать отзыв</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right half">
                                    <a href="" class="kit btn desktop transparent">Запросить стоимость ремонта</a>
                                    <button class="kit btn desktop round yellow">Записаться на сервис</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <h2>kit review block</h2>
                    <div class="kit review block">
                        <div class="header">
                            <div class="author">
                                <div class="kit usertitle small user-online">
                                    <div class="kit avatar online s32">
                                        <div class="img outer">
                                            <img src="../../images/userpic-example.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="name">Автосервис Автосервис Автосервис 1</span>
                                        <span class="address">г. Москва, пр-т Декабристов, д.8, офис 505</span>
                                        <div class="date">23.02.18 17:23</div>
                                    </div>
                                </div>
                                <div class="location right">
                                    <div class="kit tooltip-action desktop">
                                        <div class="js-call-tooltip kit btn-icon points"></div>
                                        <div class="list ui fluid popup bottom left transition hidden">
                                            <a href="#" class="item">Пожаловаться модератору</a>
                                            <a href="#" class="item">Отписаться от комментариев</a>
                                            <a href="#" class="item">Удалить из личного кабинета</a>
                                            <a href="#" class="item">Отменить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="seller">
                                <div class="kit usertitle light">
                                    <div class="info">
                                        <div>
                                            <span class="name">Автосервис 1 </span>
                                            <span class="address">г. Москва, пр-т Декабристов, д.8, офис 505</span>
                                        </div>
                                        <div class="status">
                                            <div class="ui rating mini star" data-rating="3" data-max-rating="5"
                                                 data-interactive="off"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content prev">
                            <a href="#">Таким образом сложившаяся структура организации позволяет выполнять важные
                                задания по разработке дальнейших направлений развития. Текст! Таким
                                образом Таким образом сложившаяся структура организации позволяет выполнять важные
                                задания по разработке дальнейших направлений развития. Текст! Таким образом
                            </a>
                        </div>
                    </div>
                    <h5 style="color: red">Надо сделать, чтобы отзыв разварачивался/сварачивался!!! </h5>
                </div>

                <div class="column">
                    <h2>kit status block</h2>
                    <div class="kit status block">
                        <div class="description new">
                            1 новый комментарий
                        </div>
                        <div class="list">
                            <div class="item">
                                <div class="reply">2</div>
                            </div>
                            <div class="item">
                                <div class="like null">0</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="kit status block">
                        <div class="description moderation">
                            На модерации
                        </div>
                        <div class="list">
                            <div class="item ">
                                <div class="reply active">20</div>
                            </div>
                            <div class="item">
                                <div class="like active">1</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="kit status block">
                        <div class="description error">
                            Отклонено модератором
                        </div>
                        <div class="list">
                            <div class="item">
                                <div class="reply null">0</div>
                            </div>
                            <div class="item ">
                                <div class="like null">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="two column row">
                <div class="column">
                    <h2>kit tooltip-action desktop</h2>
                    <div class="kit tooltip-action desktop">
                        <div class="js-call-tooltip" style="width: max-content; margin: auto;">
                            <button class="btn">ToolTip</button>
                        </div>
                        <div class="list ui fluid popup bottom left transition hidden">
                            <a href="#" class="item">Пожаловаться модератору</a>
                            <a href="#" class="item">Отписаться от комментариев</a>
                            <a href="#" class="item">Удалить из личного кабинета</a>
                            <a href="#" class="item">Отменить</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <h2>kit block info service</h2>
                    <div style="background-color: lightgrey; padding: 2rem; width: 300px;">

                        <div class="kit block info service">
                            <div class="kit flexible row not wrap">
                                <div class="title chunk">
                                    <div class="name ellipsis">Сто Верст, шиномомонтажная
                                        мастерская
                                    </div>
                                    <div class="address ellipsis">Кутателадзе, 10/2</div>
                                </div>
                                <div class="chunk">
                                    <div class="logo">
                                        <img src="../../images/userpic-example.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="ui rating mini star" data-rating="3" data-max-rating="5"
                                 data-interactive="off"></div>
                            <div class="norating">
                                <span>Нет оценок. </span>
                                <a href="#" class="link">Написать отзыв</a>
                            </div>
                            <div class="kit mode closed">Завтра с 10:00 до 17:00</div>
                            <div class="kit mode open">Открыто</div>
                            <a href="#" class="aqualink">и ещё 24 организации</a>
                        </div>

                    </div>
                </div>
                <div class="column">
                    <h2>kit card purpur</h2>
                    <div style="background-color: lightgrey; padding: 2rem;">
                        <div class="kit card purpur">
                            <div class="name">
                                <div class="title">Записаться <br> на сервис</div>
                                <div class="subtitle"><span class="med">8 956</span> СТО в России и СНГ</div>
                            </div>
                            <div class="icon">★</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <h2>Текстовые блоки - kit info text</h2>
            <div class="three column row">
                <div class="column">
                    <h3>default</h3>
                    <div class="">
                        <div class="kit info text mini">
                            <span class="caption">Caption</span>
                            <span class="value light">Value light</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>+ block (padding-bottom: 1rem)</h3>
                    <div class="">
                        <div class="kit info text mini block">
                            <span class="caption">Caption</span>
                            <span class="value light">Value light</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>+ line (в строку) + medium</h3>
                    <div class="">
                        <div class="kit info text medium line ">
                            <span class="caption">Caption:</span>
                            <span class="value light">Value light</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="three column row">
                <div class="column">
                    <h3>список с синими точками <br>textlist circles</h3>
                    <div class="">
                        <div class="kit info text mini">
                            <span class="caption">Обслуживают марки автомобилей</span>
                            <ul class="textlist circles">
                                <li>BMW</li>
                                <li>Bentley</li>
                                <li>KIA</li>
                                <li>Mitsubishi</li>
                                <li>Mazda</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>default</h3>
                    <div class="">
                    </div>
                </div>
                <div class="column">
                    <h3>default</h3>
                    <div class="">
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="two column row">
                <div class="column">
                    <h3>Блок с информацией<br>kit info text block color blue</h3>
                    <div class="kit info text block color blue">
                        <p>Запрос на стоимость отправлен в <span class="bold">1071</span> автотехцентр. <br>
                            В ближайшее время Вы получите ответ в личный <br>
                            кабинет и на e-mail <span class="bold nowrap">nao-nsk1@ngs.ru</span>
                        </p>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>

{% endblock %}