{% extends '../imports/_main.twig' %}
{% block content %}

    <div class="timepick kit">
            <div class="timepick__controls">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-brand_blue-outline btn-lg">Сегодня</button>
                    <button type="button" class="btn btn-brand_blue-outline btn-lg">Вчера</button>
                    <button type="button" class="btn btn-brand_blue-outline btn-lg">Неделя</button>
                    <button type="button" class="btn btn-brand_blue-outline btn-lg">Месяц</button>
                    <button type="button" class="btn btn-brand_blue-outline btn-lg">Квартал</button>
                    <button type="button" class="btn btn-brand_blue-outline btn-lg">Год</button>
                    <button type="button" class="btn btn-brand_blue-outline btn-lg">Всё время</button>
                </div>
                <button type="button" class="btn btn-brand_blue-outline btn-lg btn-datepicker">20 дек 2018 — 24 дек 2018</button>

                <div id="time1" class="timepick__box">
                    <div id="timepick__timeline" class="timepick__timeline dragdealer">
                        <div class="timepick__timeline-dragger handle">

                        </div>
                        <div class="timepick__timeline-wrap">

                            <div class="timepick__timeline-year">
                                <div class="timepick__timeline-year-num">
                                    2013
                                </div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month timepick__timeline-month_selected"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                            </div>
                            <div class="timepick__timeline-year">
                                <div class="timepick__timeline-year-num">
                                    2014
                                </div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                            </div>
                            <div class="timepick__timeline-year">
                                <div class="timepick__timeline-year-num">
                                    2015
                                </div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                            </div>
                            <div class="timepick__timeline-year">
                                <div class="timepick__timeline-year-num">
                                    2016
                                </div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                            </div>
                            <div class="timepick__timeline-year">
                                <div class="timepick__timeline-year-num">
                                    2017
                                </div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                            </div>
                            <div class="timepick__timeline-year">
                                <div class="timepick__timeline-year-num">
                                    2019
                                </div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                            </div>
                            <div class="timepick__timeline-year">
                                <div class="timepick__timeline-year-num">
                                    2018
                                </div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                                <div class="timepick__timeline-month"></div>
                            </div>
                        </div>

                    </div>
                    <div class="timepick__days">
                        <table>
                            <tbody>
                            <tr class="timepick__month-tr">
                                <td class="timepick__month10 timepick__month-td timepick__even-year">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th class="timepick__month" colspan="8" title="Ноябрь 2017">Ноябрь&nbsp;2017</th>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekdays">пн</td>
                                            <td class="timepick__weekdays">вт</td>
                                            <td class="timepick__weekdays">ср</td>
                                            <td class="timepick__weekdays">чт</td>
                                            <td class="timepick__weekdays">пт</td>
                                            <td class="timepick__weekdays">сб</td>
                                            <td class="timepick__weekdays">вс</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday timepick__empty">30</td>
                                            <td class="timepick__weekday timepick__empty">31</td>
                                            <td class="timepick__weekday">1</td>
                                            <td class="timepick__weekday">2</td>
                                            <td class="timepick__weekday">3</td>
                                            <td class="timepick__holiday">4</td>
                                            <td class="timepick__holiday">5</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__holiday">6</td>
                                            <td class="timepick__weekday">7</td>
                                            <td class="timepick__weekday">8</td>
                                            <td class="timepick__weekday">9</td>
                                            <td class="timepick__weekday">10</td>
                                            <td class="timepick__holiday">11</td>
                                            <td class="timepick__holiday">12</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">13</td>
                                            <td class="timepick__weekday timepick__dayselected timepick__dayselected_edge">14</td>
                                            <td class="timepick__weekday timepick__dayselected">15</td>
                                            <td class="timepick__weekday timepick__dayselected">16</td>
                                            <td class="timepick__weekday timepick__dayselected">17</td>
                                            <td class="timepick__holiday timepick__dayselected">18</td>
                                            <td class="timepick__holiday timepick__dayselected">19</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday timepick__dayselected">20</td>
                                            <td class="timepick__weekday timepick__dayselected timepick__dayselected_edge">21</td>
                                            <td class="timepick__weekday">22</td>
                                            <td class="timepick__weekday">23</td>
                                            <td class="timepick__weekday">24</td>
                                            <td class="timepick__holiday">25</td>
                                            <td class="timepick__holiday">26</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">27</td>
                                            <td class="timepick__weekday">28</td>
                                            <td class="timepick__weekday">29</td>
                                            <td class="timepick__weekday">30</td>
                                            <td class="timepick__weekday timepick__empty">1</td>
                                            <td class="timepick__holiday timepick__empty">2</td>
                                            <td class="timepick__holiday timepick__empty">3</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="timepick__month11 timepick__month-td timepick__even-year">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th class="timepick__month" colspan="8" title="Декабрь 2017">Декабрь&nbsp;2017</th>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekdays">пн</td>
                                            <td class="timepick__weekdays">вт</td>
                                            <td class="timepick__weekdays">ср</td>
                                            <td class="timepick__weekdays">чт</td>
                                            <td class="timepick__weekdays">пт</td>
                                            <td class="timepick__weekdays">сб</td>
                                            <td class="timepick__weekdays">вс</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday timepick__empty">28</td>
                                            <td class="timepick__weekday timepick__empty">29</td>
                                            <td class="timepick__weekday timepick__empty">30</td>
                                            <td class="timepick__weekday timepick__empty">31</td>
                                            <td class="timepick__weekday">1</td>
                                            <td class="timepick__holiday">2</td>
                                            <td class="timepick__holiday">3</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">4</td>
                                            <td class="timepick__weekday">5</td>
                                            <td class="timepick__weekday">6</td>
                                            <td class="timepick__weekday">7</td>
                                            <td class="timepick__weekday">8</td>
                                            <td class="timepick__holiday">9</td>
                                            <td class="timepick__holiday">10</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">11</td>
                                            <td class="timepick__weekday">12</td>
                                            <td class="timepick__weekday">13</td>
                                            <td class="timepick__weekday">14</td>
                                            <td class="timepick__weekday">15</td>
                                            <td class="timepick__holiday">16</td>
                                            <td class="timepick__holiday">17</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">18</td>
                                            <td class="timepick__weekday">19</td>
                                            <td class="timepick__weekday">20</td>
                                            <td class="timepick__weekday">21</td>
                                            <td class="timepick__weekday">22</td>
                                            <td class="timepick__holiday">23</td>
                                            <td class="timepick__holiday">24</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">25</td>
                                            <td class="timepick__weekday">26</td>
                                            <td class="timepick__weekday">27</td>
                                            <td class="timepick__weekday">28</td>
                                            <td class="timepick__weekday">29</td>
                                            <td class="timepick__holiday">30</td>
                                            <td class="timepick__holiday">31</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="timepick__month0 timepick__month-td">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th class="timepick__month" colspan="8" title="Январь 2018">Январь&nbsp;2018</th>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekdays">пн</td>
                                            <td class="timepick__weekdays">вт</td>
                                            <td class="timepick__weekdays">ср</td>
                                            <td class="timepick__weekdays">чт</td>
                                            <td class="timepick__weekdays">пт</td>
                                            <td class="timepick__weekdays">сб</td>
                                            <td class="timepick__weekdays">вс</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">1</td>
                                            <td class="timepick__weekday">2</td>
                                            <td class="timepick__weekday">3</td>
                                            <td class="timepick__weekday">4</td>
                                            <td class="timepick__weekday">5</td>
                                            <td class="timepick__holiday">6</td>
                                            <td class="timepick__holiday">7</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">8</td>
                                            <td class="timepick__weekday">9</td>
                                            <td class="timepick__weekday">10</td>
                                            <td class="timepick__weekday">11</td>
                                            <td class="timepick__weekday">12</td>
                                            <td class="timepick__holiday">13</td>
                                            <td class="timepick__holiday">14</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">15</td>
                                            <td class="timepick__weekday">16</td>
                                            <td class="timepick__weekday">17</td>
                                            <td class="timepick__weekday">18</td>
                                            <td class="timepick__weekday">19</td>
                                            <td class="timepick__holiday">20</td>
                                            <td class="timepick__holiday">21</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">22</td>
                                            <td class="timepick__weekday">23</td>
                                            <td class="timepick__weekday">24</td>
                                            <td class="timepick__weekday timepick__now">25</td>
                                            <td class="timepick__weekday">26</td>
                                            <td class="timepick__holiday">27</td>
                                            <td class="timepick__holiday">28</td>
                                        </tr>
                                        <tr>
                                            <td class="timepick__weekday">29</td>
                                            <td class="timepick__weekday">30</td>
                                            <td class="timepick__weekday">31</td>
                                            <td class="timepick__weekday timepick__empty">1</td>
                                            <td class="timepick__weekday timepick__empty">2</td>
                                            <td class="timepick__weekday timepick__empty">3</td>
                                            <td class="timepick__weekday timepick__empty">4</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="timepick__inputs tcenter">
                        <input type="text" class="form-control timepick__from">
                        <input type="text" class="form-control timepick__to">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-brand btn-brand_yellow btn-circle btn-yellow">
                            Применить
                        </button>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
