{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto">
        <div class=" btn-main">
            <div class="btn-outer">
                <a href="vin.html" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                <a href="#"
                   class="btn btn-brand_yellow btn-mini btn-login"
                   data-toggle="tooltip"
                   data-container=".w-body"
                   data-placement="right"
                   data-html="true"
                   data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                   title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
            </div>
        </div>
    </section>
{% endblock %}