{% extends 'imports/_page.twig' %}
{% set autos = {
'a1': {
    mark: 'Mitsubishi',
    model: 'Lancer Evolution Lancer Evolution X Ralliart',
    modelYear: '2003 г.в',
    vin: 'VIN: 4USBT53544LT26841',
    countAll: 15,
    countNew: 2,
    request1: {
        date: '12.12.2009',
        time: '11:00',
        name: 'Крышка люка топливного бака слово слово слово слово слово слово слово слово',
        amount: 4,
        type: 'Новая',
        price: '100 руб.',
        hintText: 'Доставка в границах МКАД бесплатно. Ещё какое-то условие.'
    },
    request2: {
        date: '10.10.2010',
        time: '18:30',
        name: 'Крышка люка топливного бака слово слово',
        amount: 10,
        type: 'Контрактная',
        price: '3 200 руб.',
        hintText: 'Доставка в границах МКАД бесплатно. Ещё какое-то условие.'
    }
},
'a2': {
    mark: 'AUDI',
    model: 'TT-95 Offroad',
    modelYear: '2014 г.в',
    vin: 'VIN: 4698E5465THSE54WW',
    countAll: 44,
    countNew: 1,
    request1: {
        date: '12.12.2009',
        time: '11:00',
        name: 'Крышка люка топливного бака слово слово слово слово слово слово слово слово',
        amount: 41,
        type: 'Новая',
        price: '100 руб.',
        hintText: 'Доставка в границах МКАД бесплатно. Ещё какое-то условие.'
    },
    request2: {
        date: '10.10.2010',
        time: '18:30',
        name: 'Крышка люка топливного бака слово слово',
        amount: 100,
        type: 'Контрактная',
        price: '3 200 руб.',
        hintText: 'Доставка в границах МКАД бесплатно. Ещё какое-то условие.'
    }
}
} %}
{% block contentscroll %}
    <div class="accord" id="car-list-accord">
        {% include 'imports/items/_accord-panel.twig' with { 'items' : autos} %}
    </div>
    <div class="mobile-show">
        {% include 'imports/modals/_modal-filters.twig' %}
    </div>

{% endblock %}