{% extends 'imports/_main.twig' %}
{% set partMenu = 'true' %}
{% block content %}
    <section class="gisauto">
            <div class="btn-main">
                <div class="btn-outer">
                    <a href="login.html" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                    <a href="#"
                       class="btn btn-brand_yellow btn-mini btn-login"
                       data-toggle="tooltip"                                   data-container=".w-body"
                       data-placement="right"
                       data-html="true"
                       data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                       title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
                </div>
            </div>
            <div class="container-widget gisauto__container-page">
                {% include 'imports/_header.twig' %}
                <div class="mobile-show">
                    <div class="btn-group-full-width">
                        <div data-toggle="panel-1" class="btn-toggle-panel btn btn-brand_tab-gray active">Заказать</div>
                        <div data-toggle="panel-2" class="btn-toggle-panel btn btn-brand_tab-gray">О товаре</div>
                    </div>
                </div>
                <div class="gisauto__content-panel panels">
                    <div id="panel-1" class="panel-50 active panel--color scroll">
                        <img class="panel__img" src="../images/part-example.jpg" alt="">
                        <div class="p-text">
                            <p class="p-text__title">Описание товара</p>
                            <div class="p-text__content">
                                <div class="text-collapse">
                                    <p>Жидкость КПП DSG используется, исходя из названия, в коробке переключения передач
                                        и
                                        выполняет функцию смазывания. Жидкость КПП DSG используется, исходя из названия,
                                        в
                                        коробке переключения передач и выполняет функцию смазывания.</p>
                                    <p>Жидкость КПП DSG используется, исходя из названия, в коробке переключения передач
                                        и
                                        выполняет функцию смазывания. Жидкость КПП DSG используется, исходя из названия,
                                        в
                                        коробке переключения передач и выполняет функцию смазывания. Жидкость КПП DSG
                                        используется, исходя из названия.</p>
                                </div>
                            </div>
                        </div>
                        <div class="p-text">
                            <p class="p-text__title">Характеристики</p>
                            <div class="p-text__content">
                                <span class="p-text__subtitle">Артикул</span>
                                <span>B1007PR</span>
                            </div>
                            <div class="p-text__content">
                                <span class="p-text__subtitle">Производитель </span>
                                <span>JS Premium</span>
                            </div>
                            <div class="p-text__content">
                                <span class="p-text__subtitle">Исполнение фильтра</span>
                                <span>Фильтр-патрон</span>
                            </div>

                        </div>
                    </div>
                    <div id="panel-2" class="panel-50 scroll">
                        <div class="p-text">
                            <div class="desktop-show mb-3">
                                <div class="p-text__content">
                                    <span class="p-text__subtitle">Количество</span>
                                    <span>25 шт.</span>
                                </div>
                                <div class="p-text__content">
                                    <span class="p-text__subtitle">Тип запчасти</span>
                                    <span>Контрактная</span>
                                </div>
                            </div>
                            <div class="mobile-show mb-3">
                                <div class="p-text__content p-text--mtype m-pl ">
                                    <span>Контрактная</span>,
                                    <span>25 шт.</span>
                                </div>
                            </div>
                            <div class="p-text__price m-pl mb-3">
                                <p class="p-text__subtitle">Общая стоимость</p>
                                <p class="p-text__xl">587 500 руб.</p>
                                <p class="p-text__l">23 500 руб. за 1 шт.</p>
                            </div>
                            <div class="p-text__content mobile-ico-delivery m-pl mb-3">
                                <p>Бесплатная доставка при опт. покупке от 100 шт по Москве.</p>
                                <p>Доставка в границах МКАД до 20 часов.</p>
                            </div>
                            <div class="p-text__content text-13-15 m-pl mb-3 center">
                                <span class="text-red-med">Возврат</span>
                                <a href="#" class="link">(см. причину)</a>
                            </div>
                            <div class="p-text__content text-black text-13-15 m-pl mb-3 center">
                                <span class="p-text__subtitle">Причина возврата:</span>
                                <span> Не тот товар,который я заказывал. Мне нужен тот, что диаметром 30 мм.</span>
                            </div>
                            <div class="p-text__content m-pl mb-3 center">
                                <span class="p-text__subtitle">Статус</span>
                                <span>заказ отменен</span>
                                <p>12.12.2017</p>
                            </div>
                            <div class="p-text__content mobile-ico-history m-pl mb-3 center">
                                <a href="#" class="link link-11">Посмотреть историю заказа</a>
                            </div>
                        </div>
                        <div class="desktop-show panel__btn-action">
                            <div class="btn-group btn-group-action mb-2">
                                <button class="btn btn-circle btn-toggle btn-table btn-brand btn-brand_blue" type="button">
                                    Заказать
                                </button>
                                <button type="button"
                                        class="btn btn-circle btn-table btn-brand btn-brand_blue dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Отменить</a>
                                </div>
                            </div>
                            <div class="btn-group btn-group-action mb-2">
                                <button class="btn btn-circle btn-toggle btn-table btn-brand btn-brand_blue-outline" type="button">
                                    В работе
                                </button>
                                <button type="button"
                                        class="btn btn-circle btn-table btn-brand btn-brand_blue-outline dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Отменить</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% include 'imports/_footer-action.twig' %}
            </div>
    </section>


{% endblock %}