{% extends 'imports/_main.twig' %}
{% set cabinetMenu = 'true' %}
{% block content %}
    <section class="gisauto">
            <div class="btn-main">
                <div class="btn-outer">
                    <a href="login.html" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                    <a href="#"
                       class="btn btn-brand_yellow btn-mini btn-login"
                       data-toggle="tooltip"                                   data-container=".w-body"
                       data-placement="right"
                       data-html="true"
                       data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                       title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
                </div>
            </div>
            <div class="container-widget gisauto__container-page">
                {% include 'imports/_header.twig' %}
                <div class="gisauto__content-panel ">
                    <aside id="sidebar" class="sidebar ">
                        <nav class="sidebar-menu scroll">
                            <a href="#audi" class="sidebar__link">Audi (1)</a>
                            <a href="#bmw" class="sidebar__link">BMW (3)</a>
                            <a href="#111" class="sidebar__link">Cadillac (1)</a>
                            <a href="#112" class="sidebar__link">Chrysler (2)</a>
                            <a href="#113" class="sidebar__link">Mitsubishi (2)</a>
                            <a href="#114" class="sidebar__link">Cadillac (1)</a>
                            <a href="#115" class="sidebar__link">Chrysler (2)</a>
                            <a href="#116" class="sidebar__link">Mitsubishi (2)</a>
                            <a href="#117" class="sidebar__link">Cadillac (1)</a>
                            <a href="#118" class="sidebar__link">Chrysler (2)</a>
                            <a href="#119" class="sidebar__link">Mitsubishi (2)</a>
                            <a href="#120" class="sidebar__link">Chrysler (2)</a>
                            <a href="#121" class="sidebar__link">Mitsubishi (2)</a>
                            <a href="#122" class="sidebar__link">Cadillac (1)</a>
                            <a href="#123" class="sidebar__link">Chrysler (2)</a>
                            <a href="#124" class="sidebar__link">Mitsubishi (2)</a>
                        </nav>
                        <div class="sidebar__close" id="sidebar-close"></div>
                    </aside>

                    <div id="sidebarSubmenu" class="sidebar-submenu scroll">
                        <div class="sidebar__item all-request">
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                    <label class="custom-control-label" for="customCheck1">
                                        <span class="model">Все авто</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">56 <span>(5)</span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div id="audi" class="sidebar__title">Audi</div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">
                                        <span class="model">Q7</span>
                                        <span class="year">2014 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span>(1)</span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div id="bmw" class="sidebar__title">BMW</div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">
                                        <span class="model">5 SERIES GT</span>
                                        <span class="year">2009 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span>(1)</span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">
                                        <span class="model">M6 GRAN COUPE COUPE coupe</span>
                                        <span class="year">2013 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span></span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div id="121" class="sidebar__title">BMW</div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">
                                        <span class="model">5 SERIES GT</span>
                                        <span class="year">2009 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span>(1)</span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">
                                        <span class="model">M6 GRAN COUPE COUPE coupe</span>
                                        <span class="year">2013 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span></span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div id="122" class="sidebar__title">BMW</div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">
                                        <span class="model">5 SERIES GT</span>
                                        <span class="year">2009 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span>(1)</span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">
                                        <span class="model">M6 GRAN COUPE COUPE coupe</span>
                                        <span class="year">2013 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span></span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div id="123" class="sidebar__title">BMW</div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">
                                        <span class="model">5 SERIES GT</span>
                                        <span class="year">2009 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span>(1)</span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">
                                        <span class="model">M6 GRAN COUPE COUPE coupe</span>
                                        <span class="year">2013 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span></span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div id="124" class="sidebar__title">BMW</div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">
                                        <span class="model">5 SERIES GT</span>
                                        <span class="year">2009 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span>(1)</span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                            <div class="sidebar__request">
                                <div class="custom-control custom-checkbox sidebar__checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">
                                        <span class="model">M6 GRAN COUPE COUPE coupe</span>
                                        <span class="year">2013 г.в.</span>
                                    </label>
                                </div>
                                <div class="sidebar__count">2 <span></span></div>
                                <div class="sidebar__hint dropdown-toggle dropdown-toggle-sidebar"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false">
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                                    <a class="dropdown-item" href="#">Удалить ТС</a>
                                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'imports/_footer.twig' %}
            </div>
    </section>
{% endblock %}
