{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto">
        <div class="btn-main">
            <div class="btn-outer">
                <a href="login.html" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
            </div>
        </div>
    </section>
{% endblock %}