{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto">
        <div class="btn-main">
            <div class="btn-outer">
                <a class="btn btn-brand_yellow btn-auth">Необходима авторизация</a>
            </div>
        </div>
        <div class="container-widget gisauto__container-min text-center">
            <h1 class="">Войти</h1>
            <div class="form-group form-controls">
                <input type="text" class="form-control form-control-erase" id="" value=""
                       placeholder="Email">
            </div>
            <div class="form-group form-controls mb-3">
                <input type="text" class="form-control data-password-toggle" id="" value=""
                       placeholder="Пароль">
            </div>
            <a href="begin.html" class="btn btn-circle mb-3 btn-brand btn-brand_blue">Войти</a>
            <p class="t-13-16 text-light-gray">Войти с помощью</p>
            <div class="btn-row">
                <a href="#" class="btn btn-social btn-social_vk"></a>
                <a href="#" class="btn btn-social btn-social_fb"></a>
            </div>
            <a href="registr.html" class="link btn-link t-13-16">Зарегистрироваться</a>
        </div>
    </section>
{% endblock %}