{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto ov-visible">
        <div class="btn-main">
            <div class="btn-outer">
                <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                <a href="#"
                   class="btn btn-brand_yellow btn-mini btn-login"
                   data-toggle="tooltip" data-container=".w-body"
                   data-placement="right"
                   data-html="true"
                   data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                   title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
            </div>
        </div>
        <div class="container-widget gisauto__container-flex">
            <div class="auto-info-head">
                <div class="auto-info-head__img">
                    <img src="../images/userpic-example.png" alt="">
                </div>
                <div class="auto-info-head__title">
                    <p class="auto-info-head__title-item">Mitsubishi Lancer Evolution X Ralliart
                        <span class="text-light-gray">2003 г.в.</span></p>
                    <p class="auto-info-head__title-item">pWWW777777WWWWWWW9p</p>
                </div>
                <div class="auto-info-head__desc">
                    <span class="text-medium">Запчасти:</span>
                    обычный фильтр <span class="text-light-gray">(5 шт)</span>,
                    необычный фильтр <span class="text-light-gray">(10 шт)</span>,
                    масло подсолнечное <span class="text-light-gray">(1шт)</span>,
                    лалалал <span class="text-light-gray">(15 шт)</span>,
                    обычный фильтр <span class="text-light-gray">(5 шт)</span>,
                    необычный фильтр (10 шт), масло
                    подсолнечное <span class="text-light-gray">(1шт)</span>,
                    лалалала <span class="text-light-gray">(10 шт)</span>,
                    обычная запчасть с длинным названием <span
                            class="text-light-gray">(100500 Шт)</span>,
                    овер 900 <span class="text-light-gray">(9 шт)</span> <a href="#" class="link">Свернуть</a>
                </div>
            </div>
            <div class="gisauto__wrapper-scroll">
                <div class="block-add-data">
                    <div class="block-add-data__title">
                        <span class="text-medium">Контактные данные</span>
                    </div>
                    <div class="form-group form-controls">
                        <input type="text" class="form-control form-control-erase" id=""
                               placeholder="Имя"
                               value="Андрей">
                    </div>
                    <div class="form-group">
                        <select name="skills" class="ui search selection dropdown select-widget auto-init">
                            <option>Москва</option>
                            <option>Новосибирск</option>
                            <option>Казань</option>
                            <option>Саратов</option>
                            <option>Москва</option>
                            <option>Новосибирск</option>
                            <option>Казань</option>
                            <option>Саратов</option>
                        </select>
                    </div>
                    <div class="form-group form-controls">
                        <input type="text" class="form-control form-control-erase" id=""
                               placeholder="Email"
                               value="andrey89@mail.com">
                    </div>
                    <div class="form-group form-controls">
                        <input type="text" class="form-control form-control-erase" id=""
                               placeholder="Телефон" value="+7-111-111-1111">
                    </div>
                    <div class="form-group">
                                    <textarea class="form-control form-control-textarea"
                                              placeholder="Дополнительная информация"></textarea>
                    </div>
                </div>
            </div>
            <div class="block-add-data">
                <div class="btn-back-forward">
                    <a href="parts-1.html" class="btn btn-lt btn-brand btn-brand_light-gray ">Назад</a>
                    <a href="parts-end.html"
                       class="btn btn-rt btn-brand btn-brand_yellow ">Отправить</a>
                </div>
            </div>

        </div>

    </section>
{% endblock %}