{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto ov-visible">

        <div class="btn-main">
            <div class="btn-outer">
                <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                <a href="#"
                   class="btn btn-brand_yellow btn-mini btn-login"
                   data-toggle="tooltip" data-container=".w-body"
                   data-placement="right"
                   data-html="true"
                   data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                   title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
            </div>
        </div>
        <div class="container-widget gisauto__container-flex">
            <div class="auto-info-head">
                <div class="auto-info-head__img">
                    <img src="../images/userpic-example.png" alt="">
                </div>
                <div class="auto-info-head__title">
                    <p class="auto-info-head__title-item">Mitsubishi Lancer Evolution X Ralliart
                        <span class="text-light-gray">2003 г.в.</span></p>
                    <p class="auto-info-head__title-item">pWWW777777WWWWWWW9p</p>
                </div>
                <div id="head-description" class="auto-info-head__desc text-collapse">
                    <span class="text-medium">Запчасти:</span>
                    обычный фильтр <span class="text-light-gray">(5 шт)</span>,
                    необычный фильтр <span class="text-light-gray">(10 шт)</span>,
                    масло подсолнечное <span class="text-light-gray">(1шт)</span>,
                    лалалал <span class="text-light-gray">(15 шт)</span>,
                    обычный фильтр <span class="text-light-gray">(5 шт)</span>,
                    необычный фильтр (10 шт), масло
                    подсолнечное <span class="text-light-gray">(1шт)</span>,
                    лалалала <span class="text-light-gray">(10 шт)</span>,
                    обычная запчасть с длинным названием <span
                            class="text-light-gray">(100500 Шт)</span>,
                    овер 900 <span class="text-light-gray">(9 шт)</span>
                </div>
            </div>
            <div class="gisauto__wrapper-scroll">
                <div class="block-add-data">
                    <div class="block-add-data__item">
                        <div class="block-add-data__title">
                            <span class="text-medium">1 запчасть</span>
                            <span class="text-light-gray float-right">Кол-во</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-actions input-group-actions-right input-count">
                                <input type="text"
                                       class="form-control form-control-erase was-validated"
                                       id=""
                                       name="">
                                <div class="input-group-append">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-number"
                                               placeholder="кол-во"
                                               minlength="1" min="1">
                                    </div>
                                    <button class="btn-del"></button>
                                </div>
                                <div class="invalid-feedback">Укажите ваш пароль для входа</div>
                                <div class="valid-feedback">Неверный формат пароля</div>
                            </div>
                        </div>
                        <div class="form-group block-add-data__input-file">
                            <div class="input-file-outer">
                                <button type="button" class="input-file" id="input-file-1">Загрузить
                                    фото
                                    <input type="file" name="file1"
                                           onchange='$("#upload-file-info-1").text($(this)[0].files[0].name); $("#input-file-1").hide("300"); $("#upload-file-del-1").show("400");'>
                                </button>
                            </div>
                            <div class="upload-file-del" id="upload-file-del-1">
                                <div id="upload-file-info-1" class="upload-file"></div>
                                <button class="btn-close upload-file-del__btn-close"
                                        onclick='$("#input-file-1").show("400"); $("#upload-file-del-1").hide("300");'></button>
                            </div>
                        </div>
                        <div class="form-group block-add-data__custom-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Новая</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label"
                                       for="customCheck2">Контрактная</label>
                            </div>
                        </div>
                    </div>
                    <div class="block-add-data__item">
                        <div class="block-add-data__title">
                            <span class="text-medium">2 запчасть</span>
                            <span class="text-light-gray float-right">Кол-во</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-actions input-group-actions-right input-count">
                                <input type="text"
                                       class="form-control form-control-erase was-validated"
                                       id=""
                                       name="">
                                <div class="input-group-append">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-number"
                                               placeholder="кол-во"
                                               minlength="1" min="1">
                                    </div>
                                    <button class="btn-del"></button>
                                </div>
                                <div class="invalid-feedback">Укажите ваш пароль для входа</div>
                                <div class="valid-feedback">Неверный формат пароля</div>
                            </div>
                        </div>
                        <div class="form-group block-add-data__input-file">
                            <div class="input-file-outer">
                                <button type="button" class="input-file" id="input-file-3">Загрузить
                                    фото
                                    <input type="file" name="file1"
                                           onchange='$("#upload-file-info-3").text($(this)[0].files[0].name); $("#input-file-3").hide("300"); $("#upload-file-del-3").show("400");'>
                                </button>
                            </div>
                            <div class="upload-file-del" id="upload-file-del-3">
                                <div id="upload-file-info-3" class="upload-file"></div>
                                <button class="btn-close upload-file-del__btn-close"
                                        onclick='$("#input-file-3").show("400"); $("#upload-file-del-3").hide("300");'></button>
                            </div>
                        </div>
                        <div class="form-group block-add-data__custom-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Новая</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label"
                                       for="customCheck4">Контрактная</label>
                            </div>
                        </div>
                    </div>
                    <div class="block-add-data__item">
                        <div class="block-add-data__title">
                            <span class="text-medium">1 запчасть</span>
                            <span class="text-light-gray float-right">Кол-во</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-actions input-group-actions-right input-count">
                                <input type="text"
                                       class="form-control form-control-erase was-validated"
                                       id=""
                                       name="">
                                <div class="input-group-append">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-number"
                                               placeholder="кол-во"
                                               minlength="1" min="1">
                                    </div>
                                    <button class="btn-del"></button>
                                </div>
                                <div class="invalid-feedback">Укажите ваш пароль для входа</div>
                                <div class="valid-feedback">Неверный формат пароля</div>
                            </div>
                        </div>
                        <div class="form-group block-add-data__input-file">
                            <div class="input-file-outer">
                                <button type="button" class="input-file" id="input-file-1">Загрузить
                                    фото
                                    <input type="file" name="file1"
                                           onchange='$("#upload-file-info-1").text($(this)[0].files[0].name); $("#input-file-1").hide("300"); $("#upload-file-del-1").show("400");'>
                                </button>
                            </div>
                            <div class="upload-file-del" id="upload-file-del-1">
                                <div id="upload-file-info-1" class="upload-file"></div>
                                <button class="btn-close upload-file-del__btn-close"
                                        onclick='$("#input-file-1").show("400"); $("#upload-file-del-1").hide("300");'></button>
                            </div>
                        </div>
                        <div class="form-group block-add-data__custom-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Новая</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label"
                                       for="customCheck2">Контрактная</label>
                            </div>
                        </div>
                    </div>
                    <div class="block-add-data__item">
                        <div class="block-add-data__title">
                            <span class="text-medium">2 запчасть</span>
                            <span class="text-light-gray float-right">Кол-во</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-actions input-group-actions-right input-count">
                                <input type="text"
                                       class="form-control form-control-erase was-validated"
                                       id=""
                                       name="">
                                <div class="input-group-append">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-number"
                                               placeholder="кол-во"
                                               minlength="1" min="1">
                                    </div>
                                    <button class="btn-del"></button>
                                </div>
                                <div class="invalid-feedback">Укажите ваш пароль для входа</div>
                                <div class="valid-feedback">Неверный формат пароля</div>
                            </div>
                        </div>
                        <div class="form-group block-add-data__input-file">
                            <div class="input-file-outer">
                                <button type="button" class="input-file" id="input-file-3">Загрузить
                                    фото
                                    <input type="file" name="file1"
                                           onchange='$("#upload-file-info-3").text($(this)[0].files[0].name); $("#input-file-3").hide("300"); $("#upload-file-del-3").show("400");'>
                                </button>
                            </div>
                            <div class="upload-file-del" id="upload-file-del-3">
                                <div id="upload-file-info-3" class="upload-file"></div>
                                <button class="btn-close upload-file-del__btn-close"
                                        onclick='$("#input-file-3").show("400"); $("#upload-file-del-3").hide("300");'></button>
                            </div>
                        </div>
                        <div class="form-group block-add-data__custom-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Новая</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label"
                                       for="customCheck4">Контрактная</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-add-data">
                <a href="#" class="link btn-link">+ Добавить запчасть</a>
                <div class="btn-back-forward">
                    <a href="revise.html" class="btn btn-lt btn-brand btn-brand_light-gray">Назад</a>
                    <a href="parts-2.html" class="btn btn-rt btn-brand btn-brand_yellow ">Далее</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}