{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto ov-visible">
        <div class="btn-main">
            <div class="btn-outer ">
                <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                <a href="#"
                   class="btn btn-brand_yellow btn-mini btn-login"
                   data-toggle="tooltip" data-container=".w-body"
                   data-placement="right"
                   data-html="true"
                   data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                   title="Отслеживайте статус<br>вашего запроса"></a>
            </div>
        </div>
        <div class="container-widget gisauto__container-page">
            <div class="center-block">
                <div class="center-block__inner">
                    <div class="img-sent"></div>
                    <div class="w-title">Запрос отправлен</div>
                    <p class="w-text">Информацию о запросе можно посмотреть
                        <a href="#" class="link link__ico-login">в личном кабинете</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}