{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto">
        <div class="btn-main">
            <div class="btn-outer">
                <a href="#" class="btn btn-brand_yellow btn-auth">Необходима авторизация</a>
            </div>
        </div>
        <div class="container-widget gisauto__container-min text-center">
            <h1 class="">Войти</h1>
            <div class="form-group form-controls">
                <input type="text" class="form-control form-control-erase" id="" value=""
                       placeholder="Email">
            </div>
            <div class="form-group form-controls">
                <input type="text" class="form-control data-password-toggle" id="" value=""
                       placeholder="Пароль">
            </div>
            <div class="form-group form-controls mb-3">
                <input type="text" class="form-control data-password-toggle" id="" value=""
                       placeholder="Повторите пароль">
            </div>
            <button class="btn btn-circle mb-2 btn-brand btn-brand_blue">Регистрация</button>
            <a href="login.html" class="link btn-link t-13-16">Войти</a>

        </div>
    </section>
{% endblock %}
