{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto">
        <div class="btn-main">
            <div class="btn-outer">
                <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                <a href="#"
                   class="btn btn-brand_yellow btn-mini btn-login"
                   data-toggle="tooltip" data-container=".w-body"
                   data-placement="right"
                   data-html="true"
                   data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                   title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
            </div>
        </div>
        <div class="container-widget gisauto__container-widget">
            <div class="revise">
                <div class="input-group input-group-actions form-controls form-controls-label form-group">
                    <label class="label-widget" for="input-vin">Введите VIN/FRAME</label>
                    <input type="text" class="form-control form-control-erase input-vin"
                           id="input-vin">
                    <a href="#" class="btn btn-brand_blue btn-vin btn-right">Проверить</a>
                    <div class="invalid-feedback">
                        <p>Некорректное количество символов
                            для VIN/FRAME номера</p>
                    </div>
                </div>
                <div class="auto-info-head auto-info-min">
                    <div class="auto-info-head__img">
                        <img src="../images/userpic-example.png" alt="">
                    </div>
                    <div class="auto-info-head__title">
                        <p class="auto-info-head__title-item">Mitsubishi Lancer Evolution X Ralliart
                            <span class="text-light-gray">2003 г.в.</span></p>
                    </div>
                </div>
                <div class="revise__form">
                    <div class="form-group form-controls">
                        <input type="text" class="form-control form-control-erase" id="" value=""
                               placeholder="Кузов">
                    </div>
                    <div class="form-group form-controls">
                        <input type="text" class="form-control form-control-erase" id="" value=""
                               placeholder="Двигатель">
                    </div>
                </div>
                <div class="btn-back-forward">
                    <a href="#" class="btn btn-lt btn-brand btn-brand_light-gray disabled">Назад</a>
                    <a href="parts-1.html" class="btn btn-rt btn-brand btn-brand_yellow ">Далее</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}