{% extends 'imports/_page.twig' %}
{% set autos = {
'a1': {
mark: 'Mitsubishi',
model: 'Lancer Evolution Lancer Evolution X Ralliart',
modelYear: '2003 г.в',
vin: 'VIN: 4USBT53544LT26841',
countAll: 15,
countNew: 2
},
'a2': {
mark: 'AUDI',
model: 'TT-95 Offroad',
modelYear: '2014 г.в',
vin: 'VIN:  <span class="marker">469</span>8E5465THSE54WW',
countAll: 44,
countNew: 1
}
} %}

{% set parts = {
    'p1': {
date: '12.12.2009',
time: '11:00',
name: 'Крышка люка топливного бака слово слово <span class="marker">слово</span> слово слово слово слово слово',
amount: 41,
type: 'Новая',
price: '100 руб.',
hintText: 'Доставка в границах МКАД бесплатно. Ещё какое-то условие.'
},
'p2': {
date: '10.10.2010',
time: '18:30',
name: 'Крышка люка',
amount: 100,
type: 'Контрактная',
price: '3 200 руб.',
hintText: 'Доставка в границах МКАД бесплатно. Ещё какое-то условие.'
}
} %}

{% set className = 'search-result' %}
{% block contentscroll %}
    <div class="search-result">
        <div class="search-result__car">
            {% include 'imports/items/_car-info.twig' with { 'items' : autos} %}
        </div>
        <div class="search-result__part">
            {% include 'imports/items/_part-info.twig' with { 'items' : parts} %}
        </div>
    </div>


{% endblock %}