{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="gisauto">

        <div class="btn-main">
            <div class="btn-outer">
                <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                <a href="#"
                   class="btn btn-brand_yellow btn-mini btn-login"
                   data-toggle="tooltip" data-container=".w-body"
                   data-placement="right"
                   data-html="true"
                   data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                   title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
            </div>
        </div>
        <div class="container-widget gisauto__container-widget">
            <div class="revise">
                <div class="input-group input-group-actions form-controls form-controls-label form-group">
                    <label class="label-widget" for="input-vin">Введите VIN/FRAME</label>
                    <input type="text" class="form-control form-control-erase input-vin is-invalid"
                           id="input-vin">
                    <a href="revise.html" class="btn btn-brand_blue btn-vin btn-right">Проверить</a>
                    <div class="invalid-feedback">
                        <p>Некорректное количество символов
                            для VIN/FRAME номера</p>
                    </div>
                </div>
                <a href="#" class="link revise__link" onclick='$("#vin-preview").show("400");'>Что такое
                    VIN/FRAME?</a>
                <div class="vin-preview" id="vin-preview">
                    <button class="btn-close vin-preview__btn-close"
                            onclick='$("#vin-preview").hide("400");'></button>
                    <img src="../images/vin_example.jpg" alt="VIN/FRAME">
                </div>
            </div>
        </div>

    </section>
{% endblock %}