<aside id="siteSidebar" class="kit desktop sidebar {{ sidebarModifier | default('') }}">
    <div class="item action close">✕</div>
    <div class="item">
        <a href="#" class="link">
            <i class="icon"></i>
            Запчасти
        </a>
    </div>
    <div class="item">
        <a href="#" class="link  active">
            <i class="icon"></i>
            Автотехцентры
        </a>
    </div>
    <div class="item">
        <a href="#" class="link">
            <i class="icon"></i>
            Проверка<br>авто
        </a>
    </div>
    <div class="item" style="display:none;">
        <a href="#" class="link">
            <i class="icon"></i>
            Е-ОСАГО
        </a>
    </div>
</aside>