.w-body {
  position: relative;
  font-family: Roboto, sans-serif;
  color: $wtext;
  min-width: 320px;
  margin: 0;
  box-sizing: border-box;
  a {
    color: text-color('wlink');
  }


  .link {
    color: $wlink;
    text-decoration: none;
    font-size: 0.9375rem;

    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.6875rem;
    }

    @include hover-focus-active {
      color: $wlink;
      text-decoration: underline;
    }
    &__ico-login {
      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        height: 1rem;

        @include inline-svg-icon('login', $black, center, 0.75rem 0.88rem);
      }
    }
  }

  .t-13-16 {
    font-size: 1rem;
    margin-bottom: 0;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }

  h1 {
    font-size: 1.125rem;
    color: $black;
    font-weight: $med;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 1rem;
    }
  }

  .text-light-gray {
    color: $placeholder !important;
    font-weight: 400;
    white-space: nowrap;
  }

  .text-error-red {
    color: $red !important;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  .text-medium {
    font-weight: $med;
  }

  .nowrap {
    white-space: nowrap;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .dropdown-menu {
    display: none;
  }

  .container-widget {
    display: block;
    width: 100%;
    border: none;
    @media only screen and (min-width: $mobile-widget) {
      min-width: 20rem;
      max-width: 32rem;
      max-height: 38rem;
      overflow-y: auto;
      margin: 0 auto;
      border-radius: 3px;
      box-shadow: 0 0 0 1px $turq, 0 5px 10px 0 rgba(107, 111, 116, 0.16);
    }
  }
}
