.gisauto {
  .dropdown-toggle {
    padding-right: 2.5rem !important;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1px;
      border: none;
      width: 1.8rem;
      height: auto;
      margin-left: 0;
      border-left-style: solid;
      border-left-width: 1px;
      border-color: rgba(255,255,255,0.6);
    }
    &.btn-brand_green-outline:after {
      @include inline-svg-icon('dropdown-toggle', rgba(51,132,39,0.3), center , 0.65rem);
    }
    &.btn-brand_blue-outline:after {
      @include inline-svg-icon('dropdown-toggle', rgba(55,121,207,0.3), center , 0.65rem);
    }
    &.btn-circle {
      min-width: auto;
    }

    &.btn-table {
      padding-left: 0;
      padding-right: 1.5rem !important;
      &:after {
        width: 1.5rem;
      }
    }
    &-split {
      width: 0;
      padding: 0;
      &.btn-brand_green-outline {
        border-left: 1px solid rgba(51,132,39,0.3) !important;
      }
      &.btn-brand_blue-outline {
        border-left: 1px solid rgba(55,121,207,0.3) !important;
      }
      &.btn-brand_blue {
        border-left: 1px solid rgba(255,255,255,0.6) !important;
      }
      &:after {
        border: none;
      }
      @include hover-focus-active {
        &:after {
          @include inline-svg-icon('dropdown-toggle', rgba(255,255,255,0.6), center , 0.65rem);
        }
      }
    }
  }
  .dropdown-menu {
    box-shadow:  0 5px 10px 0 rgba(107,111,116,0.35);
    .dropdown-item {
      font-size: 0.8125rem;
      font-weight: $reg;
      color: $black;
      span {
        color: $widget-input-border;
      }
      &:first-child {
        padding-top: 0.75rem;
      }
      &:last-child {
        padding-bottom: 0.75rem;
      }
    }
    &.show {
      min-width: fit-content;
    }
  }
}
