$btn-light-bg: #eef3f6;
$btn-light-yellow: #ffdb64;
$red-light-btn: #D44646;
$btn-dark-blue: #2665B7;
$btn-dark-green: #338427;
$btn-light-gray: #ECF2F7;
$btn-hover-gray: #DDE6EE;
.gisauto {
  .btn {
    position: relative;
    text-overflow: ellipsis;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    color: $black;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 1rem;
      padding: 0.45rem 1rem;
    }

    &-minw {
      min-width: 12.5rem;
      margin: auto;
      text-align: center;
    }

    &-circle {
      border-radius: 2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      min-width: 9.5rem;
      @media only screen and (min-width: $mobile-widget) {
        min-width: 7.5rem;
      }
      &.btn-table {
        min-width: 7.8rem;
        @media only screen and (min-width: $mobile-widget) {
          min-width: 5.8rem;
        }
      }
    }
    @mixin btn-triangle($color : $black) {
      &.btn-rt,
      &.btn-lt {
        width: 50%;
        border: none;
        @media only screen and (min-width: $mobile-widget) {
          width: auto;
        }
        @include hover-focus-active {
          box-shadow: none !important;
        }
        &:before {
          display: none;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 7px;
          transition: all 0.15s ease-in-out;
          @media only screen and (min-width: $mobile-widget) {
            display: block;
          }
        }
      }

      &.btn-rt {
        border-radius: 0 $btn-border-radius $btn-border-radius 0;
        @media only screen and (min-width: $mobile-widget) {
          border-radius: $btn-border-radius 0 0 $btn-border-radius;
          margin-right: 6px;
        }
        &:before {
          left: 99%;
          @include inline-svg-icon('btn-right-triangle', $color, 0 50%, 100%);
        }
      }

      &.btn-lt {
        border-radius: $btn-border-radius 0 0 $btn-border-radius;
        @media only screen and (min-width: $mobile-widget) {
          border-radius: 0 $btn-border-radius $btn-border-radius 0;
          margin-left: 6px;
        }

        &:before {
          right: 99%;
          @include inline-svg-icon('btn-left-triangle', $color, 100% 50%, 100%);
        }
      }
    }
    &-mini {
      width: 2.5rem;
      min-width: 2.5rem;
      max-width: 2.5rem;
      margin-left: 3px;
      font-size: 1rem !important;
    }
    &-login, &-login:active, &-login:focus {
      @include inline-svg-icon('login', $black, center, 0.75rem 0.88rem);
    }
    &-table {
      font-size: 0.9375rem;
      line-height: 1rem;
      font-weight: $reg;
      padding: 0.55rem;
      @media only screen and (min-width: $mobile-widget) {
        font-size: 0.8125rem;
        padding: 0.375rem;
      }
    }

    &-brand {
      &_yellow {
        color: $black;
        background-color: $yellow;
        @include hover-focus-active {
          background-color: $btn-light-yellow;
          color: $black;
          @include btn-triangle(color('light-yellow'));
          &.btn-login {
            @include inline-svg-icon('login', $black, center, 0.75rem 0.88rem);
          }
        }
        @include btn-triangle(color('yellow'));
      }
      &_light-gray {
        color: $black;
        background-color: $btn-light-gray;
        @include hover-focus-active {
          background-color: $btn-hover-gray;
          color: $black;
          @include btn-triangle($btn-hover-gray);
          &.btn-login {
            @include inline-svg-icon('login', $black, center, 0.75rem 0.88rem);
          }
        }
        @include btn-triangle($btn-light-gray);
        &.disabled {
          color: $widget-input-border;
          opacity: 1;
        }
      }
      &_red {
        color: $white;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-weight: $reg;
        overflow: hidden;
        &.btn-login {
          @include inline-svg-icon('login', $white, center, 0.75rem 0.88rem);
        }
        background-color: $wred;
        @include hover-focus-active {
          background-color: $red-light-btn;
          color: $white;
        }
        @include btn-triangle($wred);
        &-outline {
          color: $wred;
          border: 1px solid $wred;
          background-color: $white;
          @include hover-focus-active {
            background-color: $wred;
            color: $white;
          }
        }
      }

      &_blue {
        color: $white;
        background-color: $wblue;
        @include hover-focus-active {
          background-color: $btn-dark-blue;
          color: $white;
        }
        &-outline {
          border: 1px solid $wblue;
          background-color: $white;
          color: $wblue;
          @include hover-focus-active {
            background-color: $btn-dark-blue;
            color: $white;
          }

        }
      }
      &_green {
        color: $white;
        background-color: $wgreen;
        @include hover-focus-active {
          background-color: $btn-dark-green;
          color: $white;
        }
        &-outline {
          border: 1px solid $wgreen;
          background-color: $white;
          color: $btn-dark-green;
          @include hover-focus-active {
            background-color: $btn-dark-green;
            color: $white;
          }
        }
      }
      &_light, &_light.disabled {
        width: 100%;
        background-color: $white;
        color: $widget-input-border;
        font-weight: $reg;
        font-size: 0.8125rem;
        @include hover-focus-active {
          background-color: $widget-bg-light;
          color: $wblue;
        }
        @media only screen and (min-width: $mobile-widget) {
          color: $wblue;
        }
      }
      &_light.disabled {
        color: $widget-input-border;
        opacity: 1;
      }

      &_white {
        @include button-variant($white, $white);
        @include btn-triangle($white);
        @include hover-focus-active {
          @include gradient-bg(darken($white, 10%));
          @include btn-triangle(darken($white, 10%));
        }
      }
      &_tab-gray {
        background-color: $widget-input-border;
        color: $wtext;
        border-radius: 0;
        @include hover-focus-active {
          background-color: $part-seller;
          color: $black;
        }
        &.active {
          background-color: $part-seller;
          color: $black;
        }
      }
    }

    &-social {
      @include button-outline-variant(color('blue'), color('blue'));
      font-size: 1rem;
      border-radius: 50%;
      padding: 0;
      margin: 0.625rem 0.75rem;
      line-height: 2rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include size(2.8125rem);
      &:before {
        @include size(1.7rem);
      }
      @media only screen and (min-width: $mobile-widget) {
        @include size(2rem);
        margin: 0.5rem;
        &:before {
          @include size(1.2rem);
        }
      }
      &_vk {
        @include button-outline-variant($color-vk, $color-vk);
        &:before {
          display: block;
          vertical-align: sub;
          content: '';
          @include inline-svg-icon('vk', $color-vk, center, 100%);
        }
        @include hover-focus-active {
          &:before {
            @include inline-svg-icon('vk', $white, center, 100%);
          }
        }
      }
      &_fb {
        @include button-outline-variant($color-fb, $color-fb);
        &:before {
          display: block;
          content: '';
          @include inline-svg-icon('facebook-logo', $color-fb, center, 100%);
        }
        @include hover-focus-active {
          &:before {
            @include inline-svg-icon('facebook-logo', $white, center, 100%);
          }
        }
      }
      &_tw {
        @include button-outline-variant($color-tw, $color-tw);
        &:before {
          display: block;
          content: '';
          @include inline-svg-icon('twitter-logo', $color-tw, center, 100%);
        }
        @include hover-focus-active {
          &:before {
            @include inline-svg-icon('twitter-logo', $white, center, 100%);
          }
        }
      }
      &_ok {
        @include button-outline-variant($color-ok, $color-ok);
        &:before {
          display: block;
          content: '';
          @include inline-svg-icon('odnoklassniki-logo', $color-ok, center, 100%);
        }
        @include hover-focus-active {
          &:before {
            @include inline-svg-icon('odnoklassniki-logo', $white, center, 100%);
          }
        }
      }
      &_yt {
        @include button-outline-variant($color-yt, $color-yt);
        &:before {
          display: block;
          content: '';
          @include inline-svg-icon('youtube-logo', $color-yt, center, 100%);
        }
        @include hover-focus-active {
          &:before {
            @include inline-svg-icon('youtube-logo', $white, center, 100%);
          }
        }
      }
      &_in {
        @include button-outline-variant($color-in, $color-in);
        &:before {
          display: block;
          content: '';
          @include inline-svg-icon('instagram-logo', $color-in, center, 100%);
        }
        @include hover-focus-active {
          &:before {
            @include inline-svg-icon('instagram-logo', $white, center, 100%);
          }
        }
      }
    }

  }

  .btn-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
  }

  .input-group-actions {
    .form-control {
      border-radius: 3px !important;
      width: 100%;
    }
    @media only screen and (min-width: $mobile-widget) {
      .form-control {
        width: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
      .btn-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
      }
    }

  }

  .btn-request {
    font-size: 0.9375rem;
    padding: 0.25rem 1rem;
    width: 9.25rem;
    min-width: 9.25rem;
    max-width: 100%;
  }

  .btn-auth {
    font-size: 0.8125rem;
    padding: 0.35rem 1rem;
    width: 12.5rem;
    min-width: 12.5rem;
    max-width: 100%;
  }

  .btn-vin {
    width: 100%;
    margin-top: 1rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
      padding: 0.35rem 1rem;
      margin-top: 0;
      width: 7rem;
      min-width: 7rem;
      max-width: 7rem;
    }
  }

  .btn-outer {
    display: flex;
    width: 12.5rem;
    &.input-group-actions {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      min-width: auto;
      .form-control {
        width: 100%;
      }
    }
    .btn {
      padding-top: 0.5rem;
      padding-bottom: 0.4rem;
    }
    .btn.btn-request {
      width: 100%;
    }
    .btn.btn-auth {
      width: 100%;
      padding-top: 0.6rem;
      padding-bottom: 0.5rem;
    }
    &.search {
      width: auto;
      .input-search {
        display: none;
      }
      @media only screen and (min-width: $mobile-widget) {
        .btn {
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
        }
        .btn.btn-auth {
          padding-top: 0.6rem;
          padding-bottom: 0.5rem;
        }
        .btn-login {
          width: 2rem;
          min-width: 2rem;
          max-width: 2rem;
        }
        .input-search {
          display: block;
          width: 17rem;
          min-width: 17rem;
          max-width: 17rem;
        }
      }
      .invalid-feedback {
        flex: 0 1 100%;
      }
    }
  }

  .btn-del {
    display: block;
    width: 1.75rem;
    min-height: 1.75rem;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    @include inline-svg-icon('del', $widget-input-border, center, 17px 18px);
    @include hover-focus-active {
      @include inline-svg-icon('del', $wblue, center, 17px 18px);
      outline: none;
      @media only screen and (min-width: $mobile-widget) {
        background-size: 12px 14px;
      }
    }
    @media only screen and (min-width: $mobile-widget) {
      background-size: 12px 14px;
    }
  }

  .btn-close {
    background-color: transparent;
    border-color: transparent;
    outline: none !important;
    cursor: pointer;
    @include size(1.5rem);
    @include inline-svg-icon('input-erase', $widget-input-border, 'center', 1.5rem, 'no-repeat', rgba(0, 0, 0, 0), $widget-input-border);
    @include hover-focus-active {
      @include inline-svg-icon('input-erase', $widget-input-border, 'center', 1.5rem, 'no-repeat', rgba(0, 0, 0, 0), $wblue);
    }
  }

  .btn-back-forward {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    .btn {
      padding: 0.725rem 1rem;
    }

    @media only screen and (min-width: $mobile-widget) {
      .btn {
        font-size: 0.8125rem;
        padding: 0.4rem 1rem;
      }
      .btn:first-child {
        margin-right: 1rem;
      }
    }
  }

  .btn-group-full-width {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 3.125rem;
    flex: 0 0 3.125rem;
    .btn {
      width: 50%;
      height: 100%;
    }
  }

  .btn-group-action {
    flex: 0 0 auto;
    justify-content: flex-start;
    width: auto;
    .btn-toggle, .btn-toggle:hover {
      border-right: 0;
      z-index: 1;
    }
    .dropdown-toggle.btn-brand_blue {
      border-left: 1px solid $btn-blue-action;
    }
    .dropdown-toggle.btn-brand_green {
      border-left: 1px solid $btn-green-action;
    }
    .dropdown-toggle.btn-brand_red {
      border-left: 1px solid $btn-red-action;
    }
    .dropdown-toggle.btn-brand_blue:after,
    .dropdown-toggle.btn-brand_blue:hover:after,
    .dropdown-toggle.btn-brand_blue-outline:after,
    .dropdown-toggle.btn-brand_blue-outline:hover:after {
      @include inline-svg-icon('arr-down-1-5', $btn-blue-action, 'center');
    }
    .dropdown-toggle.btn-brand_green:after,
    .dropdown-toggle.btn-brand_green-outline:after,
    .dropdown-toggle.btn-brand_green:hover:after,
    .dropdown-toggle.btn-brand_green-outline:hover:after {
      @include inline-svg-icon('arr-down-1-5', $btn-green-action, 'center');
    }
    .dropdown-toggle.btn-brand_red:after,
    .dropdown-toggle.btn-brand_red-outline:after,
    .dropdown-toggle.btn-brand_red:hover:after,
    .dropdown-toggle.btn-brand_red-outline:hover:after {
      @include inline-svg-icon('arr-down-1-5', $btn-red-action, 'center');
    }
    .dropdown-toggle {
      width: 2.5rem;
      min-width: 2.5rem;
      max-width: 2.5rem;
      padding: 0;
      z-index: 2;
      &:after {
        vertical-align: middle;
        border: none;
        background-size: 1rem !important;
        @include size(1rem);
      }
      @media only screen and (min-width: $mobile-widget) {
        width: 2rem;
        min-width: 2rem;
        max-width: 2rem;
        &:after {
          background-size: 0.75rem !important;
          @include size(0.75rem);
        }
      }
    }

    .dropdown-toggle.btn-table {
      width: 2rem;
      min-width: 2rem;
      max-width: 2rem;
      padding: 0;
      &:after {
        background-size: 0.85rem !important;
        @include size(0.85rem);
      }
      @media only screen and (min-width: $mobile-widget) {
        width: 1.5rem;
        min-width: 1.5rem;
        max-width: 1.5rem;
        &:after {
          background-size: 0.5rem !important;
          @include size(0.5rem);
        }
      }
    }
  }
}
