.form {
  &-group {
    margin-bottom: 0.625rem;
    @media only screen and (min-width: $mobile-widget) {
      margin-bottom: 0.75rem;
    }
  }
  &-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 0.9375em;
    &__title {
      font-weight: $reg;
      color: $title;
    }
    &__radio {
      text-align: center;
    }
    &__radio-down, &__radio-up {
      font-size: 0 !important;
      display: inline-block;
      vertical-align: middle;
      width: 1rem;
      height: 1rem;
      &:before {
        margin: 0;
      }
    }
    &__radio-down {
      @include inline-svg-icon('sort-down', $wblue, 'center', 1rem);
    }
    &__radio-up {
      @include inline-svg-icon('sort-up', $wblue, 'center', 1rem);
    }
    .custom-radio {
      display: inline-block;
      margin: 0 0.5rem;
      padding-left: 1.25rem;
    }
  }

  &-controls {
    position: relative;
    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: absolute;
      justify-content: flex-end;
      right: 1.350rem;
      top: 0.65rem;
      pointer-events: none;
      z-index: 4;
      opacity: 0;
      width: 1px;
      overflow: visible;
      text-align: right;
      @media only screen and (min-width: $mobile-widget) {
        top: 0.3rem;
      }
      & > * {
        margin-left: .5rem;
        pointer-events: all;
        flex: 1 0 auto;
      }
    }
    &-label {
      .form-controls-container {
        top: 2.9rem;
        @media only screen and (min-width: $mobile-widget) {
          top: .25rem;
        }
      }
    }
  }

  &-control {
    font-size: 0.9375rem;
    padding: 0.8rem 1rem;
    line-height: 1;
    border-color: $widget-input-border;
    color: $black;
    @include hover-focus-active {
      color: $black;
    }
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
      padding: 0.5rem 1rem;
    }

    &-textarea {
      height: 6rem;
      resize: none;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      line-height: 1.5;
      @media only screen and (min-width: $phone6p) {
        height: 4.625rem;
      }
    }
    &-circle {
      border-radius: 2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-width: 2px;
    }
    &-right-border-radius {
      border-radius: $input-border-radius !important;
    }
    &-number {
      text-align: center;
      z-index: 2;
      -moz-appearance: none;
      -webkit-appearance: none;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        margin: 0;
      }
    }
    &-erase {
      padding-right: 3rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-erase-control {
    cursor: pointer;
    @include size(1.5rem);
    @include inline-svg-icon('input-erase', $widget-input-border, 'center', 1.5rem, 'no-repeat', rgba(0, 0, 0, 0), $widget-input-border);
    @include hover-focus-active {
      @include inline-svg-icon('input-erase', $widget-input-border, 'center', 1.5rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
    }
  }

  &-search-control {
    cursor: pointer;
    background: none;
    border: none;
    @include size(1.5rem);
    @include inline-svg-icon('search', $widget-input-border, 'center', 1.125rem, 'no-repeat', rgba(0, 0, 0, 0), $widget-input-border);
    @include hover-focus-active {
      @include inline-svg-icon('search', $widget-input-border, 'center', 1.125rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
    }
  }

  &-select-control {
    cursor: pointer;
    pointer-events: none;
    @include size(1.5rem);
    @include inline-svg-icon('select-arrow', $widget-input-border, 'center', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $widget-input-border);
    @include hover-focus-active {
      @include inline-svg-icon('select-arrow', $widget-input-border, 'center', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
    }
  }

  &-password-control {
    cursor: pointer;
    @include size(1.5rem);
    @include inline-svg-icon('eye-2', $widget-input-border, 'center', 1.125rem);
    &.open {
      @include inline-svg-icon('eye-1', $widget-input-border, 'center', 1.125rem)
    }
  }

  &-info-control {
    @include size(3rem);
    @include border-radius(50%);
    background: $white;
    border: 1px solid #c5d1d9;
    margin-left: 1rem;
    text-align: center;
    line-height: 3rem;
    font-weight: 500;
    &:before {
      display: inline-block;
      content: "?";
      color: #4272a4;
      font-size: 1.125rem;
      line-height: 3rem;
    }
  }

  &-group-number-control {
    $bg: #F8FAFC;
    vertical-align: top;
    background-color: $bg;
    height: 2.8125rem;
    padding: 0;
    margin-top: 0;
    position: relative;
    border: 1px $widget-input-border solid;
    transition: background .5s ease;
    cursor: pointer;
    @include hover-focus-active {
      background-color: darken($bg, 5%);
    }
    .input-group-text {
      width: 100%;
      display: block;
      border: none;
      padding: 0 !important;
    }
    &_minus {
      padding-bottom: 0.25rem;
      border-radius: $input-border-radius 0 0 $input-border-radius;
      .input-group-text {
        &:before {
          display: block;
          content: '';
          @include size(100%);
          @include inline-svg-icon('arr-down', $widget-input-border, 'center', 1rem);
        }
      }
      @include hover-focus-active {
        .input-group-text {
          &:before {
            @include inline-svg-icon('arr-down', $wblue, 'center', 1rem);
          }
        }
      }
    }
    &_plus {
      padding-top: 0.25rem;
      border-radius: 0 $input-border-radius $input-border-radius 0;
      .input-group-text {
        &:before {
          display: block;
          content: '';
          @include size(100%);
          @include inline-svg-icon('arr-up', $widget-input-border, 'center', 1rem);
        }
      }
      @include hover-focus-active {
        .input-group-text {
          &:before {
            @include inline-svg-icon('arr-up', $wblue, 'center', 1rem);
          }
        }
      }
    }
  }

}

.label-widget {
  display: block;
  margin: .5rem;
  margin-left: 1rem;
  font-weight: $med;
  color: $black;
  font-size: 1rem;
  line-height: 1.3;
  @media only screen and (min-width: $mobile-widget) {
    display: none;
  }
}

.label {
  display: block;
  margin: .5rem;
  margin-left: 1rem;
  font-weight: $med;
  color: $title;
  font-size: 15px;
  line-height: 1.3;
  @media only screen and (min-width: $phone6p) {
    font-size: 17px;
  }
}

.input-fixtures {
  &-info-control {
    right: 5.35rem;
  }
}

select.form-control:not([size]):not([multiple]) {
}

.input-group {
  &-actions {
    &-right {
      .form-control,
      .custom-select {
        padding-right: 4rem;
      }
    }
  }
  &.input-count {
    @media only screen and (min-width: $mobile-widget) {
      .form-control {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        &:focus {
          border-right: 1px solid $wblue;
          z-index: 10;
        }
      }
    }
    .btn-del {
      position: absolute;
      z-index: 5;
      right: calc(-100vw + 180px);
      top: -110px;
      @media only screen and (min-width: $mobile-widget) {
        position: static;
      }
    }

    .input-group-append,
    .input-group-prepend {
      position: relative;
      width: 8.5rem;
      margin-top: 1rem;
      @media only screen and (min-width: $mobile-widget) {
        width: auto;
        margin-top: 0;
      }
      .input-group {
        flex-flow: row nowrap;
        @media only screen and (min-width: $mobile-widget) {
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          border-width: 1px;
          border-color: $widget-input-border;
          border-style: solid;
          border-left: none;
          &:before {
            content: "";
            width: 1px;
            position: absolute;
            z-index: 5;
            left: 0;
            top: 0.25rem;
            bottom: 0.25rem;
            background-color: $widget-input-border;
          }
        }
        .form-group-number-control {
          width: 2.5rem;
          margin-top: 0;
          &_plus {
            order: 3;
            @media only screen and (min-width: $mobile-widget) {
              top: 2px;
              margin: 0;
            }
          }
          &_minus {
            order: 1;
            @media only screen and (min-width: $mobile-widget) {
              bottom: 2px;
              margin: 0;
            }
          }
          @media only screen and (min-width: $mobile-widget) {
            position: absolute;
            z-index: 5;
            right: 2px;
            width: 1rem;
            height: 1rem;
            border: none;
            background-color: transparent;
            .input-group-text:before {
              background-size: 0.7rem;
            }
          }
        }
      }
      .form-control-number {
        order: 2;
        width: 3.5rem;
        padding: 0.25rem;
        border-radius: 0 !important;
        text-overflow: ellipsis;
        @media only screen and (min-width: $mobile-widget) {
          padding-right: 1.5rem;
          width: 5rem;
          text-align: right;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
  .input-group-append,
  .input-group-prepend {
    position: relative;
    .input-group-text {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      z-index: 100;
      background: rgba($input-bg, 0);
      font-size: 1rem;
    }
  }
  flex-direction: column;
  @media only screen and (min-width: $mobile-widget) {
    flex-direction: row;
  }

}

.custom-select {
  @include inline-svg-icon('select-arrow', $widget-input-border, 'right 1rem 50%', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $widget-input-border);
  @include hover-focus-active {
    @include inline-svg-icon('select-arrow', $widget-input-border, 'right 1rem 50%', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
}

.custom-control {
  padding-left: 1.5rem;
  min-height: auto;
  line-height: 1rem;
}

.custom-control-label {
  color: $black;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: bottom;
  @media only screen and (min-width: $mobile-widget) {
    font-size: 0.8125rem;
  }
  &:before, &:after {
    width: 1rem;
    height: 1rem;
    top: 0;
  }
  &:before {
    border: $widget-input-border 1px solid;
    background: $white;
  }
  &:after {

  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  @include inline-svg-icon('checked', $widget-input-border, center 2px, 12px 10px);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: $wblue;
}

.select-widget
.bootstrap-select-btn {
  padding: 0.8rem 1rem;
  &:after {
    width: 3rem;
    height: 2rem;
  }
  .filter-option {
    font-size: 0.9375rem;
    padding: 0;
    line-height: 1;
    color: $black;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
  @media only screen and (min-width: $mobile-widget) {
    padding: 0.45rem 1rem;
    &:after {
      height: 1.7rem;
    }
  }
}

.was-validated .form-control:invalid:focus,
.was-validated .bootstrap-select-btn:invalid:focus,
.form-control.is-invalid:focus,
.is-invalid.bootstrap-select-btn:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  color: $wdanger;
  border-color: $widget-input-border;
}

.form-control.is-invalid,
.custom-select.is-invalid,
.was-validated .form-control:invalid,
.was-validated .custom-select:invalid {
  color: $wdanger;
  border-color: $widget-input-border;
}

.was-validated .form-control:focus:invalid,
.was-validated .custom-select:focus:invalid {
  color: $wtext;
}

.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip,
.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-tooltip,
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip {

}

.was-validated .custom-select:focus:invalid ~ .invalid-feedback,
.was-validated .custom-select:focus:invalid ~ .invalid-tooltip,
.was-validated .form-control:focus:invalid ~ .invalid-feedback,
.was-validated .form-control:focus:invalid ~ .invalid-tooltip {
  color: $wtext;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {

}

.was-validated .form-control:focus:valid,
.was-validated .custom-select:focus:valid {
  border-color: $widget-input-border !important;
}

.invalid-feedback,
.valid-feedback {
  margin: .5rem 0 0 1rem;
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    max-width: 240px;
    li {
      list-style: none;
      padding-left: 1.2rem;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        left: 0;
        content: '—';
      }
    }
  }
}

.valid-feedback {
  margin: .5rem 0 0 1rem;
}

.is-invalid {
  ~ .invalid-feedback,
  + .invalid-feedback,
  .invalid-feedback {
    display: block;
    width: auto;
    margin: .5rem 1rem 0 1rem;
    color: $wdanger;
    font-size: 0.9375rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
    p {
      padding: 0;
      margin: 0;
    }
    &.no-list {
      margin-left: 0;
      ul {
        max-width: none;
      }
      li {
        padding: 0;
        &:before {
          display: none;
        }
      }
    }
    &__modal {
      li {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.input-file-outer {
  display: block;
}

.input-file {
  position: relative;
  display: block;
  width: auto;
  height: 2.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
  color: $wblue;
  background-color: transparent;
  @include inline-svg-icon('photo', $wblue, left 0.7rem, 1.3rem 1rem);
  @include hover-focus-active {
    color: $wblue;
    text-decoration: underline;
  }
  @media only screen and (min-width: $mobile-widget) {
    @include inline-svg-icon('photo', $wblue, left 0.7rem, 1.125rem 0.875rem);
    padding-left: 1.5rem;
    font-size: 0.6875rem;

  }
}

.input-file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  font-size: 0px;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}

.upload-file-del {
  display: none;
  width: auto;
  max-width: 9rem;
  &__btn-close {
    display: inline-block;
    vertical-align: middle;
  }
}

.upload-file {
  font-size: 0.8125rem;
  color: $black;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  max-width: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  @media only screen and (min-width: $mobile-widget) {
    font-size: 0.6875rem;
  }
}
