.modal {
  &_fancybox-construct {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    .modal-dialog {
      margin: 0 auto;
    }
  }
  &.show {
    display: block;
  }
  &-widget {
    overflow: visible;
    margin: 0 !important;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    @media only screen and (min-width: $mobile-widget) {
      margin: auto !important;
      min-height: auto;
      width: $width-modal-widget;
    }
  }
  &-title {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: $med;
    color: $black;
    text-align: center;
    padding-bottom: 1.5rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 1.125rem;
    }
  }
  &-subtitle {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: $med;
    color: $black;
    text-align: center;
    padding-bottom: 1.5rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 1rem;
    }
  }
  &-dialog {
    margin: 0 auto !important;
    pointer-events: all !important;
  }
  &-content {
    min-height: 100vh;
    justify-content: center;
    @include border-radius(0);
    @include box-shadow($modal-content-box-shadow-xs);
    border: none;
    @media only screen and (min-width: $mobile-widget) {
      min-height: auto;
      justify-content: flex-start;
    }
  }
  &-body {
    flex: 0 0 100%;
    padding: 1rem ;
    text-align: left;
    line-height: 1.3;
    @media only screen and (min-width: $mobile-widget) {
      display: block;
      flex: 0 0 100%;
      padding: 2rem 2.5rem;
    }
  }
  &-footer {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2.5rem;
    .btn {
      margin: auto;
    }
  }
  &-textarea {
    height: auto;
    min-height: 5rem;
    max-height: 19rem;
    &.resize {
      resize: vertical;
    }
  }
  &-info {
    padding-bottom: 0.75rem;
    font-size: 0.8125rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
  .text-black {
    color: $black;
    span {
      font-weight: $med;
    }
  }
  .custom-control {
    margin-bottom: 0.75rem;
    &-label {
      font-size: 0.9375rem;
      @media only screen and (min-width: $mobile-widget) {
        font-size: 0.8125rem;
      }
    }
  }
  .fancybox-close-small {
    top: 0.5rem;
    right: 0.75rem;
    outline: none;
    @include _size(2rem);
    &:after {
      @include _size(2rem);
      position: absolute;
      content: '';
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      top: 0;
      right: 0;
      @include inline-svg-icon('modal-close', $text, 'center', 0.85rem);
    }
    @include hover-focus-active {
      &:after {
        background-color: transparent;
        @include inline-svg-icon('modal-close', $wblue, 'center', 0.85rem);
      }
    }
    @media only screen and (min-width: $mobile-widget) {
      top: -0.75rem;
      right: -1.875rem;
      &:after {
        @include inline-svg-icon('modal-close', $white, 'center', 0.85rem);
      }
      @include hover-focus-active {
        &:after {
          background-color: transparent;
          @include inline-svg-icon('modal-close', $white, 'center', 0.85rem);
        }
      }
    }
  }

  &-btn-group {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    text-align: center;
    .btn {
      width: 40%;
      margin: 0;
    }
    .btn:first-child {
      margin-right: 1rem;
    }
  }

}
