.revise {
  display: block;
  width: 100%;
  .btn-vin {
    order: 4;
  }
  @media only screen and (min-width: $mobile-widget) {
    padding: 1.5rem;
    .btn-vin {
      order: 0;
    }
  }

  &__link {
    display: block;
    margin-left: 16px;
    font-size: 0.9375rem;
    text-align: center;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.6875rem;
      text-align: left;
    }
  }
}