.text-collapse{
  position: relative;
  overflow: hidden;
  transition: height .25s ease-in;
  &-more{
    position: absolute;
    right: 0;
    bottom: 0;
    color: currentColor;
    text-decoration: inherit;
    cursor: pointer;
    padding-left: .3rem;
    span{
      display: inline-block;
      padding-left: .3rem;
      color: $link-color;
      @include hover-focus-active{
        color: $wlink;
      }
    }
  }
  &-in{
    display: inline-block;
    position: relative;
    top: 50px;
    right: 0;
    width: 100px;
  }
  &.more{
  }
}