.tooltip.gisauto-tooltip-dark {
  //@include .tooltip;
  .tooltip-inner {
    max-width: 70vw;
    color: $white;
    font-size: 0.9375rem;
    line-height: 1.3;
    padding: 1rem;
    background-color: $bg-tooltip-dark;
    border-radius: 0.25rem;
    .link {
      color: $tooltip-link;
      text-decoration: underline;
    }
    @media only screen and (min-width: $mobile-widget) {
      max-width: 12.5rem;
      font-size: 0.8125rem;
    }
  }
  &.show {
    opacity: 1;
  }
  &.bs-tooltip-bottom .arrow::before,
  &.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: $bg-tooltip-dark;
  }
  &.bs-tooltip-top .arrow::before,
  &.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: $bg-tooltip-dark;
  }
  &.bs-tooltip-right .arrow::before,
  &.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: $bg-tooltip-dark;
  }
  &.bs-tooltip-left .arrow::before,
  &.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: $bg-tooltip-dark;
  }
}
.tooltip.gisauto-tooltip-red {
  //@include .tooltip;
  .tooltip-inner {
    max-width: 16rem;
    color: $white;
    font-size: 0.8125rem;
    line-height: 1.3;
    padding: 0.25rem 0.5rem;
    background-color: $bg-tooltip-red;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px 0 rgba(212,70,70,0.2);
    .link {
      color: $tooltip-link;
      text-decoration: underline;
    }
  }
  &.show {
    opacity: 1;
  }
  &.bs-tooltip-bottom .arrow::before,
  &.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: $bg-tooltip-red;
  }
  &.bs-tooltip-top .arrow::before,
  &.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: $bg-tooltip-red;
  }
  &.bs-tooltip-right .arrow::before,
  &.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: $bg-tooltip-red;
  }
  &.bs-tooltip-left .arrow::before,
  &.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: $bg-tooltip-red;
  }
}