// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                100% !default;
$dropdown-padding-y:                0 !default;
$dropdown-spacer:                   3px !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             #C4D0D8 !default;
$dropdown-border-radius:            3px !default;
$dropdown-border-width:             1px !default;
$dropdown-divider-bg:               #C4D0D8 !default;
$dropdown-box-shadow:               0 5px 10px 0 rgba(107,111,116,0.35) !default;

$dropdown-link-color:               #272727 !default;
$dropdown-link-hover-color:         #272727 !default;
$dropdown-link-hover-bg:            #ECF2F7 !default;

$dropdown-link-active-color:        #272727 !default;
$dropdown-link-active-bg:           #ECF2F7 !default;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           .5rem !default;
$dropdown-item-padding-x:           1rem !default;

$dropdown-header-color:             #ECF2F7 !default;