
{% extends 'imports/_main.twig' %}
{% block content %}
<div class="ui container mt-4">
    <div class="ui grid">
        <div class="two column row">
            <div class="column">
                <h2>Colorized</h2>
                <div class="example">
                    <div class="ui accordion styled colorized">
                        <div class="panel">
                            <div class="title">
                                Дополнительная информация
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                        <div class="panel">
                            <div class="accord__header title">
                                Реквизиты
                            </div>
                            <div class="accord__body content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                        <div class="panel">
                            <a class="accord__header title">
                                Филиалы (5)
                            </a>
                            <div class="accord__body content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2>Semantic</h2>
                <div class="example">
                    <div class="accord ui accordion styled">
                        <div class="panel">
                            <div class="title">
                                Дополнительная информация
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                        <div class="panel">
                            <div class="accord__header title">
                                Реквизиты
                            </div>
                            <div class="accord__body content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                        <div class="panel">
                            <a class="accord__header title">
                                Филиалы (5)
                            </a>
                            <div class="accord__body content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <h2>Colorized desktop</h2>
                <div class="example">
                    <div class="ui accordion styled colorized desktop">
                        <div class="panel">
                            <div class="title">
                                Дополнительная информация
                            </div>
                            <div class="content">
                                <div class="ui accordion inner styled desktop borders">
                                    <div class="panel">
                                        <div class="title">
                                            Автосервис 1
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores
                                            ducimus error facilis id illum
                                            impedit ipsum iste, labore laboriosam magni molestias natus pariatur,
                                            provident quidem repudiandae
                                            rerum, ut voluptatum?
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="title">
                                            Автосервис 2
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores
                                            ducimus error facilis id illum
                                            impedit ipsum iste, labore laboriosam magni molestias natus pariatur,
                                            provident quidem repudiandae
                                            rerum, ut voluptatum?
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="title">
                                Реквизиты
                            </div>
                            <div class="content">
                                <div class="outer bottom padding">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="title">
                                Филиалы (5)
                            </a>
                            <div class="content">
                                <div class="outer bottom padding">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2>desktop not borders</h2>
                <div class="example">
                    <div class="ui accordion styled desktop not borders">
                        <div class="panel">
                            <div class="title">
                                Дополнительная информация
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                        <div class="panel">
                            <div class="accord__header title">
                                Реквизиты
                            </div>
                            <div class="accord__body content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                        <div class="panel">
                            <a class="accord__header title">
                                Филиалы (5)
                            </a>
                            <div class="accord__body content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores ducimus error facilis id illum
                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur, provident quidem repudiandae
                                rerum, ut voluptatum?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock %}
