{% extends 'imports/_main.twig' %}
{% set btn_states = ['primary','secondary','success','info','warning','danger','light','dark',] %}
{% block content %}
    <section>
        <div class="container mt-5 mb-5">
            <div class="showcase showcase-forms">
                <div class="row">
                    <div class="col-12 mb-4">
                        <form class="" id="testForm">
                            <div class="form-row">
                                <div class="col-md-6 was-validated form-group input-group-actions-right">
                                    <label for="inputEmail4">Email</label>
                                    <div class="form-controls">
                                        <input type="email" class="form-control form-control-erase data-password-toggle" id="inputEmail4"
                                               placeholder="Email">
                                        <div class="invalid-feedback">Введите имейл в формате xxxx@xxx.xx</div>
                                        <div class="valid-feedback">Укажите ваш email</div>
                                    </div>
                                </div>
                                <div class="col-md-6 was-validated">
                                    <label for="inputEmail4">Укажите VIN</label>
                                    <div class="input-group">
                                        <input type="text" data-inputmask="'mask': '9{1,3}-9{1,3}-9{1,3}-9{1,3}'"
                                               class="form-control form-control-right-border-radius form-control-erase data-password-toggle"
                                               placeholder="VIN" minlength="14">
                                        <a href="#" class="form-info-control"></a>
                                        <div class="invalid-feedback">Укажите VIN номер вашего автомобиля в формате xxxx-xxxx-xxxx</div>
                                        <div class="valid-feedback">Укажите VIN номер вашего автомобиля</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 col-12 form-group">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control  is-invalid" id="inputAddress" value="mail@mail.com"
                                           placeholder="1234 Main St">
                                    <div class="invalid-feedback">
                                        <ul>
                                            <li>Please choose a username.</li>
                                            <li>Please choose a username.</li>
                                            <li>Допустимы латинские символы, верхнего и нижнего регистра</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 form-group">
                                    <label for="inputAddress">C кнопкой очистки</label>
                                    <div class="form-controls">
                                        <input type="text" class="form-control form-control-circle is-valid" id="test33" placeholder="Поиск по сайту">
                                        <div class="form-controls-container">
                                            <a href="#" data-input-control="erase" class="form-erase-control"></a>
                                            <a href="#" data-password-toggle="#test33" data-input-control class="form-password-control open"></a>
                                            <a href="#" data-password-toggle="#test33" data-input-control class="form-select-control"></a>
                                            <button type="submit"
                                                    data-input-control
                                                    data-toggle="tooltip"
                                                    data-html="true"
                                                    title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                                                    class="form-search-control"></button>

                                        </div>
                                        <div class="valid-feedback">
                                            <ul>
                                                <li>Please choose a username.</li>
                                                <li>Please choose a username.</li>
                                                <li>Допустимы латинские символы, верхнего и нижнего регистра</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-mr">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
