{% extends 'imports/_main.twig' %}
{% set btn_states = ['primary','secondary','success','info','warning','danger','light','dark',] %}
{% block content %}
    <section>
        <div class="ui container">
            <div class="showcase buttons">
                <h1>Button UI Kit</h1>
                <p>A standard button</p>
                <div class="example">
                    <button class="ui button">
                        Follow
                    </button>
                </div>
                <h3>Tab index</h3>
                <p>
                    A lthough any tag can be used for a button, it will only be keyboard focusable if you use a
                    button tag or you add the property tabindex="0". Keyboard accessible buttons will preserve focus styles after click, which may be visually jarring.
                </p>
                <div class="example">
                    <button class="ui button">
                        Button
                    </button>
                    <div class="ui button" tabindex="0">
                        Focusable
                    </div>
                </div>
                <h3>Цветные кнопки</h3>
                <div class="example">
                    <button class="ui primary basic button">Primary</button>
                    <button class="ui secondary basic button">Secondary</button>
                    <button class="ui positive basic button">Positive</button>
                    <button class="ui negative basic button">Negative</button>
                </div>
                <div class="example">
                    <button class="ui red button">Red</button>
                    <button class="ui orange button">Orange</button>
                    <button class="ui yellow button">Yellow</button>
                    <button class="ui olive button">Olive</button>
                    <button class="ui green button">Green</button>
                    <button class="ui teal button">Teal</button>
                    <button class="ui blue button">Blue</button>
                    <button class="ui violet button">Violet</button>
                    <button class="ui purple button">Purple</button>
                    <button class="ui pink button">Pink</button>
                    <button class="ui brown button">Brown</button>
                    <button class="ui grey button">Grey</button>
                    <button class="ui black button">Black</button>
                </div>
                <h3>Анимированные</h3>
                <div class="example">
                    <div class="ui animated button" tabindex="0">
                        <div class="visible content">Next</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Shop</div>
                        <div class="visible content">
                            <i class="shop icon"></i>
                        </div>
                    </div>
                    <div class="ui animated fade button" tabindex="0">
                        <div class="visible content">Sign-up for a Pro account</div>
                        <div class="hidden content">
                            $12.99 a month
                        </div>
                    </div>
                </div>

                <h3>Группа</h3>
                <div class="example">
                    <div class="ui buttons">
                        <button class="ui button">One</button>
                        <button class="ui button">Two</button>
                        <button class="ui button">Three</button>
                    </div>
                    <div class="ui icon buttons">
                        <button class="ui button"><i class="bold icon"></i></button>
                        <button class="ui button"><i class="underline icon"></i></button>
                        <button class="ui button"><i class="text width icon"></i></button>
                    </div>
                </div>







                <p>
                    Список доступный кнопок входящих в набор данного кита представленны на этой странице.
                </p>
                <p class="lead">Стандартные кнопки <span class="badge badge-secondary">all</span><br>
                    <small class="text-muted">extend Bootstrap v4</small>
                </p>
                <div class="row">
                    {% for variant in btn_states %}
                        <div class="col mb-2">
                            <a href="#" class="btn mb-2 btn-sm btn-{{ variant }}">Кнопка</a><br>
                            <a href="#" class="btn mb-2 btn-{{ variant }}">Кнопка</a><br>
                            <a href="#" class="btn btn-lg btn-{{ variant }}">Кнопка</a>
                        </div>
                    {% endfor %}

                    <div class="col-12 mt-4">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-brand_yellow btn-lg btn-block">Block level button</button>
                    </div>
                </div>
                <p class="lead mt-5">Кастомные кнопки <span class="badge badge-secondary">mobile/all</span> <br>
                    <small class="text-muted">Кастомные кнопки из макета</small>
                    <small>.btn-mr : Класс для подержки отзывчивых к фидам смартфонов кнопок</small>
                </p>
                <div class="row">

                    <div class="col mb-2">
                        <a href="#" class="btn btn-mr btn-circle mb-2 btn-blue btn-brand btn-brand_blue">Кнопка круглая</a><br>
                        <a href="#" class="btn btn-mr disabled mb-2 btn-brand btn-brand_blue">Кнопка 4</a><br>
                        <a href="#" class="btn btn-mr btn-rt btn-lg btn-brand btn-brand_blue">Кнопка</a>
                    </div>

                    <div class="col mb-2">
                        <a href="#" class="btn btn-mr btn-circle mb-2 btn-blue btn-brand btn-brand_blue-outline">Кнопка круглая</a><br>
                        <a href="#" class="btn btn-mr disabled mb-2 btn-brand btn-brand_blue-outline">Кнопка</a><br>
                        <a href="#" class="btn btn-mr btn-lg btn-brand btn-brand_blue-outline">Кнопка</a>
                    </div>

                    <div class="col mb-2">
                        <a href="#" class="btn btn-mr btn-circle mb-2 btn-brand btn-brand_yellow">Кнопка круглая</a><br>
                        <a href="#" class="btn btn-mr disabled mb-2 btn-brand btn-brand_yellow">Кнопка</a><br>
                        <a href="#" class="btn btn-mr btn-lt btn-lg btn-brand btn-brand_yellow">Кнопка LT</a>
                    </div>

                    <div class="col mb-2">
                        <a href="#" class="btn btn-mr btn-circle mb-2 btn-brand btn-brand_gray">Кнопка круглая</a><br>
                        <a href="#" class="btn btn-mr disabled mb-2 btn-brand btn-brand_gray">Кнопка</a><br>
                        <a href="#" class="btn btn-mr btn-rt btn-lg btn-brand btn-brand_gray">Кнопка LT</a>
                    </div>

                    <div class="col mb-2">
                        <a href="#" class="btn btn-mr btn-circle mb-2 btn-brand btn-brand_pink btn_progress">Кнопка круглая</a><br>
                        <a href="#" class="btn btn-mr disabled mb-2 btn-brand btn-brand_pink">Кнопка</a><br>
                        <a href="#" class="btn btn-mr btn-rt btn-lg btn-brand btn-brand_pink">Кнопка</a>
                    </div>

                    <div class="col mb-2">
                        <a href="#" class="btn btn-mr btn-circle mb-2 btn-brand btn-brand_light">Кнопка круглая</a><br>
                        <a href="#" class="btn btn-mr disabled mb-2 btn-brand btn-brand_light">Кнопка</a><br>
                        <a href="#" class="btn btn-mr btn-rt btn-lg btn-brand btn-brand_light">Кнопка</a>
                    </div>
                    <div class="col mb-2">
                        <a href="#" class="btn btn-brand_info btn-brand"></a><br>

                    </div>

                    <div class="col-12 mb-2">
                        <p class="font-weight-bold">Группа связанных кнопок</p>
                        <div class="btn-group btn-group_mf">
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue">Действие 1</a>
                            <a href="#" class="btn btn-mr disabled btn-brand btn-brand_blue">Кн 2</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue">Дейст...</a>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Кнопки в одну строку и заданным интервалом (24px, row)</p>
                        <div class="btn-row">
                            <a href="#" data-progress="100" class="btn btn-mr btn-blue btn-brand btn-brand_blue">Кнопка в строке</a>
                            <a href="#" class="btn btn-mr disabled btn-brand btn-brand_blue">И еще одна</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue with-shadow">С тенью</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue">Кнопка в строке</a>
                            <a href="#" class="btn btn-mr disabled btn-brand btn-brand_blue">И еще одна</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue">+ Добавил</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue">Кнопка в строке</a>
                            <a href="#" class="btn btn-mr disabled btn-brand btn-brand_blue">И еще одна</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue">+ Добавил</a>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Кнопки в один столбец и заданным интервалом (24px, row)</p>
                        <div class="btn-col">
                            <a href="#" data-progress="100" class="btn btn-mr btn-blue btn-brand btn-brand_blue">Кнопка в строке</a>
                            <a href="#" class="btn btn-mr disabled btn-brand btn-brand_blue">И еще одна</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue with-shadow">С тенью</a>
                            <a href="#" class="btn btn-mr btn-blue btn-brand btn-brand_blue">Кнопка в строке</a>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Кнопки нижнего меню ППН и ЖДК</p>
                        <div class="btn-row">
                            <a href="#" class="btn btn-action btn-blue btn-brand btn-brand_blue set">+</a>
                            <a href="#" class="btn btn-action btn-blue btn-brand btn-brand_blue">+</a>
                            <a href="#" class="btn btn-action btn-blue btn-brand btn-brand_blue">+</a>
                            <a href="#" class="btn btn-action btn-blue btn-brand btn-brand_blue">+</a>
                            <a href="#" class="btn btn-action btn-blue btn-brand btn-brand_blue set">+</a>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Кнопки социальных сетей</p>
                        <div class="btn-row">
                            <a href="#" class="btn btn-social btn-social_vk"></a>
                            <a href="#" class="btn btn-social btn-social_fb"></a>
                            <a href="#" class="btn btn-social btn-social_ok"></a>
                            <a href="#" class="btn btn-social btn-social_in"></a>
                            <a href="#" class="btn btn-social btn-social_yt"></a>
                            <a href="#" class="btn btn-social btn-social_tw"></a>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Кнопка с выпадающим меню</p>
                        <div class="btn-row">
                            <button class="btn btn-mr btn-blue btn-brand btn-brand_blue dropdown-toggle" type="button" aria-haspopup="true"
                                    aria-expanded="false">Файл
                            </button>
                            <button class="btn btn-mr btn-blue btn-brand btn-default dropdown-toggle" type="button" aria-haspopup="true"
                                    aria-expanded="false">Редактировать
                            </button>
                            <div class="btn-group btn-group_mf">
                                <button class="btn btn-mr btn-blue btn-brand btn-default" type="button" aria-haspopup="true" aria-expanded="false">
                                    Навигация
                                </button>
                                <button class="btn btn-mr btn-blue btn-brand btn-warning" type="button" aria-haspopup="true" aria-expanded="false">В
                                    архив
                                </button>
                                <button class="btn btn-mr btn-blue btn-brand btn-danger" type="button" aria-haspopup="true" aria-expanded="false">
                                    Удалить
                                </button>
                            </div>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Кнопка назад</p>
                        <div class="btn-row">
                            <a href="#" class="btn btn-return with-shadow btn-blue btn-brand btn-brand_blue set"></a>
                            <a href="#" class="btn btn-return btn-blue btn-brand btn-brand_blue set"></a>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Кнопка внутри текста</p>
                        <p>
                            С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации
                            системы обучения кадров,
                            <a href="#" class="btn btn-light btn-sm">В виде кнопки</a>
                            соответствует насущным потребностям. Равным образом постоянное информационно-пропагандистское обеспечение нашей
                            деятельности позволяет выполнять важные <a href="#" class="btn btn-link btn-sm">Кнопка-ссылка</a> задания по разработке соответствующий условий активизации.
                        </p>
                        <p class="font-weight-bold">Кнопка внутри текста (Mobile view)</p>
                        <p class="mobile-view">
                            С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации
                            системы обучения кадров,
                            <a href="#" class="btn btn-light btn-sm">В виде кнопки</a>
                            соответствует насущным потребностям. Равным образом постоянное информационно-пропагандистское обеспечение нашей
                            деятельности позволяет выполнять важные <a href="#" class="btn btn-link btn-sm">Кнопка-ссылка</a> задания по разработке соответствующий условий активизации.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
