{% extends 'imports/_main_nostyle.twig' %}
{% set classKit = 'true' %}
{% block content %}
    <div class="kit body chat-container example-block">
        <h4>Кнопки-икони</h4>
        <div class="kit row" style="background-color: transparent; padding: 20px; justify-content: space-around">
            <div class="btn-ico resize min"></div>
            <div class="btn-ico resize max"></div>
            <div class="btn-ico close-chat"></div>
            <div class="btn-ico search"></div>
            <div class="btn-ico search active"></div>
            <div class="btn-ico count-dialog talk">20</div>
            <div class="btn-ico count-dialog talk active">20</div>
            <div class="btn-ico count-dialog part ">4</div>
            <div class="btn-ico count-dialog part active">4</div>
            <div class="btn-ico count-dialog person">2</div>
            <div class="btn-ico count-dialog person active">2</div>
        </div>
        <div class="kit row" style="background-color: transparent; padding: 20px; justify-content: space-around">
            <div class="btn-ico scroll up"></div>
            <div class="btn-ico scroll down"></div>
            <div class="b-info person">4
                <div class="count-new active">+10</div>
            </div>
            <div class="b-info part">222
                <div class="count-new">0</div>
            </div>
            <div class="b-info person">44
                <div class="count-new active">+5</div>
            </div>
            <div class="b-info part">2
                <div class="count-new active">+1</div>
            </div>
        </div>
        <h4>Форма поиска</h4>
        <div class="kit row" style="background-color: transparent; padding: 20px; justify-content: space-around">
            <div class="kit form-controls form-chat-search">
                <button class="btn-ico search-back"></button>
                <input type="text" class="form-control form-control-circle" id="test33" placeholder="Поиск ">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                    <a href="#" data-password-toggle="#test33" data-input-control
                       class="form-password-control open"></a>
                    <a href="#" data-password-toggle="#test33" data-input-control
                       class="form-select-control"></a>
                    <button type="submit"
                            data-input-control
                            data-toggle="tooltip"
                            data-html="true"
                            title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                            class="form-search-control"></button>
                </div>
                <div class="valid-feedback">
                    <ul>
                        <li>Please choose a username.</li>
                        <li>Please choose a username.</li>
                        <li>Допустимы латинские символы, верхнего и нижнего регистра</li>
                    </ul>
                </div>
                <div class="where-search">
                    <div class="s-place local select">Поиск в «Константин если длинное длинное длинное имя»</div>
                    <div class="s-place global">Искать во всех чатах</div>

                </div>
            </div>
        </div>
        <h4>Вывод результатов поиска</h4>
        <div class="kit row left" style="padding: 20px;">
            <div class="kit search-result-message">
                <div class="avatar">
                    <div class="img">
                        <div class="brand-stub s-5">К</div>
                        <img src="" alt="">
                    </div>
                    <div class="online active"></div>
                </div>
                <div class="desc">
                    <div class="name">Константин Константин Константин</div>
                    <div class="search-message">
                        <span class="message">Мы отправили вам <span class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                    </div>
                </div>
                <div class="date">
                    11.02.18
                </div>
            </div>
        </div>
        <h4>Кнопка вызова чата на сайте</h4>
        <div class="kit row left" style="background-color: #5B5B5B; padding: 20px;">
            <div class="kit btn-chat hint-call" id="b1">
                <span>23</span>
                <div class="kit hint-hover dark w-250 hint-btn-chat">
                    <div class="m-close"></div>
                    <div class="t-13-15 bold pb-8">Нет собеседников в чате</div>
                    <div class="t-13-15">Вы пока ещё не ведёте переписку с продавцом или покупателем.<br>
                        Для этого необходимо отправить запрос на запчасть или получить входящие запросы от покупателей
                    </div>
                </div>
            </div>
            <button class="kit btn default ml-16" id="add-fix"
                    onclick="document.querySelector('#b1').classList.toggle('fixed');">Переключить класс fixed
            </button>
        </div>
        <div class="kit row left" style="background-color: #5B5B5B; padding: 20px;">
            <div class="kit btn-chat new hint-call">
                <span>+ 200</span>
                <div class="kit hint-hover dark hint-btn-chat w-250">
                    <div class="t-13-15 ">У вас 200 новых сообщений в чате</div>
                </div>
            </div>
        </div>
        <h4>Участники чата</h4>
        <div class="kit row left" style="background-color: transparent; padding: 0;">
            <div class="col-1-3">
                <div class="kit author-talk">
                    <div class="avatar">
                        <div class="img">
                            <div class="brand-stub s-1">К</div>
                            <img src="" alt="">
                        </div>
                        <div class="count-new active">555</div>
                        <div class="online active"></div>
                    </div>
                    <div class="desc">
                        <div class="name">КонстантинКонстантинКонстантин</div>
                        <div class="topic">Амортизатор подвески</div>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="kit author-talk active">
                    <div class="avatar">
                        <div class="img">
                            <div class="brand-stub s-2">К</div>
                            <img src="" alt="">
                        </div>
                        <div class="count-new active">5</div>
                        <div class="online active"></div>
                    </div>
                    <div class="desc">
                        <div class="name">Константин</div>
                        <div class="topic">Прокладки двигателя к-кт</div>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="kit author-talk">
                    <div class="avatar">
                        <div class="img">
                            <div class="brand-stub s-5">К</div>
                            <img src="" alt="">
                        </div>
                        <div class="count-new">5</div>
                        <div class="online active"></div>
                    </div>
                    <div class="desc">
                        <div class="name">Константин</div>
                        <div class="topic">Датчик содержания кислорода</div>
                        <div class="last-message new">
                            <span class="message">Мы отправили вам запчасти по адресу адресу адресу адресу</span>
                            <span class="ico-new"></span></div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <h4>Участники чата - на полный экран</h4>
        <div class="kit full-screen row left" style="background-color: transparent; padding: 0;">
            <div class="col-1-2">
                <div class="kit author-talk">
                    <div class="avatar">
                        <div class="img">
                            <div class="brand-stub s-3">К</div>
                            <img src="" alt="">
                        </div>
                        <div class="count-new">5</div>
                        <div class="online active"></div>
                    </div>
                    <div class="desc">
                        <div class="name">Константин</div>
                        <div class="topic">Диск колесный, черный, платина, 17д</div>
                        <div class="last-message new">
                            <span class="message">Мы отправили вам запчасти по адресу адресу адресу адресу</span>
                            <span class="ico-new"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-2">
                <div class="kit author-talk">
                    <div class="avatar">
                        <div class="img">
                            <div class="brand-stub s-5">К</div>
                            <img src="" alt="">
                        </div>
                        <div class="count-new">5</div>
                        <div class="online"></div>
                    </div>
                    <div class="desc">
                        <div class="name">Константин</div>
                        <div class="topic">Крышка грм</div>
                        <div class="last-message new">
                            <span class="message">Куплю все по 100!</span>
                            <span class="ico-new"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <h4>Блоки обмена сообщениями</h4>
        <div class="kit full-screen" style="background-color: transparent; padding: 0;">
            <div class="kit chat-list">
                <div class="separator">26 марта 2018 г.</div>
                <div class="chat-item outbox">
                    <div class="message">
                        <div class="text">
                            Привет! Нужны фильтры.
                        </div>
                        <div class="time">
                            18:35
                        </div>
                    </div>
                </div>
                <div class="separator today">Сегодня</div>
                <div class="chat-item inbox">
                    <div class="avatar">
                        <div class="img">
                            <div class="brand-stub s-5">К</div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="message">
                        <div class="text">
                            Привет! Я получил запрос на фильтры VIC 111.<br>
                            У нас как раз остались такие, только в красном цвете. <br>
                            Будете брать?
                        </div>
                        <div class="time">
                            18:30
                        </div>
                    </div>
                </div>
                <div class="chat-item outbox">
                    <div class="message">
                        <div class="text">
                            Да, я возьму штук сто.
                        </div>
                        <div class="time">
                            18:35
                        </div>
                    </div>
                </div>
                <div class="chat-item inbox">
                    <div class="avatar">
                        <div class="img">
                            <div class="brand-stub s-5">К</div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="message file-img">
                        <div class="text image">
                            <img src="images/tmp/foto3.png" alt="">
                        </div>
                        <div class="time">
                            18:35
                        </div>
                    </div>
                </div>
                <div class="chat-item outbox">
                    <div class="message file-img">
                        <div class="text image">
                            <img src="images/tmp/foto2.jpg" alt="">
                        </div>
                        <div class="time">
                            18:35
                        </div>
                    </div>
                </div>
                <div class="chat-item outbox">
                    <div class="message file-document">
                        <div class="text">
                            <p class="medium">Файл прайс для нас Мерседес исправлен.docx</p>
                            120 KB
                        </div>
                        <div class="time">
                            18:35
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <h4>Блок ввода сообщения</h4>
        <div class="kit full-screen" style="background-color: transparent; padding: 0;">
            <div class="kit chat-input">
                <form action="" id="form-user-message">
                    <button type="button" class="action btn-attach open">Добавить файл</button>
                    <button type="submit" class="action btn-send">Отправить</button>
                    <div class="text-wrap">
                        <textarea rows="1" name="" class="chat-text-input" placeholder="Ваше сообщение..."></textarea>
                    </div>
                </form>
            </div>
        </div>

        <!-------------------------------------->
        <div class="overbox">
            <div class="kit btn-group-attach">
                <div class="btn-attach location">Место</div>
                <div class="btn-attach doc">Документ</div>
                <div class="btn-attach img">Фото</div>
            </div>
        </div>

    </div>

{% endblock %}