{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="container showcase-image">
        <h1>Изображения</h1>
        <hr>
        <h2 class="mb-4">Плагины для работы с изображениями</h2>
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h3>Отложенная загрузка (Lazyload)</h3>
                <p>
                    Для увеличения скорости загрузки страницы в проекте применен плагин LazyLoad. Для того чтобы применить отложенную загрузку к изображению
                    необходимо добавить к нему класс '.lazy'.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <h3>FancyBox 3</h3>
                <p>
                    В проект добавленная галлерея на основе fancybox 3, полная документация к плагину находится по
                    <a href="https://fancyapps.com/fancybox/3/docs/" target="_blank">этой ссылке</a>. Работа с элементами произв
                </p>
            </div>
        </div>


    </section>
{% endblock %}