{% extends 'imports/_main.twig' %}
{% block content %}
    <section>
        <div class="ui container mt-5 mb-5">
            <div class="showdown">
                {% include '../../readme.md' %}
            </div>
        </div>
    </section>
{% endblock %}