{% extends 'imports/_main.twig' %}
{% set btn_states = ['primary','secondary','success','info','warning','danger','light','dark',] %}
{% block content %}
    <section>
        <div class="ui container mt-5 mb-5">
            <div class="showcase showcase-input">
                <h1>Формы и элементы ввода данных</h1>
                <h2>Inputs</h2>
                <div class="showdown">
                    Ниже представленны пользвательствие поля ввода.
                    ***```
                    .ui.input
                    ```***
                </div>
                {% set sizes = ['mini','small','large','big','huge','massive'] %}
                {% for size in sizes %}
                    <hr>
                    <h3>Размер: {{ size }}</h3>
                    <div class="ui grid three columns">
                        <div class="column">
                            <div class="ui {{ size }} fluid input responsive">
                                <input type="text" placeholder="Поиск...">
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui {{ size }} fluid input icon">
                                <input type="text" placeholder="Поиск..." value="">
                                <i class="remove icon link"></i>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui {{ size }} fluid input elliptical">
                                <input type="text" placeholder="Поиск...">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h2>DatePiaker</h2>
            <div class="ui calendar" id="example">
                <div class="ui input left icon">
                    <i class="time icon"></i>
                    <input type="text" placeholder="Time">
                </div>
            </div>
            <hr>
            <form class="ui form">
                <div class="field">
                    <label>First Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="last-name" placeholder="Last Name">
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Я согласен с условиями пользовательского соглашения</label>
                    </div>
                </div>
                <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script src="/js/example.js"></script>
    <script src="/js/example_inputs.js"></script>
{% endblock %}
