{% extends 'imports/_main.twig' %}
{% set btn_states = ['primary','secondary','success','info','warning','danger','light','dark',] %}
{% block content %}
    <section>
        <div class="container mt-5 mb-5">
            <div class="showcase showcase-forms">
                <div class="row">
                    <div class="col-12 mb-4">

                        <form class="form example-form-ajax" action="/json/form/test-form-error.json" method="get">
                            <h3>Форма AJAX с тестом валидации на сервере</h3>
                            <p>Форма получает данные в указанном формате из файла test-form.json</p>

                            <div class="form-row">
                                <div class="col-md-6 was-validated form-group input-group-actions-right">
                                    <label for="inputEmail4">Ваше имя</label>
                                    <div class="form-controls">
                                        <input type="email"
                                               class="form-control form-control-erase data-password-toggle was-validated"
                                               id="test-name-1"
                                               name="name"
                                               placeholder="Иван Иванов">
                                        <div class="invalid-feedback">В поле есть ошибка</div>
                                        <div class="valid-feedback">Укажите ваше имя и фамилию</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Пароль</label>
                                    <div class="input-group input-group-actions-right">
                                        <input type="password"
                                               class="form-control form-control-erase was-validated"
                                               id="test-pass-1"
                                               name="pass"
                                               placeholder="Password"
                                               required minlength="4">
                                        <div class="input-group-append">
                                            <a class="input-group-text"> Тест</a>
                                        </div>
                                        <div class="invalid-feedback">Укажите ваш пароль для входа</div>
                                        <div class="valid-feedback">Неверный формат пароля</div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-mr">Проверить данные</button>
                            <span class="text-muted">Форма в зависимости от полученных данных должна вывести ощибку или отреагировать</span>
                            <hr>
                        </form>

                        <form class="">
                            <div class="form-row">
                                <div class="col-md-6 was-validated form-group input-group-actions-right">
                                    <label for="inputEmail4">Email</label>
                                    <div class="form-controls">
                                        <input type="email" class="form-control form-control-erase data-password-toggle"
                                               id="inputEmail4"
                                               placeholder="Email">
                                        <div class="invalid-feedback">Введите имейл в формате xxxx@xxx.xx</div>
                                        <div class="valid-feedback">Укажите ваш email</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <div class="input-group input-group-actions-right">
                                        <input type="password" class="form-control  form-control-erase"
                                               id="inputPassword4" placeholder="Password"
                                               required minlength="4">
                                        <div class="input-group-append">
                                            <a class="input-group-text"> Тест</a>
                                        </div>
                                        <div class="invalid-feedback">Введите пароль</div>
                                    </div>
                                </div>
                                <div class="col-md-6 was-validated">
                                    <label for="inputEmail4">Укажите VIN</label>
                                    <div class="input-group">
                                        <input type="text" data-inputmask="'mask': '9{1,3}-9{1,3}-9{1,3}-9{1,3}'"
                                               class="form-control form-control-right-border-radius form-control-erase data-password-toggle"
                                               placeholder="VIN" minlength="14">
                                        <a href="#" class="form-info-control"></a>
                                        <div class="invalid-feedback">Укажите VIN номер вашего автомобиля в формате
                                            xxxx-xxxx-xxxx
                                        </div>
                                        <div class="valid-feedback">Укажите VIN номер вашего автомобиля</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 was-validated">
                                    <label for="inputEmail4">Укажите VIN</label>
                                    <div class="input-group input-group-actions-right">
                                        <input type="text" class="form-control form-control-right-border-radius"
                                               placeholder="VIN" minlength="14">
                                        <a href="#" class="form-info-control"></a>
                                        <div class="invalid-feedback">Укажите VIN номер вашего автомобиля в формате
                                            xxxx-xxxx-xxxx
                                        </div>
                                        <div class="valid-feedback">Укажите VIN номер вашего автомобиля</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 was-validated">
                                    <label for="inputEmail4">Укажите кол-во</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-number"
                                               placeholder="кол-во" minlength="1" min="1">
                                        <div class="invalid-feedback">Не может быть меньше 1-го и больше 5-ти</div>
                                        <div class="valid-feedback">Выберите количество запчастей</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 was-validated">
                                    <label for="inputEmail4">Укажите кол-во</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-number"
                                               placeholder="кол-во" minlength="1" min="1">
                                        <div class="invalid-feedback">Не может быть меньше 1-го и больше 5-ти</div>
                                        <div class="valid-feedback">Выберите количество запчастей</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 col-12 form-group">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control  is-invalid" id="inputAddress"
                                           value="mail@mail.com"
                                           placeholder="1234 Main St">
                                    <div class="invalid-feedback">
                                        <ul>
                                            <li>Please choose a username.</li>
                                            <li>Please choose a username.</li>
                                            <li>Допустимы латинские символы, верхнего и нижнего регистра</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 form-group">
                                    <label for="inputAddress">C кнопкой очистки</label>
                                    <div class="form-controls">
                                        <input type="text" class="form-control form-control-circle is-valid" id="test33"
                                               placeholder="Поиск по сайту">
                                        <div class="form-controls-container">
                                            <a href="#" data-input-control="erase" class="form-erase-control"></a>
                                            <a href="#" data-password-toggle="#test33" data-input-control
                                               class="form-password-control open"></a>
                                            <a href="#" data-password-toggle="#test33" data-input-control
                                               class="form-select-control"></a>
                                            <button type="submit"
                                                    data-input-control
                                                    data-toggle="tooltip"
                                                    data-html="true"
                                                    title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                                                    class="form-search-control"></button>

                                        </div>
                                        <div class="valid-feedback">
                                            <ul>
                                                <li>Please choose a username.</li>
                                                <li>Please choose a username.</li>
                                                <li>Допустимы латинские символы, верхнего и нижнего регистра</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="kit-toggle ui toggle  checkbox mb-3">
                                    <input type="checkbox" name="public" id="toggle1">
                                    <label for="toggle1">Semantic Toggle checkbox  checkbox checkbox </label>
                                </div>

                                <div class="kit-checkbox ui checkbox  mb-3">
                                    <input type="checkbox" name="example" id="checkbox1">
                                    <label for="checkbox1">Запомнить меня</label>
                                </div>

                                <div class="custom-control custom-checkbox mb-4">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom
                                        checkbox</label>
                                </div>

                                <div class="custom-control custom-radio mb-2">
                                    <input type="radio" id="customRadio1" name="customRadio"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Toggle this custom
                                        radio</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Or toggle this other custom
                                        radio</label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputEmail4">Сортировка</label>
                                <div class="form-sort">
                                    <div class="form-sort__title">По актуальности :</div>
                                    <div class="form-sort__radio">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio11" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label form-sort__radio-down"
                                                   for="customRadio11">T</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio12" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label form-sort__radio-up" for="customRadio12">Or</label>
                                        </div>
                                    </div>
                                    <div class="form-sort__btn-del">
                                        <a href="#" class="btn-del"></a>
                                    </div>
                                </div>
                                <div class="form-sort">
                                    <div class="form-sort__title active">По актуальности :</div>
                                    <div class="form-sort__radio">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio21" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label form-sort__radio-down"
                                                   for="customRadio21">T</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio22" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label form-sort__radio-up" for="customRadio22">Or</label>
                                        </div>
                                    </div>
                                    <div class="form-sort__btn-del">
                                        <a href="#" class="btn-del"></a>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input disabled type="text" class="form-control" id="inputAddress2"
                                       placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-mr">Sign in</button>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 mb-4">

                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control form-control-textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
