{% extends 'imports/_main.twig' %}
{% set cities = [

] %}
{% block content %}
    <section>
        <div class="container mt-5 mb-5">
            <div class="showcase showcase-locations">
                <h3>На весь экран</h3>
                <p>
                    С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                    процесс внедрения и модернизации
                    системы обучения кадров.
                </p>
                <a href="#location-modal" data-fancybox="exampleModal4"
                   class="btn btn-mr btn-brand_yellow btn-circle">Открыть модалку</a>
            </div>
        </div>
    </section>
    <div class="d-none">
        <div id="location-modal" class="modal modal-fullscreen modal_fancybox-construct" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Установить местоположение
                    </div>
                    <div class="modal-body">
                        <div class="ui search">
                                <input class="prompt" type="text" placeholder="Поиск страны...">
                                <i class="search icon"></i>
                            <div class="results"></div>
                        </div>
                        <div class="kit mobile locations">
                            <nav class="list">
                                <div class="item ui checkbox">
                                    <input type="checkbox" name="public" id="toggle12">
                                    <label for="toggle12">Все страны</label>
                                </div>
                                <a href="#" class="item country">
                                    <span class="flag"></span> Россия
                                </a>
                                <nav class="list">
                                    <div class="item ui checkbox kit-checkbox">
                                        <input type="checkbox" name="public" id="toggle33">
                                        <label for="toggle33">Все города</label>
                                    </div>

                                    <a href="#" class="item region">Московская область <span class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Москва <span class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Дубровка <span
                                                class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Росгород <span
                                                class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item region">Московская область <span class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Москва <span class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Дубровка <span
                                                class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Росгород <span
                                                class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item region">Московская область <span class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Москва <span class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Дубровка <span
                                                class="mutted">(123 продавца)</span></a>
                                    <a href="#" class="item city">Росгород <span
                                                class="mutted">(123 продавца)</span></a>
                                </nav>
                            </nav>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}