{% extends 'imports/_main.twig' %}
{% block content %}
    <div class="ui container">
        <h1>Карты Google</h1>
        <div class="showdown"></div>
        <div class="ui grid two columns">
            <div class="column">
                <div class="kit map ui 4:3 embed" id="map"></div>
            </div>
            <div class="column">
                <div class="kit map ui 4:3 embed" id="map2"></div>
            </div>
            <div class="column">
                <div class="kit map ui 4:3 embed" id="map3"></div>
            </div>
        </div>
        <div class=""></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/example_google_map.js"></script>
{% endblock %}