{% extends 'imports/_main.twig' %}
{% block content %}
    <section>
        <div class="ui container">
            <div class="showcase showcase-buttons">
                <div class="row align-items-center">
                    <h3>Модалка с заголовком</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <a href="#exampleModal1" data-fancybox="exampleModal1"
                       class="btn btn-mr btn-brand_yellow btn-circle">Открыть модалку</a>

                    <h3>Модалка без заголовка</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <a href="#exampleModal2" data-fancybox="exampleModal2"
                       class="btn btn-mr btn-brand_yellow btn-circle">Открыть модалку</a>

                    <h3>На весь экран</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <a href="#exampleModal4" data-fancybox="exampleModal4"
                       class="btn btn-mr btn-brand_yellow btn-circle">Открыть модалку</a>

                    <h3>C iFrame</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <a href="#exampleModal5" data-fancybox="exampleModal5"
                       class="btn btn-mr btn-brand_yellow btn-circle">Открыть модалку</a>

                    <h3>Alert функция</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <button type="button" class="btn btn-mr btn-brand_pink btn-circle"
                            onclick="alert('Проверка алерта')">
                        Открыть alert()
                    </button>

                    <h3>Modal Tooltip</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <a type="button" class="btn btn-mr btn-brand_pink btn-circle" href="#exampleModal6"
                       data-fancybox="exampleModal6">
                        Launch demo modal
                    </a>

                </div>
            </div>
        </div>
    </section>

    <div class="d-none" style="display: none">
        <div id="exampleModal1" class="kit modal dark with darken header" tabindex="-1" role="dialog">
            <div class="content">
                <div class="header">
                    <div class="title">Заголовок модалки в две строки снова помогает тестировать модалку</div>
                </div>
                <div class="body">
                    <p>С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.</p>
                    <p>
                        Paragraph text #383838 Regular </p>
                    <button type="button" class="btn btn-mr btn-block btn-brand_blue">Save changes</button>
                </div>
                <div class="footer">
                    <button class="btn btn-mr btn-block btn-brand_yellow btn-circle">Save changes</button>
                </div>
            </div>
        </div>

        <div id="exampleModal2" class="kit modal without header text center" tabindex="-1" role="dialog">
            <div class="content">
                <div class="body">
                    С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс
                    внедрения и модернизации
                    системы обучения кадров.
                </div>
                <div class="footer">
                    <button class="btn btn-mr btn-block btn-brand_yellow btn-circle">Save changes</button>
                </div>
            </div>
        </div>


        <div id="exampleModal4" class="kit modal fullscreen" tabindex="-1" role="dialog">
            <div class="content">
                <div class="header">
                    <h2>Во всю ширину</h2>
                </div>
                <div class="body">
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <div class="btn-row mb-2">
                        <a href="#" class="btn btn-social btn-social_vk"></a>
                        <a href="#" class="btn btn-social btn-social_fb"></a>
                        <a href="#" class="btn btn-social btn-social_ok"></a>
                    </div>
                    <h3>Заголовок в модалке</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <h3>Заголовок в модалке</h3>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                    <p>
                        С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                        процесс внедрения и модернизации
                        системы обучения кадров.
                    </p>
                </div>
                <div class="footer">
                    <button class="btn btn-mr btn-block btn-brand_yellow btn-circle">Save changes</button>
                </div>
            </div>
        </div>

        <div id="exampleModal5" class="kit modal fullscreen map" tabindex="-1"
             role="dialog">
            <div class="content">
                <div class="header">
                    <h5 class="modal-title">Карта в модалке</h5>
                </div>
                <div class="body">
                    <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AAOd6gBxWCrxRmi7kBdjigHl_WbSm90M9&amp;width=100%25&amp;height=480&amp;lang=ru_RU&amp;scroll=false"></script>
                </div>
            </div>
        </div>

        <div id="exampleModal6" class="modal modal_fancybox-construct modal-tooltip" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <p>
                            С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                            процесс внедрения и модернизации
                            системы обучения кадров.
                        </p>
                        <div class="btn-row justify-content-center">
                            <button class="btn btn-mr btn-brand_pink btn-circle">Да</button>
                            <button class="btn btn-mr btn-brand_light btn-circle">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
