{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="container showcase-image">
        <h1>Плагины</h1>
        <hr>
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h3>Небольшой плагин разворачивания текста</h3>
                <p>

                </p>
                <div class="plugin-example">
                    <div class="text-collapse">

                        С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании системы обучения
                        кадров, соответствует насущным потребностям. Товарищи! консультация с широким активом в значительной степени обуславливает
                        создание модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                        обеспечение нашей деятельности представляет собой интересный эксперимент проверки существенных финансовых и
                        административных условий. Задача организации, в особенности же сложившаяся структура организации способствует подготовки и
                        реализации существенных финансовых и административных условий. Идейные соображения высшего порядка, а также рамки и место
                        обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным
                        потребностям. Разнообразный и богатый опыт новая модель организационной деятельности требуют определения и уточнения новых
                        предложений.

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3>Небольшой плагин разворачивания текста</h3>
                <p>

                </p>
                <div class="plugin-example">
                    <div class="text-collapse">

                        С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании системы обучения
                        кадров, соответствует насущным потребностям. Товарищи! консультация с широким активом в значительной степени обуславливает
                        создание модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                        обеспечение нашей деятельности представляет собой интересный эксперимент проверки существенных финансовых и
                        административных условий. Задача организации, в особенности же сложившаяся структура организации способствует подготовки и
                        реализации существенных финансовых и административных условий. Идейные соображения высшего порядка, а также рамки и место
                        обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным
                        потребностям. Разнообразный и богатый опыт новая модель организационной деятельности требуют определения и уточнения новых
                        предложений.

                    </div>
                </div>
            </div>
        </div>


    </section>
{% endblock %}