{% extends 'imports/_main.twig' %}
{% block content %}
    <section>
        <div class="container mt-5 mb-5">
            <div class="showcase showcase-forms">
                <div class="row">
                    <div class="col-12 mb-4">
                        <form class="form form-ajax" method="get">
                            <h3>Мультиселекты и select-inputs</h3>
                            <div class="form-row">
                                <div class="col-md-6 was-validated form-group input-group-actions-right">
                                    <label for="inputEmail4">Ваше имя</label>
                                    <div class="form-controls">
                                        <input type="text" class="form-control form-control-select" name="name" placeholder="Иван Иванов">
                                    </div>
                                </div>

                            </div>
                            <hr>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="label" for="inputAddress2">Селект</label>
                                    <select name="skills" data-use-labels="true" class="ui fluid search dropdown form-control remote">
                                        <option value="">Select Country</option>
                                        <option value="angular">angular</option>
                                        <option value="css">CSS</option>
                                        <option value="design">graphic Design</option>
                                        <option value="ember">Ember</option>
                                        <option value="html">HTML</option>
                                        <option value="ia">Information Architecture</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="mech">Mechanical Engineering</option>
                                        <option value="meteor">Meteor</option>
                                        <option value="node">NodeJS</option>
                                        <option value="plumbing">Plumbing</option>
                                        <option value="python">Python</option>
                                        <option value="rails">Rails</option>
                                        <option value="react">React</option>
                                        <option value="repair">Kitchen Repair</option>
                                        <option value="ruby">Ruby</option>
                                        <option value="ui">UI Design</option>
                                        <option value="ux">User Experience</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label" for="inputAddress2">Селект</label>
                                    <select name="skills" data-use-labels="true" class="ui fluid search dropdown form-control auto-init">
                                        <option value="">Select Country</option>
                                        <option value="angular">angular</option>
                                        <option value="css">CSS</option>
                                        <option value="design">graphic Design</option>
                                        <option value="ember">Ember</option>
                                        <option value="html">HTML</option>
                                        <option value="ia">Information Architecture</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="mech">Mechanical Engineering</option>
                                        <option value="meteor">Meteor</option>
                                        <option value="node">NodeJS</option>
                                        <option value="plumbing">Plumbing</option>
                                        <option value="python">Python</option>
                                        <option value="rails">Rails</option>
                                        <option value="react">React</option>
                                        <option value="repair">Kitchen Repair</option>
                                        <option value="ruby">Ruby</option>
                                        <option value="ui">UI Design</option>
                                        <option value="ux">User Experience</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="label" for="inputAddress2">Селект с множественным выбором</label>
                                    <select name="skills" data-use-labels="true"  multiple class="ui fluid search dropdown form-control auto-init">
                                        <option value="">Select Country</option>
                                        <option value="angular">angular</option>
                                        <option value="css">CSS</option>
                                        <option value="design">graphic Design</option>
                                        <option value="ember">Ember</option>
                                        <option value="html">HTML</option>
                                        <option value="ia">Information Architecture</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="mech">Mechanical Engineering</option>
                                        <option value="meteor">Meteor</option>
                                        <option value="node">NodeJS</option>
                                        <option value="plumbing">Plumbing</option>
                                        <option value="python">Python</option>
                                        <option value="rails">Rails</option>
                                        <option value="react">React</option>
                                        <option value="repair">Kitchen Repair</option>
                                        <option value="ruby">Ruby</option>
                                        <option value="ui">UI Design</option>
                                        <option value="ux">User Experience</option>
                                    </select>
                                    <label class="label" for="inputAddress2">Селект с множественным выбором с чекбоксами</label>
                                    <select name="skills" multiple class="ui fluid multiple search special selection dropdown checkboxes auto-init">
                                        <option value="">skills</option>
                                        <option value="angular">angular</option>
                                        <option value="css">CSS</option>
                                        <option value="design">graphic Design</option>
                                        <option value="ember">ember</option>
                                        <option value="html">HTML</option>
                                        <option value="ia">Information Architecture</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="mech">Mechanical Engineering</option>
                                        <option value="meteor">Meteor</option>
                                        <option value="node">NodeJS</option>
                                        <option value="plumbing">Plumbing</option>
                                        <option value="python">Python</option>
                                        <option value="rails">Rails</option>
                                        <option value="react">React</option>
                                        <option value="repair">Kitchen Repair</option>
                                        <option value="ruby">Ruby</option>
                                        <option value="ui">UI Design</option>
                                        <option value="ux">User Experience</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="/js/example.js"></script>
    <script src="/js/example_inputs.js"></script>
{% endblock %}
