{% extends 'imports/_main.twig' %}
{% set btn_states = ['primary','secondary','success','info','warning','danger','light','dark',] %}
{% block content %}
    <section>
        <div class="container mt-5 mb-5">
            <div class="showcase showcase-buttons">
                <div class="example">
                    <h1>Typography UI Kit</h1>
                    <h2>Обычный вид</h2>
                    <div class="">
                        <h1>Заголовок 1</h1>
                        <h2>Заголовок 2</h2>
                        <h3>Заголовок 3</h3>
                        <h4>Заголовок 4</h4>
                        <h5>Заголовок 5</h5>
                        <h6>Заголовок 6</h6>
                    </div>
                    <hr>
                    <h2>Мобильный вид</h2>
                    <div class="border-light mobile-view">
                        <div class="row">
                            <div class="col-12">
                                <h1>Заголовок 1</h1>
                                <h2>Заголовок 2</h2>
                                <h3>Заголовок 3</h3>
                                <h4>Заголовок 4</h4>
                                <h5>Заголовок 5</h5>
                                <h6>Заголовок 6</h6>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>Таким образом <a href="#">ссылка</a> реализация намеченных плановых заданий требуют
                                    определения и уточнения направлений прогрессивного
                                    развития. Таким образом реализация намеченных плановых заданий в значительной
                                    степени обуславливает создание форм
                                    развития.

                                    Таким образом реализация намеченных плановых заданий в значительной степени
                                    обуславливает создание позиций, занимаемых
                                    участниками в отношении поставленных задач. С другой стороны дальнейшее развитие
                                    различных форм деятельности позволяет
                                    оценить значение дальнейших направлений развития. Товарищи! консультация с широким
                                    активом требуют от нас анализа
                                    новых предложений. Товарищи! рамки и место обучения кадров требуют определения и
                                    уточнения соответствующий условий
                                    активизации. Товарищи! начало повседневной работы по формированию позиции
                                    обеспечивает широкому кругу (специалистов)
                                    участие в формировании направлений прогрессивного развития.</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>Таким образом реализация намеченных плановых заданий требуют определения и уточнения
                                    направлений прогрессивного
                                    развития. Таким образом реализация намеченных плановых заданий в значительной
                                    степени обуславливает создание форм
                                    развития.

                                    Таким образом <a href="#">внезапная ссылка</a> реализация намеченных плановых
                                    заданий в значительной степени обуславливает создание позиций, занимаемых
                                    участниками в отношении поставленных задач. С другой стороны дальнейшее развитие
                                    различных форм деятельности позволяет
                                    оценить значение дальнейших направлений развития. Товарищи! консультация с широким
                                    активом требуют от нас анализа
                                    новых предложений. Товарищи! рамки и место обучения кадров требуют определения и
                                    уточнения соответствующий условий
                                    активизации. Товарищи! начало повседневной работы по формированию позиции
                                    обеспечивает широкому кругу (специалистов)
                                    участие в формировании направлений прогрессивного развития.</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>Таким образом реализация намеченных плановых заданий требуют определения и уточнения
                                    направлений прогрессивного
                                    развития. Таким образом реализация намеченных плановых заданий в значительной
                                    степени обуславливает создание форм
                                    развития.

                                    Таким образом реализация намеченных плановых заданий в значительной степени
                                    обуславливает создание позиций, занимаемых
                                    участниками в отношении поставленных задач. С другой стороны дальнейшее развитие
                                    различных форм деятельности позволяет
                                    оценить значение дальнейших направлений развития. Товарищи! консультация с широким
                                    активом требуют от нас анализа
                                    новых предложений. Товарищи! рамки и место обучения кадров требуют определения и
                                    уточнения соответствующий условий
                                    активизации. Товарищи! начало повседневной работы по формированию позиции
                                    обеспечивает широкому кругу (специалистов)
                                    участие в формировании направлений прогрессивного развития.</p>
                            </div>
                            <div class="col-12">
                                <p class="lead">
                                    Таким образом реализация намеченных плановых заданий требуют определения и уточнения
                                    направлений прогрессивного
                                    развития. Таким образом реализация намеченных плановых заданий в значительной
                                    степени обуславливает создание форм
                                    развития.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
