{% extends 'imports/_main.twig' %}
{% block content %}
    <section class="w-body">
        <div class="container mt-5 mb-5">
            <div class="gisauto align-items-center" style="max-width: 600px; margin: 0 auto;">
                <div class="col-12 col-md-6 mb-4">
                    <p>Вариант в виде кнопки</p>
                    <div class="btn-outer">
                        <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                        <a href="#"
                           class="btn btn-brand_yellow btn-mini btn-login"
                           data-toggle="tooltip"
                           data-placement="right"
                           data-html="true"
                           data-container=".w-body"
                           data-template='<div class="tooltip gisauto-tooltip-red" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                           title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
                    </div>
                    <hr>
                    <div class="btn-outer">
                        <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                    </div>
                    <hr>
                    <div class="btn-outer">
                        <a href="#" class="btn btn-brand_yellow btn-auth">Необходима авторизация</a>
                    </div>
                    <hr>
                    <p>Новые сообщения в виджете</p>
                    <div class="btn-outer">
                        <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                        <a href="#"
                           class="btn btn-brand_red btn-mini btn-login"
                           data-toggle="tooltip"
                           data-container=".w-body"
                           data-html="true"
                           data-placement="right"
                           data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                           title="Есть новые сообщения"></a>
                    </div>
                    <hr>
                    <p>Новые уведомления в виджете: новые предложения, обновление статусов заказов.</p>
                    <div class="btn-outer">
                        <a href="#" class="btn btn-brand_yellow btn-request">Запрос по VIN</a>
                        <a href="#"
                           class="btn btn-brand_red btn-mini"
                           data-toggle="tooltip"
                           data-html="true"
                           data-container=".w-body"
                           data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                           data-placement="right"
                           title="999 уведомлений">
                            999
                        </a>
                    </div>
                    <hr>
                    <p>Кнопки социальных сетей</p>
                    <div class="btn-row">
                        <a href="#" class="btn btn-social btn-social_vk"></a>
                        <a href="#" class="btn btn-social btn-social_fb"></a>
                        <a href="#" class="btn btn-social btn-social_ok"></a>
                        <a href="#" class="btn btn-social btn-social_in"></a>
                        <a href="#" class="btn btn-social btn-social_yt"></a>
                        <a href="#" class="btn btn-social btn-social_tw"></a>
                    </div>
                    <hr>
                    <p>Кнопка с выпадающим меню</p>
                    <div class="">
                        <div class="btn-group btn-group-action mb-2">
                            <button class="btn btn-circle btn-toggle btn-table btn-brand btn-brand_green" type="button">
                                Заказать
                            </button>
                            <button type="button"
                                    class="btn btn-circle btn-table btn-brand btn-brand_green dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu-hint dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Отменить</a>
                            </div>
                        </div>
                        <div class="btn-group btn-group-action mb-2">
                            <button class="btn btn-circle btn-toggle btn-table btn-brand btn-brand_red" type="button">
                                Заказать
                            </button>
                            <button type="button"
                                    class="btn btn-circle btn-table btn-brand btn-brand_red dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu-hint dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Отменить</a>
                            </div>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="btn-group mb-2">
                            <button class="btn btn-circle btn-brand btn-brand_blue dropdown-toggle" type="button"
                                    aria-haspopup="true"
                                    data-toggle="dropdown"
                                    aria-expanded="false">Повторить
                            </button>
                            <div class="dropdown-menu-hint dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Вернуть товар <span>(до 28.12.17)</span></a>
                                <a class="dropdown-item" href="#">Удалить запрос</span></a>
                            </div>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="btn-group btn-group-action mb-2">
                            <button class="btn btn-circle btn-toggle btn-brand btn-brand_blue" type="button">
                                Повторить
                            </button>
                            <button type="button"
                                    class="btn btn-circle btn-brand btn-brand_blue dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu-hint dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Вернуть товар <span>(до 28.12.17)</span></a>
                                <a class="dropdown-item" href="#">Удалить запрос</span></a>
                            </div>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="btn-group btn-group-action mb-2">
                            <button class="btn btn-circle btn-toggle btn-table btn-brand btn-brand_green-outline"
                                    type="button">
                                Завершено
                            </button>
                            <button type="button"
                                    class="btn btn-circle btn-table btn-brand btn-brand_green-outline dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu-hint dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Повторить</a>
                                <a class="dropdown-item" href="#">Удалить</a>
                            </div>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="btn-group btn-group-action mb-2">
                            <button class="btn btn-circle btn-toggle btn-table btn-brand btn-brand_blue-outline"
                                    type="button">
                                Завершено
                            </button>
                            <button type="button"
                                    class="btn btn-circle btn-table btn-brand btn-brand_blue-outline dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu-hint dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Повторить</a>
                                <a class="dropdown-item" href="#">Удалить</a>
                            </div>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="btn-group mb-2">
                            <button class="btn btn-brand btn-table btn-circle btn-brand_red-outline" type="button">
                                Заказать
                            </button>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="btn-group mb-2">
                            <button class="btn btn-brand btn-brand_light" type="button">
                                Заказать
                            </button>
                        </div>
                        <div style="width: 50px;"></div>
                    </div>
                    <hr>
                    <p>Checkbox / Radiobutton</p>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>

                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Or toggle this other custom
                                radio</label>
                        </div>
                    </div>
                    <hr>
                    <p>Добавить фото</p>
                    <div class="form-group">
                        <div class="input-file-outer">
                            <button type="button" class="input-file" id="input-file-1">Загрузить фото
                                <input type="file" name="file1"
                                       onchange='$("#upload-file-info-1").text($(this)[0].files[0].name); $("#input-file-1").hide("300"); $("#upload-file-del-1").show("400");'>
                            </button>
                        </div>
                        <div class="upload-file-del" id="upload-file-del-1">
                            <div id="upload-file-info-1" class="upload-file"></div>
                            <button class="btn-close upload-file-del__btn-close"
                                    onclick='$("#input-file-1").show("400"); $("#upload-file-del-1").hide("300");'></button>
                        </div>
                    </div>
                    <hr>
                    <a href="#" class="link link__ico-login">в личном кабинете</a>

                    <hr>
                    <p>Формы разные:</p>
                    <div class="form-group form-controls">
                        <input type="text" class="form-control form-control-erase" id="" value="" placeholder="Кузов">
                    </div>
                    <hr>
                    <p>Формы Селект:</p>
                    <hr>
                    <select name="skills" class="ui search selection dropdown select-widget auto-init">
                        <option value="">Select Country</option>
                        <option value="angular">Angular</option>
                        <option value="css">CSS</option>
                        <option value="design">Graphic Design</option>
                        <option value="ember">Ember</option>
                        <option value="html">HTML</option>
                        <option value="ia">Information Architecture</option>
                    </select>
                    <hr>
                    <select name="skills" class="ui search selection dropdown select-widget auto-init">
                        <option value="">Select Country</option>
                        <option value="angular">Angular</option>
                        <option value="css">CSS</option>
                        <option value="design">Graphic Design</option>
                        <option value="ember">Ember</option>
                        <option value="html">HTML</option>
                        <option value="ia">Information Architecture</option>
                    </select>
                    <hr>
                    <p>Форма со счетчиком</p>
                    <div class="form-group">
                        <div class="input-group input-group-actions input-group-actions-right input-count">
                            <input type="text"
                                   class="form-control form-control-erase was-validated"
                                   id=""
                                   name="">
                            <div class="input-group-append">
                                <div class="input-group">
                                    <input type="number" class="form-control form-control-number"
                                           placeholder="кол-во"
                                           minlength="1" min="1">
                                </div>
                                <button class="btn-del"></button>
                            </div>
                            <div class="invalid-feedback">Укажите ваш пароль для входа</div>
                            <div class="valid-feedback">Неверный формат пароля</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-actions input-group-actions-right input-count">
                            <input type="text"
                                   class="form-control form-control-erase was-validated"
                                   id=""
                                   name="">
                            <div class="input-group-append">
                                <div class="input-group">
                                    <input type="number" class="form-control form-control-number" placeholder="кол-во"
                                           minlength="1" min="1">
                                </div>
                                <button class="btn-del"></button>
                            </div>
                            <div class="invalid-feedback">Укажите ваш пароль для входа</div>
                            <div class="valid-feedback">Неверный формат пароля</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <p></p>
                    <p>Вариант когда в поиск внедрён запрос по VIN</p>
                    <div class="btn-outer search form-controls input-group-actions">
                        <input type="text" class="form-control form-control-erase input-search">
                        <a href="#" class="btn btn-brand_yellow btn-request  btn-right"
                           data-html="true"
                           data-container=".w-body"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                           data-trigger="click hover focus"
                           title="Необходима <a href='#' class='link nowrap'>авторизация на сайте</a>">
                            Запрос по VIN
                        </a>
                    </div>
                    <hr>
                    <div class="btn-outer search form-controls input-group-actions">
                        <input type="text" class="form-control form-control-erase input-search">
                        <a href="#" class="btn btn-brand_yellow btn-request btn-right">
                            Запрос по VIN
                        </a>
                        <a href="#"
                           class="btn btn-brand_yellow btn-mini btn-login"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           data-html="true"
                           data-container=".w-body"
                           data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                           title="Здесь появятся данные <br>о ваших запросах по VIN"></a>
                    </div>
                    <hr>
                    <div class="container-widget">
                        <div class="revise">
                            <div class="input-group input-group-actions form-controls form-group">
                                <input type="text" class="form-control form-control-erase input-vin">
                                <a href="#" class="btn btn-brand_blue btn-vin btn-right">Проверить</a>
                            </div>
                            <a href="#" class="link revise__link">Что такое VIN/FRAME?</a>
                        </div>
                    </div>
                    <hr>
                    <div class="container-widget">
                        <div class="revise">
                            <div class="input-group input-group-actions form-controls form-controls-label form-group">
                                <label class="label-widget" for="input-vin">Введите VIN/FRAME</label>
                                <input type="text" class="form-control form-control-erase input-vin is-invalid"
                                       id="input-vin">
                                <a href="#" class="btn btn-brand_blue btn-vin btn-right">Проверить</a>
                                <div class="invalid-feedback">
                                    <p>Некорректное количество символов
                                        для VIN/FRAME номера</p>
                                </div>
                            </div>
                            <a href="#" id="open-vin-prev" class="link revise__link">Что такое VIN/FRAME?</a>
                            <div id="vin-prev" class="vin-preview">
                                <button class="btn-close vin-preview__btn-close"></button>
                                <img src="../images/vin_example.jpg" alt="VIN/FRAME">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="btn-back-forward">
                        <a href="#" class="btn btn-lt btn-brand btn-brand_light-gray  ">Назад</a>
                        <a href="#" class="btn btn-rt btn-brand btn-brand_yellow ">Отправить</a>
                    </div>
                    <hr>
                    <div class="auto-info-head">
                        <div class="auto-info-head__img">
                            <img src="../images/userpic-example.png" alt="">
                        </div>
                        <div class="auto-info-head__title">
                            <p class="auto-info-head__title-item">Mitsubishi Lancer Evolution X Ralliart
                                <span class="text-light-gray">2003 г.в.</span></p>
                            <p class="auto-info-head__title-item">pWWW777777WWWWWWW9p</p>
                        </div>
                        <div id="head-description" class="auto-info-head__desc text-collapse">
                            <span class="text-medium">Запчасти:</span>
                            обычный фильтр <span class="text-light-gray">(5 шт)</span>,
                            необычный фильтр <span class="text-light-gray">(10 шт)</span>,
                            масло подсолнечное <span class="text-light-gray">(1шт)</span>,
                            лалалал <span class="text-light-gray">(15 шт)</span>,
                            обычный фильтр <span class="text-light-gray">(5 шт)</span>,
                            необычный фильтр (10 шт), масло подсолнечное <span class="text-light-gray">(1шт)</span>,
                            лалалала <span class="text-light-gray">(10 шт)</span>,
                            обычная запчасть с длинным названием <span class="text-light-gray">(100500 шт)</span>,
                            овер 900 <span class="text-light-gray">(9 шт)</span>
                        </div>

                    </div>
                    <hr>
                    <div class="auto-info-head auto-info-min">
                        <div class="auto-info-head__img">
                            <img src=" " alt="">
                        </div>
                        <div class="auto-info-head__title">
                            <p class="auto-info-head__title-item">Mitsubishi Lancer Evolution X Ralliart
                                <span class="text-light-gray">2003 г.в.</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="filter-thead">Дата</div>
                    <div class="filter-thead up">Стоимость</div>
                    <div class="filter-thead down">Стоимость</div>
                    <div class="filter-thead none">Статус</div>
                    <hr>
                    <div class="">
                        <h3>Модалка для виджета</h3>
                        <p>
                            С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой
                            процесс внедрения и модернизации
                            системы обучения кадров.
                        </p>
                        <a href="#ModalWidgetTextarea" data-fancybox=""
                           class="btn btn-mr btn-brand_yellow btn-circle">Модалка с textarea</a>
                        <hr>
                        <a href="#ModalWidget" data-fancybox=""
                           class="btn btn-mr btn-brand_yellow btn-circle">Модалка</a>
                        <hr>
                        <a href="#ModalWidgetHistory" data-fancybox=""
                           class="btn btn-mr btn-brand_yellow btn-circle">Модалка История заказа</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div class="gisauto">
            <div id="ModalWidgetTextarea" class="modal modal_fancybox-construct modal-widget" tabindex="-1"
                 role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-title">Заголовок модалки</div>
                            <textarea name="" id=""
                                      class="form-control form-control-textarea modal-textarea resize"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-fancybox-close class="btn btn-brand_blue btn-circle">Закрыть
                            </button>
                        </div>
                        <div class="modal-footer modal-btn-group">
                            <button type="" class="btn btn-brand_blue btn-circle">Отправить</button>
                            <button type="button" data-fancybox-close class="btn btn-brand_blue-outline btn-circle">
                                Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ModalWidget" class="modal modal_fancybox-construct modal-widget" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-title">Заголовок модалки</div>
                            <div class="modal-subtitle">Крышка люка топливного бака для Mercedess-Benz, J6668561289
                            </div>
                            <div class="modal-info">
                                <div class="text-black">
                                    <span>Количество </span>25 шт
                                </div>
                                <div class="text-black">
                                    <span>Тип запчасти </span>контрактная
                                </div>
                            </div>
                            <div class="modal-info">
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio10" name="m-customRadio"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio10">Товар
                                            бракованный</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio11" name="m-customRadio"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio11">Продавец прислал не тот
                                            товар</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio13" name="m-customRadio"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio13">Другое</label>
                                    </div>
                                </div>
                            </div>
                            <textarea name="" id="" class="form-control form-control-textarea modal-textarea"
                                      placeholder="Укажите причину"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-fancybox-close class="btn btn-brand_blue btn-circle">Вернуть
                                товар
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ModalWidgetHistory" class="modal modal_fancybox-construct modal-widget" tabindex="-1"
                 role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-title">История заказа</div>
                            <div class="history">
                                <div class="history-row history-title">
                                    <div class="history-col-left">Дата</div>
                                    <div class="history-col-right">Статус</div>
                                </div>
                                <div class="history-row">
                                    <div class="history-col-left">
                                        <span class="data">28.11.17</span>
                                        <span class="time">15:00</span>
                                    </div>
                                    <div class="history-col-right">
                                        <div>Сдано в ТК</div>
                                    </div>
                                </div>
                                <div class="history-row">
                                    <div class="history-col-left">
                                        <span class="data">28.11.17</span>
                                        <span class="time">15:00</span>
                                    </div>
                                    <div class="history-col-right">
                                        <div>
                                            Отказ от заказа, возврат
                                            <a href="#" class="link">(см. причину)</a>
                                        </div>
                                        <div class="text-black">
                                            <span>Причина возврата:</span> Не тот товар, который я хотел заказать. Мне
                                            нужен
                                            тот, что
                                            диаметром 30 мм.
                                        </div>
                                    </div>
                                </div>
                                <div class="history-row">
                                    <div class="history-col-left">
                                        <span class="data">28.11.17</span>
                                        <span class="time">15:00</span>
                                    </div>
                                    <div class="history-col-right">
                                        <div>Заказ доставлен</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-fancybox-close class="btn btn-brand_blue btn-circle">Закрыть
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}