{% extends '../imports/_main.twig' %}
{% block content %}

    <div class="layout-phone">
        <header id="siteHeader" class="bar big">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="location-link" href="#">
                    <span class="location-link-flag flag flag-ru"> </span>
                    <span class="location-link-text dropdown-toggle">Новосибирск</span>
                </a>
                <nav class="navbar-nav flex-row ml-md-auto"></nav>
            </nav>
            <div class="layout-phone-container mobile-view">
                <div class="bar-row">
                    <div class="bar-menu">
                        <div class="bar-menu-icon bar-menu-icon_parts"></div>
                        <a data-sidebar="#sidebar" data-sub="true" class="bar-menu-burger">
                            <span class="bar-menu-burger-icon"></span>
                        </a>
                    </div>
                    <div href="#" class="bar-info">
                        <div class="bar-logo"></div>
                        <h1>Найдётся всё
                            для вашего авто</h1>
                    </div>
                    <div class="bar-actions">
                        <div class="bar-cart"></div>
                        <div class="bar-profile"></div>
                    </div>
                </div>
            </div>

        </header>
        <main class="layout-phone-main">
            <section class="section-content-text">
                <p>
                    переключить вид
                    <button class="btn btn-brand_light" onclick="$$.bar.toggleSize()">Сменить вид</button>
                </p>
                <div class="row mb-5">
                    <div class="col-md-6 col-sm-12">
                        <h2>Аватарки пользователей</h2>
                        <p>на цветном фоне</p>
                        <div class="bar-actions" style="width: 100%; background-color: #74abbc;">
                            <div class="bar-cart"></div>
                            <div class="bar-profile"></div>

                            <div class="bar-profile profile-user">
                                <div class="user user-online user-individual">
                                    <div class="user__img-wrap mini">
                                        <img class="user__img bar-img" src="../../images/userpic-example.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="bar-profile profile-user">
                                <div class="user user-offline user-entity">
                                    <div class="user__img-wrap mini">
                                        <img class="user__img bar-img" src="../../images/userpic-example.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="bar-profile profile-user">
                                <div class="user user-offline user-individual">
                                    <div class="user__img-wrap mini">
                                        <img class="user__img bar-img" src="" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="bar-profile profile-user">
                                <div class="user user-online user-entity">
                                    <div class="user__img-wrap mini">
                                        <img class="user__img bar-img" src="" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <p><br><br>на белом фоне</p>
                        <div class="bar-actions icon-gray" style="width: 100%; background-color: #fff;">
                            <div class="bar-cart"></div>
                            <div class="bar-profile"></div>
                            <!-- пока не утверджено
                            <div class="bar-profile profile-user">
                                <div class="user user-online user-individual">
                                    <div class="user__img-wrap mini wrap-gray">
                                        <img class="user__img bar-img" src="../images/userpic-example.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="bar-profile profile-user">
                                <div class="user user-offline user-entity">
                                    <div class="user__img-wrap mini wrap-gray">
                                        <img class="user__img bar-img" src="../images/userpic-example.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="bar-profile profile-user">
                                <div class="user user-offline user-individual">
                                    <div class="user__img-wrap mini wrap-gray">
                                        <img class="user__img bar-img" src="" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="bar-profile profile-user">
                                <div class="user user-online user-entity">
                                    <div class="user__img-wrap mini wrap-gray">
                                        <img class="user__img bar-img" src="" alt="">
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

                <h2>Preloader</h2>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="embed-responsive-item">
                                <div class="kit preloader dark active"></div>
                            </div>
                        </div>
                        <p>Статически добавленный прелоадер</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="embed-responsive-item" id="preloadExample">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>Добавленный прелоадер через Preloader</p>
                        <div class="btn-xs flex-row">
                            <div id="preloaderShow" class="btn btn-brand_yellow mb-2">Показать</div>
                            <div id="preloaderHide" class="btn btn-brand_yellow mb-2">Скрыть</div>
                            <div id="preloaderBodyShow" class="btn btn-brand_yellow mb-2">Добавить в body</div>
                        </div>
                    </div>
                </div>
                <br>
                <h2>Рейтинг продавца</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="ui rating mini star" data-rating="3" data-max-rating="5"></div>
                    </div>
                    <div class="col-12">
                        <div class="ui rating tiny star" data-rating="4" data-max-rating="5"
                             data-interactive="off"></div>
                    </div>
                    <div class="col-12">
                        <div class="ui rating small star" data-rating="3" data-max-rating="5"></div>
                    </div>
                    <div class="col-12">
                        <div class="ui rating star" data-rating="3" data-max-rating="5"></div>
                    </div>
                    <div class="col-12">
                        <div class="ui rating large star" data-rating="3" data-max-rating="5"></div>
                    </div>
                    <div class="col-12">
                        <div class="ui rating huge star" data-rating="3" data-max-rating="5"></div>
                    </div>
                    <div class="col-12">
                        <div class="ui rating massive star" data-rating="3" data-max-rating="5"></div>
                    </div>
                </div>
                <div class="row" style="margin: 50px 0;">
                    <p>Установить Рейтинг </p>
                    <div class="rating-set">
                        <div class="rating-set__background">
                            <div class="rating-set__bar" style="width:50%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 50px 0;">
                    <div class="comment-count">
                        <span class="comment-count__underline">15 отзывов</span>
                    </div>
                </div>
                <div class="row">
                    <div class="info-text">
                        Супер цены на колеса на нашем сайте supercolesa.ru
                    </div>
                </div>
                <div class="row" style="margin: 50px 0;">
                    <div class="prod-rating">4,9</div>
                </div>
                <div style="max-width: 480px; width:100%; margin: 50px auto;">
                    <div class="mode">
                        <div class="mode__title">Режим работы</div>
                        <table class="mode__table">
                            <thead>
                            <tr>
                                <th>Пн</th>
                                <th>Вт</th>
                                <th>Ср</th>
                                <th>Чт</th>
                                <th>Пт</th>
                                <th>Сб</th>
                                <th>Вс</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">9:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time active">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mode">
                        <div class="mode__title">Обед</div>
                        <table class="mode__table lunch">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time active">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mode__block-time">
                                        <div class="mode__time">09:00</div>
                                        <div class="mode__time">18:00</div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <h2>Отзыв</h2>
                <div class="row" style="margin: 0 0 50px 0">
                    <div class="reviews">
                        <div class="reviews__top">
                            <div class="user user-online">
                                <div class="user__img-wrap">
                                    <img class="user__img" src="../../images/userpic-example.png" alt="">
                                </div>
                                <div class="user__name">Кристиансен</div>
                            </div>
                            <div class="ui rating small star" data-rating="3" data-max-rating="5"></div>
                        </div>
                        <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет выполнять
                            важные
                            задания по разработке дальнейших направлений развития. Текст! Таким образом Таким образом
                            сложившаяся структура организации позволяет выполнять важные задания по разработке
                            дальнейших
                            направлений развития. Текст! Таким образом
                            <span class="reviews__full">... <span
                                        class="reviews__full-text">Показать полностью</span></span>
                        </div>
                        <div class="reviews__bot">
                            <div class="reviews__date">
                                <div class="reviews__date-svg"></div>
                                2 декабря 2017
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply zero">
                                    <span class="reviews__reply-num">0</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like zero">
                                    <span class="reviews__like-num">0</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__bot">
                            <div class="reviews__date">
                                <div class="reviews__date-svg"></div>
                                12 июня 2017
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply">
                                    <span class="reviews__reply-num">2</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like">
                                    <span class="reviews__like-num">2</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__bot">
                            <div class="reviews__date">
                                <div class="reviews__date-svg"></div>
                                22 марта 2017
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply active">
                                    <span class="reviews__reply-num">10</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like active">
                                    <span class="reviews__like-num">5</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="reply">
                            <div class="reviews__top">
                                <div class="user user-online">
                                    <div class="user__img-wrap">
                                        <img class="user__img seller-img" src="" alt="">
                                    </div>
                                    <div class="user__name">Официальный представитель компании BMW</div>
                                </div>
                            </div>
                            <div class="reviews__mid">Ответ от организации, например. Ответ от организации. Ответ от
                                организации. Ответ от организации.
                                <span class="reviews__full">... <span
                                            class="reviews__full-text">Показать полностью</span></span>
                            </div>
                            <div class="reviews__bot">
                                <div class="reviews__date">
                                    <div class="reviews__date-svg"></div>
                                    12 января 2017
                                </div>
                                <div class="reviews__bot-btns">
                                    <div class="reviews__like">
                                        <span class="reviews__like-num">2</span>
                                        <div class="reviews__like-svg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Отзыв в кабинете для редактирования</h2>
                <div class="row" style="margin: 0 0 50px 0">
                    <div class="reviews review-new review-cabinet">
                        <div class="reviews__top">
                            <div class="user">
                                <div class="user__img-wrap mini">
                                    <img class="user__img  cabinet-img" src="../../images/userpic-example.png" alt="">
                                </div>
                                <div class="user__head">
                                    <div class="user__name">Кристиансен</div>
                                    <div class="user__date">23.02.18 17:00</div>
                                </div>
                            </div>
                            <div class="ui-tooltip" style="position: relative;">
                                <div class="reviews__action-hint ui-tooltip-toggle"></div>
                                <div class="ui-tooltip-content list ui fluid popup bottom left transition hidden">
                                    <a href="#" class="item">Отмена</a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="reviews__prev-color">
                            <div class="user__head">
                                <div class="user__name">CARS.RU Москва</div>
                                <div class="user__address">г. Москва, пр-т Декабирстов, д.8, офис 505</div>
                            </div>
                            <div class="ui rating small star mt-2 mb-1" data-rating="3" data-max-rating="5"></div>
                            <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет
                                выполнять
                                важные
                                задания по разработке дальнейших направлений развития. Текст! Таким образом Таким
                                образом
                                сложившаяся структура организации позволяет выполнять важные задания по разработке
                                дальнейших
                                направлений развития. Текст! Таким образом
                                <span class="reviews__full">... <span
                                            class="reviews__full-text">Показать полностью</span></span>
                            </div>
                        </a>
                        <div class="reviews__bot">
                            <div class="reviews__date">
                                <div class="reviews__date-svg"></div>
                                2 декабря 2017
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply">
                                    <span class="reviews__reply-num">2</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like">
                                    <span class="reviews__like-num">2</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__bot">
                            <div class="reviews__date">
                                <div class="reviews__date-svg"></div>
                                22 марта 2017
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply active">
                                    <span class="reviews__reply-num">10</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like active">
                                    <span class="reviews__like-num">5</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="reviews review-read">
                        <div class="reviews__top">
                            <div class="user user-online">
                                <div class="user__img-wrap mini">
                                    <img class="user__img  cabinet-img" src="../../images/userpic-example.png" alt="">
                                </div>
                                <div class="user__head">
                                    <div class="user__name">Кристиансен</div>
                                    <div class="user__date">23.02.18 17:00</div>
                                </div>
                            </div>
                            <div class="ui-tooltip" style="position: relative;">
                                <div class="reviews__action-hint ui-tooltip-toggle"></div>
                                <div class="ui-tooltip-content list ui fluid popup bottom left transition hidden">
                                    <a href="#" class="item">Отмена</a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="reviews__prev-color">
                            <div class="user__head">
                                <div class="user__name">CARS.RU Москва</div>
                                <div class="user__address">г. Москва, пр-т Декабирстов, д.8, офис 505</div>
                            </div>
                            <div class="ui rating small star mt-2 mb-1" data-rating="3" data-max-rating="5"></div>
                            <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет
                                выполнять
                                важные
                                задания по разработке дальнейших направлений развития. Текст! Таким образом Таким
                                образом
                                сложившаяся структура организации позволяет выполнять важные задания по разработке
                                дальнейших
                                направлений развития. Текст! Таким образом
                                <span class="reviews__full">... <span
                                            class="reviews__full-text">Показать полностью</span></span>
                            </div>
                        </a>
                        <div class="reviews__bot">
                            <div class="reviews__status new">
                                1 новый комментарий
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply">
                                    <span class="reviews__reply-num">2</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like">
                                    <span class="reviews__like-num">2</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__bot">
                            <div class="reviews__status moderation">
                                На модерации
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply active">
                                    <span class="reviews__reply-num">10</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like active">
                                    <span class="reviews__like-num">5</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__bot">
                            <div class="reviews__status error">
                                Отклонено модератором
                            </div>
                            <div class="reviews__bot-btns">
                                <div class="reviews__reply active">
                                    <span class="reviews__reply-num">10</span>
                                    <div class="reviews__reply-svg"></div>
                                </div>
                                <div class="reviews__like active">
                                    <span class="reviews__like-num">5</span>
                                    <div class="reviews__like-svg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и
                    уточнения модели
                    развития. С
                    другой стороны сложившаяся структура организации в значительной степени обуславливает создание
                    модели развития. Товарищи!
                    рамки и место обучения кадров играет важную роль в формировании соответствующий условий активизации.
                    Не следует, однако
                    забывать, что консультация с широким активом способствует подготовки и реализации системы обучения
                    кадров, соответствует
                    насущным потребностям.
                </p>
                <p>
                    Задача организации, в особенности же новая модель организационной деятельности играет важную роль в
                    формировании новых
                    предложений. Задача организации, в особенности же начало повседневной работы по формированию позиции
                    требуют от нас
                    анализа
                    позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт рамки и
                    место обучения кадров
                    представляет собой интересный эксперимент проверки систем массового участия.
                </p>
                <p>
                    Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный
                    эксперимент проверки систем
                    массового участия. Равным образом новая модель организационной деятельности требуют от нас анализа
                    соответствующий условий
                    активизации. Таким образом постоянный количественный рост и сфера нашей активности в значительной
                    степени обуславливает
                    создание дальнейших направлений развития. Повседневная практика показывает, что новая модель
                    организационной деятельности
                    способствует подготовки и реализации дальнейших направлений развития.
                </p>
            </section>
        </main>
        {% include '../imports/_sidebar.twig' %}
        <footer class="index-footer">
            <span class="index-footer__contacts openContactsModal">Контакты</span>
            <a href="#" class="index-footer__about">О проекте</a>
            <span class="index-footer__rights">© GISAUTO.RU</span>
        </footer>
    </div>

{% endblock %}
