<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="../../css/chat.css">
    {% endblock %}
</head>
<body>
<div class="kit body" style="background: url('../../images/tmp/1.jpg') no-repeat top center; height: 90vh; box-sizing: border-box; margin: 0">
    <a href="../../index.html" style="display: block; margin: 20px auto; text-align:center; font-size: 20px;">Вернуться на ГЛАВНУЮ</a>
    <a href="../../chat.html" style="display: block; margin: 20px auto; text-align:center; font-size: 20px;">Перйти к UI KIT чата</a>
</div>
{% block content %}{% endblock %}

{% block javascripts %}
    <script src="/js/chat.js"></script>
{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext"
      rel="stylesheet">
</body>
</html>
