.auto-info-head {
  display: block;
  width: 100%;
  background-color: $widget-bg-light;
  padding: 1.25rem 1rem;
  white-space: nowrap;
  font-size: 0;

  &__img {
    display: inline-block;
    vertical-align: top;
    width: 2.8125rem;
    height: 2.8125rem;
    border: 1px solid $widget-input-border;
    border-radius: 50%;
    background-color: $white;
    overflow: hidden;
    margin-right: 0.75rem;
    text-align: right;
    @include inline-svg-icon('no-photo-car', $widget-input-border, center, 1.825rem);
    @media only screen and (min-width: $mobile-widget) {
      width: 3.125rem;
      height: 3.125rem;
      @include inline-svg-icon('no-photo-car', $widget-input-border, center, 2.125rem);
    }
    img {
      display: inline-block;
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }
  &__title {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 4rem);
    font-size: 0.9375rem;
    line-height: 1.3;
    color: $black;
    font-weight: $med;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
  &__title-item {
    white-space: normal;
    padding: 0;
    margin: 0 0 0.5rem 0;
    @media only screen and (min-width: $mobile-widget) {
      margin-bottom: 0.25rem;
    }
  }
  &__desc {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.3;
    font-weight: $reg;
    color: $black;
    white-space: normal;
    padding-top: 0.875rem;
    border-top: 1px solid $turq;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
      border-top: none;
    }
  }
  &.auto-info-min {
    background-color: transparent;
    .auto-info-head__title,
    .auto-info-head__img {
      vertical-align: middle;
    }
    .auto-info-head__title-item {
      margin: 0;
    }
  }
}