.kit.authorization{
  .form.block{
    .login.button.block{
      margin: 1em auto;
      max-width: 14em;
      button{
        width: 100%;
      }
    }
  }
  .social.block{
    text-align: center;
    font-size: .8em;
  }
  .register.block{
    text-align: center;
    .registration.link{
      font-weight: 500;
      text-align: center;
      background: #f0f0f0;
      display: block;
      margin: 1em -1.5em -1.5em;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border-top: 1px solid #9badb9;
      color: #558fcc;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}