body{
    font-family: $font-family-sans-serif;
    font-style: normal;
    color: $text-color;
    min-width: 320px;
    a {
        color: text-color('wlink');
    }
}
.nowrap {
    white-space: nowrap;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
