$btn-light-bg: #eef3f6;
$btn-light-yellow: #ffdb64;

@mixin with-shadow($force: 35px , $color: #000 , $opacity: .5) {
  &-with-shadow,
  &.with-shadow{
    box-shadow: 0 5px $force 0 rgba($color, $opacity);
  }
}

.btn {
  position: relative;
  font-size: 1rem;
  text-overflow: ellipsis;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  @include with-shadow(20px, rgb(96, 126, 146), .4);
  @include phone {
    font-size: 1.0625rem;
  }
  &-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
  }
  // Mobile responsive (-mr)
  &-mr {
    @include phone-sm {
      padding: 0.72rem 1.5rem;
      font-size: 1.0625rem;
    }
    @include phone-md {
      padding: 0.845rem 1.5rem;
      font-size: 1.125rem;
    }
    @include phone-lg {
      padding: 0.875rem 1.5rem;
      font-size: 1.25rem;
    }
  }

  &-minw {
    min-width: 200px;
    margin: auto;
    text-align: center;
  }

  &-circle {
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @mixin btn-triangle($color : $black) {
    &.btn-rt,
    &.btn-lt {
      border: none;
      @include hover-focus-active {
        box-shadow: none !important;
      }
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 13px;
        transition: all 0.15s ease-in-out;
      }
    }

    &.btn-rt {
      border-radius: $btn-border-radius 0 0 $btn-border-radius;
      margin-right: 11px;
      &:before {
        left: 99%;
        @include inline-svg-icon('btn-right-triangle', $color, 0 50%, 100%);
      }
    }

    &.btn-lt {
      border-radius: 0 $btn-border-radius $btn-border-radius 0;
      margin-left: 11px;
      &:before {
        right: 99%;
        @include inline-svg-icon('btn-left-triangle', $color, 100% 50%, 100%);
      }
    }
  }

  &-brand {
    &_info {
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid $placeholder;
      font-size: 0;
      border-radius: 50%;
      @include inline-svg-icon('ico-i', transparent, center, 28%);
      @include phone-md {
        width: 1.875rem;
        height: 1.875rem;
      }
    }

    &_yellow {
      color: $black;
      background-color: $yellow;
      @include hover-focus-active {
        background-color: $btn-light-yellow;
        color: $black;
        @include btn-triangle(color('light-yellow'));
      }
      @include btn-triangle(color('yellow'));
    }

    &_gray {
      background-color: color('light-gray');
      color: $black;
      @include hover-focus-active {
        background-color: color('light-gray');
        color: $black;
        @include btn-triangle(color('light-gray'));
      }
      @include btn-triangle(color('light-gray'));

    }

    &_blue {
      @include button-variant(color('blue'), color('blue'));
      @include btn-triangle(color('blue'));
      @include hover-focus-active {
        @include gradient-bg(darken(color('blue'), 10%));
        @include btn-triangle(darken(color('blue'), 10%));
      }
      &-outline {
        @include button-outline-variant(color('blue'), color('blue'));
        border-width: 1px;
        @include hover-focus-active {
          color: $white;
        }
      }
    }

    &_pink {
      @include button-variant(color('pink'), color('pink'));
      @include btn-triangle(color('pink'));
      @include hover-focus-active {
        @include gradient-bg(darken(color('pink'), 10%));
        @include btn-triangle(darken(color('pink'), 10%));
      }
    }

    &_light {
      color: $lightBlue;
      background-color: transparent;

      @include hover-focus-active {
        color: $lightBlue;
        background-color: transparent;
      }
    }

    &_white {
      @include button-variant($white, $white);
      @include btn-triangle($white);
      @include hover-focus-active {
        @include gradient-bg(darken($white, 10%));
        @include btn-triangle(darken($white, 10%));
      }
    }
  }

  &[data-progress],
  &_progress {
    @extend .progress-bar-animated;
    @extend .progress-bar-striped;
    @include hover-focus-active {
      @extend .progress-bar-animated;
      @extend .progress-bar-striped;
    }
  }

  &-return {
    @include button-variant(color('yellow'), color('yellow'), $btn-light-yellow, $btn-light-yellow);
    @include with-shadow(34px, rgb(96, 126, 146), .4);
    min-width: 3.6rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:before {
      display: inline-block;
      content: '';
      @include inline-svg-icon('btn-return', $dark, center, 100%);
      @include size(1.2rem);
    }
    @include hover-focus-active {
      @include gradient-bg($btn-light-yellow);
    }
  }

  &-action {
    @include size(2rem);
    @include button-variant(color('blue'), color('blue'));
    text-align: center;
    padding: 0;
    line-height: 2rem;
    color: $white;

    &.set {
      @include button-variant(#c5d1d9, #c5d1d9);
      color: $white;
    }
  }
  &-social {
    @include button-outline-variant(color('blue'), color('blue'));
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 0;
    line-height: 2.81rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include size(2.81rem);
    @include phone-sm {
      @include size(2.81rem);
      text-align: center;
      padding: 0;
      line-height: 2.81rem;
    }
    @include phone-md {
      @include size(3rem);
      text-align: center;
      padding: 0;
      line-height: 3rem;
    }
    @include phone-lg {
      @include size(3.5rem);
      text-align: center;
      padding: 0;
      line-height: 3.5rem;
    }

    &_vk {
      @include button-outline-variant($color-vk, $color-vk);
      &:before {
        display: block;
        vertical-align: sub;
        content: '';
        @include size(1.5rem);
        @include inline-svg-icon('vk', $color-vk, center, 100%);
      }
      @include hover-focus-active {
        &:before {
          @include inline-svg-icon('vk', $white, center, 100%);
        }
      }
    }
    &_fb {
      @include button-outline-variant($color-fb, $color-fb);
      &:before {
        display: block;
        content: '';
        @include size(1.5rem);
        @include inline-svg-icon('facebook-logo', $color-fb, center, 100%);
      }
      @include hover-focus-active {
        &:before {
          @include inline-svg-icon('facebook-logo', $white, center, 100%);
        }
      }
    }
    &_tw {
      @include button-outline-variant($color-tw, $color-tw);
      &:before {
        display: block;
        content: '';
        @include size(1.5rem);
        @include inline-svg-icon('twitter-logo', $color-tw, center, 100%);
      }
      @include hover-focus-active {
        &:before {
          @include inline-svg-icon('twitter-logo', $white, center, 100%);
        }
      }
    }
    &_ok {
      @include button-outline-variant($color-ok, $color-ok);
      &:before {
        display: block;
        content: '';
        @include size(1.5rem);
        @include inline-svg-icon('odnoklassniki-logo', $color-ok, center, 100%);
      }
      @include hover-focus-active {
        &:before {
          @include inline-svg-icon('odnoklassniki-logo', $white, center, 100%);
        }
      }
    }
    &_yt {
      @include button-outline-variant($color-yt, $color-yt);
      &:before {
        display: block;
        content: '';
        @include size(1.5rem);
        @include inline-svg-icon('youtube-logo', $color-yt, center, 100%);
      }
      @include hover-focus-active {
        &:before{
          @include inline-svg-icon('youtube-logo', $white, center, 100%);
        }
      }
    }
    &_in {
      @include button-outline-variant($color-in, $color-in);
      &:before {
        display: block;
        content: '';
        @include size(1.5rem);
        @include inline-svg-icon('instagram-logo', $color-in, center, 100%);
      }
      @include hover-focus-active {
        &:before {
          @include inline-svg-icon('instagram-logo', $white, center, 100%);
        }
      }
    }
  }

  &-row {
    display: flex;
    flex-flow: row wrap;
    margin: -12px;
    > .btn,
    > .btn-group {
      margin: 12px;
    }
  }
  &-col {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: -12px;
    > .btn,
    > .btn-group {
      margin: 12px;
    }
  }

  &-group {
    &_mf {
      @include phone {
        flex-flow: column nowrap;
        .btn {
          border-radius: 0 !important;
          &:first-child {
            border-radius: $btn-border-radius $btn-border-radius 0 0 !important;
          }
          &:last-child {
            border-radius: 0 0 $btn-border-radius $btn-border-radius !important;
          }
        }
      }
    }
  }
  &-go-back {
    position: sticky;
    z-index: 100;
    bottom: 1rem;
    left: 1rem;
    margin-bottom: 1rem;
  }
  &-del {
    display: block;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    @include inline-svg-icon('del', $turq, center, 17px 18px);
    &:hover, &:active, &.active {
      @include inline-svg-icon('del', $lightBlue, center, 17px 18px);
      outline: none;
    }
  }
}
.mobile-view {
  .btn {
    //@extend .btn-mr;
  }
}