.comment-count {
  height: 22px;
  padding-left: 22px;
  font-size: 0.8125rem;
  @include inline-svg-icon('coment', transparent, left center, 20px 16px);
  &__underline {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid $text;
  }
}