.cover {
  position: relative;
  .content {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .5s ease;
  }
  .stub {
    transition: all .5s ease;
  }
}

.uncover {
  .content {
    position: relative;
    opacity: 1;
    transition: all .5s ease;
  }
  .stub {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .5s ease;
  }
}