.dropdown-menu-hint {
  box-shadow:  0 5px 10px 0 rgba(107,111,116,0.35);
  width: 100%;
  .dropdown-item {
    font-size: 0.8125rem;
    font-weight: 400;
    color: $black;
    span {
      color: $widget-input-border;
    }
    &:first-child {
      padding-top: 0.75rem;
    }
    &:last-child {
      padding-bottom: 0.75rem;
    }
  }
  &.show {
    min-width: fit-content;
  }
}