.filter-thead {
  display: block;
  width: 100%;
  padding: 0.5rem;
  padding-left: 0.75rem;
  font-size: 0.6875rem;
  font-weight: $reg;
  line-height: 1rem;
  color: $widget-input-border;
  text-align: left;
  cursor: pointer;
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    @include size(1rem);
    @include inline-svg-icon('sort', $widget-input-border, center, 0.75rem);
  }
  &.up {
    &:after {
      @include inline-svg-icon('sort-up', $wblue, center, 0.75rem);
    }
  }
  &.down {
    &:after {
      @include inline-svg-icon('sort-down', $wblue, center, 0.75rem);
    }
  }
  &.none {
    &:after {
      display: none;
    }
  }
}