::-webkit-input-placeholder {
  font-weight: $reg !important;
  opacity: 1 !important;
}
::-moz-placeholder {
  font-weight: $reg !important;
  opacity: 1 !important;
}
:-moz-placeholder {

  font-weight: $reg !important;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  font-weight: $reg !important;
  opacity: 1 !important;
}
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}

.form {
  &-controls {
    position: relative;
    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: absolute;
      justify-content: flex-end;
      right: 1.350rem;
      top: .75rem;
      pointer-events: none;
      z-index: 4;
      opacity: 0;
      width: 1px;
      overflow: visible;
      text-align: right;
      & > * {
        margin-left: .5rem;
        pointer-events: all;
        flex: 1 0 auto;
      }
    }
  }
  &-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    &__title {
      color: $placeholder;
      font-weight: $reg;
      &.active {
        color: $title;
      }
      @include phone-sm {
        font-size: 1rem;
      }
      @include phone-md {
        font-size: 1rem;
      }
      @include phone-lg {
        font-size: 1.125rem;
      }
    }
    &__radio {
      text-align: center;
    }
    &__radio-down, &__radio-up {
      font-size: 0 !important;
      display: inline-block;
      vertical-align: middle;
      width: 1rem;
      height: 1rem;
      :before {
        margin: 0;
      }
    }
    &__radio-down {
      @include inline-svg-icon('sort-down',$lightBlue, 'center', 1rem);
    }
    &__radio-up {
      @include inline-svg-icon('sort-up', $lightBlue, 'center', 1rem);
    }
    .custom-radio {
      display: inline-block;
      margin: 0 0.5rem;
      padding-left: 1.25rem;
    }
  }

  &-control {
    font-size: 1.063rem;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    @include phone(){
    }
    @include phone-sm {
      font-size: 0.9375rem;
    }
    @include phone-md {
      font-size: 0.9375rem;
    }
    @include phone-lg {
      font-size: 1.063rem;
    }
    &-textarea {
      height: 7.5rem;
      resize: none;
      padding: 0.75rem 1rem;
      line-height: 1.5;
      @media only screen and (min-width: $phone6p) {
        height: 8.5rem;
      }
    }
    &-circle {
      border-radius: 2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-width: 2px;
    }
    &-right-border-radius {
      border-radius: $input-border-radius !important;
    }
    &-number {
      text-align: center;
      z-index: 2;
      -moz-appearance: none;
      -webkit-appearance: none;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  &-erase-control {
    cursor: pointer;
    @include size(1.5rem);
    @include inline-svg-icon('input-erase', $input-border-color, 'center', 1.5rem, 'no-repeat', rgba(0, 0, 0, 0), $input-border-color);
    @include hover-focus-active {
      @include inline-svg-icon('input-erase', $input-border-color, 'center', 1.5rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
    }
  }
  &-search-control {
    cursor: pointer;
    background: none;
    border: none;
    @include size(1.5rem);
    @include inline-svg-icon('search', $input-border-color, 'center', 1.125rem, 'no-repeat', rgba(0, 0, 0, 0), $gray-900);
    @include hover-focus-active {
      @include inline-svg-icon('search', $input-border-color, 'center', 1.125rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
    }
  }
  &-select-control {
    cursor: pointer;
    pointer-events: none;
    @include size(1.5rem);
    @include inline-svg-icon('select-arrow', $input-border-color, 'center', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $input-border-color);
    @include hover-focus-active {
      @include inline-svg-icon('select-arrow', $input-border-color, 'center', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
    }
  }
  &-password-control {
    cursor: pointer;
    @include size(1.5rem);
    @include inline-svg-icon('eye-2', $input-border-color, 'center', 1.5rem);
    &.open {
      @include inline-svg-icon('eye-1', $input-border-color, 'center', 1.5rem)
    }
  }
  &-info-control {
    @include size(3rem);
    @include border-radius(50%);
    background: $white;
    border: 1px solid #c5d1d9;
    margin-left: 1rem;
    text-align: center;
    line-height: 3rem;
    font-weight: 500;
    &:before {
      display: inline-block;
      content: "?";
      color: #4272a4;
      font-size: 1.125rem;
      line-height: 3rem;
    }
  }
  &-group-number-control {
    $bg: #eef3f6;
    $color: #8798a4;
    vertical-align: top;
    background-color: $bg;
    color: #8798a4;
    font-size: 1.125rem;
    height: 3.125rem;
    padding: 0;
    position: relative;
    border: 1px $input-border-color solid;
    transition: background .5s ease;
    cursor: pointer;
    @include hover-focus-active {
      background: darken($bg, 15%);
    }
    .input-group-text {
      border: none;
      padding-left: .5rem !important;
      padding-right: .5rem !important;
    }
    &_minus {
      border-radius: $input-border-radius 0 0 $input-border-radius;
      .input-group-text {
        &:before {
          display: block;
          content: '';
          @include size(.95rem);
          @include inline-svg-icon('minus', $input-border-color, 'center', 1rem);
        }
      }
    }
    &_plus {
      border-radius: 0 $input-border-radius $input-border-radius 0;
      .input-group-text {
        &:before {
          display: block;
          content: '';
          @include size(.95rem);
          @include inline-svg-icon('plus', $input-border-color, 'center', 1rem);
        }
      }
    }
  }
}
.label {
  display: block;
  margin: .5rem;
  margin-left: 1rem;
  font-weight: $med;
  color: $title;
  font-size: 15px;
  line-height: 1.3;
  @media only screen and (min-width: $phone6p) {
    font-size: 17px;
  }
}
.input-fixtures {
  &-info-control {
    right: 5.35rem;
  }
}

select.form-control:not([size]):not([multiple]) {
}

.input-group {
  &-actions {
    &-right {
      .form-control,
      .custom-select {
        padding-right: 4rem;
      }
    }
  }
  .input-group-append,
  .input-group-prepend {
    position: relative;
    .input-group-text {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      z-index: 2;
      background: rgba($input-bg, 0);
      font-size: 1.063rem;
      @include phone-sm {
        font-size: 0.9375rem;
      }
      @include phone-md {
        font-size: 0.9375rem;
      }
      @include phone-lg {
        font-size: 1.063rem;
      }
    }
  }
  &>*{
    order:15;
  }
  .input-group-prepend{
    order: -1;
  }
  input,
  select,
  .form-control{
    order: 0;
  }
  .sinput-group-append{
    order: 1
  }
  .info-feedback{
    order: 16;
  }
}

.custom-select {
  @include inline-svg-icon('select-arrow', $input-border-color, 'right 1rem 50%', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $input-border-color);
  @include hover-focus-active {
    @include inline-svg-icon('select-arrow', $input-border-color, 'right 1rem 50%', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $blue);
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
  option[value=""]{
    color: gray(100);
  }
}

.custom-control-label {
  &:before {
    border: $input-border-color 1px solid;
    background: $white;
  }
}

.form-control.is-invalid,
.custom-select.is-invalid,
.was-validated .form-control:invalid,
.was-validated .custom-select:invalid {
  color: theme-color("danger");
  border-color: theme-color("danger") !important;
}

.was-validated .form-control:focus:invalid,
.was-validated .custom-select:focus:invalid {
  color: $input-color;
  border-color: $input-focus-border-color !important;
}

.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip,
.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-tooltip,
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip {

}

.form-control.is-invalid ~ .input-manipulator,
.form-control.is-invalid ~ .input-manipulator{
  border-color: theme-color("danger") !important;
  background: lighten(theme-color("danger"), 40%) !important;
}

.form-control.is-invalid:focus ~ .input-manipulator,
.form-control.is-invalid:focus ~ .input-manipulator,
.form-control:focus ~ .input-manipulator,
.form-control:focus ~ .input-manipulator{
  border-color: $input-focus-border-color !important;
  background: #eef3f6 !important;

}

.was-validated .custom-select:focus:invalid ~ .invalid-feedback,
.was-validated .custom-select:focus:invalid ~ .invalid-tooltip,
.was-validated .form-control:focus:invalid ~ .invalid-feedback,
.was-validated .form-control:focus:invalid ~ .invalid-tooltip {
  color: $input-color;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {

}

.was-validated .form-control:focus:valid,
.was-validated .custom-select:focus:valid {
  border-color: $input-focus-border-color !important;
}

.invalid-feedback,
.valid-feedback {
  margin: .5rem 0 0 1rem;
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    max-width: 400px;
    li {
      list-style: none;
      padding-left: 1.2rem;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        left: 0;
        content: '—';
      }
    }
  }
}

.valid-feedback {
  margin: .5rem 0 0 1rem;
}

.is-invalid {
  ~ .invalid-feedback,
  .invalid-feedback {
    display: block;
    &.no-list {
      margin-left: 0;
      ul {
        max-width: none;
      }
      li {
        padding: 0;
        &:before {
          display: none;
        }
      }
    }
    &__modal {
      li {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.info-feedback{
  @extend .valid-feedback;
  display: block;
}

.custom-control {
  padding-left: 1.5rem;
}

.custom-control-label {
  color: $black;
  font-size: 1rem;

  &:before, &:after {
    width: 1rem;
    height: 1rem;
    top: 0;
    margin-top: 0.15rem;
  }
  &:before {
    border: $turq 1px solid;
    background: $white !important;
  }
  &:after {

  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  @include inline-svg-icon('checked', $turq, center 2px, 12px 10px);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: $lightBlue;
}