@import "../fonts/header";

$header-vertical-padding: 2.5em;
$header-height: 4.5em;

.kit.site.header {
  color: #fff;
  min-height: 2.8125em;
  box-shadow: $header-shadow;
  font-size: 1rem;
  @media (max-width: 375px) {
    font-size: .95rem;
  }
  a {
    color: currentColor;
  }

  & > .header.container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: #4a7db4;
    z-index: 1090;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    & > * {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }
    i.icon {
      font-family: 'header', serif;
    }
    .logotype.block {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      max-width: 480px;
      .icon {
        width: 1.5em;
        height: 1.5em;
        background: #ffcf68;
        line-height: 1.5em;
        text-align: center;
        font-size: 3em;
        color: #000;
      }
      .navigator.activator {
        display: none;
      }
      .logotype:not(.block) {
        display: block;
        width: 5.5em;
        height: 4.5em;
        margin-left: 3em;
        @include inline-svg-icon('desktop-index-logotype', #000, center, contain);
      }
      .caption {
        font-size: 1em;
        line-height: 1;
        margin-left: 1em;
      }
      &.mobile {
        flex-flow: column nowrap;
      }
    }
    .actions.block {
      flex: 1 1 auto;
      text-align: right;
      padding-right: 2.5em;
      @media (max-width: 1366px) {
        padding-right: 1em;

      }
      .actions:not(.block) {
        font-size: .875em;
        margin: -.25em -.5em -.25em;

        @media (max-width: 1366px) {
          font-size: .8125em;
        }
      }
      .action {
        margin-right: .25em;
        padding: .25em .5em;
        transition: all .4s ease-out, background .3s ease-in;
        border-radius: .25em;
        background: rgba(255, 255, 255, 0);
        &:hover {
          box-shadow: 0 0 .5em 1em #fff inset, 0 0 .3em 0 rgba(255, 255, 255, .8);
          background: #fff;
          color: #141414;
        }

        @media (max-width: 1366px) {
          &.secondary {
            display: none;
          }
          .text {
            display: none;
          }
        }

        &.triangle {
          &:after {
            display: inline-block;
            content: '';
            width: 0;
            height: 0;
            margin-left: .5em;
            vertical-align: middle;
            border-style: solid;
            border-width: .4em .3em 0 .3em;
            border-color: currentColor transparent transparent transparent;
          }
        }
        .flag {
          margin-right: .25em;
          vertical-align: middle;
        }
      }
    }
    .navigator.activator {
      font-family: 'header', serif;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6em;
      height: 100%;
      top: 0;
      left: 0;
      line-height: 1;
      font-size: .75em;
      transition: background .5s ease;
      z-index: 100;
      &:hover,
      &:focus {
        background: #eef3f6;
      }
    }
    .navigation.block {
      position: relative;
      width: 100%;
      background: #fff;
      color: #141414;
      .navigation:not(.block) {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        font-size: .8125em;
        .items {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;

        }
        .item {
          position: relative;
          padding: .5em 1.5em;
          border-bottom: 2px solid rgba(255, 255, 255, 0);
          transition: all .5s ease;

          @media (max-width: 1450px) {
            padding: .5em .5em;
          }
          &.active,
          &:active {
            border-bottom-color: #3c6e9b;
          }
          &:hover,
          &:focus {
            color: #3c6e9b;
            border-bottom-color: rgba(#3c6e9b, .5);
          }
          &.new {
            &:before {
              display: inline-block;
              content: 'new';
              font-size: .6em;
              width: 1.5em;
              height: 1.5em;
              border-radius: 50%;
              background: #f37c7c;
              color: #fff;
              line-height: 1.5em;
              text-align: center;
              margin-right: .8em;
            }
          }
        }
        .profile {
          padding: 0;
          transition: all .5s ease;
          margin: .2em .5em .2em .2em;
          position: relative;
          font-size: 1.2em;
          & > .avatar {
            display: block;
            text-align: center;
            line-height: 1.75em;
            width: 2em;
            height: 2em;
            background: #eef3f6;
            border-radius: 50%;
            border: .125em #fff solid;
            color: #c5d1d9;
            .icon {
              font-size: 1.4em;
              margin: 0;
            }
          }
          &.guest{
            & > .avatar{
              background: transparent;
              border-radius: 50%;
              border: .125em #eef3f6 solid;
              color: currentColor;
            }
          }
          .notification {
            position: absolute;
            top: 0;
            right: 0;
            width: .8em;
            height: .8em;
            background: #e13c3c;
            border-radius: 50%;
            border: .125em #fff solid;
            z-index: 100;
          }
        }
      }
    }
  }

  &.mobile {
    & > .header.container {
      .navigator.activator {
        font-size: 1em;
        width: 4.5em;
        display: flex;
        bottom: 0;
        top: auto;
        height: 2.5em;
        background: #fff;
        color: #111;
        &:hover,
        &:focus {
          background: #eef3f6;
        }
      }
      .logotype.block {
        order: 2;
        flex-flow: column nowrap;
        justify-content: center;
        padding: .5em .75em .5em 4.75em;
        height: 7em;
        .logotype:not(.block) {
          margin-left: 1em;
          width: 100%;
          height: 2.5em;
          @include inline-svg-icon('logo-header', $black, '0 50%', 5.625em);
          background-size: contain;
        }
        .icon {
          position: absolute;
          left: 0;
          top: 0;
        }
        .caption {
          margin-top: .25em;
        }
      }
      .actions.block {
        order: 3;
        display: none !important;
      }
      .navigation.block {
        order: 1;
        .navigation:not(.block) {
          justify-content: space-between;
          align-items: center;
          .item {
            font-size: 1em;
            &.action {
              font-size: 1.2em;
              line-height: 1em;
            }
            &.location {

            }
          }
        }
        .navigator.activator {
          display: none;
        }
      }
    }
  }

  &.big:not(.minimal) {
    color: #fff;
    & > .header.container {
      a {
        color: #fff;
      }
      .header.container {
        padding: 0 0 1em;
      }
      .logotype.block {
        align-items: flex-end;
        & > * {
          margin-left: 1em;
        }
        .icon {
          display: none !important;
        }
        .logotype:not(.block) {
          width: 7.25em;
          height: 4em;
          margin-top: 1em;
          @include inline-svg-icon('desktop-index-logotype', #000, center, cover);
        }
        .caption {
          font-size: 1.25em;
        }
      }
      .navigation.block {
        display: none !important;
      }
    }
    &:not(.without):not(.navigator) {
      & > .header.container {
        .logotype.block {
          .logotype:not(.block) {
            margin: 1em 0 0 9em;
          }
        }
      }
    }
  }

  &.normal{
    .kit.profile.menu.in.header {
      padding-top: 8.875em !important;
    }
  }

  &.fixed {
    &:not(.minimal) {
      min-height: 7.125em;
    }
    &.big {
      min-height: 6em;
    }
    .header.container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1091;
    }
  }

  &.minimal {
    min-height: 2.8125em;
    box-shadow: 0 4px 12px 0 rgba(96, 126, 146, 0.12);
    & > .header.container {
      .logotype.block {
        order: 1;
        height: 2.8em;
        .navigator.activator {
          display: flex;
        }
        .icon {
          display: none !important;
        }
        .navigator.activator {
          background: #fff;
          color: #000;
          &:hover {
            background: rgba(255, 255, 255, .75);
          }
        }
        .logotype:not(.block) {
          display: block;
          height: 2em;
          margin-left: 6em;
        }
        .caption {
          display: none;
        }
      }
      .actions.block {
        order: 3
      }
      .navigation.block {
        position: relative;
        background: none;
        color: #fff;
        order: 2;
        width: auto;
        box-shadow: none;
        .navigator.activator {
          display: none !important;
        }
        .navigation:not(.block) {
          font-size: .875em;
          min-height: 2.8125em;
          @media (max-width: 1366px) {
            font-size: .8125em;
          }
          .item {
            padding-top: .75em;
            padding-bottom: .25em;
            &.active,
            &:active {
              border-bottom-color: #fff;
            }
            &:hover,
            &:focus {
              color: rgba(#fff, .9);
              border-bottom-color: rgba(#fff, .5);
            }

          }
        }
      }
    }
    &.mobile {
      .header.container {
        justify-content: space-between;
        flex-flow: row nowrap;
        .navigator.activator {
          height: 3em;
        }
        .logotype.block {
          align-items: flex-start;
          justify-content: center;
          max-width: 75vw;
          padding-top: .25em;
          padding-bottom: .25em;
          .logotype:not(.block) {
            margin-left: 0;
            width: 5em;
            height: 1.5em;
          }
          .caption {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            font-size: .75em;
            margin-top: 0;
            margin-left: 0;
            max-width: 100%;
          }
        }
        .navigation.block {
          .navigation {
            .item {
              &.action {
                font-size: 1.2em;
              }
              &.location {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.without.navigation {
    & > .header.container {
      .navigation.block {
        opacity: 0;
        height: 0;
      }
    }
  }

  &.theme {
    &.purpur {
      $theme-primary-color: rgb(116, 18, 48);
      $theme-text-color: #fff;
      .header.container {
        background: $theme-primary-color;
        navigation:not(.block) {
          .item {
            &.active,
            &:active {
              border-bottom-color: $theme-primary-color;
            }
            &:hover,
            &:focus {
              color: $theme-primary-color;
              border-bottom-color: rgba($theme-primary-color, .5);
            }
          }
        }
      }

    }
    &.transparent {
      $theme-primary-color: transparent;
      $theme-text-color: #fff;
      background: $theme-primary-color;
      .header.container {
        background: transparent;
        .navigation.block {
          background: transparent;
        }
      }
    }
  }
}
