.history {
  display: block;
  width: 100%;
  text-align: left;

  &-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    color: $placeholder;
    font-size: 0.9375rem;
    font-weight: $reg;
    line-height: 1.2;
    padding-bottom: 0.75rem;
    &:nth-child(2) {
      color: $black;
    }
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.6875rem;
    }
  }
  &-col-left {
    flex: 1 1 20%;
    @media only screen and (min-width: $mobile-widget) {
      flex: 1 1 15%;
    }
  }
  &-col-right {
    flex: 1 1 100%;
    padding-left: 1rem;
  }
  &-title {
    font-size: 1rem;
    color: $black;
    font-weight: $med;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
  .link {
    display: inline-block;
    font: inherit;
  }
  .text-black {
    padding-top: 0.75rem;
  }
}