.info-text {
  border-left: 2px solid $lightBlue;
  background: $sideMenuHover;
  width: auto;
  margin: 0 16px 16px;
  padding: 16px;
  color: $text;
  font-size: 15px;
  line-height: 1.3;
  font-weight: $reg;
  @media only screen and (min-width: $phone6p) {
    font-size: 17px;
  }
}