.kit.locations {
  font-size: 1rem;
  &.mobile {
    margin: 0 -1.5em;
    overflow: auto;
    .search {
      padding: 0 1em;
    }
    .enumeration,
    .accordion {
      display: flex;
      flex-flow: column nowrap;
      .list {
        .checkbox {
          &:after {
            display: none !important;
          }
        }
      }
      .item {
        padding: 1em 3em;
        color: $black;
        position: relative;
        width: 100%;
        display: block;
        &:after {
          display: block;
          position: absolute;
          content: '';
          height: 1px;
          left: 3em;
          right: 3em;
          bottom: 0;
          background: $gray-500;
        }
        &:hover {
          background: $gray-400;
          text-decoration: none;
          &:after {
            opacity: 0 !important;
          }
        }

      }
    }
    .country {
      font-weight: 500;
      .flag {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: $gray-500;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-right: .5em;
        vertical-align: text-top;
      }
    }
    .region {
      font-weight: 500;
      padding: .5em 3em .5em 4.5em !important;
      &:after {
        display: none !important;
      }
    }
    .city {
      font-weight: 400;
      padding: .5em 3em .5em 4.5em !important;
      &:after {
        display: none !important;
      }
    }
    .checkbox {
      padding: 1em 2.5em 0.5em !important;
    }
    .mutted {
      color: $gray-700;
      font-weight: 400;
    }
  }
}
