@import "../fonts/modal";

.kit.modal {
  font-size: 1rem;
  width: 100%;
  max-width: 30em;
  min-height: 260px;
  background: none;
  position: relative;
  @media (max-width: 415px) {
    padding: .5em;
  }

  & > .container {
    display: flex;
    flex-flow: column nowrap;
    min-width: 280px;
    background: #fff;
    @media (max-width: 415px) {
      min-height: 50vh;
    }
    & > .header {
      position: relative;
      padding: 1.5em 4.5em .75em 1.5em;
      margin-bottom: -1.75em;
      .title {
        font-weight: 700;
        font-size: 1.1em;
      }
      .close{
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        cursor: pointer;
        font-family: 'modal', sans-serif;
        font-size: .75em;
        width: 3em;
        height: 3em;
        text-align: center;
        outline: none;
        border: 1px #C5D1D9 solid;
        border-radius: 50%;
        background: none;
        transition: box-shadow .5s ease;
        &:hover{
          box-shadow: 0 0 0 .125em #C5D1D9, 0 0 0 .125em #C5D1D9 inset;
        }
      }
    }
    & > .body {
      padding: 3.5em 1.5em 1.5em;
    }
    & > .footer {
      padding: .75em 1.5em 2.5em;
      margin-top: -.75em;
    }
  }
  &.dark {
    & > .container {
      background: #222;
      color: #fff;
    }
  }
  &.fullscreen {
    min-width: 100vw;
    margin: 0 !important;
    & > .container {
      min-height: 100vh;
    }
  }
  &.alert {
    & > .container {
      & > .body {
        text-align: center;
      }
      & > .footer {
        text-align: center;
      }
    }
  }
  &.map {
    & > .container {
      min-height: 100vh;
      & > .body {
        flex: 1 1 auto;
        padding: 0 !important;
        ymaps,
        iframe {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
  &.with {
    &.text.center {
      text-align: center;
    }
    &.darken.header {
      & > .container > .header {
        background: rgba(0, 0, 0, .025);
        border-bottom: 1px solid rgba(0, 0, 0, .11);
        padding-bottom: 1.5em;
      }
    }
  }
  &.size {
    &.mini {
      width: 100%;
      max-width: 20em;
    }
    &.default {
      width: 100%;
      max-width: 30em;
    }
  }
}

