.kit.preloader {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  @include inline-svg-icon('preloader-standart', $yellow, center, 2.2rem);
  background-color: rgba(255, 255, 255, .5);
  transition: all .5s ease;
  &.dark {
    background-color: rgba(0, 0, 0, .5);
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

body > .kit.preloader {
  position: fixed !important;
}