.kit.registration {
  &.heading:not(.block){
    padding: 1.5rem 1.25rem 1.5rem 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #272727;
  }
  &.type.selector:not(.block) {
    font-size: 1rem;
    display: flex;
    flex-flow: column nowrap;
    border-top: 1px solid #dbe4e9;
    border-bottom: 1px solid #dbe4e9;
    color: #8798a4;
    .item{
      width: 100%;
      border-bottom: 1px solid #dbe4e9;
      padding: 1.5em 1.25em 1.5em 2.5em;
      color: #8798a4;
      position: relative;
      &:after{
        display: block;
        position: absolute;
        content: '';
        height: 1.125em;
        width: 1.125em;
        top: 1.75em - .0625em;
        left: 1em - .0625em;
        border-radius: 50%;
        border: 1px solid #c8d3db;
        z-index: 1;
      }
      &:before{
        display: block;
        position: absolute;
        content: '';
        height: 1em;
        width: 1em;
        top: 1.75em;
        left: 1em;
        border-radius: 50%;
        border: .3em solid #fff;
        background: #fff;
        z-index: 2;
        transition: all .5s ease;
      }
      &:hover{
        color: currentColor;
        &:before{
          background: #c8d3db;
          border-width: .125rem;
        }
      }
      &:last-child{
        border-bottom: none;
      }
      .title{
        color: #5b5b5b;
        display: inline-block;
        font-size: 1em;
        margin: 0;
        vertical-align: middle;
      }
      .list{
        margin-left: 0;
        padding-left: 0;
        list-style-position: outside;
      }
    }
  }
}