.reviews {
  border-bottom: 1px solid $devider;
  padding-top: 16px;
  &:last-child {
    border-bottom: none;
    padding-bottom: 8px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .user {
      align-items: flex-start;
    }
    .ui-tooltip {
      flex: 0 0 1.5rem;
    }
  }
  &__mid {
    position: relative;
    margin-top: 8px;
    font-size: 15px;
    line-height: 1.3;
    font-weight: $reg;
    color: $text;
    @media only screen and (min-width: $phone6p) {
      font-size: 17px;
    }
    &_short {
      overflow: hidden;
      height: 96px;
      @media only screen and (min-width: $phone6p) {
        height: 110px;
      }
      .reviews__full {
        display: inline-block;
      }
    }
  }
  &__full {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background: $white;
    padding-left: 2px;
    &-text {
      color: $link;
    }
  }
  &__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 16px;
    &-btns {
      display: flex;
      align-items: center;
    }
  }
  &__status {
    font-size: 12px;
    padding-left: 1.15rem;
    cursor: pointer;
    white-space: nowrap;
    @media only screen and (min-width: $phone6) {
      font-size: 13px;
    }
    &.new {
      @include inline-svg-icon('rev-status-new', $red, left 2px, 10px 10px);
      color: $red;
    }
    &.moderation {
      @include inline-svg-icon('date', $lightBlue, left center, 12px 12px);
      color: $lightBlue;
    }
    &.error {
      @include inline-svg-icon('rev-status-err', $red, left center, 13px 14px);
      color: $red;
    }
  }
  &__date {
    cursor: default;
    display: flex;
    align-items: center;
    float: left;
    color: $placeholder;
    position: relative;
    font-size: 13px;
    line-height: 1;
    font-weight: $reg;
    &-svg {
      width: 13px;
      height: 13px;
      margin-right: 6px;
      @include inline-svg-icon('date', $placeholder, center, auto);
    }
  }
  &__reply {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5rem;
    transition: all .1s;
    vertical-align: middle;
    white-space: nowrap;
    &-num {
      color: $text;
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      line-height: 1.3;
      font-weight: $reg;
      padding: 0 1px;
      &_right {
        font-size: 13px;
        vertical-align: text-top;
      }
    }
    &-svg {
      display: inline-block;
      height: 1.125rem; //18px
      width: 1rem;
      vertical-align: middle;
      @include inline-svg-icon('chateeq', #000, center, auto, no-repeat, transparent, $placeholder);
    }
    &_header {
      color: $placeholder;
      margin-top: 40px;
      margin-left: 1px;
    }
    &.active,
    &:hover {
      .reviews__reply-svg {
        @include inline-svg-icon('chateeq', #000, center, auto, no-repeat, $lightBlue, $lightBlue);
      }
    }
    &.zero {
      .reviews__reply-num {
        color: $turq;
      }
      .reviews__reply-svg {
        @include inline-svg-icon('chateeq', #000, center, auto, no-repeat, transparent, $turq);
      }
    }
  }
  &__like {
    margin-left: 0.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
    display: inline-block;
    transition: all .1s;
    vertical-align: middle;
    white-space: nowrap;
    &-num {
      display: inline-block;
      vertical-align: middle;
      color: $text;
      font-size: 13px;
      line-height: 1.3;
      font-weight: $reg;
      padding: 0 1px;
    }
    &-svg {
      display: inline-block;
      height: 22px;
      width: 14px;
      vertical-align: top;
      @include inline-svg-icon('like', #000, center, auto, no-repeat, transparent, $placeholder);
    }
    &.active,
    &:hover {
      .reviews__like-svg {
        @include inline-svg-icon('like', #000, center, auto, no-repeat, $lightBlue, $lightBlue);
      }
    }
    &.zero {
      .reviews__like-num {
        color: $turq;
      }
      .reviews__like-svg {
        @include inline-svg-icon('like', #000, center, auto, no-repeat, transparent, $turq);
      }
    }
  }
  &__add {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    &-btn {
      @extend .text-16-18-20;
    }
  }
  &__title {
    @extend .text-16-18-20;
    font-weight: $med;
    color: $title;
    &.color-red {
      color: $red;
    }
  }

  &.review-cabinet {
    padding: 1.5rem 0.5rem 0.5rem;
    .reviews__mid,
    .user__name {
      @extend .text-15-16-18;
    }

  }
  &__prev-color {
    display: block;
    padding: 0.5rem;
    margin: 0.5rem -0.5rem 0;
    background-color: $white;
    text-decoration: none !important;
  }

  &.review-read {
    .reviews__mid {
      color: $text;
    }
    .user {
      &__name {
        font-weight: $reg;
        color: $text;
      }
    }
  }

  &.review-new {
    .reviews__prev-color {
      background-color: $sidebar-linl-hover-bg;
    }
    .reviews__mid {
      color: $title;
    }
    .user {
      &__name {
        font-weight: $med;
        color: $title;
      }
    }
  }
}

.reviews-all {
  .reviews.review-cabinet {
    border-bottom: 1px solid $turq;
    &:last-child {
      border-bottom: none;
    }
  }
}
.reviews-one {
  .reviews.review-cabinet {
    border-bottom: none;
  }
}

.text-16-18-20 {
  font-size: 1rem;
  @media only screen and (min-width: $phone6) {
    font-size: 1.125rem; //18px
  }
  @media only screen and (min-width: $phone6p) {
    font-size: 1.25rem; //20px
  }
}

.text-15-16-18 {
  font-size: 0.9375rem;
  @media only screen and (min-width: $phone6) {
    font-size: 1rem; //16px
  }
  @media only screen and (min-width: $phone6p) {
    font-size: 1.125rem; //18px
  }
}