.prod-rating {
  width: 37px;
  height: 24px;
  white-space: nowrap;
  padding: 4px 2px 4px 7px;
  font-size: 13px;
  line-height: 19px;
  font-weight: $bol;
  color: $black;
  @include inline-svg-icon('rating', transparent, center, cover);
  &__quest-block {
    position: absolute;
    z-index: 20;
    left: -6px;
    bottom: 5px;
  }
}

.rating {
  display: block;
  width: 90px;
  height: 14px;
  position: relative;
  @include inline-svg-icon('star', $border-gray, center left, auto, repeat-x);
  &__stars {
    position: absolute;
    height: 14px;
    vertical-align: top;
    width: 50%;
    @include inline-svg-icon('star', $yellow, center left, auto 100%, repeat-x);
  }
  &__gradations {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    & > * {
      flex: 1 1 auto;
    }
  }
  &[data-rating="0"] {
    .rating__stars {
      width: 0;
    }
  }
  &[data-rating="1"] {
    .rating__stars {
      width: 10%;
    }
  }
  &[data-rating="2"] {
    .rating__stars {
      width: 20%;
    }
  }
  &[data-rating="3"] {
    .rating__stars {
      width: 30%;
    }
  }
  &[data-rating="4"] {
    .rating__stars {
      width: 40%;
    }
  }
  &[data-rating="5"] {
    .rating__stars {
      width: 50%;
    }
  }
  &[data-rating="6"] {
    .rating__stars {
      width: 60%;
    }
  }
  &[data-rating="7"] {
    .rating__stars {
      width: 70%;
    }
  }
  &[data-rating="8"] {
    .rating__stars {
      width: 80%;
    }
  }
  &[data-rating="9"] {
    .rating__stars {
      width: 90%;
    }
  }
  &[data-rating="10"] {
    .rating__stars {
      width: 100%;
    }
  }
}

.rating-set {
  display: block;
  &__background {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 13rem;
    height: 2rem;
    @include inline-svg-icon('star', $turq, center left, auto, repeat-x);
  }

  &__bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2rem;
    @include inline-svg-icon('star', $yellow, center left, auto, repeat-x);
  }
}