@import "../fonts/tab";

.kit.tab{
  &.underline.style{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .item {
      display: block;
      width: 50%;
      max-width: 9rem;
      font-size: 1.375rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: #383838;
      text-align: center;
      padding: 0.75rem;
      .icon:not(.block) {
        font-family: 'tab', serif;
        font-weight: 400;
        display: inline-block;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        color: #345a81;
      }
      &.active {
        color: $title;
        border-bottom: 2px solid $blue;
      }
      &.disabled{
        color: #C5D1D9;
      }
    }
  }
}
