.user {
  display: flex;
  align-items: center;
  position: relative;
  &__img {
    display: inline-flex;
    background-color: $sideMenuHover;
    height: 3.5rem; //56px;
    width: 3.5rem; //56px;
    border: 1px solid $white;
    border-radius: 50%;
    background-repeat: no-repeat;
    &.bar-img {
      height: 2rem; //56px;
      width: 2rem; //56px;
    }
    &.seller-img {
      height: 2.625rem; //42px
      width: 2.625rem; //42px
    }
    &.cabinet-img {
      height: 2.5rem; //40px
      width: 2.5rem; //40px
    }
    &-wrap {
      margin-right: 16px;
    }
  }
  &.user-entity {
    .user__img {
      @include inline-svg-icon('profile-entity', $turq, center, 1rem 1.18rem);
    }
  }
  &.user-individual {
    .user__img {
      @include inline-svg-icon('profile-individual', $turq, center, 1rem 2rem);
    }
  }
  &__name {
    font-weight: $med;
    font-size: 15px;
    line-height: 1.3;
    color: $title;
    @media only screen and (min-width: $phone6p) {
      font-size: 17px;
    }
  }
  &__date,
  &__address {
    font-weight: $reg;
    font-size: 13px;
    line-height: 1.3;
    padding-top: 0.5rem;
    color: $placeholder;
    @media only screen and (min-width: $phone6p) {
      font-size: 15px;
    }
  }
  &__address {
    @media only screen and (min-width: $phone6) {
      font-size: 15px;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 17px;
    }
  }
  &-online, &-offline {
    .user__img-wrap {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        border: 1px solid $white;
        border-radius: 50%;
      }
      &.wrap-gray {
        .user__img {
          border: 1px solid $sideMenuSVG;
        }
        &:before {
          border-color: $sideMenuSVG;
        }
      }
    }
  }
  &-online .user__img-wrap:before {
    background-color: $priceGreen;
    bottom: 4px;
    left: 4px;
  }
  &-offline .user__img-wrap:before {
    background-color: $red;
    top: 4px;
    right: 4px;
  }
  &-online .user__img-wrap.mini:before {
    background-color: $priceGreen;
    bottom: 0;
    left: 0;
  }
  &-offline .user__img-wrap.mini:before {
    background-color: $red;
    top: 0;
    right: 0;
  }

}