.vin-preview {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-right: 0;
  padding-top: 2rem;
  margin-top: -1.5rem;
  width: 100%;
  height: 12rem;
  overflow: hidden;
  text-align: right;
  @media only screen and (min-width: $mobile-widget) {
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    margin-top: 0;
    width: 17rem;
  }
  img {
    display: block;
    width: 100%;
  }
  .vin-preview__btn-close {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 1rem;
    @media only screen and (min-width: $mobile-widget) {
      right: 0;
    }
  }
}