<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1, user-scalable=yes, shrink-to-fit=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/desktop.css">
    {% endblock %}
</head>
<body class="body {{ bodyModifier | default('') }}">
<div class="kit layout desktop {{ layoutModifier | default('') }}">

            {% block content %}
            {% endblock content %}

</div>

{% block javascripts %}
    <script src="/js/desktop.js"></script>
{% endblock %}
{% block production %}
{% endblock %}
</body>
</html>