{% extends '_layout-modal-body.twig' %}
{% set bodyModifier = 'layout-desktop' %}
{% set layoutModifier = 'full screen' %}

{% block content %}
    <div style="width: 814px; margin: 3rem auto;">
        <div class="kit modal desktop big">
            <div class="header">
                <div class="title">Выберите марку</div>
            </div>
            <div class="body"></div>
            <div class="footer"></div>
        </div>

    </div>
{% endblock %}