{% set i = 1 %}
{% for item in items %}
    <div class="accord__panel">
        <div class="accord__header collapsed" data-toggle="collapse" data-parent="#car-list-accord"
             href="#car-list-accord-{{ i }}">
            <div class="car-info accord__car-info">
                <div class="car-info__img">
                    <img src=" " alt="">
                </div>
                <div class="car-info__title">
                    <div class="car-info__subtitle accord--text-color">
                        <span class="text-medium">{{ item.mark }}</span>
                        <span>{{ item.model }}</span>
                        <span class="nowrap">{{ item.modelYear }}</span>
                    </div>
                    <div class="car-info__subtitle car-info--vin accord--text-white">
                        {{ item.vin }}
                    </div>
                </div>
                <div class="car-info__count accord--text-color">
                    {{ item.countAll }} <span>( {{item.countNew }})</span>
                </div>
            </div>
            <div class="accord__action">
                <div class="accord__open"></div>
                <div class="accord__hint dropdown-toggle dropdown-toggle-request" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                </div>
                <div class="dropdown-menu dropdown-menu-hint dropdown-menu-right">
                    <a class="dropdown-item" href="#">Создать новый запрос</a>
                    <a class="dropdown-item" href="#">Удалить ТС</a>
                    <a class="dropdown-item" href="#">Удалить завершенные запросы</a>
                </div>
            </div>
        </div>
        <div id="car-list-accord-{{ i }}" class="accord__body car-list-accord__accord-body collapse">
            <div class="w-table part-info">
                <table class="desktop-show">
                    <colgroup>
                        <col style="width: 13%">
                        <col style="width: auto">
                        <col style="width: 25%">
                        <col style="width: 25%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <div class="filter-thead up">Дата</div>
                        </th>
                        <th>
                            <div class="filter-thead down">Название</div>
                        </th>
                        <th>
                            <div class="filter-thead">Цена</div>
                        </th>
                        <th>
                            <div class="filter-thead none">Статус</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="new-request">
                        <td>
                            <div class="date">{{ item.request1.date }}</div>
                            <div class="date">{{ item.request1.time }}</div>
                        </td>
                        <td>
                            <div class="name">
                                {{ item.request1.name }}
                                <div class="amount">{{ item.request1.type }} {{ item.request1.amount }} шт.</div>
                            </div>
                        </td>
                        <td>
                            <div class="price">{{ item.request1.price }}</div>
                            <a href="#" class="link w-table__cond"
                               data-toggle="tooltip"                                   data-container=".w-body"
                               data-placement="left"
                               data-html="true"
                               data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                               title="{{ item.request1.hintText }}">
                                Условия доставки</a>
                        </td>
                        <td>
                            <div class="status">
                                <div class="btn-group btn-group-action">
                                    <button class="btn btn-circle btn-toggle btn-table btn-brand_blue-outline"
                                            type="button">
                                        Завершено
                                    </button>
                                    <button type="button"
                                            class="btn btn-circle btn-table btn-brand_blue-outline dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-hint dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Повторить</a>
                                        <a class="dropdown-item" href="#">Удалить111111</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="date">{{ item.request2.date }}</div>
                            <div class="date">{{ item.request2.time }}</div>
                        </td>
                        <td>
                            <div class="name">
                                {{ item.request2.name }}
                                <div class="amount">{{ item.request2.type }} {{ item.request2.amount }} шт.</div>
                            </div>
                        </td>
                        <td>
                            <div class="price">{{ item.request2.price }}</div>
                            <a href="#" class="link w-table__cond"
                               data-toggle="tooltip"                                   data-container=".w-body"
                               data-placement="left"
                               data-html="true"
                               data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                               title="{{ item.request2.hintText }}">
                                Условия доставки</a>
                        </td>
                        <td>
                            <div class="status">
                                <div class="btn-group btn-group-action">
                                    <button class="btn btn-circle btn-toggle btn-table btn-brand_blue-outline"
                                            type="button">
                                        Завершено
                                    </button>
                                    <button type="button"
                                            class="btn btn-circle btn-table btn-brand_blue-outline dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-hint dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Повторить</a>
                                        <a class="dropdown-item" href="#">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="mobile-show">
                    <a href="#modalFilters" data-fancybox=""
                       class="btn btn-brand btn-brand_light w-table__call-filter" type="button">
                        Сортировка
                    </a>
                    <div class="w-table__m-block new-request">
                        <div class="date">{{ item.request1.date }} {{ item.request1.time }}</div>
                        <div class="amount">{{ item.request1.type }} {{ item.request1.amount }} шт.</div>
                        <div class="name">
                            {{ item.request1.name }}
                        </div>
                        <div class="price">
                            {{ item.request1.price }}
                            <a href="#" class="link w-table__cond"
                               data-toggle="tooltip"
                               data-container=".w-body"
                               data-placement="bottom"
                               data-html="true"
                               data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                               title="{{ item.request1.hintText }}">
                                Условия доставки</a>
                        </div>
                        <div class="status">
                            <div class="btn-group btn-group-action">
                                <button class="btn btn-circle btn-toggle btn-table btn-brand_blue-outline"
                                        type="button">
                                    Завершено
                                </button>
                                <button type="button"
                                        class="btn btn-circle btn-table btn-brand_blue-outline dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-hint dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Повторить</a>
                                    <a class="dropdown-item" href="#">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-table__m-block">
                        <div class="date">{{ item.request2.date }} {{ item.request2.time }}</div>
                        <div class="amount">{{ item.request2.type }}  {{ item.request2.amount }} шт.</div>
                        <div class="name">
                            {{ item.request2.name }}
                        </div>
                        <div class="price">
                            {{ item.request2.price }}
                            <a href="#" class="link w-table__cond"
                               data-toggle="tooltip"
                               data-container=".w-body"
                               data-placement="bottom"
                               data-html="true"
                               data-template='<div class="tooltip gisauto-tooltip-dark" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
                               title="{{ item.request2.hintText }}">
                                Условия доставки</a>
                        </div>
                        <div class="status">
                            <div class="btn-group btn-group-action">
                                <button class="btn btn-circle btn-toggle btn-table btn-brand_blue-outline"
                                        type="button">
                                    Завершено
                                </button>
                                <button type="button"
                                        class="btn btn-circle btn-table btn-brand_blue-outline dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-hint dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Повторить</a>
                                    <a class="dropdown-item" href="#">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-brand btn-brand_light w-table__btn-more" type="button">
                    Показать ещё 21 запрос
                </button>

            </div>
        </div>
    </div>
    {% set i = i + 1 %}
{% endfor %}