{% for item in items %}
    <div class="car-info {{ className }}__car-info">
        <div class="car-info__img">
            <img src=" " alt="">
        </div>
        <div class="car-info__title">
            <div class="car-info__subtitle">
                <span class="text-medium">{{ item.mark }}</span>
                <span>{{ item.model }}</span>
                <span class="nowrap">{{ item.modelYear }}</span>
            </div>
            <div class="car-info__subtitle car-info--vin">
                {{ item.vin }}
            </div>
        </div>
        <div class="car-info__count {{ className }}__count">
            {{ item.countAll }} <span>({{ item.countNew }})</span>
        </div>
    </div>
{% endfor %}