{% for item in items %}
    <div class="part-info {{ className }}__part-info">
        <div class="date">
            {{ item.date }}
            <span>{{ item.time }}</span>
        </div>
        <div class="name">{{ item.name }}</div>
        <div class="price text-medium">{{ item.price }}</div>
    </div>
{% endfor %}