<template>
    <div class="kit search mobile parts sticky top">
        <div class="form-controls">
            <input
                   type="text"
                   class="form-control form-control-erase form-control-circle form-control-search"
                   id="searchQuery"
                   placeholder="Номер или название запчасти">
        </div>
    </div>
</template>
<script>
  export default {
    watch: {
    },
    updated: function() {

    },
    props: {
      api: {
        default: '//search.gisauto.ru/api/search',
        type: String
      }
    },
    data: function() {

    },
    methods: {

    }
  }
</script>