<template>
    <div class="ui container">
        <div v-if="!hide" class="vin-steps steps">
            <ul class="steps__list">
                <li v-for="n in 3" :class="['steps__item', {'active': step === n}]">
                    <a class="steps__link">{{ n }}</a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
  export default {
    name: 'request-vin-steps',
    props: {
      hide: {
        type: Boolean,
        default: false,
      },
      step: {
        type: Number,
        default: 1,
        validator: function(value) {
          return value < 4 && value > 0;
        }
      },
    },
  };
</script>