<template>
    <div class="kit search mobile parts">
        <div class="ui icon input elliptical">
            <input v-model="searchQuery"
                   type="text"
                   id="searchQuery"
                   :placeholder="vendorCode">
            <i class="search icon"></i>
        </div>
        <div class="search results" v-if="searchQuery">
            <p v-if="!items" class="search info text-15-17-18">
                Нет предложений от продавцов по запросу "{{ searchQuery }}".
            </p>
            <p v-if="!items" class="search info text-15-17-18">
                Вы можете отправить <a :href="path('mobile_request_to_spare')" class="aqualink">запрос
                на&nbsp;запчасть</a>.
            </p>
            <div v-if="items" class="search sub-title">Уточните производителя</div>
            <a v-if="items" v-for="part in items"
               :href="path('search_by_number', {manufacturer: part.manufacturer.brand, vendorCode: part.vendor_code})"
               class="search result item">
                <div class="search result wrap">
                    <div class="brandStub brandStub_2"
                         @class.prevent="`brandStub_` + Math.ceil(Math.random()*4)">
                        {{ letter( part.manufacturer.brand ) }}
                    </div>
                    <img :src="`/bundles/gisautowebmobile/images/catalog/items_manufacturers/`+ part.manufacturer.id +`.png`"
                         class="search result img">
                </div>
                <div class="search result description">
                    <div class="search result manufacturer">{{ part.manufacturer.brand }}</div>
                    <div class="search result param">
                        <div class="search result name text-wrap">{{ part.name }}</div>
                        <div class="search result vendor-code">{{ part.vendor_code }}</div>
                    </div>
                </div>
            </a>
        </div>
        <div v-if="false" class="searches__block">
            <div class="quest-block quest-block-top">
                <div class="quest-block__desc">
                    <a href="#">
                        <span class="quest-block__name">{{ selectedPart.name }}</span>
                        <span class="quest-block__model">,
                        {{ selectedPart.manufacturer.brand }},
                        {{ selectedPart.vendor_code }}
                </span>
                    </a>
                </div>
                <div class="quest-block__act" style="display: none;">
                    <div class="prod-rating">4,9</div>
                    <div class="comment-count seller__comment-count">
                        <span class="comment-count__underline">15</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  export default {
    name: 'search',
    watch: {
      searchQuery(newValue, oldValue) {
        if (newValue !== oldValue) {
          this.search(newValue, oldValue);
        }
      },
    },
    mounted: function() {
    },
    updated: function() {
      this.reInit();
    },
    props: {
      api: {
        default: '//search.gisauto.ru/api/search',
        type: String,
      },
      vendorCode: {
        default: '',
        type: String,
      },
    },
    data: function() {
      return {
        searchQuery: '',
        items: JSON.parse(localStorage.getItem('latestSearches')) || [],
        cache: [],
        selectedPart: null,
      };
    },
    methods: {
      /**
       * Поиск запчайтей по тексту из поисковой строки
       * @param newQuery
       * @param oldQuery
       */
      search(newQuery, oldQuery) {
        if (newQuery === oldQuery) {
          return false;
        }
        if (newQuery.length === 0) {
          this.items = [];
          this.$root.$emit('search', false);
          return false;
        }
        this.$root.$emit('search', true);
        if (this.cache && this.cache.hasOwnProperty(newQuery)) {
          this.items = this.cache[newQuery];
        } else {
          if (this.hasOwnProperty('xhr')) this.xhr.abort();
          this.xhr = $.getJSON(this.api, {q: newQuery}, function(response) {
            this.cache[newQuery] = response.items;
            this.items = response.items;
          }.bind(this));
        }
      },
      /**
       * Возвращает первую букву слова
       * в верхнем регистре
       * @param word
       */
      letter: function(word) {
        return word.toUpperCase()[0];
      },
      /**
       * Эмуляция функции path()
       * @param name
       * @param attr
       * @return string
       */
      path(name, attr = {}) {
        if (typeof Routing !== 'undefined') {
          return Routing.generate(name, attr);
        }
        return '#';
      },
      /**
       * Функция предназначена для склонения слов
       * используемых вместе с числительными.
       * @param number
       * @param words
       * @return string
       */
      transChoose: function(number, words) {
        return window.transChoose(number, words);
      },
      /**
       * ReInit modules
       */
      reInit() {
        $(document).trigger('init.inputs').trigger('init.lazy');
      },
    },
  };
</script>