.kit.modal.desktop {
  &.big {
    display: block;
    width: 51rem;
  }
  > .header {
    padding: 22px 60px 22px 32px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ededed;
    > .title {
      font-size: 1.125rem;
      line-height: 1.2;
      font-weight: 500;
      color: $title;
    }
  }
}