<div class="kit breadcrumb">
    <a class="section">Главная</a>
    <i class="divider"></i>
    <a class="section">Автосервисы</a>
    <i class="divider"></i>
    <div class="active section">Автосервис 1</div>
</div>