<div class="kit search index">
    <div class="input block">
        <input type="text" class="input" placeholder="Введите номер или наименование запчасти">
        <a class="button">Найти</a>
    </div>
    <div class="results block">
        <div class="results">
            <div class="caption">Уточните производителя</div>
            <div class="list">
                {% for i in 1..10 %}
                    <a href="#" class="result">
                        <figure class="attribute logotype">
                            <div class="logotype image"></div>
                            <figcaption>M</figcaption>
                        </figure>
                        <div class="attribute brand">MAN</div>
                        <div class="attribute number">92309823048208</div>
                        <div class="attribute name">Comp GG</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>