<div class="kit desktop header theme ">
    <div class="header container">
        <div class="logotype block">
            <a href="#" class="sidebar activator">☰</a>
            <i class="icon">ꨅ</i>
            <a href="#" class="logotype"></a>
            <div class="caption">
                Найдётся всё<br> для вашего авто
            </div>
        </div>
        <div class="actions block">
            <nav class="actions">
                <a href="#" class="action triangle">
                    <span class="kit flag flag-cz"></span>
                    <span class="text">Все страны</span>
                </a>
                <a href="#" class="action secondary">+ Добавить прайс</a>
                <a href="#" class="action cart"><i class="icon">ꨁ</i></a>
                <a href="#" class="action">
                    <i class="icon">ꨂ</i>
                    <span class="text">Войти</span>
                </a>
            </nav>
        </div>
        <div class="navigation block">
            <a href="#" class="sidebar activator">☰</a>
            <nav class="navigation">
                <a href="#" class="item">Поиск по номеру</a>
                <a href="#" class="item active">Каталоги запчастей</a>
                <a href="#" class="item">Запрос по VIN</a>
                <a href="#" class="item new">Шины/Диски</a>
                <a href="#" class="item">Контрактные</a>
            </nav>
        </div>
    </div>
</div>

