<div class="kit footer index">
    <nav class="navigation">
        <a href="#" class="item link">Контакты</a>
        <a href="#" class="item link">О проекте</a>
        <a href="#" class="item link">Топ 100 популярных запчастей</a>
        <a href="#" class="item link">Топ 100 запчастей в наличии</a>
        <span class="item text">© GISAUTO.RU</span>
    </nav>
</div>