<div class="kit tile section">
    <div class="row">
        <!-- Плитка -->
        <div class="column">
            <a href="#" class="item">
                <div class="block title">
                    <h2 class="title">
                        Поиск по номеру<br>
                        или наименованию
                    </h2>
                </div>
                <figure class="block icon">
                    <i class="icon"></i>
                    <figcaption class="caption">
                        <div class="column">
                            <span class="number">4000</span>
                            <span class="text">Продавцов</span>
                        </div>
                        <div class="column">
                            <span class="number">61.7 млн</span>
                            <span class="text">Продавцов</span>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
        <!-- Плитка -->
        <div class="column">
            <a href="#" class="item">
                <div class="block title">
                    <h2 class="title">
                        Каталоги<br>
                        запчастей
                    </h2>
                </div>
                <figure class="block icon">
                    <i class="icon"></i>
                    <figcaption class="caption">
                        <div class="column">
                            <span class="text">Оригинальные<br>и дубликаты</span>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
        <!-- Плитка -->
        <div class="column">
            <a href="#" class="item">
                <div class="block title">
                    <h2 class="title">
                        Запро по VIN
                    </h2>
                </div>
                <figure class="block icon">
                    <i class="icon"></i>
                    <figcaption class="caption">
                        <div class="column">
                            <span class="number">3 001</span>
                            <span class="text">Продавцов</span>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
        <!-- Плитка -->
        <div class="column">
            <a href="#" class="item">
                <div class="block title">
                    <h2 class="title new">
                        Шины/Диски
                    </h2>
                </div>
                <figure class="block icon">
                    <i class="icon"></i>
                    <figcaption class="caption">
                        <div class="column">
                            <span class="number">29</span>
                            <span class="text">Продавцов</span>
                        </div>
                        <div class="column">
                            <span class="number">8 403</span>
                            <span class="text">шин/дисков</span>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
        <!-- Плитка -->
        <div class="column">
            <a href="#" class="item disable" data-tooltip="В разработке" data-inverted="" data-position="top center">
                <div class="block title">
                    <h2 class="title">
                        Контрактные запчасти
                    </h2>
                </div>
                <figure class="block icon">
                    <i class="icon"></i>
                    <figcaption class="caption">
                        <div class="column">
                            <span class="text">В разработке</span>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>