<div class="kit site header theme purpur {{ headerWithout | default('') }} navigation">
    <div class="header container">
        <div class="logotype block">
            <a href="#" class="navigator activator">☰</a>
            <i class="icon">ꨅ</i>
            <a href="#" class="logotype"></a>
            <div class="caption">
                Найдётся всё<br> для вашего авто
            </div>
        </div>
        <div class="actions block">
            <nav class="actions">
                <a href="#" class="action triangle">
                    <span class="kit flag flag-cz"></span>
                    <span class="text">Все страны</span>
                </a>
                <a href="#" class="action">
                    <i class="icon">ꨂ</i>
                    <span class="text">Войти</span>
                </a>
            </nav>
        </div>
        <div class="navigation block">
            <a href="#" class="navigator activator">☰</a>
            <nav class="navigation">
                <a href="#" class="item">Записаться на сервис</a>
                <a href="#" class="item">Запросить стоимость ремонта</a>
                <a href="#" class="item">Предварительная диагностика</a>
            </nav>
        </div>
    </div>
</div>

<p></p>
