{% extends 'imports/_main.twig' %}

{% block content %}
    <div class="kit chat-container fixed">
        <div class="kit btn-chat-open show">
            <div class="kit btn-chat hint-call">
                <span>23</span>
                <div class="kit hint-hover dark w-250 hint-btn-chat">
                    <div class="m-close"></div>
                    <div class="t-13-15 bold pb-8">Нет собеседников в чате</div>
                    <div class="t-13-15">Вы пока ещё не ведёте переписку с продавцом или покупателем.<br>
                        Для этого необходимо отправить запрос на запчасть или получить входящие запросы от покупателей
                    </div>
                </div>
            </div>
        </div>
        <div class="kit chat-body hide chat-resize">
            <div class="flex-row-reverse">
                <div class="kit chat-nav">
                    <div class="header desktop">
                        <div class="b-action">
                            <div class="b-left ">
                                <div class="btn-ico chat-search open-search-form s-all"></div>
                            </div>
                            <div class="b-right">
                                <div class="btn-ico resize max"></div>
                                <div class="btn-ico p-right close-chat"></div>
                            </div>
                        </div>
                        <div class="b-title">
                            <div class="t-13-15 dark medium pb-8">Участники</div>
                            <span class="b-info person dark">4</span>
                        </div>
                    </div>
                    <div class="header mobile">
                        <div class="flex-row">
                            <div class="btn-ico close-chat m-0"></div>
                            <form class="w-100">
                                <div class="chat-search">
                                    <div class="kit form-controls form-chat-search ">
                                        <input type="text" class="form-control form-control-circle" id="test33"
                                               placeholder="Поиск ">
                                        <div class="form-controls-container">
                                            <a href="#" data-input-control="erase" class="form-erase-control"></a>
                                            <a href="#" data-password-toggle="#test33" data-input-control
                                               class="form-password-control open"></a>
                                            <a href="#" data-password-toggle="#test33" data-input-control
                                               class="form-select-control"></a>
                                            <button type="submit"
                                                    data-input-control
                                                    data-toggle="tooltip"
                                                    data-html="true"
                                                    title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                                                    class="form-search-control"></button>
                                        </div>
                                        <div class="valid-feedback">
                                            <ul>
                                                <li>Please choose a username.</li>
                                                <li>Please choose a username.</li>
                                                <li>Допустимы латинские символы, верхнего и нижнего регистра</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="kit chat-scroll">
                        <nav class="authors-list">
                            <a href="#" class="authors-link">
                                <div class="kit author-talk">
                                    <div class="avatar">
                                        <div class="img">
                                            <div class="brand-stub s-1">E</div>
                                            <img src="" alt="">
                                        </div>
                                        <div class="count-new active">2</div>
                                        <div class="online"></div>
                                    </div>
                                    <div class="desc">
                                        <div class="name">EMEX</div>
                                        <div class="last-message new">
                                            <span class="message">Мы отправили вам запчасти по адресу адресу адресу адресу</span>
                                            <span class="ico-new"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="authors-link">
                                <div class="kit author-talk">
                                    <div class="avatar">
                                        <div class="img">
                                            <div class="brand-stub s-3">К</div>
                                            <img src="" alt="">
                                        </div>
                                        <div class="count-new">5</div>
                                        <div class="online active"></div>
                                    </div>
                                    <div class="desc">
                                        <div class="name">Константин</div>
                                        <div class="last-message new">
                                            <span class="message">Мы отправили вам запчасти по адресу адресу адресу адресу</span>
                                            <span class="ico-new"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="authors-link">
                                <div class="kit author-talk">
                                    <div class="avatar">
                                        <div class="img">
                                            <div class="brand-stub s-4">T</div>
                                            <img src="" alt="">
                                        </div>
                                        <div class="count-new active">5</div>
                                        <div class="online active"></div>
                                    </div>
                                    <div class="desc">
                                        <div class="name">Tony</div>
                                        <div class="last-message new">
                                            <span class="message">Мы отправили вам запчасти по адресу адресу адресу адресу</span>
                                            <span class="ico-new"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="authors-link">
                                <div class="kit author-talk">
                                    <div class="avatar">
                                        <div class="img">
                                            <div class="brand-stub s-5">К</div>
                                            <img src="" alt="">
                                        </div>
                                        <div class="count-new">5</div>
                                        <div class="online active"></div>
                                    </div>
                                    <div class="desc">
                                        <div class="name">Константин</div>
                                        <div class="last-message new">
                                            <span class="message">Мы отправили вам запчасти по адресу адресу адресу адресу</span>
                                            <span class="ico-new"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </nav>
                    </div>
                    <div class="footer mobile">
                        <div class="b-left"></div>
                        <div class="center">
                            <span class="b-info person active dark">4</span>
                        </div>
                        <div class="b-right"></div>
                    </div>
                </div>
                <div class="kit chat-dialog-wrap hide">
                    <div class="flex-column">
                        <div class="header show">
                            <div class="b-left">
                                <div class="btn-ico chat-search open-search-form desktop"></div>
                                <div class="btn-ico close-chat mobile close-chat-dialog-mobile"></div>
                            </div>
                            <div class="center">
                                <div class="t-13 dark medium pt-8">Константин</div>
                                <div class="t-11 user-active online pt-4">online</div>
                            </div>
                            <div class="b-right">
                                <div class="t-11-13 link close-chat-dialog desktop">Закрыть</div>
                                <div class="b-info person mobile close-chat-dialog-mobile">4
                                    <div class="count-new active">+10</div>
                                </div>
                            </div>
                        </div>
                        <div class="header chat-search hide">
                            <div class="text-right">
                                <div class="t-11-13 link close-chat-dialog">Закрыть</div>
                            </div>
                            <div class="chat-search">
                                <div class="kit form-controls form-chat-search ">
                                    <button class="kit btn-ico search-back close-search-form"></button>
                                    <input type="text" class="form-control form-control-circle" id="test33"
                                           placeholder="Поиск ">
                                    <div class="form-controls-container">
                                        <a href="#" data-input-control="erase" class="form-erase-control"></a>
                                        <a href="#" data-password-toggle="#test33" data-input-control
                                           class="form-password-control open"></a>
                                        <a href="#" data-password-toggle="#test33" data-input-control
                                           class="form-select-control"></a>
                                        <button type="submit"
                                                data-input-control
                                                data-toggle="tooltip"
                                                data-html="true"
                                                title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                                                class="form-search-control"></button>
                                    </div>
                                    <div class="valid-feedback">
                                        <ul>
                                            <li>Please choose a username.</li>
                                            <li>Please choose a username.</li>
                                            <li>Допустимы латинские символы, верхнего и нижнего регистра</li>
                                        </ul>
                                    </div>
                                    <div class="where-search">
                                        <div class="kit s-place local select">Поиск в «Константин если длинное длинное
                                            длинное имя»
                                        </div>
                                        <div class="kit s-place global">Искать во всех чатах</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kit search-result-body chat-scroll hide">
                            <div class="full-screen-wrapper">
                                <a href="#">
                                    <div class="kit search-result-message">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                            <div class="online active"></div>
                                        </div>
                                        <div class="desc">
                                            <div class="name">Константин Константин Константин</div>
                                            <div class="search-message">
                                                <span class="message">Мы отправили вам <span
                                                            class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                                            </div>
                                        </div>
                                        <div class="date">
                                            11.02.18
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="kit search-result-message">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                            <div class="online active"></div>
                                        </div>
                                        <div class="desc">
                                            <div class="name">Константин</div>
                                            <div class="search-message">
                                                <span class="message">Мы отправили вам <span
                                                            class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                                            </div>
                                        </div>
                                        <div class="date">
                                            11.02.18
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="kit search-result-message">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                            <div class="online active"></div>
                                        </div>
                                        <div class="desc">
                                            <div class="name">Константин</div>
                                            <div class="search-message">
                                                <span class="message">Мы отправили вам <span
                                                            class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                                            </div>
                                        </div>
                                        <div class="date">
                                            11.02.18
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="kit search-result-message">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                            <div class="online active"></div>
                                        </div>
                                        <div class="desc">
                                            <div class="name">Константин</div>
                                            <div class="search-message">
                                                <span class="message">Мы отправили вам <span
                                                            class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                                            </div>
                                        </div>
                                        <div class="date">
                                            11.02.18
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="kit search-result-message">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                            <div class="online active"></div>
                                        </div>
                                        <div class="desc">
                                            <div class="name">Константин</div>
                                            <div class="search-message">
                                                <span class="message">Мы отправили вам <span
                                                            class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                                            </div>
                                        </div>
                                        <div class="date">
                                            11.02.18
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="kit search-result-message">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                            <div class="online active"></div>
                                        </div>
                                        <div class="desc">
                                            <div class="name">Константин</div>
                                            <div class="search-message">
                                                <span class="message">Мы отправили вам <span
                                                            class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                                            </div>
                                        </div>
                                        <div class="date">
                                            11.02.18
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="kit search-result-message">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                            <div class="online active"></div>
                                        </div>
                                        <div class="desc">
                                            <div class="name">Константин</div>
                                            <div class="search-message">
                                                <span class="message">Мы отправили вам <span
                                                            class="marker">запчас</span>ти по адресу адресу адресу адресу</span>
                                            </div>
                                        </div>
                                        <div class="date">
                                            11.02.18
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="kit dialog-body chat-scroll show">
                            <div class="full-screen-wrapper">
                                <div class="kit chat-list">
                                    <div class="separator">26 марта 2018 г.</div>
                                    <div class="chat-item outbox">
                                        <div class="message">
                                            <div class="text">
                                                Привет! Нужны фильтры.
                                            </div>
                                            <div class="time">
                                                18:35
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator today">Сегодня</div>
                                    <div class="chat-item inbox">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="text">
                                                Привет! Я получил запрос на фильтры VIC 111.<br>
                                                У нас как раз остались такие, только в красном цвете. <br>
                                                Будете брать?
                                            </div>
                                            <div class="time">
                                                18:30
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-item outbox">
                                        <div class="message">
                                            <div class="text">
                                                Да, я возьму штук сто.
                                            </div>
                                            <div class="time">
                                                18:35
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-item inbox">
                                        <div class="avatar">
                                            <div class="img">
                                                <div class="brand-stub s-5">К</div>
                                                <img src="" alt="">
                                            </div>
                                        </div>
                                        <div class="message file-img">
                                            <div class="text image">
                                                <img src="../../images/tmp/foto3.png" alt="">
                                            </div>
                                            <div class="time">
                                                18:35
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-item outbox">
                                        <div class="message file-img">
                                            <div class="text image">
                                                <img src="../../images/tmp/foto2.jpg" alt="">
                                            </div>
                                            <div class="time">
                                                18:35
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-item outbox">
                                        <div class="message file-document">
                                            <div class="text">
                                                <p class="medium">Файл прайс для нас Мерседес исправлен.docx</p>
                                                120 KB
                                            </div>
                                            <div class="time">
                                                18:35
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kit user-message show">
                            <div class="kit chat-input">
                                <form action="" id="form-user-message">
                                    <button type="button" class="action btn-attach open">Добавить файл</button>
                                    <button type="submit" class="action btn-send">Отправить</button>
                                    <div class="text-wrap">
                                        <textarea rows="1" name="" class="chat-text-input"
                                                  placeholder="Ваше сообщение..."></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overbox">
                <div class="kit btn-group-attach">
                    <div class="btn-attach location">Место</div>
                    <div class="btn-attach doc">Документ</div>
                    <div class="btn-attach img">Фото</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}