$color1: #ffffff;
$color2: #dee7ed;
$color3: #4A4A4A;
$color4: #9badb9;
$color5: #999999;
$color6: #ADADAD;
$color7: #F3F3F3;
$color8: #FF6A6A;
$color9: #41b883;

$spinnerBg: $color1;
$spinnerBorderColor: $color9;
$multiselectColor: $color3;
$multiselectBg: $color1;
$multiselectBorderColorHover: darken($color4, 10%);
$multiselectBorderColorFocus: darken($color4, 25%);
$multiselectTagsBgColor: $color1;
$multiselectTagsBorder: 1px solid $color4;
$multiselectTagColor: $color1;
$multiselectTagBgColor: $color2;
$multiselectTagIconColor: darken($color2, 20%);
$multiselectTagIconColorHover: darken($color2, 8%);
$multiselectTagIconColorBgHover: $color1;
$multiselectCurrentBorderColor: $color4;
$multiselectBorderColor: $color5;
$multiselectPlaceholderColor: $color6;
$multiselectContentBgColor: $color1;
$multiselectContentBorderColor: $color4;
$multiselectOptionHighlightBgColor: $color2;
$multiselectOptionHighlightColor: $color3;
$multiselectOptionSelectedBgColor: $color1;
$multiselectOptionSelectedColor: $color3;
$multiselectOptionHighlightSelectedBgColor: $color2;
$multiselectOptionHighlightSelectedColor: $color3;
$multiselectDisabledBgColor: darken($color1, 7%);
$multiselectDisabledColor: darken($color1, 35%);
$multiselectDisabledOptionBgColor: darken($color2, 3%);

$multiselectTagIcon: "\00D7";
$multiselectTagsBorderRadius: 0.2308rem;

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 30px;
  height: 30px;
  background: $spinnerBg;
  display: block;

  &:before,
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: $spinnerBorderColor transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
  }
  &:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
  }
  &:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
  }
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  transition: opacity .4s ease-in-out;
  opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave {
  opacity: 0;
}

.multiselect-enter-active,
.multiselect-leave-active {
  transition: all .15s ease
}

.multiselect-enter,
.multiselect-leave-active {
  opacity: 0
}

fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.multiselect {
  box-sizing: content-box;

  * {
    box-sizing: border-box;
  }

  display: block;
  position: relative;
  width: 100%;
  min-height: 2.5rem;
  text-align: left;
  color: $multiselectColor;

  &:focus {
    outline: none;
  }

  &--active {
    z-index: 1;

    .multiselect__select {
      transform: rotateZ(180deg);
    }
    &:not(.multiselect--above) {
      .multiselect__current,
      .multiselect__input,
      .multiselect__tags {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
      }
    }
    &.multiselect--above {
      .multiselect__current,
      .multiselect__input,
      .multiselect__tags {
        border-top-left-radius: 0;
        border-top-right-radius: 0
      }
    }

    .multiselect__strong {
      display: none;
    }
  }
  &:after {
    position: absolute;
    right: 2.462rem;
    top: 0.308rem;
    width: 1px;
    height: 1.846rem;
    background-color: $multiselectContentBorderColor;
    content: '';
  }
}

.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 1.538rem;
  line-height: 1.538rem;
  border: none;
  border-radius: $multiselectTagsBorderRadius;
  background: $multiselectBg;
  padding: 0;
  width: auto;
  transition: border .1s ease;
  box-sizing: border-box;
  margin: 0;

  &:hover {
    border-color: $multiselectBorderColorHover;
  }

  &:focus {
    border-color: $multiselectBorderColorFocus;
    outline: none;
  }
}

.multiselect__input {
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: $color3;
  }
}

.multiselect__single {
  padding-left: 0;
  margin-bottom: 0;
  &:empty {
    display: none;
  }
}

.multiselect__tags {
  min-height: 2.5rem;
  display: block;
  padding: 0.385rem 2.3rem 0.385rem 1.154rem;
  border-radius: $multiselectTagsBorderRadius;
  border: $multiselectTagsBorder;
  background: $multiselectTagsBgColor;
  ///*border-radius: 3px;*/
  &-wrap {
    display: inline;
  }
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 0.25rem 1.625rem 0.25rem 0.625rem;
  border-radius: $multiselectTagsBorderRadius;
  margin-right: 0.625rem;
  color: $multiselectTagColor;
  line-height: 1;
  background: $multiselectTagBgColor;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;

  & ~ .multiselect__input,
  & ~ .multiselect__single {
    width: auto;
  }
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: initial;
  width: 1.375rem;
  text-align: center;
  line-height: 1.375rem;
  transition: all 0.2s ease;
  border-radius: $multiselectTagsBorderRadius;

  &:after {
    content: $multiselectTagIcon;
    color: $multiselectTagIconColor;
    font-size: 0.875rem;
  }
  &:focus, &:hover {
    background: $multiselectTagIconColorHover;

    &:after {
      color: $multiselectTagIconColorBgHover;
    }
  }
}

.multiselect__current {
  line-height: 1rem;
  min-height: 2.5rem;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 0.5rem 0.75rem 0;
  padding-right: 1.875rem;
  white-space: nowrap;
  margin: 0;
  text-decoration: none;
  border-radius: $multiselectTagsBorderRadius;
  border: 1px solid $multiselectCurrentBorderColor;
  cursor: pointer;
}

.multiselect__select {
  line-height: 1.2308rem;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:before {
    color: $multiselectColor;
    margin-top: 0.4rem;
    content: "";
    position: absolute;
    border-style: none;
    height: 12px;
    width: 12px;
    top: 6px;
    right: 10px;
    transform: rotate(90deg);
    background: url("/bundles/gisautoweb/images/chevron-right.svg") no-repeat center center;
  }
}

.multiselect__placeholder {
  color: $multiselectPlaceholderColor;
  display: inline-block;
  margin-bottom: 0.625rem;
  padding-top: 0.125rem;

  .multiselect--active & {
    display: none;
  }
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;

  &-wrapper {
    position: absolute;
    display: block;
    background: $multiselectContentBgColor;
    width: 100%;
    max-height: 15rem;
    overflow: auto;
    border: 1px solid $multiselectContentBorderColor;
    border-top: none;
    border-bottom-left-radius: $multiselectTagsBorderRadius;
    border-bottom-right-radius: $multiselectTagsBorderRadius;
    z-index: 1;
    -webkit-overflow-scrolling: touch;

    .multiselect--above & {
      bottom: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: $multiselectTagsBorderRadius;
      border-top-right-radius: $multiselectTagsBorderRadius;
      border-bottom: none;
      border-top: 1px solid $multiselectContentBorderColor;
    }

  }
  &::webkit-scrollbar {
    display: none;
  }
}

.multiselect__element {
  display: block
}

.multiselect__option {
  display: block;
  min-height: 2.77rem;
  line-height: 1rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.615rem 1.2308rem;
  color: $multiselectColor;

  &:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 2.5rem;
    padding-right: 0.75rem;
    padding-left: 1.25rem;
  }
  &--highlight {
    background: $multiselectOptionHighlightBgColor;
    outline: none;
    color: $multiselectOptionHighlightColor;

    &:after {
      content: attr(data-select);
      color: $multiselectOptionHighlightColor;
    }
  }
  &--selected {
    background: $multiselectOptionSelectedBgColor;
    color: $multiselectOptionSelectedColor;

    &:after {
      content: attr(data-selected);
      font-weight: 300;
      color: darken($multiselectOptionSelectedBgColor, 20%);
    }
  }
}

.multiselect__option--selected.multiselect__option--highlight {
  background: $multiselectOptionHighlightSelectedBgColor;
  color: $multiselectOptionHighlightSelectedColor;

  &:after {
    content: attr(data-deselect);
    color: $multiselectOptionHighlightSelectedColor;
  }
}

.multiselect--disabled {
  opacity: .6;
  background: $multiselectDisabledBgColor;
  pointer-events: none;

  .multiselect__current,
  .multiselect__select {
    background: $multiselectDisabledBgColor;
    color: $multiselectDisabledColor;
  }
}

.multiselect__option--disabled {
  background: $multiselectDisabledBgColor;
  color: $multiselectDisabledColor;
  cursor: text;
  pointer-events: none;

  &.multiselect__option--highlight {
    background: #dedede;
  }

  &:visited {
    color: $multiselectDisabledColor;
  }

  &:hover,
  &:focus {
    background: $multiselectDisabledOptionBgColor;
  }
}

.multiselect__option--group {
  background: #ededed;
  color: #35495e;
  &.multiselect__option--highlight {
    background: #35495e;
    color: #fff;
    &:after {
      background: #35495e;
    }
  }
  &-selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff;
    &:after {
      background: #ff6a6a;
      content: attr(data-deselect);
      color: #fff
    }
  }
}

.multiselect__strong {
  margin-bottom: 0;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  color: $multiselectColor;
  font-weight: 400;
}

[dir=rtl] .multiselect {
  text-align: right
}

[dir=rtl] .multiselect__select {
  right: auto;
  left: 1px
}

[dir=rtl] .multiselect__tags {
  padding: 8px 8px 0 40px
}

[dir=rtl] .multiselect__content {
  text-align: right
}

[dir=rtl] .multiselect__option:after {
  right: auto;
  left: 0
}

[dir=rtl] .multiselect__clear {
  right: auto;
  left: 12px
}

[dir=rtl] .multiselect__spinner {
  right: auto;
  left: 1px
}

@keyframes a {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(2turn)
  }
}
