body.layout-phone {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
body.layout-desktop {
  min-height: 100vh;
  min-width: 64rem;
  overflow: auto;
  * {
    font-family: 'GisautoRoboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
}

.kit.layout {
  background: $white;

  &.desktop {
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-between;
    &.default {
      min-width: 64rem; //1024px
    }
    .aqualink {
      color: $color-desktop-link;
      &:hover {
        text-decoration: underline;
      }
    }

    & > .header {
      position: relative;
      z-index: 1;
      flex: 0 0 auto;
      box-shadow: $header-shadow;
    }

    & > .main {
      width: 100%;
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      padding: 0;
      margin: 0 auto;
      flex: 1 1 auto;
    }

    & > .footer {
      width: 100%;
      margin: 0 auto;
      flex: 1 0 auto;
      z-index: 10;
      order: 100;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      background: #4a4a4a;
      max-height: 3.5rem;
    }

    &.index {
      background: radial-gradient(ellipse at top, #5889be 0, #4a7db4 100%);
      & > .header,
      & > .main,
      & > .footer {
        padding-left: 6.25rem;
      }
      & > .main {
      }
      & > .footer {
        background: none;
      }
      .decoration {
        position: absolute;
        bottom: 0;
        height: 45vh;
        min-height: 240px;
        width: 100%;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, .5);
        @include inline-svg-icon('desktop-map-index', #000, center, cover);
      }
    }

    .full.screen{
      & > .main{
        flex: 1 1 auto;
      }
    }
  }
  /*-- Mobile --*/
  &.phone {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    & > .header {
      flex: 0 0 auto;
    }
    
    & > .main {
      display: flex;
      flex-flow: column nowrap;
      padding: 1.5rem 0 1.5rem;
      width: 100%;
      margin: 0 auto;
      flex: 0 0 auto;
      &_without-padding {
        padding: 0;
      }
      .section-content-text {
        padding: 0 1.5rem;
      }
      .section-content-p0 {
        padding: 0;
      }
      .section-content-p1 {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .section-content-p15 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    & > .footer {
      width: 100%;
      margin: 0 auto;
      flex: 0 0 auto;
    }
  }

  &.grey {
    background-color: #ededed;
  }
}
