.kit.screens {
  position: relative;
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: opacity .5s ease-in-out;
  &:before{
    display: block;
    position: absolute;

  }
  &.start{
    .screens-action{
      display: none;
    }
  }
  &.loaded{
    opacity: 1;
    height: auto;
  }
  &-action {
    position: fixed;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;
    pointer-events: none;
    z-index: 1000;
    opacity: 1;
    transition: all .3s ease;
    transform: scale(1);
    & > * {
      pointer-events: all;
    }
    &.disabled{
      opacity: 0 !important;
      transform: scale(.9);
    }
  }
  .screen {
    width: 100%;
    transform: scale(.98);
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    &.active {
      position: relative;
      transform: scale(1);
      opacity: 1;
      pointer-events: all;
    }
  }
  &.slide{
    .screen {
      transform: translateX(110%);
      opacity: 0;
      transition: all 1s ease;
      &.active {
        transform: translateX(0);
        opacity: 1;
      }
      &.previous{
        transform: translateX(-110%) !important;
        opacity: 0;
      }
    }
  }
}