.showcase {
  &-elements {
    margin-top: 10rem;
    min-height: 480px;
    background: grey;
    padding: 2rem;
  }
  &.grey {
    background: grey;
    padding: 2rem;
    margin: 1rem 0;
    &.light{
      background: #ececec;
    }
  }
  &.tile.section {
    background: radial-gradient(ellipse at top,#5889be 0,#4a7db4 100%);
    padding: 2rem;
    margin: 1rem 0;
  }
}