.kit.avatar {
  display: block;
  position: relative;
  > .img.outer {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #C5D1D9;
    background-color: #EEF3F6;
    background-repeat: no-repeat;
    > img {
      display: block;
      margin: auto;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &.no-avatar.entity {
    > .img.outer {
      @include inline-svg-icon('profile-entity', #C5D1D9, center, 1.5rem 1.875rem);
    }

  }
  &.no-avatar.individual {
    > .img.outer {
      @include inline-svg-icon('profile-individual', #C5D1D9, center, 1.5rem 1.875rem);
    }
  }

  &.s48 {
    > .img.outer {
      @include size(3rem); // 48px
    }
  }
  &.s32 {
    > .img.outer {
      @include size(2rem); // 32px
    }
  }

}

