.kit.btn-icon {
  display: block;
  outline: none;
  box-shadow: none;
  border: none;
  touch-action: manipulation;
  user-select: none;
  background: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: auto;
  min-height: 100%;
  padding: 0 0.25rem;
  cursor: pointer;

  &.arr-back {
    background-size: 16px 12px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1350.036 5419 6.06 10.7'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: %238798a4; } %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M752,23.71l-5.35-5.35.7-.71L752,22.3l4.65-4.65.7.71Z' transform='translate(-1326.326 4672.35) rotate(90)'/%3E%3C/svg%3E");
  }

  &.x-back {
    background-size: 12px 12px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1907.354 10116.646 12.021 12.021'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: none; stroke: %238798a4; } %3C/style%3E%3C/defs%3E%3Cpath id='Union_40' data-name='Union 40' class='cls-1' d='M2465.156-10000.843l-5.657,5.656,5.657-5.656-5.657-5.657,5.657,5.657,5.657-5.657-5.657,5.657,5.657,5.656Z' transform='translate(-4366.5 20123.5)'/%3E%3C/svg%3E");
  }

  &.points {
    width: 1.5rem;
    height: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    cursor: pointer;
    @include inline-svg-icon('points', $turq, center, 0.25rem 1.25rem);

    &.visible,
    &:hover {
      @include inline-svg-icon('points', $lightBlue, center, 0.25rem 1.25rem);
    }
  }
}