
.kit.btn {
  @mixin btn-triangle($color : $black) {
    &.triangle.right,
    &.triangle.left {
      border: none;
      @include hover-focus-active {
        box-shadow: none !important;
      }
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
        width: 13px;
      }
    }
    &.triangle.right {
      border-radius: $btn-border-radius 0 0 $btn-border-radius;
      margin-right: 11px;
      &:before {
        left: 99%;
        @include inline-svg-icon('btn-right-triangle', $color, 0 50%, 100%);
      }
    }

    &.triangle.left {
      border-radius: 0 $btn-border-radius $btn-border-radius 0;
      margin-left: 11px;
      &:before {
        right: 99%;
        @include inline-svg-icon('btn-left-triangle', $color, 100% 50%, 100%);
      }
    }
  }
  &.triangles.group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    > .btn.triangle.right {
      margin-left: 1rem;
    }

  }

  &.question {
    display: inline-block;
    vertical-align: middle;
    height: 1rem;
    width: 1rem;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: 1px solid $gray-300;
    border-radius: 50%;
    color: $blue-300;
    text-align: center;
    margin: 0 3px 1px;
    line-height: 13px;
    position: relative;
    cursor: default;
    &:before {
      content: '?';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      font-size: 13px;
      font-weight: 400;
    }
  }

  &.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 2.5rem;
    height: 2.5rem;
    padding: 0 1.5rem;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    position: relative;
    @include hover-focus-active {
      cursor: pointer;
      box-shadow: none;
      border: none;
      outline: none;
    }
    &:disabled {
      cursor: default !important;
    }
    &.block {
      width: 100%;
    }
    &.text.small {
      font-size: 0.8125rem;
    }
    &.h32 {
      min-height: 2rem;
      height: 2rem;
      font-size: 0.8125rem;
    }
    &.round {
      border-radius: 2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &.yellow {
      color: $black;
      background-color: $btn-yellow;
      @include hover-focus-active {
        background-color: $btn-hover-yellow;
        color: $black;
        @include btn-triangle($btn-hover-yellow);
      }
      @include btn-triangle($btn-yellow);
      &:disabled {
        opacity: 0.5;
        background-color: $btn-yellow !important;
        @include btn-triangle($btn-yellow);
      }
    }
    &.blue {
      color: $white;
      background-color: $btn-blue;
      @include hover-focus-active {
        background-color: $btn-hover-blue;
        color: $white;
        @include btn-triangle($btn-hover-blue);
      }
      @include btn-triangle($btn-blue);
      &:disabled {
        opacity: 0.5;
        background-color: $btn-blue !important;
        @include btn-triangle($btn-blue);
      }
    }
    &.gray {
      color: $black;
      background-color: $btn-gray;
      @include hover-focus-active {
        background-color: $btn-gray;
        color: $black;
        @include btn-triangle($btn-gray);
      }
      @include btn-triangle($btn-gray);
      &:disabled {
        color: $btn-disabled-gray !important;
      }
    }
    &.transparent {
      min-height: auto;
      height: auto;
      padding: 0 1rem;
      color: $btn-transparent;
      font-size: 0.8125rem;
      font-weight: 400;
      @include hover-focus-active {
        color: $btn-transparent;
        text-decoration: underline;
      }
    }
  }
}