.kit.comment.count {
  display: block;
  height: 1.25rem;
  padding-left: 1.25rem;
  @include inline-svg-icon('desktop-comment', #C5D1D9, left 0.25rem, 1rem);
  text-align: left;
  font-size: 0.8125rem;
  line-height:  1.25rem;
  color: $color-desktop-link;
  &:hover {
    text-decoration: underline;
  }
}

