.kit.mode {
  min-height: 0.75rem;
  line-height: 0.75rem;
  margin-top: 0.25rem;
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.75rem 0.75rem;
  font-size: 0.625rem;
  &.open {
    color: #4272A4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2405 5649 12 12'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: %234272a4; } .cls-2 { fill: none; stroke: %23fff; } %3C/style%3E%3C/defs%3E%3Cg id='Group_2430' data-name='Group 2430' transform='translate(-2435 5274)'%3E%3Ccircle id='Ellipse_72' data-name='Ellipse 72' class='cls-1' cx='6' cy='6' r='6' transform='translate(30 375)'/%3E%3Cpath id='Path_463' data-name='Path 463' class='cls-2' d='M-1011,450.7v4.1h3.5' transform='translate(1046.8 -73)'/%3E%3C/g%3E%3C/svg%3E");
  }
  &.closed {
    color: #6A7B87;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2058 5579 12 12'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-3 { fill: none; } .cls-1 { stroke: %23c5d1d9; } .cls-2 { stroke: none; } %3C/style%3E%3C/defs%3E%3Cg id='Group_2430' data-name='Group 2430' transform='translate(-2088 5204)'%3E%3Cg id='Ellipse_72' data-name='Ellipse 72' class='cls-1' transform='translate(30 375)'%3E%3Ccircle class='cls-2' cx='6' cy='6' r='6'/%3E%3Ccircle class='cls-3' cx='6' cy='6' r='5.5'/%3E%3C/g%3E%3Cpath id='Path_463' data-name='Path 463' class='cls-1' d='M-1011,450.7v4.1h3.5' transform='translate(1046.8 -73)'/%3E%3C/g%3E%3C/svg%3E");
  }
}