
.kit.block.info.service {
  $bg-block-service: #ffffff;
  $text-blue: #4272A4;
  $text-aqualink: #558FCC;
  $text-light: #6A7B87;
  $block-radius: 3px;

  width: 100%;
  height: auto;
  display: block;
  background-color: $bg-block-service;
  padding: 0;
  margin: 0;
  .aqualink {
    display: block;
    font-size: 0.625rem;
    line-height: 1.2;
    color: $text-aqualink;
    text-decoration: none;
    padding-top: 0.5rem;
  }
  .title {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    line-height: 1.2;
    > .name {
      font-size: 0.8125rem;
      font-weight: 500;
      color: #272727;
      &.ellipsis {
        @include ellipsis;
      }

    }
    > .address {
      font-size: 0.625rem;
      line-height: 1.5;
      color: $text-light;
      &.ellipsis {
        @include ellipsis;
      }
      > .link {
        display: inline;
        color: $text-aqualink;
      }
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    img {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .norating {
    font-size: 0.625rem;
    color: $text-light;
    padding: 0.25rem 0;
    > .link {
      display: inline;
      text-decoration: underline;
      color: $text-aqualink;
      &:hover {
        text-decoration: none;
      }
    }
  }

}
