@import "../../fonts/sto";
//        Шрифт "Sto"
//            Имя файла: magnifier Относится к символу: ☌
//            Имя файла: service0 Относится к символу: ☆
//            Имя файла: service1 Относится к символу:★
//            Имя файла: service2 Относится к символу: ☁
//            Имя файла: service3 Относится к символу: ☀
.kit.card {
  $color-sto: #fff;
  $color-title: #000;
  $color-subtitle: #000;
  $color-border-icon: #000;
  $block-radius: 0;
  $color-hover: #333;

  &.purpur {
    $color-sto: #741230;
    $width-aside-main-sto: 304px;
    $shadow-aside-main: 17px 0 21px rgba(159, 159, 159, 0.1);
    $shadow-aside-list: 5px 10px 21px rgba(106, 123, 135, 0.1);
    $block-radius: 3px;
    $gray-200: #ededed;
    $color-hover: #FFDEE2;
    $color-border-icon: #801C3A;
    $red-600: #AF4957;
    $color-title: #842C2D;
    $color-subtitle: #AF4957;
  }
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-height: 7.5rem;
  color: $color-title;
  padding: 0.5rem 0;
  background-color: $white;
  border-radius: $block-radius;
  transition:  background-color 0.2s ease;
  > .name {
    flex: 0 1 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1.25rem;
    > .title {
      display: block;
      color: $color-title;
      font-size: 1rem;
      line-height: 1.2;
      font-weight: 500;
      transition: color 0.2s ease;
    }
    > .subtitle {
      display: block;
      padding-top: 0.75rem;
      font-size: 0.8125rem;
      line-height: 1.2;
      color:  $color-subtitle;
      transition: color 0.2s ease;
    }
  }

  > .icon {
    flex: 1 0 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: auto;
    border-left: 1px solid $color-hover;
    transition: border-color 0.2s ease, color 0.2s ease;
    font-family: 'sto', serif;
    font-size: 2.7rem;
    color: $color-subtitle;
  }

  &:hover, &.active, &.selected {
    background-color: $color-sto;
    > .name {
      > .title {
        color: $white;
      }
      > .subtitle {
        color: $color-hover;
      }
    }
    > .icon {
      border-color: $color-border-icon;
      color: $color-hover;
    }
  }
}