.kit.footer {
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: .75rem -.5rem;
    .item {
      font-size: 0.8125rem;
      margin: .25rem .5rem;
      color: #fff;
      &.link{
        text-decoration: underline;
        &:hover,
        &:focus,
        &:active{
          text-decoration: none;
        }
      }
    }
  }
  &.index {
    .navigation {
      .item {
        color: #141414;
      }
    }
  }
  &.small {
    width: 26rem;
  }
  &.left {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
  }
  .copyright {
    color: #141414;
    font-size: 0.8125rem;
  }
  &.sto {
    .navigation {
      justify-content: flex-start;
      .item {
        padding-left: 2rem;
        padding-right: 0.5rem;
        color: #741230;
        font-weight: 500;
      }
    }
    .copyright {
      margin: 0 0 0 auto;

      color: #741230;
      font-weight: 500;
    }
  }
}