.kit.group {

  &.input.btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    > input {

    }
    .btn {

    }
  }
  &.input.label {
    &.default {
      > .name {
        display: block;
        width: 100%;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 500;
        color: $title;
        padding-left: 0.625rem;
        padding-bottom: 0.5rem;
        &.small {
          font-size: 0.6875rem;
        }
      }
    }
    &.btn {

    }
  }
  &.spacing.normal {
    margin-bottom: 1rem;
  }
  &.spacing.mini {
    margin-bottom: 0.5rem;
  }
}