.kit.hint.main {
  position: absolute;

  &.sto {
    display: block;
    width: 16rem;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 0.75rem;
    box-shadow: 5px 10px 10px rgba(106,123,135,0.1);

  }
}