.kit.info.text {
  &.contacts {
    margin: 0;
    .contact {
      display: block;
      padding-bottom: 0.5rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &.color.blue {
    display: block;
    width: auto;
    max-width: 25rem;
    margin: 1rem auto 2rem 0;
    padding: 1rem;
    background-color: $blue-100;
    font-size: 0.875rem;
    line-height: 1.75;
    border-left: 2px solid $blue-500;
    * {
      font-size: 0.875rem;
      line-height: 1.75;
    }
  }

  &.block {
    display: block;
    padding-bottom: 1rem;
  }
  &.line {
    >.caption, >.value, .stub {
      display: inline-block;
      line-height: 1.5;
    }
  }
  &.mini {
    .caption, .value, .stub {
      font-size: 0.8125rem;
    }
  }
  &.small {
    .caption, .value, .stub {
      font-size: 0.875rem;
    }
  }
  &.medium {
    .caption, .value, .stub {
      font-size: 1rem;
    }
  }

  .caption {
    display: block;
    font-size: 0.8125rem;
    line-height: 1.3;
    font-weight: 700;
    color: $color-title;
    &.size {
      padding-right: 1rem;
      &.w-135 {
        width: 9.75rem;
      }
    }
  }
  .value, .stub {
    display: block;
    font-size: 0.8125rem;
    line-height: 1.3;
    font-weight: 400;
    color: $color-value;
    &.light {
      color: $color-value-light;
    }
  }
  .stub {
    text-decoration: none;
    color: $color-desktop-link;
  }
  .aqualink {
    text-decoration: underline;
  }
  .bold {
    font-weight: 700;
  }

  ul.textlist.circles {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 0.25rem;
    text-align: left;
    li {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2;
      margin-right: 4px;
      font-size: 0.8125rem;
      font-weight: 400;
      &:before {
        content: '•';
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2rem;
        line-height: 0.5rem;
        color: $color-desktop-link;
        padding-right: 8px;
      }
    }
  }
}