.kit.review.block {
  > .header {
    > .author {
      margin-bottom: 1rem;
    }
    > .seller {
      margin-bottom: 0.625rem;
    }
    > .author, > .seller {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      > .location.right {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
  > .content {
    padding: 0;
    margin: 0 0 0.625rem;
  }
  > .content,
  > .content * {
    font-size: 0.8125rem;
    line-height: 1.3;
    color: #5b5b5b;
    &.prev {
      max-height: 2rem;
      overflow: hidden;
    }
  }
}