.kit.search {
  display: block;
  position: relative;
  &.index {
    .input.block {
      position: relative;
      width: 100%;
      max-width: 43.125rem;
      margin: 0 auto;
      .input:not(.block) {
        height: 3.5rem;
        width: 100%;
        background: #fff;
        border-radius: 1.75rem;
        border: .25rem solid #fff;
        box-sizing: border-box;
        outline: none;
        font-size: 1rem;
        padding: 0 7.82rem 0 1.75rem;
        &:hover,
        &:focus,
        &:active {
          border: .25rem solid #e4ebf6;
        }
      }
      .button {
        position: absolute;
        right: .25rem;
        top: .25rem;
        bottom: .25rem;
        height: 3rem;
        width: 7.8125rem;
        font-size: 16px;
        border-radius: 1.75rem;
        background: #ffcf68;
        font-weight: 500;
        color: #141414;
        text-align: center;
        line-height: 3rem;
        transition: all .5s ease;
        &:hover,
        &:focus,
        &:active {
          background: #ffdb64;
        }
      }
    }
  }
  .results.block {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    max-width: 43.125rem;
    margin: .25rem auto 0;
    padding: 0 2rem;
    z-index: 1000;
  }
  .results:not(.block) {
    width: 100%;
    font-size: .8125rem;
    color: #272727;
    background: #fff;
    border-radius: .25rem;
    padding-bottom: .25rem;
    max-height: 14rem;
    overflow-y: auto;
    box-shadow: 0 1px 21px 0 rgba(96, 126, 146, 0.28);
    caption,
    .caption {
      padding: .5rem 1rem;
      border-bottom: 1px solid #dbe4e9;
      font-weight: 500;
      text-align: left;
    }
    .result {
      border-bottom: 1px solid #dbe4e9;
      display: flex;
      flex-flow: row nowrap;
      color: #272727;
      padding: .1rem 0;
      .attribute {
        padding: .5rem 1rem;
        margin: 0;
        border-right: 1px solid #dbe4e9;
        flex: 1 1 auto;
        font-weight: 500;
        &:last-child {
          border-right: none;
        }
        &.logotype {
          max-width: 3rem;
        }
        .logotype.image {
          background: rgba(0, 0, 0, .1);
          width: 100%;

        }
      }
      &:hover {
        background: #dbe4e9;
        color: #272727;
        .attribute {
          border-right: 1px solid darken(#dbe4e9, 10%);
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  &.round {
    display: block;
    width: 100%;
    min-width: 450px;
    // color for Service STO
    $block-radius: 1.5rem;
    $bg-search: #ffffff;
    $height-form-search: 2.875rem;
    $color-border: #728896;
    .wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      height: $height-form-search;
      border-radius: $block-radius;
      border: 2px solid  $color-border;
      background-color: $bg-search;
      overflow: hidden;
      .input {
        display: block;
        border: none;
        outline: none;
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .btn-search {
        min-height: 2.375rem;
        height: auto;
        margin: 2px;
        border: none;
      }
    }

  }

  &.square {
    display: block;
    width: 100%;
    // color for Service STO
    $block-radius: 3px;
    $red-100: #FFDEE2;
    $red-500: #801C3A;
    $red-600: #AF4957;
    $red-700: #842C2D;
    $bg-search: #ffffff;
    $height-form-search: 3rem;
    $serch-shadow: 0 10px 10px rgba(106, 123, 135, 0.1);
    &.location {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .btn-location {
        flex: 1 0 $height-form-search/1.41;
        display: block;
        width: $height-form-search/1.41;
        height: $height-form-search/1.41;
        margin-left: 16px;
        border: none;
        outline: none;
        border-radius: 50%;
        box-shadow: $serch-shadow;
        background-color: $bg-search;
        background-size: 15px 16px;
        background-position: 38% center;
        background-repeat: no-repeat;
      }
    }
    .wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      height: $height-form-search;
      border-radius: $block-radius;
      box-shadow: $serch-shadow;
      background-color: $bg-search;
      overflow: hidden;
      .input {
        display: block;
        border: none;
        outline: none;
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .btn-search {
        flex: 1 0 $height-form-search;
        display: block;
        width: $height-form-search;
        height: 75%;
        margin: auto;
        border: none;
        border-right: 1px solid $red-100;
        outline: none;
        background-color: $bg-search;
        background-size: 15px 15px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &.color-service {
      .btn-location {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3416.343 5405.908 14.695 16.214'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: %23af4957; } %3C/style%3E%3C/defs%3E%3Cpath id='Path_1257' data-name='Path 1257' class='cls-1' d='M0,9.2,14.418,0,11.294,15.965,8.338,9.731Z' transform='translate(-3416.343 5406.159) rotate(-1)'/%3E%3C/svg%3E");
      }
      .btn-search {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3968 5405.5 16.207 16.207'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: %23fff; stroke: %23af4957; stroke-width: 2px; } %3C/style%3E%3C/defs%3E%3Cpath id='Union_39' data-name='Union 39' class='cls-1' d='M4573.5-5149l4,4Zm-10.5-4.5a6,6,0,0,1,6-6,6,6,0,0,1,6,6,6,6,0,0,1-6,6A6,6,0,0,1,4563-5153.5Z' transform='translate(-8530 10566)'/%3E%3C/svg%3E");
      }
      .btn-clear {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1907.354 10116.646 12.021 12.021'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: none; stroke: %23af4957; } %3C/style%3E%3C/defs%3E%3Cpath id='Union_40' data-name='Union 40' class='cls-1' d='M2465.156-10000.843l-5.657,5.656,5.657-5.656-5.657-5.657,5.657,5.657,5.657-5.657-5.657,5.657,5.657,5.656Z' transform='translate(-4366.5 20123.5)'/%3E%3C/svg%3E");
        background-color: $bg-search;
      }
    }
  }
  &.color-main {
    .btn-clear {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1907.354 10116.646 12.021 12.021'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: none; stroke: %23728896; } %3C/style%3E%3C/defs%3E%3Cpath id='Union_40' data-name='Union 40' class='cls-1' d='M2465.156-10000.843l-5.657,5.656,5.657-5.656-5.657-5.657,5.657,5.657,5.657-5.657-5.657,5.657,5.657,5.656Z' transform='translate(-4366.5 20123.5)'/%3E%3C/svg%3E");
      background-color: inherit;
    }
  }
  .btn-clear {
    display: none;
    position: static;
    flex: 1 0 1.875rem;
    width: 1.875rem;
    height: 100%;
    transform: none;
    cursor: pointer;
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    &:before, &:after {
      display: none;
    }
  }
}