
/*
Шрифт "Sidebar"
Имя файла: auto Относится к символу: 
Имя файла: parts Относится к символу: 
Имя файла: services Относится к символу: 
Имя файла: osago Относится к символу: 
 */

.kit.desktop.sidebar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  background: #fff;
  position: fixed;
  left: -6.25rem;
  top: 0;
  bottom: 0;
  width: 6.25rem;
  min-height: 30rem;
  overflow-x: visible;
  z-index: 1000;
  transition: all .5s ease;
  &.active,
  &.static {
    left: 0;
    box-shadow: 17px 0 21px rgba(159,159,159,0.06);
  }
  &.static {
    .action.close {
      display: none !important;
    }
  }
  .action {
    &.close {
      font-size: 1rem;
      font-family: 'sidebar', serif;
      line-height: 2rem;
    }
  }
  .item {
    display: block;
    color: #4a4a4a;
    font-size: .6875rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
  }
  .link {
    display: block;
    line-height: 1.1;
    color: #4a4a4a;
    padding: 1.25rem .25rem;
    transition: all .1s ease;
    &:hover,
    &:active,
    &:focus {
      background: #eef3f6;
      color: #141414;
    }
    &.active {
      background: #ffcf68;
      color: #141414;
      &:hover,
      &:active,
      &:focus {
        background: darken(#ffcf68, 5%);
      }
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
  .icon:not(.block) {
    font-family: 'sidebar', serif;
    font-size: 3rem;
    line-height: 3rem;
    display: block;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    font-weight: 400;
  }
}