.kit.status.block {
  $status-red: #e13c3c;
  $status-blue: #4272a4;
  $status-gray: #C5D1D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;

  > .description {
    font-size: 0.8125rem;
    padding-left: 1.15rem;
    cursor: pointer;
    white-space: nowrap;
    &.new {
      @include inline-svg-icon('rev-status-new', $red, left 2px, 10px 10px);
      color: $status-red;
    }
    &.moderation {
      @include inline-svg-icon('date', $lightBlue, left center, 12px 12px);
      color: $status-blue;
    }
    &.error {
      @include inline-svg-icon('rev-status-err', $red, left center, 13px 14px);
      color: $status-red;
    }
  }
  > .list {
    display: flex;
    align-items: center;
    > .item {
      cursor: pointer;
      display: inline-block;
      margin: 0 0 0 1.5rem;
      transition: all .1s;
      vertical-align: middle;
      white-space: nowrap;
      .reply, .like {
        font-size: 0.8125rem;
        line-height: 1.5rem;
        padding: 0 1.25rem 0 0;
        height: 1.5rem;
        &.null {
          color: $status-gray;
        }
      }
      .reply {
        @include inline-svg-icon('chateeq', #000, right 0.35rem, 1rem, no-repeat, transparent, $status-blue);
        &.null {
          @include inline-svg-icon('chateeq', #000, right 0.35rem, 1rem, no-repeat, transparent, $status-gray);
        }
        &.active,
        &:hover {
          @include inline-svg-icon('chateeq', #000, right 0.35rem, 1rem, no-repeat, $status-blue, $status-blue);
        }
      }
      .like {
        @include inline-svg-icon('like', #000, right 0, 1rem, no-repeat, transparent, $status-blue);
        &.null {
          @include inline-svg-icon('like', #000, right 0, 1rem, no-repeat, transparent, $status-gray);
        }
        &.active,
        &:hover {
          @include inline-svg-icon('like', #000, right 0, 1rem, no-repeat, $status-blue, $status-blue);
        }
      }

    }
  }
}