@import "../../fonts/tilesection";

/**
Шрифт "tilesection"
@ Имя файла: search Относится к символу: 
@ Имя файла: tires-wheels Относится к символу: 
@ Имя файла: catalogs Относится к символу: 
@ Имя файла: vin Относится к символу: 
@ Имя файла: contract-parts Относится к символу: 
*/

.kit.tile {
  &.section {
    position: relative;
    & > .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0 -.3rem;
      & > .column {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        max-width: 20%;
        flex: 1 1 20%;
        padding: .3rem;
        min-width: 12rem;
        z-index: 1;
        &:hover {
          z-index: 2;
        }
      }
    }
    .item {
      display: block;
      position: relative;
      background: #fff;
      padding: 2rem 1rem 1.75rem;
      color: #4272a4;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset, 0 0 2rem 0 rgba(#49618b, 0) inset;
      transition: all .4s ease, background .5s ease-in;
      z-index: 1;
      &.disable {
        cursor: not-allowed;
      }
      .block.title {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 3rem;
      }
      .title:not(.block) {
        display: inline-block;
        font-size: 1rem;
        position: relative;
        font-weight: 500;
        text-align: center;
        color: #00405f;
        padding: 0;
        margin: 0 auto;
        line-height: 1.5;
        transition: all .4s ease;
        &.new {
          &:before {
            display: block;
            position: absolute;
            content: 'new';
            font-size: .6rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: #f37c7c;
            color: #fff;
            left: -1.5rem;
            top: -1.2rem;
            line-height: 1.5rem;
            text-align: center;
          }
        }
      }
      .block.icon {
        margin: 0;
        padding: 0;
        .icon:not(.block) {
          font-family: 'tilesection', serif;
          font-size: 4.5rem;
          line-height: 4.5rem;
          display: block;
          width: 100%;
          margin: 1rem auto;
          text-align: center;
          font-weight: 400;
        }
        .caption {
          display: flex;
          flex-flow: row nowrap;
          font-size: 0.8125rem;
          line-height: 1rem;
          .column {
            flex-grow: 1;
            min-height: 2rem;
          }
          .number {
            display: block;
            margin: 0 auto;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.125rem;
          }
        }
      }
      &:hover {
        color: #e4ebf6;
        background: #49618b;
        box-shadow: 0 .2rem 1rem 0 rgba(0, 0, 0, .05) inset, 0 0 2rem 15rem #49618b inset;
        text-decoration: none;
        z-index: 2;
        .title:not(.block) {
          color: #fff;
        }
        &.disable {
          filter: grayscale(1)
        }
      }
    }
  }
}