@import "variables";

.kit.timepick {
  position: relative;
  .timepick {
    &__box {
      position: absolute;
      width: 535px;
      height: 320px;
      top: 40px;
      left: 400px;
      font-size: 11px;
      border: 1px solid $turq;
      border-radius: 3px;
      background: #fff;
    }
    &__days {
      margin-left: -1px;
      margin-right: -1px;
    }
    &__weekdays {
      position: relative;
      color: $turq;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -3px;
        width: 20px;
        height: 1px;
        background: $sideMenuHover;
      }
    }
    &__timeline {
      height: 32px;
      position: relative;
      overflow: hidden;
      user-select: none;
      &-dragger {
        position: absolute;
        top: 0;
        height: 32px;
        width: 24px;
        border: 2px solid $lightBlue;
        z-index: 10;
        cursor: ew-resize;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.302);
      }
      &-wrap {
        position: absolute;
        display: flex;
        width: 100%;
      }
      &-year {
        position: relative;
        left: 0;
        top: 0;
        height: 32px;
        width: 96px;
        display: flex;
        &-num {
          position: absolute;
          left: -12px;
          top: 5px;
          z-index: 9;
          &:before {
            content: '';
            position: absolute;
            bottom: -9px;
            left: 50%;
            width: 1px;
            height: 10px;
            background: $turq;
          }
        }
      }
      &-month {
        width: 8px;
        height: 32px;
        background: $sideMenuHover;
        &_selected {
          background: $yellow;
        }
      }
    }
    &__month {
      font-weight: $med;
      &-td {
        border: 1px solid $turq;
        padding: 15px;
        table {
          border-collapse: separate;
          border-spacing: 4px 4px;
        }
      }
      &_flex {
        display: flex;
        flex-wrap: wrap;
        width: 133px;
        justify-content: space-around;
        > div {
          width: 19px;
          height: 16px;
          text-align: center;
          cursor: pointer;
          border-radius: 2px;
          margin-top: 2px;
          margin-bottom: 2px;
          &:hover {
            background: $sideMenuHover;
          }
        }
      }
    }
    &__weekday, &__holiday {
      width: 19px;
      height: 16px;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
      margin-top: 2px;
      margin-bottom: 2px;
      &:hover {
        background: $sideMenuHover;
      }
    }
    &__inputs {
      margin-top: 8px;
      margin-bottom: 16px;
      display: flex;
      justify-content: center;
    }
    &__to {
      margin-left: 5px;
    }
    &__to, &__from {
      margin-left: 5px;
      width: 72px;
      height: 22px;
      font-size: 11px;
      padding-left: 7px;
      padding-right: 7px;
      border: 1px solid $turq;
      border-radius: 3px;
      font-weight: $reg;
      box-shadow: none;
      position: relative;
      background: $white;
      color: $text;
      &::-ms-clear {
        display: none;
      }
      &::placeholder {
        color: $placeholder;
      }
      &:focus {
        box-shadow: none;
        outline: 0;
        border-color: $link;
      }
    }
    &__dayselected {
      position: relative;
      z-index: 5;
      user-select: none;
      &:before {
        content: '';
        height: 100%;
        z-index: -1;
        width: 20px;
        left: -2px;
        top: -1px;
        position: absolute;
        background: $borderHover;
      }
      &_edge {
        &:before {
          background: $white;
          border: 1px solid $lightBlue;
        }
      }
    }
    &__now {
      position: relative;
      &:before {
        content: '';
        height: 100%;
        z-index: 1;
        width: 20px;
        left: -2px;
        top: -1px;
        position: absolute;
        border: 1px solid $turq;
        border-radius: 2px;
      }
    }
    &__empty {
      color: $turq;
    }
    &__controls {
      margin-bottom: 24px;
      position: relative;
      .btn-white {
        padding-left: 16px;
        padding-right: 16px;
        border-color: $turq;
        &:hover, &:active, &:focus {
          background-color: $white;
          color: $title;
        }
      }
      .btn-datepicker {
        margin-left: 16px;
        padding-left: 36px;
      }
    }
  }
  .btn-modal {
    min-width: auto;
    font-size: 13px;
  }
}
