.kit.tooltip-action {
  &.desktop {

    &.visible {
      opacity: 1;
    }

    > .ui.popup {
      border: 1px solid $turq;
      background-color: $white;
      border-radius: 3px;
      box-shadow: 0 4px 12px rgba(96,126,146,0.1);
      &:before {
        display: none;
      }
      &.list {
        min-width: 9rem;
        width: auto;
        padding: 1px;
        overflow: hidden;
        > .item {
          font-size: 0.8125rem;
          font-weight: 400;
          color: $title;
          display: block;
          white-space: nowrap;
          padding: 0.5rem 1.5rem;
          text-decoration: none;
          background-color: $white;
          cursor: pointer;
          @include hover-focus-active {
            background-color: $filterBG;
            color: $lightBlue;
          }
          &:first-child {
            padding-top: 1rem;
          }
          &:last-child {
            padding-bottom: 1rem;
          }
        }
      }
    }

  }
}