$color-title: #272727;
$color-subtitle: #8798A4;
.kit.usertitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding:0;
  border: none;


  > .info {
    display: block;
    line-height: 1.2;
    padding-left: 1rem;
    &:first-child {
      padding-left: 0;
    }
    .name {
      font-size: 0.875rem;
      line-height: 1;
      font-weight: 700;
      color: $color-title;
      &.other {
        font-size: 0.75rem;
        padding-top: 0.5rem;
        font-weight: 500;
      }
    }
    .address, > .date {
      font-size: 0.8125rem;
      line-height: 1;
      font-weight: 400;
      color: $color-subtitle;
    }
    > .status {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 0.25rem 0;
    }
  }
  &.light {
    > .info {
      .name {
        font-weight: 400;
      }
    }
  }
  &.big {
    > .info {
      .name {
        font-size: 1.3125rem;
        &.other {
          font-size: 1rem;
        }
      }
      > .status {

        & > * {
          margin-right: 1rem;
        }
      }
    }
  }
  &.small {
    flex-flow: row nowrap;
    > .info {
      .name {
        font-size: 0.8125rem;
      }
      .address {
        font-size: 0.8125rem;
      }
      .date {
        font-size: 0.6875rem;
        padding-top: 0.5rem;
      }
    }
  }

}