$gray-200: #DBE4E9;
$gray-300: #9badb9;
$gray-600: #8798A4;
$gray-700: #6A7B87;
$blue-100: #EEF3F6;
$blue-300: #4272A4;
$blue-500: #558fcc;

$placeholder: $gray-700;
$btn-light-bg: $blue-100;
$btn-hover-yellow: #ffdb64;
$btn-yellow: #FFCF68;
$btn-hover-blue: #345a81;
$btn-blue: $blue-300;
$btn-disabled-gray: #C5D1D9;
$btn-gray: $blue-100;

$black: #272727;
$white: #ffffff;
$btn-transparent: $blue-500;
$color-border-separator: #ededed;
