{% extends 'imports/_main.twig' %}
{% set title = 'Мой профиль' %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid profile">
        <form action="">
            <div class="profile__title-btn">
                <p class="title">Контактная информация</p>
                <a href="#" class="form-info-control"></a>
            </div>
            <div class="profile__group mt-3">
                <div class="form-group was-validated">
                    <input type="text" class="form-control" id="form-name1" name="name1" placeholder="Фамилия">
                </div>
                <div class="form-group was-validated">
                    <input type="text" class="form-control" id="form-name2" name="name2" placeholder="Имя">
                </div>
                <div class="form-group was-validated">
                    <input type="text" class="form-control" id="form-name3" name="name3" placeholder="Отчество">
                </div>
                <div class="form-group was-validated">
                    <input type="text" class="form-control" id="form-phone" name="phone" placeholder="Телефон">
                </div>
            </div>
            <div class="profile__title-btn  mt-4">
                <p class="title">Учётная запись</p>
                <a href="#" class="form-info-control"></a>
            </div>
            <div class="profile__group mt-3">
                <div class="form-group was-validated">
                    <input type="email" class="form-control" id="form-email" name="email" placeholder="Email">
                </div>
            </div>
            <button class="btn btn-mr btn-block btn-brand_blue m-8-32" onclick="$('.reset-pass-show').show(); $(this).hide();">Изменить пароль</button>
            <div class="reset-pass-show" style="display: none">


                <div class="form-group">
                    <div class="form-controls">
                        <input type="password"
                               class="form-control form-control-erase data-password-toggle was-validated"
                               id="test-name-1"
                               name="password"
                               placeholder="Старый пароль">
                        <div class="invalid-feedback">В поле есть ошибка</div>
                        <div class="valid-feedback">Допустимы латинские символы верхнего и нижнего регистра. <br>Минимум
                            6
                            символов.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a href="#modalResetPass" data-fancybox="" class="btn btn-link flex-elem profile__forgot-pass">Забыли
                        пароль?</a>
                </div>

                <div class="form-group">
                    <div class="form-controls">
                        <input type="password"
                               class="form-control form-control-erase data-password-toggle was-validated"
                               id="test-name-1"
                               name="password"
                               placeholder="Новый пароль">
                        <div class="invalid-feedback">В поле есть ошибка</div>
                        <div class="valid-feedback">Допустимы латинские символы верхнего и нижнего регистра. <br>Минимум
                            6
                            символов.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-controls">
                        <input type="password"
                               class="form-control form-control-erase data-password-toggle was-validated"
                               id="test-name-2"
                               name="password2"
                               placeholder="Повторите новый пароль">
                        <div class="invalid-feedback">Пароли не совпадают</div>
                        <div class="valid-feedback">Допустимы латинские символы верхнего и нижнего регистра. <br>Минимум
                            6
                            символов.
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-text text-gray mb-4 mt-4">
                Изменение данных организаций доступно
                в декстопной версии <a href="#" class="aqualink">gisauto.ru</a>
            </div>
            <button type="submit" class="btn btn-mr btn-block btn-brand_yellow">Сохранить изменения</button>
        </form>
    </section>

{% endblock %}