{% extends 'imports/_main.twig' %}
{% set title = 'Настройка уведомлений' %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid profile">
        <form action="">
            <div class="profile__title-btn">
                <p class="title-notice">Уведомление о заказах отправленных Вами</p>
            </div>
            <div class="profile__group border-bottom-turq">
                <div class="kit-toggle ui toggle checkbox profile__ui-toggle">
                    <input type="checkbox" name="public1" id="public1" checked>
                    <label for="public1">mailmailemail@gmail.mail</label>
                </div>
                <div class="kit-toggle ui toggle checkbox profile__ui-toggle">
                    <input type="checkbox" name="public2" id="public2" checked>
                    <label for="public2">Дополнительный e-mail</label>
                </div>
                <div class="form-group was-validated m-12-24">
                    <input type="text" class="form-control" id="form-mail-1" name="form-mail-1" placeholder="Дополнительный e-mail">
                </div>
            </div>

            <div class="profile__title-btn mt-4">
                <p class="title-notice">Уведомление об отзывах оставленных Вами</p>
            </div>
            <div class="profile__group border-bottom-turq">
                <div class="kit-toggle ui toggle checkbox profile__ui-toggle">
                    <input type="checkbox" name="public11" id="public11" checked>
                    <label for="public11">mailmailemail@gmail.mail</label>
                </div>
                <div class="kit-toggle ui toggle checkbox profile__ui-toggle">
                    <input type="checkbox" name="public22" id="public22">
                    <label for="public22">Дополнительные e-mail через запятую</label>
                </div>
                <div class="form-group was-validated m-12-24">
                    <input type="text" class="form-control" id="form-mail-2" name="form-mail-2" disabled placeholder="Дополнительный e-mail">
                </div>
            </div>

            <div class="profile__title-btn mt-4">
                <p class="title-notice">Получение новостей портала</p>
            </div>
            <div class="profile__group">
                <div class="kit-toggle ui toggle checkbox profile__ui-toggle">
                    <input type="checkbox" name="public111" id="public111" checked>
                    <label for="public111">mailmailemail@gmail.mail</label>
                </div>
                <div class="kit-toggle ui toggle checkbox profile__ui-toggle">
                    <input type="checkbox" name="public222" id="public222">
                    <label for="public222">Дополнительный e-mail</label>
                </div>
                <div class="form-group was-validated m-12-24">
                    <input type="text" class="form-control" id="form-mail-3" name="form-mail-3" disabled placeholder="Дополнительный e-mail">
                </div>
            </div>
            <div class="pt-2 pb-2">
                <button type="submit" class="btn btn-mr btn-block btn-brand_yellow">Сохранить изменения</button>
            </div>

        </form>
    </section>

{% endblock %}