{% extends 'imports/_main.twig' %}
{% set title = 'Личный кабинет (Юрик)' %}
{% set header_fixed = true %}
{% block content %}
    <div class="wrapper-fluid page-home">
        <div class="index-nav cabinet-nav">
            <ul class="index-nav__list">
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_profile"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Мой профиль</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_notifications"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Настройка уведомлений</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_out-requests"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Исходящие запросы</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_in-requests"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Входящие запросы</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_reviews"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Мои отзывы</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_garage"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title icon-new">Гараж</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link off">
                        <div class="index-nav__icon index-nav__icon_search"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Вы искали</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Выход</p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="index-nav__text-log">
                <p class="index-nav__text text-gray">Разделы «Мои&nbsp;запчасти» и «Загрузка&nbsp;прайсов» доступны в&nbsp;декстопной версии
                    <a href="#" class="aqualink">gisauto.ru</a></p>
            </div>
        </div>
    </div>
{% endblock %}