{% extends 'imports/_main.twig' %}
{% set title = 'Мои отзывы' %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid profile reviews-one">
        <div class="reviews__title">Отзыв о CARS.RU Москва</div>
        <div class="wrapper-view">
            <div class="reviews review-read review-cabinet">
                <div class="reviews__top">
                    <div class="user">
                        <div class="user__img-wrap mini">
                            <img class="user__img  cabinet-img" src="../../images/userpic-example.png" alt="">
                        </div>
                        <div class="user__head">
                            <div class="user__name">Кристиансен</div>
                            <div class="user__date">23.02.18 17:00</div>
                        </div>
                    </div>
                    <div class="ui-tooltip" style="position: relative;">
                        <div class="reviews__action-hint ui-tooltip-toggle"></div>
                        <div class="ui-tooltip-content list ui fluid popup bottom left transition hidden">
                            <a href="#" class="item">Отмена</a>
                        </div>
                    </div>
                </div>
                <a class="reviews__prev-color">
                    <div class="user__head">
                        <div class="user__name">CARS.RU Москва</div>
                        <div class="user__address">г. Москва, пр-т Декабирстов, д.8, офис 505</div>
                    </div>
                    <div class="ui rating small star mt-2 mb-1" data-rating="3" data-max-rating="5"></div>
                    <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет
                        выполнять
                        важные
                        задания по разработке дальнейших направлений развития. Текст! Таким образом Таким
                        образом
                        сложившаяся структура организации позволяет выполнять важные задания по разработке
                        дальнейших
                        направлений развития. Текст! Таким образом
                        <span class="reviews__full">... <span
                                    class="reviews__full-text">Показать полностью</span></span>
                    </div>
                </a>

                <div class="reviews__bot">
                    <div class="reviews__status">

                    </div>
                    <div class="reviews__bot-btns">
                        <div class="reviews__reply">
                            <span class="reviews__reply-num">2</span>
                            <div class="reviews__reply-svg"></div>
                        </div>
                        <div class="reviews__like">
                            <span class="reviews__like-num">2</span>
                            <div class="reviews__like-svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button href="#modalResponse" data-fancybox="" class="btn btn-brand_blue btn-mr btn-block mt-2">Ответить</button>
    </section>
{% include 'imports/modals/_modal-response.twig' %}
{% endblock %}