{% extends 'imports/_main.twig' %}
{% set title = 'Выбор города' %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid page-select-city">
        <div class="search-block form-group">
            <div class="form-controls">
                <input type="text" class="form-control form-control-circle is-invalid" id="test33" placeholder="Укажите город, регион или страну">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                    <button type="submit"
                            data-input-control
                            data-toggle="tooltip"
                            data-html="true"
                            title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                            class="form-search-control"></button>
                </div>
                <div class="invalid-feedback">
                    <ul>
                        <li>Город не найден в списке активных продавцов.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="select-city__info">
            <p class="text-help">Выберите ближайщий к Вам город:</p>
        </div>
        <div class="select-city">
            <div class="select-city__block no-border">
                <div class="select-city__content">
                    <span class="select-city__text-first"><span class="marker">Нов</span>город,</span>
                    <span class="select-city__text-second">Новгородская область, Россия,</span>
                    <span class="select-city__text-third">15&nbsp;продавцов (100&nbsp;запчастей)</span>
                </div>
                <div class="select-city__content">
                    <span class="select-city__text-first"><span class="marker">Нов</span>ая Зеландия</span>
                    <span class="select-city__flag">
                            <img class="select-city__flag-img" src="../images/flg.png" alt="Китай">
                        </span>
                    <span class="select-city__text-third">5&nbsp;продавцов (146&nbsp;запчастей)</span>
                </div>
                <div class="select-city__content">
                    <span class="select-city__text-first"><span class="marker">Нов</span>осибирск,</span>
                    <span class="select-city__text-second">Новосибирская область, Россия,</span>
                    <span class="select-city__text-third">15&nbsp;продавцов (1000&nbsp;запчастей)</span>
                </div>
                <div class="select-city__content">
                    <span class="select-city__text-first"><span class="marker">Нов</span>осибирская область,</span>
                    <span class="select-city__text-second">Россия,</span>
                    <span class="select-city__text-third">25&nbsp;продавцов (53500&nbsp;запчастей)</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
