{% extends 'imports/_main.twig' %}
{% set title = 'Выбор города' %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid page-select-city">
        <div class="search-block">
            <div class="form-controls">
                <input type="text" class="form-control form-control-circle" id="test33" placeholder="Укажите город, регион или страну">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                    <button type="submit"
                            data-input-control
                            data-toggle="tooltip"
                            data-html="true"
                            title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                            class="form-search-control"></button>
                </div>
            </div>
        </div>
        <div class="form-group select-city__form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Выбрать все страны</label>
            </div>
        </div>
        <div class="select-city">
            <div class="select-city__block">
                <div class="select-city__dropcap">А</div>
                <div class="select-city__content">
                    <span class="select-city__text-first">Абакан,</span>
                    <span class="select-city__text-second">Хакасия республика, Россия,</span>
                    <span class="select-city__text-third">123&nbsp;продавца (3500&nbsp;запчастей)</span>
                </div>
                <div class="select-city__content">
                    <span class="select-city__text-first">Австрия</span>
                    <span class="select-city__flag">
                            <img class="select-city__flag-img" src="../images/flg.png" alt="Китай">
                        </span>
                    <span class="select-city__text-third">5&nbsp;продавцов (46&nbsp;запчастей)</span>
                </div>
                <div class="select-city__content">
                    <span class="select-city__text-first">Агинский Бурятский автономный округ,</span>
                    <span class="select-city__text-second">Россия,</span>
                    <span class="select-city__text-third">15&nbsp;продавцов (100&nbsp;запчастей)</span>
                </div>
            </div>
            <div class="select-city__block">
                <div class="select-city__dropcap">Б</div>
                <div class="select-city__content">
                    <span class="select-city__text-first">Барнаул</span>,
                    <span class="select-city__text-second">Алтайский край, Россия,</span>
                    <span class="select-city__text-third">15&nbsp;продавцов (14 032&nbsp;запчастей)</span>
                </div>
                <div class="select-city__content">
                    <span class="select-city__text-first">Башкотарстан республика,</span>
                    <span class="select-city__text-second">Россия,</span>
                    <span class="select-city__text-third">10&nbsp;продавцов (2&nbsp;запчасти)</span>
                </div>
                <div class="select-city__content">
                    <span class="select-city__text-first">Белоруссия</span>
                    <span class="select-city__flag">
                            <img class="select-city__flag-img" src="../images/flg.png" alt="Китай">
                        </span>
                    <span class="select-city__text-third">5&nbsp;продавцов (5&nbsp;запчастей)</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
