{% extends 'imports/_main.twig' %}
{% set title = 'Шины/Диски' %}
{% set header_fixed = true %}
{% block content %}

    <section class="wrapper-fluid page-default">
        <div class="ga panel-toggle">
                <a class="item tires active" data-tab="tab-tires"><span>Шины</span></a>
                <a class="item disks" data-tab="tab-disks"><span>Диски</span></a>
        </div>
        <div class="ga panel-list">
            <div class="panel active" id="tab-tires">
                <div class="title">Выберите поиск</div>
                <a href="disk-1.html"  class="btn btn-mr btn-block btn-brand_blue mb-2">По параметрам</a>
                <a href="disk-1.html"  class="btn btn-mr btn-block btn-brand_blue-outline mb-2">По автомобилю</a>

            </div>
            <div class="panel" id="tab-disks">
                <div class="title">Выберите поиск</div>
                <a href="disk-1.html" class="btn btn-mr btn-block btn-brand_blue mb-2">По параметрам</a>
                <a href="disk-1.html" class="btn btn-mr btn-block btn-brand_blue-outline mb-2">По автомобилю</a>
            </div>
        </div>
    </section>
{% endblock %}