{% extends 'imports/_main.twig' %}
{% set title = 'Шины/Диски' %}
{% set header_fixed = true %}
{% block content %}

    <section class="wrapper-fluid page-default">
        <div class="ga panel-toggle">
            <a class="item tires active" data-tab="tab-tires"><span>Шины</span></a>
            <a class="item disks" data-tab="tab-disks"><span>Диски</span></a>
        </div>
        <div class="ga panel-list">
            <div class="panel active" id="tab-tires">
                <select name="skills" data-use-labels="true" class="ui fluid search dropdown form-control auto-init">
                    <option value="">Выберите поиск</option>
                    <option value="111" selected>По параметрам</option>
                    <option value="112">По автомобилю</option>
                </select>
            </div>
            <div class="panel" id="tab-disks">

            </div>
        </div>


    </section>

    {% include 'imports/_bar-a-search.twig' %}
{% endblock %}