{% extends 'imports/_main.twig' %}
{% set title = 'Шины/Диски' %}
{% set header_fixed = true %}
{% block content %}

    <section class="wrapper-fluid page-default">
        <div class="ga panel-toggle">
            <a class="item tires active" data-tab="tab-tires"><span>Шины</span></a>
            <a class="item disks" data-tab="tab-disks"><span>Диски</span></a>
        </div>
        <div class="ga panel-list">
            <div class="panel active" id="tab-tires">
                <div class="border-bottom-full">
                    <select name="skills" data-use-labels="true"
                            class="ui fluid search dropdown form-control auto-init">
                        <option value="">Выберите поиск</option>
                        <option value="111" selected>По параметрам</option>
                        <option value="112">По автомобилю</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="skills" data-use-labels="true"
                            class="ui fluid search dropdown form-control auto-init">
                        <option value="">Select Country</option>
                        <option value="angular">angular</option>
                        <option value="css">CSS</option>
                        <option value="design">graphic Design</option>
                        <option value="ember">Ember</option>
                        <option value="html">HTML</option>
                        <option value="ia">Information Architecture</option>
                        <option value="javascript">Javascript</option>
                        <option value="mech">Mechanical Engineering</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="skills" data-use-labels="true"
                            class="ui fluid search dropdown form-control auto-init">
                        <option value="">Select Country</option>
                        <option value="angular">angular</option>
                        <option value="css">CSS</option>
                        <option value="design">graphic Design</option>
                        <option value="ember">Ember</option>
                        <option value="html">HTML</option>
                        <option value="ia">Information Architecture</option>
                        <option value="javascript">Javascript</option>
                        <option value="mech">Mechanical Engineering</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="skills" data-use-labels="true"
                            class="ui fluid search dropdown form-control auto-init">
                        <option value="">Select Country</option>
                        <option value="angular">angular</option>
                        <option value="css">CSS</option>
                        <option value="design">graphic Design</option>
                        <option value="ember">Ember</option>
                        <option value="html">HTML</option>
                        <option value="ia">Information Architecture</option>
                        <option value="javascript">Javascript</option>
                        <option value="mech">Mechanical Engineering</option>
                    </select>
                </div>

                <div class="panel-hr"></div>

                <div class="form-group">
                    <select name="skills" data-use-labels="true"
                            class="ui fluid search dropdown form-control auto-init">
                        <option value="">Select Country</option>
                        <option value="angular">angular</option>
                        <option value="css">CSS</option>
                        <option value="design">graphic Design</option>
                        <option value="ember">Ember</option>
                        <option value="html">HTML</option>
                        <option value="ia">Information Architecture</option>
                        <option value="javascript">Javascript</option>
                        <option value="mech">Mechanical Engineering</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox  mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Шипованные</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">"Липучка"</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Европейские</label>
                    </div>
                </div>
                <a href="search2-disk.html"  class="btn btn-mr btn-block btn-brand_yellow mb-2">Поиск</a>
            </div>


            <div class="panel" id="tab-disks">
                Здесь селекты для дисков )))

            </div>
        </div>

    </section>


{% endblock %}