 {% extends 'imports/_main.twig' %}
{% set title = 'О проекте' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-flex page-error">
    <div class="page-error__content">
        <div class="err-description">
            <div class="err-text">Сервис временно недоступен.<br>Обновите страницу или зайдите позже</div>
            <div class="err-name">500</div>
        </div>
    </div>
    <div class="page-error__map"></div>
</section>
{% endblock %}