{% extends 'imports/_main.twig' %}
{% set title = 'Главная' %}
{% set header_mode = 'big' %}
{% set header_fixed = false %}
{% block content %}
    <div class="wrapper-fluid page-home">
        <div class="index-nav">
            <ul class="index-nav__list">
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_search"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Поиск по номеру<br>или наименованию</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link">
                        <div class="index-nav__icon index-nav__icon_vin"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Запрос по VIN</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link off">
                        <div class="index-nav__icon index-nav__icon_disk"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Шины/Диски</p>
                        </div>
                    </a>
                </li>
                <li class="index-nav__item">
                    <a href="#" class="index-nav__link off">
                        <div class="index-nav__icon index-nav__icon_cars"></div>
                        <div class="index-nav__title-wrapper">
                            <p class="index-nav__title">Контрактные запчасти</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}