{% extends 'imports/_main.twig' %}

{% block content %}

    <div class="list-group">
        {% for page in pagelist() %}
            <a href="/{{ page }}" class="list-group-item list-group-item-action">{{ page }}</a>
        {% endfor %}
    </div>


{% endblock %}
