{% extends 'imports/_main.twig' %}
{% set title = 'Восстановление пароля' %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid reg">
        <div class="reg-title-wr">
            <p class="reg-title">Укажите новый пароль</p>
        </div>
        <div class="container-fluid reg-form">
            <form action="">
                <div class="form-group">
                    <div class="form-controls">
                        <input type="password"
                               class="form-control form-control-erase data-password-toggle was-validated"
                               id="test-name-1"
                               name="password"
                               placeholder="Пароль">
                        <div class="invalid-feedback">В поле есть ошибка</div>
                        <div class="valid-feedback">Допустимы латинские символы верхнего и нижнего регистра. <br>Минимум 6 символов.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-controls">
                        <input type="password"
                               class="form-control form-control-erase data-password-toggle was-validated"
                               id="test-name-2"
                               name="password2"
                               placeholder="Повторите пароль">
                        <div class="invalid-feedback">Пароли не совпадают</div>
                        <div class="valid-feedback">Допустимы латинские символы верхнего и нижнего регистра. <br>Минимум 6 символов.</div>
                    </div>
                </div>
                <button href="#modalNewPassEnd" data-fancybox="" type="submit" class="btn btn-mr btn-block btn-brand_yellow btn-send-newpass m-8-32">Сохранить</button>
            </form>
        </div>
    </section>

{% endblock %}