{% extends 'imports/_main.twig' %}
{% set title = 'Уточняющий поиск в запросах' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-searches">

    <div class="recent-searches__block" >
        <div class="page-searches__title tires">Уточните производителя</div>
        <div class="quest-block">
            <a href="search-result.html" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/tmp/wheel.png" alt="Колесо" class="img">
                    <div class="prod-rating prod-rating__quest-block">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">YOKOHAMA, Ice Guard IG50</div>
                    <div class="quest-block__param"><span>Зимняя,</span> 145/65R15 72Q</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="search-result.html" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/tmp/tires2.jpg" alt="Колесо" class="img">
                    <div class="prod-rating">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">YOKOHAMA Ice Guard IG50</div>
                    <div class="quest-block__param">Зимняя, 145/65R15 72Q</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="search-result.html" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/no-photo.svg" alt="нет фото" class="img">
                    <div class="prod-rating">2,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">YOKOHAMA Ice Guard IG50</div>
                    <div class="quest-block__param">Зимняя, 145/65R15 72Q</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
    </div>

</section>
{% endblock %}