{% extends 'imports/_main.twig' %}
{% set title = 'Поиск по номеру' %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid page-searches fixed">
        <div class="search-block page-searches__search">
            <div class="form-controls">
                <input type="text" class="form-control form-control-circle" id="test33"
                       placeholder="Укажите номер или название запчасти">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                    <button type="submit"
                            data-input-control
                            data-toggle="tooltip"
                            data-html="true"
                            title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                            class="form-search-control"></button>
                </div>
            </div>
        </div>
        <div class="searches__block">
            <div class="quest-block quest-block-top">
                <div class="quest-block__desc">
                    <a href="#">
                        <span class="quest-block__name">Одеяло-конверт длинное название</span>
                        <span class="quest-block__model">,
                            BMW,
                            J666856289
                        </span>
                    </a>
                </div>
                <div class="quest-block__act" style="display: none;">
                    <div class="prod-rating">4,9</div>
                    <div class="comment-count seller__comment-count">
                        <span class="comment-count__underline">15</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper-fluid page-searches-result">
        <div class="quest-block quest-block-result">
            <div class="quest-block__flex">
                <div class="rating__body">
                    <div class="rating__stars" style="width: 50%"></div>
                </div>
                <div class="quest-block__light-gray">
                    Обновлено: 09.08.17
                </div>
            </div>
            <a href="seller.html" class="quest-block__link ">
                <div class="quest-block__desc border-gray">
                    <div class="quest-block__name">Ситроен центр Москва</div>
                    <div class="quest-block__param">Россия, г. Москва, ул Плужникова-Костромского, д 200, офис 1978
                    </div>
                </div>
            </a>
            <div class="quest-block__tovar-title">
                Одеяло-конверт, цвет черный
                <span class="quest-block__tovar-subtitle">BMW, J6668561289</span>
            </div>
            <div class="quest-block__flex border-gray">
                <div class="quest-block__price">
                    <span class="quest-block__price-subtitle">Юр. лица</span>
                    200 400 руб.
                </div>
                <a href="#" class="btn btn-brand_yellow">Заказать</a>
            </div>
            <div class="quest-block__flex">
                <a class="quest-block__delivery aqualink"
                   data-toggle="collapse"
                   href="#collapseDelivery"
                   aria-expanded="false"
                   aria-controls="collapseDelivery">
                    Условия доставки
                </a>
                <div class="quest-block__exist">В наличии 15 шт.</div>
            </div>
            <div class="collapse" id="collapseDelivery">
                <div class="quest-block__text" >
                    Условия доставки или тут какой-то текст ещё. Может быть несколько предложений. Может быть несколько
                    предложений.
                </div>
            </div>
        </div>

        <a href="#" class="btn-white-more">
            <div class="aqualink">Показать ещё <span class="text-turq">23 предложения</span></div>
        </a>

        <div class="accord" id="page-result-accord">
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-result-accord"
                   href="#page-result-accord-1">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Предложения в других городах <span class="text-gray">(23)</span></span>
                </a>
                <div id="page-result-accord-1" class="accord__body page-searches-result__accord-body collapse">
                    <div class="quest-block quest-block-result">
                        <div class="quest-block__flex">
                            <div class="rating__body">
                                <div class="rating__stars" style="width: 50%"></div>
                            </div>
                            <div class="quest-block__light-gray">
                                Обновлено: 09.08.17
                            </div>
                        </div>
                        <a href="seller.html" class="quest-block__link ">
                            <div class="quest-block__desc border-gray">
                                <div class="quest-block__name">Ситроен центр Москва</div>
                                <div class="quest-block__param">Россия, г. Москва, ул Плужникова-Костромского, д 200, офис 1978
                                </div>
                            </div>
                        </a>
                        <div class="quest-block__tovar-title">
                            Одеяло-конверт, цвет черный
                            <span class="quest-block__tovar-subtitle">BMW, J6668561289</span>
                        </div>
                        <div class="quest-block__flex border-gray">
                            <div class="quest-block__price">
                                <span class="quest-block__price-subtitle">Юр. лица</span>
                                200 400 руб.
                            </div>
                            <a href="#" class="btn btn-brand_yellow">Заказать</a>
                        </div>
                        <div class="quest-block__flex">
                            <a class="quest-block__delivery aqualink"
                               data-toggle="collapse"
                               href="#collapseDelivery-1"
                               aria-expanded="false"
                               aria-controls="collapseDelivery">
                                Условия доставки
                            </a>
                            <div class="quest-block__exist">В наличии 15 шт.</div>
                        </div>
                        <div class="collapse" id="collapseDelivery-1">
                            <div class="quest-block__text" >
                                Условия доставки или тут какой-то текст ещё. Может быть несколько предложений. Может быть несколько
                                предложений.
                            </div>
                        </div>
                    </div>
                    <div class="quest-block quest-block-result">
                        <div class="quest-block__flex">
                            <div class="rating__body">
                                <div class="rating__stars" style="width: 50%"></div>
                            </div>
                            <div class="quest-block__light-gray">
                                Обновлено: 09.08.17
                            </div>
                        </div>
                        <a href="seller.html" class="quest-block__link ">
                            <div class="quest-block__desc border-gray">
                                <div class="quest-block__name">Ситроен центр Москва</div>
                                <div class="quest-block__param">Россия, г. Москва, ул Плужникова-Костромского, д 200, офис 1978
                                </div>
                            </div>
                        </a>
                        <div class="quest-block__tovar-title">
                            Одеяло-конверт, цвет черный
                            <span class="quest-block__tovar-subtitle">BMW, J6668561289</span>
                        </div>
                        <div class="quest-block__flex border-gray">
                            <div class="quest-block__price">
                                <span class="quest-block__price-subtitle">Юр. лица</span>
                                200 400 руб.
                            </div>
                            <a href="#" class="btn btn-brand_yellow">Заказать</a>
                        </div>
                        <div class="quest-block__flex">
                            <a class="quest-block__delivery aqualink"
                               data-toggle="collapse"
                               href="#collapseDelivery-2"
                               aria-expanded="false"
                               aria-controls="collapseDelivery">
                                Условия доставки
                            </a>
                            <div class="quest-block__exist">В наличии 15 шт.</div>
                        </div>
                        <div class="collapse" id="collapseDelivery-2">
                            <div class="quest-block__text" >
                                Условия доставки или тут какой-то текст ещё. Может быть несколько предложений. Может быть несколько
                                предложений.
                            </div>
                        </div>
                    </div>

                    <a href="#" class="btn-white-more">
                        <div class="aqualink">Показать ещё <span class="text-turq">23 предложения</span></div>
                    </a>
                </div>
            </div>
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-result-accord"
                   href="#page-result-accord-2">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Предложения заменителей <span class="text-gray">(3)</span></span>
                </a>
                <div id="page-result-accord-2" class="accord__body page-searches-result__accord-body collapse">
                </div>
            </div>
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-result-accord"
                   href="#page-result-accord-3">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Предложения заменителей в других городах <span class="text-gray">(30)</span></span>
                </a>
                <div id="page-result-accord-3" class="accord__body page-searches-result__accord-body collapse">
                </div>
            </div>
        </div>
    </section>
    {% include 'imports/_bar-a-search.twig' %}

{% endblock %}