{% extends 'imports/_main.twig' %}
{% set title = 'Уточняющий поиск в запросах' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-searches">
    <div class="search-block page-searches__search">
        <div class="form-controls">
            <input type="text" class="form-control form-control-circle" id="test33" placeholder="Укажите номер или название запчасти">
            <div class="form-controls-container">
                <a href="#" data-input-control="erase" class="form-erase-control"></a>
                <button type="submit"
                        data-input-control
                        data-toggle="tooltip"
                        data-html="true"
                        title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                        class="form-search-control"></button>
            </div>
        </div>
    </div>
    <div class="page-searches__info text-15-17-18" style="display: none;">
        Нет предложений от продавцов.
    </div>
    <div class="page-searches__info text-15-17-18" style="display: none;">
        Вы можете отправить <a href="#" class="aqualink">запрос на&nbsp;запчасть</a>.
    </div>
    <div class="page-searches__subtitle">Уточните производителя</div>
    <div class="refined-searches">
        <div class="refined-searches__item">
            <div class="fast-results__img-wrap">
                <div class="brandStub brandStub_1">G</div>
                <img src="../../images/tmp/fiat.png" class="fast-results__img">
            </div>
            <div class="refined-searches__desc">
                <div class="manufacturer">GENERAL MOTORS</div>
                <div class="param">
                    <div class="param__name"><span class="marker">Ремень</span> приводный малибу/каптива 2013</div>
                    <div class="param__num">19347452</div>
                </div>
            </div>
        </div>
        <div class="refined-searches__item">
            <div class="fast-results__img-wrap">
                <div class="brandStub">F</div>
                <img src="../../images/tmp/fiat.png" class="fast-results__img">
            </div>
            <div class="refined-searches__desc">
                <div class="manufacturer">Fiat</div>
                <div class="param">
                    <div class="param__name">Лампа автомобильная автомобильная</div>
                    <div class="param__num">9936631040</div>
                </div>
            </div>
        </div>
        <div class="refined-searches__item">
            <div class="fast-results__img-wrap">
                <div class="brandStub brandStub_2">R</div>
                <img src="../../images/tmp/fiat.png" class="fast-results__img">
            </div>
            <div class="refined-searches__desc">
                <div class="manufacturer">R-Mobis mobis</div>
                <div class="param">
                    <div class="param__name">Шерстяное <span class="marker">oде</span>яло одеяло одеяло</div>
                    <div class="param__num"><span class="marker">0000</span>69621</div>
                </div>
            </div>
        </div>
        <div class="refined-searches__item">
            <div class="fast-results__img-wrap">
                <div class="brandStub brandStub_3">R</div>
                <img src="../images/tmp/fiat.png" class="fast-results__img">
            </div>
            <div class="refined-searches__desc">
                <div class="manufacturer">R-Mobis</div>
                <div class="param">
                    <div class="param__name">Шерстяное <span class="marker">oде</span>яло одеяло одеяло</div>
                    <div class="param__num"><span class="marker">0000</span>69621</div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}