{% extends 'imports/_main.twig' %}
{% set title = 'Последние запросы' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-searches">
    {# Форма поиска запчасти #}
    <div id="parts-search">
        <search api="/json/search/search.json"></search>
    </div>
    <div class="recent-searches__block" >
        <div class="page-searches__title">Вы искали</div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../../images/tmp/wheel.png" alt="Колесо" class="img">
                    <div class="prod-rating prod-rating__quest-block">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../../images/tmp/tires2.jpg" alt="Колесо" class="img">
                    <div class="prod-rating">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Название уцщр запчасти</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../../images/no-photo.svg" alt="нет фото" class="img">
                    <div class="prod-rating">2,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
    </div>
    <div class="recent-searches__block">
        <div class="page-searches__title">Последние запросы</div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../../images/tmp/wheel.png" alt="Колесо" class="img">
                    <div class="prod-rating">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../../images/tmp/tires2.jpg" alt="Колесо" class="img">
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Название уцщр запчасти</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../../images/no-photo.svg" alt="нет фото" class="img">
                    <div class="prod-rating">2,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/search.js"></script>
{% endblock %}