{% extends 'imports/_main.twig' %}
{% set title = 'Последние запросы' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-searches">
    <div class="search-block page-searches__search">
        <div class="form-controls">
            <input type="text" class="form-control form-control-circle" id="test33" placeholder="Укажите номер или название запчасти">
            <div class="form-controls-container">
                <a href="#" data-input-control="erase" class="form-erase-control"></a>
                <button type="submit"
                        data-input-control
                        data-toggle="tooltip"
                        data-html="true"
                        title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                        class="form-search-control"></button>
            </div>
        </div>
    </div>
    <div class="recent-searches__block" >
        <div class="page-searches__title">Вы искали</div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/tmp/wheel.png" alt="Колесо" class="img">
                    <div class="prod-rating prod-rating__quest-block">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/tmp/tires2.jpg" alt="Колесо" class="img">
                    <div class="prod-rating">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Название уцщр запчасти</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/no-photo.svg" alt="нет фото" class="img">
                    <div class="prod-rating">2,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
    </div>
    <div class="recent-searches__block">
        <div class="page-searches__title">Последние запросы</div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/tmp/wheel.png" alt="Колесо" class="img">
                    <div class="prod-rating">4,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/tmp/tires2.jpg" alt="Колесо" class="img">
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Название уцщр запчасти</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 599 900 руб.</div>
                </div>
            </a>
        </div>
        <div class="quest-block">
            <a href="#" class="quest-block__link">
                <div class="quest-block__img-thumb img-part">
                    <img src="../images/no-photo.svg" alt="нет фото" class="img">
                    <div class="prod-rating">2,9</div>
                </div>
                <div class="quest-block__desc">
                    <div class="quest-block__name">Одеяло</div>
                    <div class="quest-block__param">Citroen, FARTJJ546</div>
                    <div class="quest-block__price">от 1 599 900 руб.</div>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}