{% extends 'imports/_main.twig' %}
{% set title = "Магазин CAR'S.RU" %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid page-seller">
        <div class="seller__head">
            <div class="seller__img-thumb">
                <img src="../images/tmp/seller.png" alt="">
            </div>
            <div class="seller__param">
                <div class="seller__name">Магазин CAR'S.RU</div>
                <div class="rating__body seller__rating">
                    <div class="rating__stars" style="width: 80%"></div>
                </div>
                <div class="comment-count seller__comment-count">
                    <span class="comment-count__underline">15 отзывов</span>
                </div>
            </div>
        </div>
        <div class="contacts-block">
            <div class="contacts-block__address">
                г. Петропавловск-Камчатский, ул.Ленина, д.144/4, офис 304
                <a href="#" class="btn-link map-link">На карте</a>
            </div>
            <div class="contacts-block__item">
                Телефон <span href="#" class="btn-link contacts-block__btn">Показать телефон</span>
            </div>
            <div class="contacts-block__item">
                E-mail <span href="#" class="btn-link contacts-block__btn">Показать e-mail</span>
            </div>
            <div class="contacts-block__item">
                Сайт <a href="#" class="btn-link contacts-block__btn">cars.ru</a>
            </div>
            <a class="contacts-block__item">
                <a href="#modalMode" data-fancybox="" class="btn-link text-15-15-17">Посмотреть режим работы</a>
        </div>
        </div>
    </section>
    <section class="wrapper-fluid">
        <div class="info-text">
            Супер цены на колеса на нашем сайте supercolesa.ru
        </div>
        <div class="accord" id="page-seller-accord">
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-seller-accord"
                   href="#page-seller-accord-1">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Дополнительная информация</span>
                </a>
                <div id="page-seller-accord-1" class="accord__body collapse">
                    <div class="accord__subtitle">Способ оплаты:</div>
                    <ul class="circle-list">
                        <li class="circle-list__item">Безналичный расчет</li>
                        <li class="circle-list__item">Наличный расчет</li>
                        <li class="circle-list__item">Банковская карта</li>
                    </ul>
                    <div class="accord__subtitle">Опции:</div>
                    <ul class="circle-list">
                        <li class="circle-list__item">Интернет-магазин</li>
                        <li class="circle-list__item">Торговые в розницу</li>
                        <li class="circle-list__item">Торговля оптом</li>
                        <li class="circle-list__item">Доставка в регионы</li>
                        <li class="circle-list__item">Доставка курьером</li>
                    </ul>
                    <div class="accord__subtitle">Продаваемые марки:</div>
                    <ul class="circle-list">
                        <li class="circle-list__item">BMW</li>
                        <li class="circle-list__item">Lexus</li>
                        <li class="circle-list__item">Mitsubishi</li>
                        <li class="circle-list__item">Mazda</li>
                        <li class="circle-list__item">Mini</li>
                    </ul>
                    <div class="accord__subtitle">Официальный дилер:</div>
                    <ul class="circle-list">
                        <li class="circle-list__item">BMW</li>
                        <li class="circle-list__item">Lexus</li>
                        <li class="circle-list__item">Mitsubishi</li>
                        <li class="circle-list__item">Mazda</li>
                    </ul>
                </div>
            </div>
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-seller-accord"
                   href="#page-seller-accord-2">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Реквизиты</span>
                </a>
                <div id="page-seller-accord-2" class="accord__body collapse">
                    <div class="accord__text">
                        <span class="accord__subtitle">ОГРН: </span>
                        3216549851321
                    </div>
                    <div class="accord__text">
                        <span class="accord__subtitle">ИНН: </span>
                        3216549851321
                    </div>
                </div>
            </div>
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-seller-accord"
                   href="#page-seller-accord-3">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Филиалы (5)</span>
                </a>
                <div id="page-seller-accord-3" class="accord__body collapse">
                    <div class="accord__block">
                        <a class="accord__link btn-link" href="#">KART69.RU</a>
                        <div class="accord__text">Россия, Москва, Киевская, 14/4, офис 212, 121059</div>
                    </div>
                    <div class="accord__block">
                        <a class="accord__link btn-link" href="#">KART69.RU</a>
                        <div class="accord__text">Россия, Москва, Киевская, 14/4, офис 212, 121059</div>
                    </div>
                    <div class="accord__block">
                        <a class="accord__link btn-link" href="#">KART69.RU</a>
                        <div class="accord__text">Россия, Москва, Киевская, 14/4, офис 212, 121059</div>
                    </div>
                    <div class="accord__block">
                        <a class="accord__link btn-link" href="#">KART69.RU</a>
                        <div class="accord__text">Россия, Москва, Киевская, 14/4, офис 212, 121059</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper-fluid page-seller-page">
        <div class="reviews__add">
            <div class="reviews__title">Отзывы</div>
            <a href="#modalAddReview" data-fancybox="" class="reviews__add-btn btn-link">
                + Добавить отзыв
            </a>
        </div>
        <div class="reviews__add-form">

        </div>
        <div class="reviews__wrapper">
            <div class="reviews">
                <div class="reviews__top">
                    <div class="user user-online">
                        <div class="user__img-wrap">
                            <img class="user__img" src="../images/tmp/userpic-example.png" alt="">
                        </div>
                        <div class="user__name">Кристиансен</div>
                    </div>
                    <div class="rating__body">
                        <div class="rating__stars" style="width: 50%"></div>
                    </div>
                </div>
                <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет выполнять важные
                    задания по разработке дальнейших направлений развития. Текст! Таким образом Таким образом
                    сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших
                    направлений развития. Текст! Таким образом
                    <span class="reviews__full">... <span class="reviews__full-text">Показать полностью</span></span>
                </div>
                <div class="reviews__bot">
                    <div class="reviews__date">
                        <div class="reviews__date-svg"></div>2 декабря 2017</div>
                    <div class="reviews__bot-btns">
                        <div class="reviews__reply">
                            <span class="reviews__reply-num">2</span>
                            <div class="reviews__reply-svg"></div>
                        </div>
                        <div class="reviews__like">
                            <span class="reviews__like-num">2</span>
                            <div class="reviews__like-svg"></div>
                        </div>
                    </div>
                </div>
                <div class="reply">
                    <div class="reviews__top">
                        <div class="user user-online">
                            <div class="user__img-wrap">
                                <img class="user__img seller" src="" alt="">
                            </div>
                            <div class="user__name">Официальный представитель компании BMW</div>
                        </div>
                    </div>
                    <div class="reviews__mid">Ответ от организации, например. Ответ от организации. Ответ от организации. Ответ от организации.
                        <span class="reviews__full">... <span
                                    class="reviews__full-text">Показать полностью</span></span>
                    </div>
                    <div class="reviews__bot">
                        <div class="reviews__date">
                            <div class="reviews__date-svg"></div>
                            12 января 2017
                        </div>
                        <div class="reviews__bot-btns">
                            <div class="reviews__like">
                                <span class="reviews__like-num">2</span>
                                <div class="reviews__like-svg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <div class="reviews__top">
                    <div class="user user-online">
                        <div class="user__img-wrap">
                            <img class="user__img" src="../images/tmp/userpic-example.png" alt="">
                        </div>
                        <div class="user__name">Кристиансен</div>
                    </div>
                    <div class="rating__body">
                        <div class="rating__stars" style="width: 50%"></div>
                    </div>
                </div>
                <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет выполнять важные
                    задания по разработке дальнейших направлений развития. Текст! Таким образом Таким образом
                    сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших
                    направлений развития. Текст! Таким образом
                    <span class="reviews__full">... <span class="reviews__full-text">Показать полностью</span></span>
                </div>
                <div class="reviews__bot">
                    <div class="reviews__date">
                        <div class="reviews__date-svg"></div>
                        2 декабря 2017
                    </div>
                    <div class="reviews__bot-btns">
                        <div class="reviews__reply {% if feedback.childs|length %}reviews__reply_open{% endif %}">
                            <span class="reviews__reply-num">
                                2
                            </span>
                            <div class="reviews__reply-svg">
                            </div>
                        </div>
                        <div class="reviews__like">
                            <span class="reviews__like-num">2</span>
                            <div class="reviews__like-svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <div class="reviews__top">
                    <div class="user user-online">
                        <div class="user__img-wrap">
                            <img class="user__img" src="../images/tmp/userpic-example.png" alt="">
                        </div>
                        <div class="user__name">Кристиансен</div>
                    </div>
                    <div class="rating__body">
                        <div class="rating__stars" style="width: 50%"></div>
                    </div>
                </div>
                <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет выполнять важные
                    задания по разработке дальнейших направлений развития. Текст! Таким образом Таким образом
                    сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших
                    направлений развития. Текст! Таким образом
                    <span class="reviews__full">... <span class="reviews__full-text">Показать полностью</span></span>
                </div>
                <div class="reviews__bot">
                    <div class="reviews__date">
                        <div class="reviews__date-svg"></div>
                        2 декабря 2017
                    </div>
                    <div class="reviews__bot-btns">
                        <div class="reviews__reply {% if feedback.childs|length %}reviews__reply_open{% endif %}">
                            <span class="reviews__reply-num">
                                2
                            </span>
                            <div class="reviews__reply-svg">
                            </div>
                        </div>
                        <div class="reviews__like">
                            <span class="reviews__like-num">2</span>
                            <div class="reviews__like-svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <div class="reviews__top">
                    <div class="user user-online">
                        <div class="user__img-wrap">
                            <img class="user__img" src="../images/tmp/userpic-example.png" alt="">
                        </div>
                        <div class="user__name">Кристиансен</div>
                    </div>
                    <div class="rating__body">
                        <div class="rating__stars" style="width: 50%"></div>
                    </div>
                </div>
                <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет выполнять важные
                    задания по разработке дальнейших направлений развития. Текст! Таким образом Таким образом
                    сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших
                    направлений развития. Текст! Таким образом
                    <span class="reviews__full">... <span class="reviews__full-text">Показать полностью</span></span>
                </div>
                <div class="reviews__bot">
                    <div class="reviews__date">
                        <div class="reviews__date-svg"></div>
                        2 декабря 2017
                    </div>
                    <div class="reviews__bot-btns">
                        <div class="reviews__reply {% if feedback.childs|length %}reviews__reply_open{% endif %}">
                            <span class="reviews__reply-num">
                                2
                            </span>
                            <div class="reviews__reply-svg">
                            </div>
                        </div>
                        <div class="reviews__like">
                            <span class="reviews__like-num">2</span>
                            <div class="reviews__like-svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-mr btn-brand btn-brand_blue">Показать все</button>
    </section>
    {% include 'imports/modals/_modal-mode.twig' %}
    {% include 'imports/modals/_modal-add-review.twig' %}
{% endblock %}