{% extends 'imports/_main.twig' %}
{% set title = "Название товара. Одеяло-конверт" %}
{% set header_fixed = true %}
{% block content %}
    <section class="wrapper-fluid page-tovar">
        <div class="tovar__head">
            <div class="tovar__title">
                Название товара. Одеяло-конверт
                <span class="tovar__title-model"> (BMW, J6668561289)</span>
            </div>
            <div class="tovar__rating">
                <div class="prod-rating tovar__prod-rating">4,9</div>
                <div class="comment-count tovar__comment-count">
                    <span class="comment-count__underline">15 отзывов</span>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper-fluid">
        <div class="tovar__slider">

        </div>
    </section>
    <section class="wrapper-fluid page-tovar">
        <button class="btn btn-block btn-mr btn-brand btn-brand_blue tovar__btn">
            Предложений по товару: 256
        </button>
    </section>
    <section>
        <div class="accord" id="page-tovar-accord">
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-tovar-accord"
                   href="#page-tovar-accord-1">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Описание</span>
                </a>
                <div id="page-tovar-accord-1" class="accord__body collapse">
                    <div class="text-15-15-17">
                        Жидкость КПП DSG используется, исходя из названия, в коробке переключения передач и выполняет
                        функцию смазывания рабочих деталей. Особенность этого масла в том, что в нем применяется элемент
                        молибден, который снижает коэффициент трения и износ деталей. Жидкость КПП DSG под номером
                        "G052512A2" производится только компанией "VAG". Аббревиатура "DSG" в наименовании означает, что
                        жидкость предназначена для роботизированной КПП с двойным сцеплением.
                    </div>
                    <div class="tovar__sinonim">
                        <div class="accord__subtitle">Как ещё называют</div>
                        <ul class="circle-list tovar__circle-list">
                            <li class="circle-list__item">Синоним 1</li>
                            <li class="circle-list__item">Синоним 1 Синоним 1</li>
                            <li class="circle-list__item">Синоним 3</li>
                        </ul>
                    </div>
                    <div class="tovar__character">
                        <div class="tovar__title">Характеристики</div>
                        <div class="accord__text">
                            <span class="accord__subtitle">Артикул</span>
                            B1007PR
                        </div>
                        <div class="accord__text">
                            <span class="accord__subtitle">Производитель</span>
                            JS Premium
                        </div>
                        <div class="accord__text">
                            <span class="accord__subtitle">Исполнение фильтра</span>
                            Фильтр-патрон
                        </div>
                        <div class="accord__text">
                            <span class="accord__subtitle">Внутренний диаметр (мм)</span>
                            25,2
                        </div>
                    </div>
                </div>
            </div>
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-tovar-accord"
                   href="#page-tovar-accord-2">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Аналоги/Заменители</span>
                </a>
                <div id="page-tovar-accord-2" class="accord__body collapse">
                    <div class="analog-item">
                        <a href="#modalInfo" data-fancybox="" class="btn-brand_info btn-brand analog-item__btn-info"></a>
                        <div class="analog-item__block border-bottom-turq">
                            <div class="analog-item__title">QUINTON HAZELL</div>
                            <div class="analog-item__article">QKT292AF</div>
                        </div>
                        <button class="btn btn-mr btn-brand btn-brand_blue analog-item__btn-search">Найти</button>
                    </div>
                    <div class="analog-item">
                        <a href="#modalInfo" data-fancybox="" class="btn-brand_info btn-brand analog-item__btn-info"></a>
                        <div class="analog-item__block border-bottom-turq">
                            <div class="analog-item__title">QUINTON HAZELL</div>
                            <div class="analog-item__article">QKT292AF</div>
                        </div>
                        <button class="btn btn-mr btn-brand btn-brand_blue analog-item__btn-search">Найти</button>
                    </div>
                    <div class="analog-item">
                        <a href="#modalInfo" data-fancybox="" class="btn-brand_info btn-brand analog-item__btn-info"></a>
                        <div class="analog-item__block border-bottom-turq">
                            <div class="analog-item__title">QUINTON HAZELL</div>
                            <div class="analog-item__article">QKT292AF</div>
                        </div>
                        <button class="btn btn-mr btn-brand btn-brand_blue analog-item__btn-search">Найти</button>
                    </div>
                </div>
            </div>
            <div class="accord__panel">
                <a class="accord__header collapsed" data-toggle="collapse" data-parent="#page-tovar-accord"
                   href="#page-tovar-accord-3">
                    <span class="accord__ico"></span>
                    <span class="accord__title">Применяемость</span>
                </a>
                <div id="page-tovar-accord-3" class="accord__body collapse">
                    <div class="tovar__applicability">
                        <div class="accord__subtitle">
                            <span class="text-black text-bold">Mersedess-Benz</span>
                            <span class="text-black">Crown Victoria</span>
                        </div>
                        <div class="accord__subtitle">Модификации:</div>
                        <ul class="circle-list">
                            <li class="circle-list__item">1.4</li>
                            <li class="circle-list__item">1.4 LPG</li>
                            <li class="circle-list__item">1.6</li>
                            <li class="circle-list__item">1.6 SIDI</li>
                            <li class="circle-list__item">1.6 Turbo 1.8</li>
                            <li class="circle-list__item">2.0 Biturbo CDTI</li>
                            <li class="circle-list__item"> 2.0 Biturbo CDTI 4x4 2.0 CDTI</li>
                            <li class="circle-list__item">2.0 CDTI 4x4</li>
                            <li class="circle-list__item">2.0 E85 Turbo</li>
                        </ul>
                    </div>
                    <div class="tovar__applicability">
                        <div class="accord__subtitle">
                            <span class="text-black text-bold">Mersedess-Benz</span>
                            <span class="text-black">Crown Victoria</span>
                        </div>
                        <div class="accord__subtitle">Модификации:</div>
                        <ul class="circle-list">
                            <li class="circle-list__item">1.4</li>
                            <li class="circle-list__item">1.4 LPG</li>
                            <li class="circle-list__item">1.6</li>
                            <li class="circle-list__item">1.6 SIDI</li>
                            <li class="circle-list__item">1.6 Turbo 1.8</li>
                            <li class="circle-list__item">2.0 Biturbo CDTI</li>
                            <li class="circle-list__item"> 2.0 Biturbo CDTI 4x4 2.0 CDTI</li>
                            <li class="circle-list__item">2.0 CDTI 4x4</li>
                            <li class="circle-list__item">2.0 E85 Turbo</li>
                        </ul>
                    </div>
                    <div class="tovar__applicability">
                        <div class="accord__subtitle">
                            <span class="text-black text-bold">Mersedess-Benz</span>
                            <span class="text-black">Crown Victoria</span>
                        </div>
                        <div class="accord__subtitle">Модификации:</div>
                        <ul class="circle-list">
                            <li class="circle-list__item">1.4</li>
                            <li class="circle-list__item">1.4 LPG</li>
                            <li class="circle-list__item">1.6</li>
                            <li class="circle-list__item">1.6 SIDI</li>
                            <li class="circle-list__item">1.6 Turbo 1.8</li>
                            <li class="circle-list__item">2.0 Biturbo CDTI</li>
                            <li class="circle-list__item"> 2.0 4x4 2.0 CDTI</li>
                            <li class="circle-list__item">2.0 CDTI 4x4</li>
                            <li class="circle-list__item">2.0 E85 Turbo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper-fluid page-seller-page">
        <div class="reviews__add">
            <div class="reviews__title">Отзывы</div>
            <a href="#modalAddReview" data-fancybox="" class="reviews__add-btn btn-link">
                + Добавить отзыв
            </a>
        </div>
        <div class="reviews__add-form">

        </div>

        <div class="reviews__wrapper">
            <div class="reviews">
                <div class="reviews__top">
                    <div class="user user-online">
                        <div class="user__img-wrap">
                            <img class="user__img" src="../images/tmp/userpic-example.png" alt="">
                        </div>
                        <div class="user__name">Кристиансен</div>
                    </div>
                    <div class="rating__body">
                        <div class="rating__stars" style="width: 50%"></div>
                    </div>
                </div>
                <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет выполнять важные
                    задания по разработке дальнейших направлений развития. Текст! Таким образом Таким образом
                    сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших
                    направлений развития. Текст! Таким образом
                    <span class="reviews__full">... <span class="reviews__full-text">Показать полностью</span></span>
                </div>
                <div class="reviews__bot">
                    <div class="reviews__date">
                        <div class="reviews__date-svg"></div>
                        2 декабря 2017
                    </div>
                    <div class="reviews__bot-btns">
                        <div class="reviews__reply">
                            <span class="reviews__reply-num">2</span>
                            <div class="reviews__reply-svg"></div>
                        </div>
                        <div class="reviews__like">
                            <span class="reviews__like-num">2</span>
                            <div class="reviews__like-svg"></div>
                        </div>
                    </div>
                </div>
                <div class="reply">
                    <div class="reviews__top">
                        <div class="user user-online">
                            <div class="user__img-wrap">
                                <img class="user__img seller-img" src="" alt="">
                            </div>
                            <div class="user__name">Официальный представитель компании BMW</div>
                        </div>
                    </div>
                    <div class="reviews__mid">Ответ от организации, например. Ответ от организации. Ответ от
                        организации.
                        Ответ
                        от организации.
                        <span class="reviews__full">... <span
                                    class="reviews__full-text">Показать полностью</span></span>
                    </div>
                    <div class="reviews__bot">
                        <div class="reviews__date">
                            <div class="reviews__date-svg"></div>
                            12 января 2017
                        </div>
                        <div class="reviews__bot-btns">
                            <div class="reviews__like">
                                <span class="reviews__like-num">2</span>
                                <div class="reviews__like-svg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <div class="reviews__top">
                    <div class="user user-online">
                        <div class="user__img-wrap">
                            <img class="user__img" src="../images/tmp/userpic-example.png" alt="">
                        </div>
                        <div class="user__name">Кристиансен</div>
                    </div>
                    <div class="rating__body">
                        <div class="rating__stars" style="width: 50%"></div>
                    </div>
                </div>
                <div class="reviews__mid">Таким образом сложившаяся структура организации позволяет выполнять важные
                    задания по разработке дальнейших направлений развития. Текст! Таким образом Таким образом
                    сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших
                    направлений развития. Текст! Таким образом
                    <span class="reviews__full">... <span class="reviews__full-text">Показать полностью</span></span>
                </div>
                <div class="reviews__bot">
                    <div class="reviews__date">
                        <div class="reviews__date-svg"></div>
                        2 декабря 2017
                    </div>
                    <div class="reviews__bot-btns">
                        <div class="reviews__reply {% if feedback.childs|length %}reviews__reply_open{% endif %}">
                            <span class="reviews__reply-num">
                                2
                            </span>
                            <div class="reviews__reply-svg">
                            </div>
                        </div>
                        <div class="reviews__like">
                            <span class="reviews__like-num">2</span>
                            <div class="reviews__like-svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-mr btn-brand btn-brand_blue">Показать все</button>
    </section>

    {% include 'imports/modals/_modal-info.twig' %}
    {% include 'imports/modals/_modal-add-review.twig' %}
{% endblock %}