{% extends 'imports/_main.twig' %}
{% set title = 'Запрос по VIN' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-default page-flex">
    <div class="page-title">
        <h1>Ваш запрос направлен в&nbsp;400 магазинов автозапчастей.</h1>
    </div>
    <p class="page-text">В ближайщее время Вы получите ответ на&nbsp;e-mail: valentine@gmail.com. </p>
    <div class="page-circle page-circle_mail"></div>
    <button type="" class="btn btn-mr btn-block btn-brand btn-brand_yellow m-24-32 btn-stuck-bottom ">Создать новый запрос</button>
</section>
{% endblock %}