{% extends 'imports/_main.twig' %}
{% set title = 'Запрос по VIN' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-default">
    <div class="vin-steps steps">
        <ul class="steps__list">
            <li class="steps__item active">
                <a class="steps__link">1</a>
            </li>
            <li class="steps__item ">
                <a class="steps__link">2</a>
            </li>
            <li class="steps__item ">
                <a class="steps__link">3</a>
            </li>
        </ul>
    </div>

</section>

    {% include 'imports/modals/_modal-info-vin.twig' %}

{% endblock %}