{% extends 'imports/_main.twig' %}
{% set title = 'Запрос по VIN' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-default">
    <div class="vin-steps steps">
        <ul class="steps__list">
            <li class="steps__item visited">
                <a href="vin1.html" class="steps__link">1</a>
            </li>
            <li class="steps__item active">
                <a class="steps__link">2</a>
            </li>
            <li class="steps__item ">
                <a class="steps__link">3</a>
            </li>
        </ul>
    </div>
    <div class="page-title-line">
        <h1>Запчасти</h1>
        <p class="subtitle">Перечислите запчасти, которые вы ищете   </p>
    </div>
    <div class="vin-parts">
        <div class="vin-parts__item">
            <div class="clearfix">
                <span class="vin-parts__num pull-left">1</span>
                <div class="btn-delete pull-right"></div>
            </div>
            <div class="form-group form-controls">
                <input type="text" class="form-control" id="" placeholder="Наименование запчасти">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                </div>
            </div>
            <div class="form-group">
                <select name="" id="" data-select-piaker class="selectpicker">
                    <option value="">Тип запчасти</option>
                    <option value="123">Контрактная</option>
                    <option value="1231">Новая</option>
                    <option value="12311">Новая или Контрактная</option>
                </select>
            </div>
            <div class="input-group input-group-actions-right form-controls">
                <input type="text" class="form-control is-invalid form-control-right-border-radius" id="test1" placeholder="VIN/FRAME (Номер кузова)">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                </div>
                <a href="#modalInfoVIN" data-fancybox="" class="form-info-control"></a>
                <div class="invalid-feedback">
                    <ul>
                        <li>Некорректное количество символов для&nbsp;VIN/FRAME номера</li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-mr btn-block btn-brand btn-brand_blue btn-check">Проверить</button>
            <div class="flex wrap">
                <div class="input-group form-count">
                    <input type="number" class="form-control form-control-number" placeholder="кол-во" minlength="1" min="1"
                           max="5">
                    <div class="invalid-feedback">Не может быть меньше 1-го и больше 5-ти</div>
                    <div class="valid-feedback">Выберите количество запчастей</div>
                </div>
                <div class="vin-parts__load-block">
                    <button class="btn btn-brand_blue-outline text-15-17-18 vin-parts__load-btn btn-add-img">+ Добавить фото</button>
                </div>
            </div>
        </div>
        <div class="vin-parts__item">
            <div class="clearfix">
                <span class="vin-parts__num pull-left">2</span>
                <div class="btn-delete pull-right"></div>
            </div>
            <div class="form-group form-controls">
                <input type="text" class="form-control" id="" placeholder="Наименование запчасти">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                </div>
            </div>
            <div class="form-group">
                <select name="" id="" data-select-piaker class="selectpicker">
                    <option value="">Тип запчасти</option>
                    <option value="123">Контрактная</option>
                    <option value="1231">Новая</option>
                    <option value="12311">Новая или Контрактная</option>
                </select>
            </div>
            <div class="input-group input-group-actions-right form-controls">
                <input type="text" class="form-control is-invalid form-control-right-border-radius" id="test2" placeholder="VIN/FRAME (Номер кузова)">
                <div class="form-controls-container">
                    <a href="#" data-input-control="erase" class="form-erase-control"></a>
                </div>
                <a href="#modalInfoVIN" data-fancybox="" class="form-info-control"></a>
                <div class="invalid-feedback">
                    <ul>
                        <li>Некорректное количество символов для&nbsp;VIN/FRAME номера</li>
                    </ul>
                </div>
            </div>
            <div class="flex wrap">
                <div class="input-group form-count">
                    <input type="number" class="form-control form-control-number" placeholder="кол-во" minlength="1" min="1"
                           max="5">
                    <div class="invalid-feedback">Не может быть меньше 1-го и больше 5-ти</div>
                    <div class="valid-feedback">Выберите количество запчастей</div>
                </div>
                <div class="vin-parts__load-block">
                    <div class="vin-parts__load-img">
                        <img src="../images/filter.jpg" alt=""/>
                    </div>
                    <button class="btn btn-brand_blue-outline text-15-17-18 vin-parts__load-btn btn-delete-img">Удалить фото</button>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-mr  btn-brand_light btn-block btn-add-part">+ Добавить запчасть</button>
    <div class="flex vin-parts__buttons">
        <a href="vin1.html" class="btn btn-mr btn-lt btn-block btn-brand btn-brand_gray">Назад</a>
        <a href="vin3.html" class="btn btn-mr btn-rt btn-block btn-brand btn-brand_yellow">Далее</a>
    </div>
</section>
    {% include 'imports/modals/_modal-info-vin.twig' %}
{% endblock %}