{% extends 'imports/_main.twig' %}
{% set title = 'Запрос по VIN' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-default">
    <div class="vin-steps steps">
        <ul class="steps__list">
            <li class="steps__item visited">
                <a href="vin1.html" class="steps__link">1</a>
            </li>
            <li class="steps__item visited">
                <a href="vin2.html" class="steps__link">2</a>
            </li>
            <li class="steps__item active">
                <a class="steps__link">3</a>
            </li>
        </ul>
    </div>
    <div class="page-title-line">
        <h1>Контакты</h1>
        <p class="subtitle">Контактные данные, чтобы с&nbsp;вами связаться</p>
    </div>
    <div class="vin-parts__user-info p-24-24">
        <p class="vin-parts__title">Имя: Валентин</p>
        <p class="vin-parts__title">E-mail: valentine@gmail.com</p>
    </div>
    <div class="form-group">
        <select name="" id="" data-select-piaker class="selectpicker">
            <option value="">Ваш город</option>
            <option value="123">Новосибирск</option>
            <option value="1231">НовосибирскНовосибирсНовосибирскк</option>
            <option value="12311">Новосибирскef</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Телефон" class="form-control" name="">
    </div>
    <div class="form-group">
        <textarea class="form-control" placeholder="Введите сообщение"></textarea>
    </div>
    <div class="flex vin-parts__buttons pt-16">
        <a href="vin2.html" class="btn btn-mr btn-lt btn-block btn-brand btn-brand_gray">Назад</a>
        <a href="vin4.html" class="btn btn-mr btn-rt btn-block btn-brand btn-brand_yellow">Далее</a>
    </div>
</section>
{% endblock %}