{% extends 'imports/_main.twig' %}
{% set title = 'Запрос по VIN' %}
{% set header_fixed = true %}
{% block content %}
<section class="wrapper-fluid page-default ">
    <div class="page-title">
        <h1>Ваш запрос</h1>
    </div>
    <div class="vin-parts__user-info p-24-24">
        <p class="vin-parts__title">Автомобиль:
            <span class="text-description">Lamborgini, Massif, 2009, JN1WNYD21U0000001</span>
        </p>
    </div>
    <div class="page-table vin-parts__table">
        <p class="page-table__title">Выбранные запчасти (3)</p>
        <table>
            <colgroup>
                <col style="width: 30;">
                <col style="width: auto;">
                <col style="width: auto;">
            </colgroup>
            <tr>
                <td>1</td>
                <td>Фильтр маслянный</td>
                <td>3 шт</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Фильтр маслянный маслянный маслянный маслянный</td>
                <td>10 шт</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Фильтр </td>
                <td>30 шт</td>
            </tr>
        </table>
    </div>
    <div class="vin-parts__user-info pb-16">
        <p class="vin-parts__title">Контакты:
            <span class="text-description"> Валентин, valentine@gmail.com, Константинопль, +7(333) 333-33-33</span>
        </p>
    </div>
    <div class="flex vin-parts__buttons pt-16">
        <a href="vin3.html" class="btn btn-mr btn-lt btn-block btn-brand btn-brand_gray">Назад</a>
        <a href="vin-end.html" class="btn btn-mr btn-rt btn-block btn-brand btn-brand_yellow">Далее</a>
    </div>
</section>
{% endblock %}