.kit.view.offers {
  display: flex;
  flex-flow: row wrap;
  margin: -.5rem;
  & > .offer.item {
    flex: 1 1 50%;
    max-width: 50%;
    padding: .5rem;
    @media (max-width: 640px) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  
}