.kit.view.seller{
  display: flex;
  flex-flow: column nowrap;
  padding: .75rem 0;

  & > * {
    margin: .75rem 0;
  }

  & > .header.block{
    order: 1;
    margin-top: -.75rem !important;
  }

  & > .contacts.block{
    order: 2;
  }

  & > .description.block{
    order: 3;
  }

  & > .schedule.block{
    order: 4;
  }

  & > .information.block{
    order: 5;
    margin-left: -1rem;
    margin-right: -1rem;
    ~ .reviews.block{
      margin-top: -1.8125rem;
    }
  }

  & > .reviews.block{
    order: 6;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}