.kit.view.tyre {
  padding: 1rem;
  & > .header.block {
    position: relative;
    margin-bottom: 1em;
  }
  & > .filters.block {
    position: relative;
  }
  & > .list.block {
    position: relative;
  }
}