.kit.example-block {
  max-width: 600px;
  min-height: 90vh;
  height: auto;
  margin: 0 auto;
  border: 1px solid #999; }

.kit.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
@media only screen and (max-width: 768px) {
  .kit.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; } }
.kit.row .col-1-2 {
  width: 50%; }
.kit.row .col-1-4 {
  width: 25%; }
.kit.row .col-1-3 {
  width: 33.33%; }
@media only screen and (max-width: 768px) {
  .kit.row [class*="col-"] {
    width: 100%; } }
.kit.row.top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
.kit.row.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.kit.row.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
