.about {
  overflow: visible;
  .title {
    font-size: 18px;
    @media only screen and (min-width: $phone6) {
      font-size: 18px;
      font-weight: $bol;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
  }
  &__table {
    margin-top: 16px;
    border: 1px solid $devider;
    border-collapse: collapse;
    th {
      font-weight: $bol;
      vertical-align: top;
    }
    th, td {
        padding: 10px;
        border: 1px solid $devider;
      font-size: 13px;
      text-align: left;
    }
  }
  &__list {
    padding: 0 24px;
  }
  &__item {
    display: block;
    width: 100%;
    padding: 30px 8px;
    border-bottom: 1px solid $devider;
    font-size: 16px;
    font-weight: $med;
    line-height: 1.3;
    color: $title;
    text-decoration: none;
    @media only screen and (min-width: $phone6) {
      font-size: 18px;
      padding: 40px 16px;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
    &:hover, &:focus, &:active {
      color: $title;
      text-decoration: none;
    }
    &:last-child {
      border-bottom-color: transparent;
    }
  }
  &__text {
    padding: 8px 16px 0;
    margin-bottom: 16px;
    p, li {
      font-size: 16px;
      line-height: 1.5;
      font-weight: $reg;
      margin: 0;
      padding: 16px 0 0;
      color: $title;
      @media only screen and (min-width: $phone6p) {
        font-size: 18px;
      }
    }
    .about__subtitle {
      font-weight: $bol;
      padding: 16px 0 0;
    }
    .disk-list {
      ul {
        line-height: 19.5px;
        list-style-type: disc;
        padding-left: 20px;
        li {
          padding-top: 0;
          &:before {
            display: none;
          }
        }
      }
    }
  }
}