.kit.action-bar.mobile {
  @include clearfix;
  width: 100%;
  background-color: $bg-gray;
  margin: 0;
  margin-top: -1px;
  margin-bottom: -24px;
  min-height: 42px;
  @extend .border-top-turq;

  &.sticky{
    position: sticky;
    bottom: 0;
    z-index: 1000;
  }

  .button {
    border: none;
    outline: none;
    display: block;
    width: 32px;
    height: 32px;
    margin: 10px;
    background-color: $turq;
    border-radius: 3px;
    transition: all 0.3s ease;
    &.left{
      float: left;
    }
    &.right{
      float: right;
    }
    &.a-filter {
      @include inline-svg-icon('filter', $white, center 0.55rem, 1rem 1rem);
    }
    &.a-info {
      @include inline-svg-icon('ico-i', $white, center, 1rem 1rem);
    }
    &.a-menu {
      @include inline-svg-icon('ico-menu', $white, center, 1rem 1rem);
    }
    &.a-map {
      @include inline-svg-icon('ico-map', $white, center, 1rem 1rem);
    }
    &.a-tires {
      @include inline-svg-icon('ico-tires', $white, center, 1.25rem 1.25rem);
    }
    &.a-disks {
      @include inline-svg-icon('ico-disks', $white, center, 1.3rem 1.3rem);
    }
    &.a-contract {
      @include inline-svg-icon('contract', $white, center, 1.55rem 0.7rem);
    }
    @include hover-focus-active {
      background-color: $lightBlue;
    }
    &.active {
      background-color: $lightBlue;
    }
  }
}