.add-review {
  &__head {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    span {
      @extend .text-15-15-17;
      color: $title;
    }
  }
  &__title {
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 1rem;
  }
  &__author-img {
    height: 2rem; //42px
    width: 2rem; //42px
  }
}
.is-invalid {
  ~ .invalid-feedback,
  .invalid-feedback {
    display: block;
    &.no-list li {
      padding: 0;
      &:before {
        display: none;
      }
    }
    &__modal {
      li {
        width: 100%;
        text-align: center;
      }
    }
  }
}