.analog-item {
  font-size: 0;
  white-space: nowrap;
  &__btn-info {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.75rem;
  }
  &__btn-search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    @include phone-sm {
      width: 6.25rem;
    }
    @include phone-md {
      width: 7.625rem;
    }
    @include phone-lg {
      width: 8.625rem;
    }
  }
  &__block {
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 0;
    @include phone-sm {
      width: calc(100% - 6.5rem - 3rem);
    }
    @include phone-md {
      width: calc(100% - 8.25rem - 3rem);
    }
    @include phone-lg {
      width: calc(100% - 9rem - 3rem);
    }
  }
  &__title, &__article {
    @extend .text-15-15-17;
    color: $text;
  }
  &__article {
    color: $placeholder;
  }
  &:last-child &__block {
    border-color: transparent;
  }

}