.wrapper-main {
  width: 100%;
  max-width: 768px;
  height: 100%;
  box-sizing: border-box;
  padding: 48px 0 $height-footer 0;
  min-height: 100vh;
  padding-top: 0;
  margin: 0 auto;
}
.wrapper-fluid {
  padding: 0;
  width: 100%;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
}
.nowrap {
  white-space: nowrap;
}
.border-bottom-turq {
  border-bottom: 1px solid $turq;
}
.border-top-turq {
  border-top: 1px solid $turq;
}
.text-black {
  color: $black;
}
.text-turq {
  color: $turq;
  font-weight: $reg;
}
.text-gray {
  color: $placeholder;
  font-weight: $reg;
}
.text-bold {
  font-weight: $bol;
}
.text-med {
  font-weight: $med;
}
.text-16-18-20 {
  font-size: 1rem;
  @media only screen and (min-width: $phone6) {
    font-size: 1.125rem; //18px
  }
  @media only screen and (min-width: $phone6p) {
    font-size: 1.25rem; //20px
  }
}
.text-15-15-17 {
  font-size: 0.9375rem; //15px;
  @media only screen and (min-width: $phone6p) {
    font-size: 1.0625rem; //17px;
  }
}
.text-15-17-18 {
  font-size: 0.9375rem; //15px;
  @media only screen and (min-width: $phone6) {
    font-size: 1rem;
  }
  @media only screen and (min-width: $phone6p) {
    font-size: 1.0625rem; //17px;
  }
}
.text-13-15-17 {
  font-size: 0.8125rem; //13px;
  @media only screen and (min-width: $phone6) {
    font-size: 0.9375rem; //15px;
  }
  @media only screen and (min-width: $phone6p) {
    font-size: 1.0625rem; //17px;
  }
}
.text-13-15-15 {
  font-size: 0.8125rem; //13px;
  @media only screen and (min-width: $phone6) {
    font-size: 0.9375rem; //15px;
  }
}
.text-11-13-13 {
  font-size: 0.6875rem; //11px;
  @media only screen and (min-width: $phone6) {
    font-size: 0.8125rem; //13px;
  }
}
.text-wrap {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.m-24-32 {
  display: block;
  margin-top: 24px;
  margin-bottom: 32px;
}
.m-8-32 {
  margin: 8px auto 32px;
}
.m-12-24 {
  margin: 12px auto 24px;
}
.m-16-40 {
  margin: 16px auto 40px;
}
.m-32-40 {
  margin: 32px auto 40px;
}
.pt-24 {
  display: block;
  width: 100%;
  padding-top: 24px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-16 {
  padding-bottom: 16px;
}
.p-24-24 {
  padding-bottom: 24px;
  padding-top: 24px;
}
.p-8-24 {
  padding-bottom: 24px;
  padding-top: 24px;
}
.mb-none {
  margin-bottom: 0;
}
.no-border {
  border: none!important;
}
.tables {
  width: 100%;
  vertical-align: middle;
  th,td {
    padding: 5px 12px;
    background: $white;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.btn-clear-wr {
  display: block;
  width: 100%;
}
.btn-check {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}
.img-part {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: .2rem;
  border: 1px solid $turq;
  img {
    width: 100%;
  }
}
.contacts-block {
  &__address, &__item {
    font-size: 15px;
    line-height: 1.3;
    color: $text;
    font-weight: $reg;
    @media only screen and (min-width: $phone6p) {
      font-size: 17px;
    }
  }
  &__address {
    margin-bottom: 12px;
  }
  &__item {
    font-weight: $med;
    padding: 4px 0;
  }
  &__btn {
    display: inline-block;
    padding-left: 16px;
  }
}
.map-link {
  display: block;
  height: 15px;
  padding-left: 20px;
  margin: 8px 0;
  font-size: inherit;
  line-height: 1.2;
  @include inline-svg-icon('ico-map', transparent, left bottom, 12px 16px);
}

.circle-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    display: inline-block;
    margin-right: 4px;
    font-size: 15px;
    line-height: 1.3;
    font-weight: $reg;
    color: $text;
    @media only screen and (min-width: $phone6p) {
      font-size: 17px;
    }
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '•';
      font-size: 20px;
      color: $lightBlue;
      padding-right: 4px;
    }
  }
}
.circle {
  &:after {
    content: '';
    position: absolute;
    width: 153px;
    height: 153px;
    border: 1px solid $turq;
    border-radius: 100px;
    top: 52px;
    left: 47px;
  }
}
a, .btn, .form-control {
  outline: none !important;
}
.aqualink {
  color: $aqua;
  @include hover-focus-active {
    color: $aqua;
    text-decoration: none;
  }
}
.btn-white-more {
  display: block;
  width: auto;
  background-color: #fff;
  margin: 0 8px 12px;
  text-align: center;
  padding: 16px;
  @include hover-focus-active {
    text-decoration: none;
  }
  font-size: 1rem;
  font-weight: $med;
  @media only screen and (min-width: $phone6) {
    font-size: 1.125rem; //18px
  }
}

.layout-phone-main {
  display: flex;
  flex-flow: column nowrap;
}

.color-red {
  color: $red;
}