$barBackground: #4a7db4 !default;
$barMinHeight: 3rem;

.kit.header {
  margin-left: 0;
  margin-right: 0;
  background: $barBackground;
  min-height: $barMinHeight;
  transition: all .3s ease;
  overflow: hidden;
  z-index: $zindex-fixed;
  width: 100%;
  top: 0;
  &.wrapper {
    height: 3rem;
  }
  &.fixed {
  }
  .navbar {
    display: none;
    padding: .5rem;

  }
  &-fixture {
    min-height: 3rem;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
  }
  .info {
    color: $white;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 0.375rem 0.625rem 0 1rem;
    flex: 1 1 auto;
    .heading,
    h1 {
      font-size: 0.9375rem;
      line-height: normal;
      padding: .1rem 0 0;
      margin: 0;
      font-weight: 400;
      color: $white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100vw - 12.5rem);
      max-width: 30rem;
      @include phone-sm() {
        font-size: .75rem;
      }
    }
  }
  .actions {
    min-width: 6rem;
    white-space: nowrap;
  }
  &-cart {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 2.5rem;
    height: 3rem;
    @include inline-svg-icon('cart', $white, center, 1.7rem 1.2rem);
  }
  &-profile {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    width: 2.5rem;
    height: 3rem;
    @include inline-svg-icon('profile', $white, center, 1.5rem 1.5rem);
    &.profile-user {
      background: none;
      .user-img {
        @include inline-svg-icon('profile-individual', $white, center, 1.5rem 1.5rem);
      }
    }
    &.user-entity {
      background: none;
      .user-img {
        @include inline-svg-icon('profile-entity', $white, center, 1.5rem 1.5rem);
      }
    }
  }
  &-logo {
    width: 5.625rem;
    height: 1rem;
    margin: 0;
    @include inline-svg-icon('logo-header', $black, '0 50%', 5.625rem);
    background-size: contain;
  }
  &-menu {
    flex: 0 1 auto;
    &-burger {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 5rem;
      background: $white;
      cursor: pointer;
      border-top: 1px lighten($barBackground, 30%) solid;
      border-bottom: 1px lighten($barBackground, 30%) solid;
      @include hover-focus-active {
        background: lighten($barBackground, 30%);
        .bar-menu-burger-icon {
          position: relative;
          transform: scaleX(1.2);
          &:after,
          &:before {
          }
        }
      }
      &-icon {
        display: block;
        height: .25rem;
        width: 2rem;
        background: $gray-900;
        overflow: visible;
        position: relative;
        transition: all .3s ease;
        pointer-events: none;
        &:after,
        &:before {
          display: block;
          position: absolute;
          top: -.5rem;
          width: 100%;
          background: $gray-900;
          height: .25rem;
          content: '';
          transition: all .3s ease;
        }
        &:after {
          top: auto;
          bottom: -.5rem;
          content: '';
        }
      }
    }
    &-icon {
      background: theme-color('warning');
      padding: 0;
      height: 0;
      &:before {
        display: block;
        margin: 0 auto;
        content: '';
        @include size(3rem);
      }
      &_parts {
        &:before {
          @include inline-svg-icon('sidebar-parts', $gray-800, 'center', 3rem)
        }
      }
      &_autoservice {
        &:before {
          @include inline-svg-icon('sidebar-autoservice', $gray-800, 'center', 3rem)
        }
      }
      &_auto {
        &:before {
          @include inline-svg-icon('sidebar-auto', $gray-800, 'center', 3rem)
        }
      }
    }
  }

  &.big {
    min-height: 6rem;
    .navbar {
      display: block;
    }
    .bar-info {
      flex: 1 1 auto;
      padding: 0 1rem 0;
      h1 {
        font-size: 1rem;
        line-height: normal;
        padding: .2rem 0 0;
        margin: 0;
        font-weight: 400;
        color: $white;
      }
    }
    .bar-logo {
      width: 100%;
      height: 2.5rem;
      margin: 0;
      @include inline-svg-icon('logo-header', $black, '0 50%', 5.625rem);
      background-size: contain;
    }
    .bar-actions {
      display: none;
    }
    .bar-menu-icon {
      padding: .5rem 1rem;
      height: auto;
    }
    .heading,
    h1 {
      font-size: 0.9375rem;
      line-height: normal;
      padding: .2rem 0 0;
      margin: 0;
      font-weight: 400;
      color: $white;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

}