.page-error {
  height: calc(100vh - 103px);
  margin: -1.5rem 0;
  background-image: linear-gradient(to top, rgba(116, 171, 188, 1) 0%, rgba(116, 171, 188, 1) 50%, rgba(147, 185, 197, 1) 100%);
  &__content {
    display: block;
    width: 100%;
    height: 100%;
    flex: 1 1 50%;
    position: relative;
    .err-description {
      text-align: center;
      padding-top: 35px;
      position: absolute;
      bottom: -47px;
      left: 50%;
      transform: translateX(-50%);
      @media only screen and (min-width: $phone6) {
        padding-top: 40px;
        bottom: -60px;
      }
      .err-text {
        height: 30px;
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        color: $white;
        font-size: 13px;
        line-height: 1.3;
        text-align: left;
        padding-left: 12px;
        &.err-400 {
          padding-left: 40px;
        }
        @media only screen and (min-width: $phone6) {
          height: 36px;
          font-size: 14px;
          padding-left: 15px;
          &.err-400 {
            padding-left: 48px;
          }
        }
      }
      .err-name {
        font-size: 130px;
        line-height: 100px;
        font-weight: 900;
        color: $white;
        text-shadow: 0px 5px 15px rgba(96, 126, 146, 0.4);
        @media only screen and (min-width: $phone6) {
          font-size: 154px;
          line-height: 130px;
        }
      }
      &.err-works {
        bottom: -36px;
        @media only screen and (min-width: $phone6) {
          bottom: -44px;
        }
        .err-text {
          padding-left: 0;
        }
        .err-name {
          font-size: 35px;
          line-height: 1;
          text-align: left;
          @media only screen and (min-width: $phone6) {
            font-size: 45px;
          }
        }
      }
    }
  }
  &__map {
    display: block;
    width: 100%;
    height: 100%;
    flex: 1 1 50%;
    @include inline-svg-icon('desktop-map-index', $turq, top center, cover);
  }
  @media all and (orientation: landscape), all and (min-width: 479px) {
    flex-flow: row nowrap;
    &__content {
      min-width: 320px;
      .err-description {
        top: 50%;
        bottom: auto;
        transform: translate(-50%,-50%);
        .err-text {
          font-size: 13px;
        }
        .err-name {
          font-size: 130px;
          line-height: 100px;
        }
      }
    }
  }
}