$height-footer: 55px !default;
$bg-gray: #f7f7f7;
$title: text-color('dark');

.index-footer {
  width: 100%;
  height: $height-footer;
  background-color: $bg-gray;
  border-top: 1px solid $gray-700;
  text-align: center;
  padding-top: 18px;
  font-size: 0.82rem;
  a:focus, a:hover {
    text-decoration: none;
    color: $title;
  }
  &__contacts, &__about, &__rights {
    display: inline-block;
    vertical-align: middle;
    color: $title;
    padding: 0 2.5vw;
  }
}