.form-login {
  .btn-link.form-login__forgot-pass {
    display: inline-block;
    margin: 0;
    padding: 5px 0 1rem;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    @media only screen and (min-width: $phone6) {
      padding-bottom: 5px;
      line-height: 25px;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 18px;
    }
  }
  &__label {
    @media only screen and (min-width: $phone6p) {
      font-size: 18px;
    }
  }
  .social {
    padding: 1.5rem 0 2rem;
    text-align: center;
    .btn-social {
      padding: 0;
      border-radius: 50%;
      outline: none;
      margin: 0 0.6875rem;
    }
  }
  .flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .flex-elem {
      display: block;
      margin: auto;
      text-align: center;
      &:first-child {
        order: 2;
      }
      @media only screen and (min-width: $phone6) {
        width: auto;
        margin: 0;
        &:first-child {
          order: 0;
        }
      }
    }
  }
}