//Device set
$devices: () !default;
$devices: map-merge((
        "iphone5": 320px,
        "iphone7": 375px,
        "iphone7plus": 414px,
        "ipad": 768px,
        "laptop": 1024px
), $devices);

@function device($device: 'iphone') {

}

@mixin phone{
  @media (max-width: #{map-get($devices, 'iphone7plus')}) {
    @content;
  }
}

@mixin phone-sm {
  @media (min-width: #{map-get($devices, 'iphone5')}) and (max-width: #{map-get($devices, 'iphone7') - 1px}) {
    @content;
  }
}
@mixin phone-md {
  @media (min-width: #{map-get($devices, 'iphone7')}) and (max-width: #{map-get($devices, 'iphone7plus') - 1px}) {
    @content;
  }
}
@mixin phone-lg {
  @media (min-width: #{map-get($devices, 'iphone7plus')}) and (max-width: #{map-get($devices, 'ipad') - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{map-get($devices, 'ipad')}) and (max-width: #{map-get($devices, 'laptop') - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{map-get($devices, 'laptop')}) {
    @content;
  }
}

@mixin _size($size: 1rem){
  width: $size;
  height: $size;
  max-width: $size;
  max-height: $size;
  min-width: $size;
  min-height: $size;
}

@function text-color($key: "base") {
  @return map-get($text-colors, $key);
}

//
//
// @include fluidFontSize(16px, 32px, 320px, 768px, 16px);
// при ширине экрана меньше 320px шрифт всегда будет 16px, после 320 он станет резиновым, а после 768px всегда будет 32px.

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);
  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;
  $b: $b + $units;
  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  font-size: $f-min;
  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
