/**
 * Переменные стилей главной страницы
 */
$index-icon-color: #4a7db4;
$index-title-wrapper-margin: 1rem;
$index-item-border-color: $turq;
$index-link-color: $indexTitle;
$index-item-hover: #F4F4F4;


/*
 * Стили для главной страницы
 */
.index-nav {
  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    padding: 0 1rem;
    margin-top: -1px;
    background-color: transparent;
    position: relative;
    &:hover {
      background-color: $index-item-hover;
      & .index-nav__title-wrapper {
        border-color: transparent;
      }
    }
  }
  &__text,
  p.index-nav__text {
    @extend .text-15-15-17;
    padding: 0;
    margin: 0;

  }
  &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    font-size: 0;
    @include hover-focus-active {
      text-decoration: none;
    }
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    @include size(4rem);
    &_search {
      @include inline-svg-icon('home-icon-1', $index-icon-color, 'center', 'contain')
    }
    &_vin {
      @include inline-svg-icon('home-icon-2', $index-icon-color, 'center', 'contain')
    }
    &_disk {
      @include inline-svg-icon('home-icon-3', $index-icon-color, 'center', 'contain')
    }
    &_cars {
      @include inline-svg-icon('home-icon-4', $index-icon-color, 'center', 'contain')
    }
  }
  &__title-wrapper {
    display: block;
    vertical-align: middle;
    height: auto;
    margin: 0 $index-title-wrapper-margin 0 $index-title-wrapper-margin;
    padding: 2rem 0;
    border-bottom: 1px solid $index-item-border-color;
    flex: 1 1 auto;
  }
  &__title,
  p.index-nav__title {
    padding: 0;
    margin: 0;
    @extend .text-16-18-20;
    font-weight: $med;
    color: $index-link-color;
    &.icon-new {
      position: relative;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      &:after {
        display: inline-flex;
        vertical-align: middle;
        content: 'new';
        font-size: 0.8125rem;
        @include size(2rem);
        border-radius: 50%;
        background: #f37c7c;
        color: #fff;
        justify-content: center;
        align-items: center;
        margin: -0.5rem 0.5rem;
      }
    }
  }
  &__item:last-child {
    .index-nav__title-wrapper {
      border-bottom: none;
    }
  }
  &__text-log {
    padding: 1rem 2.5rem 1.5rem 5.5rem;
  }
}
