.index-side-wrapper {
  position: absolute;
  z-index:999;
  width: 100%;
  height: 100%;
  min-height: 124vw;
  top: 0;
  left: -100vw;
}
.index-side {
  position: absolute;
  z-index:1000;
  left: -50vw;
  top: 0;
  bottom: 0;
  width:35vw;
  background-color: $white;
  box-shadow: 30px 0 120px 0 rgba(96,126,146,.2);
  transition: left 0.3s ease;
  &__list {
    position: absolute;
    left: 0;
    right: 0;
  }
  &__item {
    background-color: $white;
  }
  &__image-svg {
    fill: $sideMenuSVG;
  }
  &__close {
    width: 100%;
    min-height: 48px;
    max-height: 62px;
    height: 15vw;
  }
  &__link {
    height: 35.625vw;
    display: block;
    color: $sideMenuSVG;
    width: 100%;
    font-size: 4vw;
    font-weight: $med;
    line-height: 1.3;
    text-align: center;
    padding-top: 7.25vw;
    cursor: pointer;
    transition: all .1s;
    &:hover, &:focus{
      background: $sideMenuHover;
      color: $black;
      text-decoration: none;
      .index-side__image-svg {
        fill: $black;
      }
    }

    &_active {
      background: $yellow;
      color: $black;
      .index-side__image-svg {
        fill: $black;
      }
      &:hover, &:focus {
        background: $yellow;
      }
    }
  }
  &__image {
    height: 15vw;
    width: 15vw;
    margin: 0 auto 13px;
  }
}