.index-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.index__top-controls {
    width: 100%;
    padding-left: 5vw;
    display: flex;
    justify-content: flex-start;
}
.index__top-controls:last-child {
    justify-content: flex-end;
    padding-right: 12px;
    padding-left: 0;
    width: calc(14.4vw + 60px);
}

.index__logo {
    width: 116px;
  }
.index__slogan {
    font-size: 16px;
    line-height: 16px;
    color: $white;
  }
.index__logo-img {
    width: 100%;

}
.user-btn {
  display: none;
  width: 32px;
  height: 32px;
  border: 1px solid $white;
  border-radius: 16px;
  position: relative;
  vertical-align: top;
  &__flag {
    &:before {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      border: 1px solid $white;
      background: $red;
      border-radius: 4px;
      right: 2px;
      top: -1px;
      z-index: 99;
    }
  }
  &__photo {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &__photo-wrap {
    border: 1px solid $white;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: -1px;
    top: -1px;
  }
}

.login-btn {
  display: inline-block;
  color: $sideMenuSVG;
  cursor: pointer;
}
.index-header {
  width: 100%;
  min-height: 48px;
  max-height: 62px;
  height: 15vw;
  font-size: 4.8vw;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row nowrap;
  .index__top-controls:last-child {
    text-align: right;
  }
  &__nav-logo {
    width: 100%;
    height: auto;
    font-size: 0;
    border-top: 1px solid $turq;
    border-bottom: 1px solid $turq;
    background-color: $head;
  }
  &__nav {
    display: inline-block;
    vertical-align: top;
    width: 25vw;
    max-width: 12rem;
    height: auto;
  }
  &__logo {
    display: inline-block;
    vertical-align: top;
    width: 70vw;
    padding: 5vw;
    max-width: 33.5rem;
    padding-bottom: 0;
    .slogan {
      display: block;
      color: $white;
      //font-size: 4.8vw;
      @include fluidFontSize(16px, 32px, 320px, 768px, 16px);
      line-height: 1.3;
      padding-top: 3.7vw;
    }
  }
}
.index-pic {
  width: 25vw;
  max-width: 12rem;
  height: 20vw;
  max-height: 9.6rem;
  display: flex;
  background: #ffcf68;
  color: #272727;
  svg {
    width: 15vw;
    height: 15vw;
    max-height: 7.2rem;
    max-width: 7.2rem;
    margin: auto;
    fill: #272727;
  }
}
.index-burger {
  display: flex;
  width: 25vw;
  max-width: 12rem;
  height: 14vw;
  max-height: 7.2rem;
  background-color: $bg-gray;
  svg {
    width: 10vw;
    height: 6.25vw;
    max-height: 3rem;
    max-width: 4.8rem;
    margin: auto;
    fill: #272727;
  }
}
.burger-body {
    position: relative;
    width: 10vw;
    height: 1.25vw;
    margin: auto;
    background: $black;
  &:after, &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1.25vw;
    background: $black;
    top: -2.5vw;
    left: 0;
  }
  &:after {
    top: 2.5vw;
  }
}
.select-city {
  &__btn {
    display: block;
    cursor: pointer;
    position: relative;
    margin: auto 0;
  }
  &__detected-wrapper {
    position: absolute;
    top: 64px;
    left: 32px;
    right: 32px;
    width: calc(100vw - 64px);
    max-width: 350px;
    text-align: center;
    padding: 32px;
    cursor: default;
    display: none;
    animation: bounce .4s cubic-bezier(0.21, 0.84, 0.13, 1.01);
    @media only screen and (min-width: $phone6) {
      top: 72px;
    }
    @media only screen and (min-width: $phone6p) {
      top: 78px;
    }
  }
  &__yes, &__no {
    width: 71px;
    min-width: 71px;
    margin: 0;
    @media only screen and (min-width: $phone6p) {
      width: 80px;
      min-width: 80px;
    }
  }
  &__yes {
    margin-right: 24px;
  }
  &__detected {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
  }
  &__name {
    color: $title;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 15px;
    font-size: 5vw;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(75vw - 80px);
    @media only screen and (min-width: $phone6p) {
      max-width: calc(80vw - 120px);
      font-size: 20px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      margin-top: -2px;
      border-style: solid;
      border-width: 5px 4.5px 0 4.5px;
      border-color: $title transparent transparent transparent;
    }
  }
  &__flag {
    border-radius: 2px;
    width: 5vw;
    height: 4vw;
    font-size: 0;
    overflow: hidden;
    margin-right: 3px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    @media only screen and (min-width: $phone6p) {
      width: 22px;
      height: auto;
    }
    img {
      vertical-align: top;
      width: 100%;
      height: auto;
    }
  }
}
