.location {
  &-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: .95rem;
    color: text-color('dark') !important;
    font-weight: 400;
    white-space: nowrap;
    @include hover-focus-active {
      text-decoration: none;
      color: text-color('link') !important;
    }
    &-flag {
      display: inline-block;
      width: 1rem;
      height: .75rem;
      margin-right: .5rem;
      background: $gray-700;
      img{
        display: block;
      }
    }
    &-text {
      position: relative;
      padding-right: 1rem;
      line-height: 1;
      white-space: nowrap;
    }
  }
}