.modal {
  &-body {
    width: 90vw;
    min-width: 100%;
    max-width: 450px;
  }
  &-text {
    text-align: left;
    font-size: 15px;
    line-height: 1.3;
    color: $title;
    margin-bottom: 0;
    b {
      font-weight: $med;
    }
    &.center {
      text-align: center;
    }
    @media only screen and (min-width: $phone6) {
      font-size: 16px;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 18px;
    }
  }
  .btn-modal {
    display: block;
    font-size: 17px;
    line-height: 1.25;
    padding: 0.85rem 1.5rem;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: $phone6) {
      font-size: 18px;
      line-height: 1.5;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
  }
  &-footer-btn {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    background: $gray;
    border-top: 1px solid $turq;
    .btn-footer {
      display: block;
      width: 100%;
      @extend .text-16-18-20;
      line-height: 1.5;
      font-weight: $med;
      text-align: center;
      padding: 20px 0;
      color: $aqua;
      &:hover {
        color: $aqua;
        text-decoration: underline;
      }
    }
    .separator {
      height: 32px;
      width: 1px;
      min-width: 1px;
      max-width: 1px;
      flex-basis: 1px;
      margin: auto 0;
      background-color: $devider;
    }
  }
}