.multi-list {
  ol {
    list-style: none;
    counter-reset: li;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 16px 0 0 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: $reg;
    margin: 0;
    color: $title;
    @media only screen and (min-width: $phone6p) {
      font-size: 18px;
    }
  }
  li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
    padding: 0;
    font-weight: $bol;
  }
  > ol > li {
    font-weight: $bol;
  }
}
.disk-list {
  ul {
    line-height: 1.5;
    list-style-type: disc;
    padding-left: 20px;
  }
 }