.page-table {
  &__title {
    font-size: 16px;
    line-height: 1.3;
    font-weight: $med;
    color: $title;
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    @media only screen and (min-width: $phone6) {
      font-size: 18px;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
  }
  table {
    width: 100%;
  }
  tr:last-child {
    td {
      border-bottom: 1px solid $devider;
    }
  }
  td {
    font-size: 15px;
    line-height: 1.5;
    color: $text;
    padding: 16px 4px;
    vertical-align: top;
    border-top: 1px solid $devider;
    &:first-child {
      color: $placeholder;
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    @media only screen and (min-width: $phone6) {
      font-size: 16px;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 18px;
    }
  }
}