.page-default {
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}
.page-home {
  padding: 0;
  margin-top: -1.5rem;
}

.page-select-city {
  padding: 0 1rem;
  @media only screen and (min-width: $phone6) {
    padding: 0 1.5rem;
  }
  .label-checkbox, .custom-checkbox {
    margin: 1rem 1.5rem 0;
    float: none;
  }
}

.page-seller {
  padding: 0 1.5rem 1rem;
  margin-top: -8px;
}
.page-tovar {
  padding: 0 1.5rem;
}

.page-searches,
.page-searches-result {
  margin-top: -1.5rem;
  background-color: $white;
  &__accord-body {
    padding: 0;
  }
  &__search {
    padding: .5rem 1rem .25rem;
    background: rgba($white,.95);
    @media only screen and (min-width: $phone6) {
      padding: 0 1.5rem .25rem;
    }
  }
  &__title {
    font-weight: $med;
    color: $black;
    padding: 0 13px .5rem;
    font-size: 1.125rem;
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
    &.tires {
      padding-top: 0;
    }
  }
  &__subtitle {
    font-weight: $reg;
    color: $text;
    padding: 1rem 1rem .5rem;
    font-size: 1rem;
    @media only screen and (min-width: $phone6) {
      padding: 1rem 1.5rem .5rem;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
  }
  &__info {
    font-weight: $reg;
    color: $placeholder;
    line-height: 1.3;
    padding: 1rem 2rem 0;
    @media only screen and (min-width: $phone6) {
      padding: 1rem 40px 0;
    }
  }
}
.page-searches-result {
  background-color: $pageField;
  margin: 0;
  padding: .75rem 0;
}

.page-flex {
  height: auto;
  min-height: calc(100vh - 151px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: column nowrap;
  .btn-stuck-bottom {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: .5rem;
  }
}

.page-title-line, .page-title {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid $devider;
  h1 {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: $med;
    color: $title;
    margin: 0;
    padding: 0;
    @media only screen and (min-width: $phone6) {
      font-size: 1.125rem;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
  }
  .subtitle {
    font-size: 15px;
    line-height: 1.3;
    color: $placeholder;
    margin: 0;
    padding: .5rem 0 0;
    @media only screen and (min-width: $phone6p) {
      font-size: 17px;
    }
  }
}

.page-title {
  padding: 0;
  border-bottom: none;
}

.page-text {
  width: 100%;
  font-size: 15px;
  line-height: 1.3;
  font-weight: $reg;
  color: $title;
  margin: 0;
  padding: 1.5rem 0;
  &.text-gray {
    color: $placeholder;
  }
  @media only screen and (min-width: $phone6) {
    font-size: 1rem;
  }
  @media only screen and (min-width: $phone6p) {
    font-size: 1.125rem;
  }
}

.page-circle, .page-img {
  display: block;
  margin: 1rem auto 2rem;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 2px solid $lightBlue;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  &_mail {
    @include inline-svg-icon('vin-send', $white, center, 83px 83px);
  }
}

.page-no-page {
  text-align: center;
  .page-title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    line-height: 1.5;
  }
  .page-text {
    padding-top: .5rem;
    line-height: 1.5;
  }
}

.page-img {
  border: none;
  border-radius: 0;
  &_attention {
    width: 126px;
    height: 114px;
    margin: 1rem auto;
    background-image: url("../../images/no-page.svg");
    background-size: 126px 114px;
  }
}

.page-seller-page {
  padding: 1rem 1.5rem 1.5rem;
}