@import "../../fonts/profilemenu";

.kit.profile.menu {
  background: #fff;
  color: #8798a4;
  font-size: 1rem;
  padding: 2.625em 1.5em 0;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
  overflow: hidden;
  transition: height 1s ease-in-out, top .5s ease-in-out;
  &.in.header {
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    z-index: 1080;
    &.active {
      top: 0;
      height: 100vh;
      & > .wrapper > .container .list {
        .item {
          .icon {
            transform: translateY(-50%) !important;
          }
        }
      }
    }
  }
  & > .wrapper {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    & > .container {
      flex: 1 1 auto;
      overflow-y: scroll;
      margin-right: -1rem;
      & > .list {
        margin-top: 1em;
        .item {
          display: block;
          position: relative;
          color: #00405f;
          padding: 1em 0 1em 3em;
          line-height: 1;
          &:after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: 3em;
            height: 1px;
            background: #e5e5e5;
          }
          .icon {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-250%);
            transition: all ease-out 1s;
            font-family: 'profilemenu', sans-serif;
            color: #4a7db4;
            font-size: 1.4em;
            width: 1.5em;
            margin: 0 .6rem 0 0;
            vertical-align: sub;
          }
        }
      }
      & > .description {
        padding: 1em 1em 1em 3em;
        a {
          color: #4a7db4;
        }
      }
    }
  }

}