.recent-searches {
  &__title {
    font-weight: $med;
    color: $title;
    padding: 0 32px 16px;
    @media only screen and (min-width: $phone6) {
      padding: 0 40px 16px;
    }
  }
  &__block {
    .quest-block {
      margin-bottom: 8px;
    }
  }
}

.searches {
  &__block {
    padding: 0 16px 6px;
    border-bottom: 1px solid $turq;
    background: rgba($white,.95);
    @media only screen and (min-width: $phone6) {
      padding: 0 24px 6px;
    }
    .quest-block-top {
      padding: 8px 0 4px;
    }
  }
}

.quest-block {
  width: 100%;
  white-space: nowrap;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    .quest-block__desc {
      padding: 0;
      width: 100%;
    }
    .quest-block__name {
      display: inline;
      white-space: normal;
      height: auto;

      @extend .text-15-17-18;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
  }
  &__refresh-date {
    flex: 1 1 auto;
    text-align: right;
    font-size: 0.8125rem;
    color: $turq;
  }
  &__model {
    display: inline;
    @extend .text-13-15-17;
    color: $placeholder;
    font-weight: $reg;
    text-decoration: none;
    white-space: normal;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  &__act {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    margin-left: 16px;
  }
  &__link {
    display: block;
    padding: .75rem 1.3rem;
    &:hover,
    &:focus,
    &:active{
      text-decoration: none;
      background: rgba(0,0,0,.05);
    }
  }
  &__img-thumb {
    display: inline-flex;
    vertical-align: top;
  }
  &__desc {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: top;
    padding: 0 2px 0 16px;
  }
  &__name {
    @extend .ellipsis;
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
    line-height: 1;
    height: 20px;
    font-weight: $med;
    color: $lightBlue;
    text-decoration: underline;

    @media only screen and (min-width: $phone6) {
      font-size: 20px;
      height: 22px;
    }
  }
  &__param {

    @extend .ellipsis;
    max-width: 100%;
    font-size: 13px;
    font-weight: $med;
    line-height: 1;
    color: $text;
    padding-top: 6px;

    @media only screen and (min-width: $phone6) {
      font-size: 15px;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: $bol;
    line-height: 1;
    color: $black;
    padding-top: 8px;
    @media only screen and (min-width: $phone6) {
      font-size: 20px;
    }
  }
  &__tovar-title {
    font-size: 1.125rem; //18px
    font-weight: $bol;
    line-height: 1.3;
    color: $black;
    white-space: normal;
    padding: 16px 0;
    overflow: hidden;
    text-overflow: ellipsis;

    @media only screen and (min-width: $phone6) {
      font-size: 1.25rem; //20px
    }
  }
  &__tovar-subtitle {
    display: inline;
    font-size: 0.9375rem; //15px
    font-weight: $reg;
    color: $placeholder;
    @media only screen and (min-width: $phone6) {
      font-size: 1rem; //16px
    }
  }
  &__delivery {
    @extend .text-13-15-15;
    padding-left: 1rem;

    @include inline-svg-icon('arr-delivery', $white, left center, 0.7rem 0.5rem);
  }
  &__exist {
    color: $black;
    @extend .text-13-15-15;
  }
  &__text {
    flex-basis: 100%;
    color: $text;
    @extend .text-11-13-13;
    white-space: normal;
  }


  &-result {
    width: auto;
    background-color: $white;
    margin: 0 8px 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    .quest-block__desc {
      width: 100%;
      padding: 0;
    }
    .quest-block__param {
      color: $placeholder;
      font-weight: $reg;
      font-size: 0.6875rem; //11px

      @media only screen and (min-width: $phone6) {
        font-size: 0.8125rem; //13px
      }
    }
    .quest-block__price {
      white-space: normal;
      text-align: left;
      padding: 0;
    }
    .quest-block__price-subtitle {
      display: block;
      text-align: left;
      font-size: 0.9375rem; //15px
      font-weight: $med;
      color: $black;
      white-space: normal;
    }
  }
}
.border-gray {
  padding-bottom: 12px !important;
  border-bottom: 1px solid $turq;
}