.refined-searches {
  width: 100%;
  border-top: 1px solid $turq;
  &__item {
    width:  100%;
    font-size: 0;
  }
  &__desc {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid $turq;
    padding: 16px 4px 16px 16px;
    @media only screen and (min-width: $phone6) {
      width: calc(100% - 68px);
      max-width: calc(100% - 68px);
      padding: 16px 0;
    }
  }
  &__item:last-child &__desc {
    border-bottom: none;
  }
  .manufacturer {
    @extend .text-15-17-18;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 88px;
    max-width: 88px;
    color: $title;
    font-weight: $reg;
    margin-right: 12px;
    @media only screen and (min-width: $phone6) {
      padding-right: 16px;
    }
  }
  .param {
    @extend .text-15-17-18;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    color: $text;
    font-weight: $reg;
    white-space: normal;
    padding-right: 12px;
    @media only screen and (min-width: $phone6) {
      padding-right: 16px;
    }
    &__name {
      font-weight: $reg;
      line-height: 1.3;
      .marker {
        font-weight: $bol;
        color: $black;
      }
    }
    &__num {
      color: $lightBlue;
      padding-top: 4px;
      .marker {
        font-weight: $bol;
      }
    }
  }
}
.fast-results {
  &__img-wrap {
    display: none;
    vertical-align: middle;
    width: 40px;
    margin: 0 8px 0 12px;
    position: relative;
    text-align: center;
    @media only screen and (min-width: $phone6) {
      display: inline-block;
      margin: 0 12px 0 16px;
    }
  }
  &__img {
    max-width: 42px;
    border-radius: 50%;
    max-height: 42px;
    background-color: $white;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
