.reg {
  &-subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: $med;
    color: $title;
    padding: 24px;
    padding-top: 0;
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
      padding: 0 32px 24px 32px;
    }
  }
  &-title-wr {
    width: 100%;
    padding: 24px;
    padding-top: 0;
    font-size: 0;
    .reg__ico {
      width: 31px;
    }
  }
  &-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    font-weight: $med;
    color: $title;
    text-align: left;
    width: calc(100% - 33px);
    padding: 0;
    margin: 0;
    @media only screen and (min-width: $phone6p) {
      font-size: 20px;
    }
  }
  &-form {
    padding: 0 24px;
  }
  &__link {
    text-decoration: none;
  }
  &__item {
    width: 100%;
    padding: 24px 16px;
    border-top: 1px solid $devider;
    @media only screen and (min-width: $phone6) {
      padding: 38px 24px;
    }
    @media only screen and (min-width: $phone6p) {
      padding: 40px 30px ;
    }
  }
  &__head {
    font-size: 0;
  }
  &__ico {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    padding: 0;
    padding-bottom: 2px;
    margin: 0;
    font-size: 0;
    .ico-house {
      display: block;
      width: 21px;
      height: auto;
    }
    .ico-man {
      display: block;
      width: 15px;
      height: auto;
    }
  }
  &__name {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    text-align: left;
    width: calc( 100% - 40px);
  }
  &__head-title {
    display: inline-block;
    font-size: 20px;
    font-weight: $bol;
    color: $title;
    padding-right: 16px;
    @media only screen and (min-width: $phone6p) {
      padding-right: 24px;
    }
  }
  &__head-subtitle {
    display: inline-block;
    font-size: 16px;
    font-weight: $reg;
    color: $title;
  }
  &__desc {
    display: block;
    width: 100%;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    padding-left: 36px;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: $reg;
    color: $placeholder;
    text-decoration: none;
  }
  &__agreement {
    font-size: 16px;
    line-height: 22px;
    color: $title;
    padding: 4px 0 0;
    text-decoration: none;
    text-align: left;
    @media only screen and (min-width: $phone6p) {
      font-size: 17px;
      padding: 8px 16px 0;
    }
  }
}