.kit.mobile.request-to-spare{
  opacity: 1;
  transition: opacity .5s ease;
  &.opacity{
    opacity: 0;
  }
  .description{
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid #dbe4e9;
  }
}