@import "../../fonts/review";

.kit.reviews {
  &.seller {
    border-top: .06rem #c5d1d9 solid;
    padding: 1rem 1rem 0;
    .title {
      font-size: 1.125rem;
      color: #383838;
      font-weight: 500;
      padding-bottom: .375rem;
      margin: 0;
    }
    .not.exist {

    }
    .review {

    }
  }
  &.cabinet {
    font-size: 16px;
    color: #383838;
    .notification.text,
    .unread {
      color: #e13c3c;
    }
    .info.text {
      color: #4272a4;
    }
    .iconography {
      font-family: review, sans-serif;
      vertical-align: middle;
    }

    & > .review {
      border-bottom: 1px #e4ebf6 solid;
      margin-bottom: 1em;
      & > .heading {
        padding: .5em;
        .avatar {

        }
        .author {
          font-weigth: 700;
        }
        .date {
          color: #8798a4;
          font-size: .8em;
        }
      }
      & > .content {
        background: #f6faff;
        padding: .5em;
        .shop {
          &.name {

          }
          &.address {
            color: #8798a4;
            font-size: .925em;
          }
        }
        .text {

        }
      }
      & > .footer {
        padding: .5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .counters {
          display: flex;
          flex-flow: row nowrap;
          margin-left: -1em;
          & > .counter {
            margin-left: 1em;
          }
        }
      }
    }
  }
}