.kit.search.mobile.parts {
  padding: 1.5em;
  margin-top: -1.5rem;
  background: $white;
  max-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  .search {
    &.sub-title {
      font-weight: $reg;
      color: $text;
      padding: 0 1rem .5rem;
      font-size: 1rem;
      border-bottom: 1px solid $turq;
      border-top: none;
      @media only screen and (min-width: $phone6) {
        padding: 0 1.5rem .5rem;
      }
      @media only screen and (min-width: $phone6p) {
        font-size: 20px;
      }
    }
    &.info {
      font-weight: $reg;
      color: $placeholder;
      line-height: 1.3;
      padding: 1rem 2rem 0;
      @media only screen and (min-width: $phone6) {
        padding: 1rem 40px 0;
      }
    }
    &.results {
      flex: 1 1 auto;
      background: #fff;
      margin: 1rem -1.5rem 0;
      z-index: 10;
    }
    &.result {
      &.item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
      }
      &.wrap {
        display: none;
        vertical-align: middle;
        width: 40px;
        flex: 0 0 40px;
        margin: 0 8px 0 12px;
        position: relative;
        text-align: center;
        @media only screen and (min-width: $phone6) {
          display: block;
          margin: 0 12px 0 16px;
        }
      }
      &.img {
        width: 42px;
        height: 42px;
        max-width: 42px;
        border-radius: 50%;
        max-height: 42px;
        background-color: $white;
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
      &.description {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        border-bottom: 1px solid $turq;
        padding: 16px 0 16px 0;
        vertical-align: middle;
      }

      &.param {
        @extend .text-15-17-18;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 100px);
        color: $text;
        font-weight: $reg;
        white-space: normal;
        padding-right: 12px;
        @media only screen and (min-width: $phone6) {
          padding-right: 16px;
        }
      }
      &.name {
        font-weight: $reg;
        line-height: 1.3;
        color: $text;
        text-decoration: none;
        .marker {
          font-weight: $bol;
          color: $black;
        }
      }
      &.manufacturer {
        @extend .text-15-17-18;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        width: 88px;
        min-width: 88px;
        max-width: 88px;
        color: $title;
        font-weight: $reg;
        margin-right: 12px;
        text-decoration: none;
        @media only screen and (min-width: $phone6) {
          padding-right: 16px;
        }
      }
      &.vendor-code {
        color: $lightBlue;
        padding-top: 4px;
        text-decoration: none;
        .marker {
          font-weight: $bol;
        }
      }
    }
  }
}

.kit.search.mobile.parts a.search.result:last-child {
  .search.result.description {
    border-bottom: none;
  }
}

.brandStub {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: $white;
  font-size: 20px;
  text-align: center;
  display: none;
  padding-top: 6px;
  &_1 {
    background-color: $aqua;
    display: block;
  }
  &_2 {
    background-color: $lightBlue;
    display: block;
  }
  &_3 {
    background-color: $head;
    display: block;
  }
}