.page-select-city {
  .select-city {
    width: 100%;
    padding: 0 24px;
    margin-top: 8px;
    &__block {
      width: 100%;
      position: relative;
      &.no-border {
        margin-top: 0;
      }
    }
    &__form-group {
      padding-bottom: 8px;
    }
    &__info {
      .text-error, .text-help {
        padding: 8px 24px 16px;
        margin: 0;
      }
      p:last-child {
        padding-bottom: 0;
      }
    }
    &__content {
      display: inline-block;
      width: 100%;
      padding: 0 0 1rem;
      border-bottom: 1px solid $line-gray;
      &:last-child {
        border-bottom: none;
      }
      &:first-child{
        .select-city__dropcap{
          border-top: none !important;
        }
      }
    }
    &__dropcap {
      position: relative;
      width: 100%;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: .925rem;
      line-height: 1.5rem;
      font-weight: $med;
      color: $lightBlue;
      text-align: left;
      border-top: 1px solid $turq;
      @media only screen and (min-width: $phone6p) {
        font-size: 1.125rem;
      }
    }
    &__letter{
      left: -1.5rem;
      top: 1rem;
      position: absolute;
    }
    &__flag {
      display: inline-block;
      vertical-align: bottom;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      padding: 0;
      overflow: hidden;
      font-size: 0;
      margin: 0 8px 4px;
      @media only screen and (min-width: $phone6p) {
        width: 18px;
        height: 18px;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: auto;
      }
    }
    &__text-first {
      display: inline;
      font-size: 15px;
      line-height: 1.5;
      color: $text;
      font-weight: $med;
      @media only screen and (min-width: $phone6p) {
        font-size: 17px;
      }
    }
    &__text-second {
      display: inline;
      font-size: 13px;
      line-height: 1.5;
      color: $turq;
      font-weight: $reg;
      @media only screen and (min-width: $phone6p) {
        font-size: 15px;
      }
    }
    &__text-third {
      display: inline;
      font-size: 13px;
      line-height: 1.5;
      color: $placeholder;
      font-weight: $reg;
      @media only screen and (min-width: $phone6p) {
        font-size: 15px;
      }
    }
    .marker {
      font-weight: $bol;
      color: $black;
    }
  }
}