.kit.seller:not(.view) {
  &.header {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    .title {
      font-size: 1.125rem;
      color: #383838;
      font-weight: 500;
      padding-bottom: .375rem;
      margin: 0;
    }
  }
  &.contacts {
    margin: -1rem 0 0;
    .contact {
      margin-top: 1rem;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      .caption{
        flex: 1 1 25vw;
        max-width: 25vw;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .value{
        flex: 1 1 auto;
      }
    }
  }
}