$sidebar-width: 6.25rem;

.kit.mobile.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  transform-origin: 0 50% 0;
  transform: translateX(-150%) scaleX(1.5);
  transition: transform .4s ease;
  pointer-events: none;
  @media (max-width: 375px) {
    font-size: .9rem;
  }
  &.show {
    transform: translateX(0);
    pointer-events: all;
    & > .submenu {
      transform: perspective(100vw) rotate3d(0, 1, 0, 0deg);
    }
  }
  & > .stack {
    width: 6.25em;
    flex: 0 0 6.25em;
    text-align: center;
    box-shadow: 30px 0 120px 0 rgba(96, 126, 146, .15);
    background: #fff;
    z-index: 2;
    & > .close {
      font-family: 'sidebar', sans-serif;
      font-size: 1.1em;
      display: block;
      width: 100%;
      padding: 1em 0;
      color: #212529;
    }
    .link {
      display: flex;
      flex-flow: column nowrap;
      color: #212529;
      padding: 1em 0;
      &:hover {
        background-color: #f6faff;
        color: #272727;
        text-decoration: none;
      }
      &.active {
        background: #ffcf68;
        &:hover {
          background: #ffcd46;
        }
      }
      .icon {
        display: block;
        font-family: 'sidebar', sans-serif;
        font-size: 3.25em;
        height: 1em;
        line-height: 1;
      }
      .text {
        display: block;
        font-size: .8em;
        font-weight: 500;
        margin-top: .5em;
        line-height: 1.25;
      }
      &.disable {
        opacity: .5;
      }
    }

  }
  & > .submenu {
    flex: 1 1 auto;
    transition: transform .8s ease;
    position: relative;
    background: #fff;
    z-index: 1;
    transform: perspective(100vw) rotate3d(0, 1, 0, 15deg);
    transform-origin: 0 50%;
    & > .category {
      padding: 1.5em 0 1em;
      transition: top .5s ease;
      position: absolute;
      width: 100%;
      top: -100vh;
      & > .title {
        line-height: 1.2;
        color: #272727;
        font-weight: 700;
        margin: 0 0 .5em;
        padding: 0 1.25em;
        font-size: 1.975em;
      }
    }
    & > .category.active {
      top: 0;
      & ~ .category {
        top: 100vh;
      }
    }

    .links {
      width: 100%;
    }
    .link {
      display: block;
      width: 100%;
      border-bottom: 1px solid #dbe4e9;
      padding: .8125em 2.5em;
      color: #515f68;
      font-size: 1em;
      line-height: 1.5;
      font-weight: 500;
      &:hover {
        background-color: #f6faff;
        color: #272727;
        text-decoration: none;
      }
      &.disable {
        opacity: .5;
      }
    }
  }
}
