.steps {
  width: 100%;
  padding: 0;
  @media only screen and (min-width: $phone6) {
    padding: 0 8px;
  }
  @media only screen and (min-width: $phone6p) {
    padding: 0 16px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 72px;
    position: relative;
    padding: 0;
    margin: 0;
    &:after {
      content: '';
      background: $turq;
      display: block;
      position: absolute;
      top: 50%;
      left: 30px;
      height: 2px;
      margin-top: -1px;
      width: calc(100% - 60px);
      z-index: 0;
    }
  }
  &__item {
    display: inline-flex;
    width: 100%;
    max-width: 72px;
    &.visited {
      position: relative;
      &:after {
        content: '';
        display: block;
        margin: auto;
        background: $head;
        height: 2px;
        width: 32vw;
        max-width: 325px;
        margin-right: -5%;
        margin-left: -5%;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 65%;
        z-index: 9;
      }
      .steps__link {
        border-color: $head;
        background-color: $head;
        @include inline-svg-icon('checkbox', $white, center, 17px 11px);
        font-size: 0;
      }
    }
    &.active {
      .steps__link {
        height: 72px;
        width: 72px;
        border-color: $lightBlue;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        cursor: default;
      }
      &:nth-child(1) {
        .steps__link {
          @include inline-svg-icon('vin-car', $white, center, 45px 37px);
        }
      }
      &:nth-child(2) {
        .steps__link {
          @include inline-svg-icon('vin-brake', $white, center, 44px 44px);
        }
      }
      &:nth-child(3) {
        max-width: 72px;
        .steps__link {
          @include inline-svg-icon('vin-list', $white, 20px center, 39px 40px);
        }
      }
    }
  }
  &__link,
  &__link:hover,
  &__link:focus,
  &__link:active {
    position: relative;
    z-index:10;
    background: #fff;
    border: 2px solid $turq;
    color: $turq!important;
    font-size: 14px;
    line-height: 26px;
    font-weight: $med;
    text-align: center;
    border-radius: 50%;
    display: block;
    height: 28px;
    width: 28px;
    min-width: 28px;
    min-height: 28px;
    margin: auto;
    cursor: pointer;
  }
}