.tovar {
  &__title {
    display: inline-block;
    @extend .text-16-18-20;
    line-height: 1.3;
    color: $title;
    font-weight: $med;
  }
  &__title-model {
    display: inline-block;
    @extend .text-16-18-20;
    line-height: 1.3;
    color: $placeholder;
    font-weight: $reg;
  }
  &__prod-rating, &__comment-count {
    display: inline-block;
    margin-right: 10px;
  }
  &__rating {
    padding-top: 4px;
  }
  &__slider {
    display: block;
    width: 100%;
    margin: 2rem -0.5rem;
  }
  &__btn {
    @extend .text-16-18-20;
    font-weight: $med;
    margin-bottom: 1.5rem;
  }
  &__sinonim {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $turq;
  }
  &__applicability {
    .accord__subtitle {
      display: block;
    }
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $turq;
    &:last-child {
      border-color: transparent;
      margin-bottom: 0;
    }
  }
  &__circle-list {
    li {
      display: block;
    }
  }
  &__character {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .tovar__title {
      padding-bottom: 12px;
    }
    .accord__text {

    }
  }
  &__img-wrapper {
    margin: 1rem auto;
    width: 75vw;
    height: 75vw;
    max-width: 29rem;
    max-height: 29rem;
    overflow: hidden;
    font-size: 0;
    box-shadow: 0 5px 30px 5px rgba(91,91,91,0.3);
    img {
      width: auto;
      height: auto;
      min-height: 100%;
    }
  }
}