
.vin-parts {
  width: auto;
  margin: 0 -1rem 1rem;
  .form-count {
    margin-right: 16px;
    flex-wrap: nowrap;
    max-width: 150px;
  }
  &__buttons {
    align-self: flex-end;
    margin-top: 32px;
    width: 100%;
    .btn:first-child {
      margin: 0 12px 0 10px;
    }
    .btn:last-child {
      margin: 0 10px 0 12px;
      padding-left: 30px;
    }
  }
  &__item {
    padding: 24px;
    padding-left: 20px;
    border-bottom: 1px solid $devider;
    border-left: 4px solid $lightBlue;
    &:nth-child(even) {
      border-left-color: $head;
      .vin-parts__num {
        color: $head;
      }
    }
    .flex.wrap {
      flex-flow: row wrap;
      @media only screen and (min-width: $phone6) {
        flex-flow: row nowrap;
      }
    }
  }
  &__num {
    display: block;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: $med;
    color: $lightBlue;
    padding-left: .5rem;
    padding-bottom: 1.5rem;
  }
  &__load-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 190px;
    max-width: 200px;
    margin-top: 16px;
    @media only screen and (min-width: $phone6) {
      max-width: 100%;
      margin-top: 0;
    }
  }
  &__load-img {
    width: 48px;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin-right: 8px;
    @media only screen and (min-width: $phone6p) {
      width: 52px;
      height: 52px;
      min-width: 52px;
      max-width: 52px;
    }
    img {
      width: auto;
      height: 100%;
      position: absolute;
      display: block;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__load-btn, &__load-btn.btn {
    width: 100%;
    height: 48px;
    padding: 0 ;
    min-width: auto;
    @media only screen and (min-width: $phone6p) {
      height: 52px;
    }
  }
  &__user-info {
    padding-left: 0;
  }
  &__title {
    font-size: 15px;
    line-height: 1.5;
    font-weight: $med;
    color: $title;
    padding: 0;
    margin: 0;
    @media only screen and (min-width: $phone6) {
      font-size: 16px;
    }
    @media only screen and (min-width: $phone6p) {
      font-size: 18px;
    }
    .text-description {
      font: inherit;
      font-weight: $reg;
      color: inherit;
      font-size: 14px;
      @media only screen and (min-width: $phone6) {
        font-size: 15px;
      }
      @media only screen and (min-width: $phone6p) {
        font-size: 17px;
      }
    }
  }
  &__table {
    margin-bottom: 24px;
    td:last-child {
      text-align: right;
      white-space: nowrap;
    }
  }
}
