.kit.breadcrumb {
  display: block;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  padding: 0 2.75rem 0;
  z-index: 5;
  background: inherit;

  > .divider {
    display: inline-block;
    vertical-align: middle;
    @include size(0.45rem, 0.6875rem);
    padding: 0 0.5rem;
    @include inline-svg-icon('arr-right-breadcrumb', #8798A4, center, 0.45rem 0.45rem);
  }
  .section {
    display: inline-block;
    vertical-align: middle;
    color: #8798A4;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
    &.active {
      text-decoration: none;
      cursor: default;
    }
  }
}