.kit.list {
  $color-border-separator: #ededed;
  &.vertical {
    display: block;
    &.small {
      margin: 0 -0.75rem;
      & > * {
        padding: 0 0.75rem;
      }
    }
  }
  &.space {
    &.small {
      > .item {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 0.75rem;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  &.withseparator {
    padding: 0 0.75rem;
    > .item {
      display: block;
      width: 100%;
      height: auto;
      padding: 1rem 0;
      border-top: 1px solid #ededed;
      cursor: pointer;
      &:first-child {
        border-top: none;
      }
    }
  }
  &.checkbox.desktop {
    > .item {
      line-height: 1rem;
      &.withseparator {
        .line {
          display: block;
          width: 100%;
          height: 1px;
          margin-left: 0.5rem;
          background-color: #ededed;
        }
      }
      .list.ml-24 {
        margin-left: 1.5rem;
      }
      .list.mt-item-8 {
        > .item {
          margin-top: 0.5rem;
        }
      }
      .list.mt-item-16 {
        > .item {
          margin-top: 1rem;
        }
      }
    }

  }
}