.kit.steps {
  &.points {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    > .item {
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      border: 2px solid $gray-300;
      background-color: transparent;
      border-radius: 50%;
      margin-left: 1.25rem;
      cursor: default;
      position: relative;
      font-size: 0;
      text-decoration: none;
      &:before {
        content: '';
        display: block;
        margin: auto 0;
        width: 1.25rem;
        height: 2px;
        background-color: $gray-300;
        position: absolute;
        right: 0.625rem;
        top: 3px;
      }
      &:first-child {
        margin-left: 0;
        &:before {
          display: none;
        }
      }
      &.active, &.visited {
        border-color: $blue-300;
        background-color: $blue-300;
        cursor: pointer;
        &:before {
          background-color: $blue-300;
        }
      }
    }
  }

  &.panel.big {
    display: block;
    width: 100%;
    height: auto;
    &.white {
      background-color: #ffffff;
    }
    > .icon {
      display: block;
      width: 9rem;
      height: 9rem;
      margin: 0 auto;
      border-radius: 50%;
      background-color: $blue-100;
      margin-bottom: 1rem;
      &.step-auto {
        @include inline-svg-icon('desktop-step-auto', $blue-300, center, 5.87rem auto);
      }
      &.step-paper {
        @include inline-svg-icon('desktop-step-paper', $blue-300, center, 4.7rem auto);
      }
      &.step-post {
        @include inline-svg-icon('desktop-step-post', $blue-300, center, 5.2rem auto);
      }
    }
    > .title, > .subtitle {
      font-size: 0.8125rem;
      line-height: 1.3;
      font-weight: 400;
      color: $black;
      margin-bottom: 1rem;
    }
    > .subtitle {
      color: $gray-600;
    }
    .info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      > .img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        width: 4.375rem;
        height: 2.25rem;
        img {
          display: block;
          max-height: 1.875rem;
          max-width: 3.125rem;
          margin-right: 1rem;
        }

      }
      > .text {
        > .title, > .subtitle {
          font-size: 0.8125rem;
          line-height: 1.3;
          font-weight: 400;
          color: $black;
        }
        > .subtitle {
          color: $gray-600;
        }
      }
    }
  }
}