.kit.table {

  &.operating.mode {
    table,
    .table {
      width: 100%;
      position: relative;
      margin-bottom: .5rem;
      border-spacing: 0;
      caption {
        font-size: .9rem;
        font-weight: 700;
        padding: 0 0 .25rem 0;
        text-align: left;
      }
      th, td {
        font-weight: 400;
        line-height: 1;
        text-align: center;
      }
      .weekday{
        font-size: .75rem;
        display: block;
        margin-bottom: .75rem;
        color: #c5d1d9;
      }
      .day{
        position: relative;
        font-size: .6875rem;
        padding: 0;
        margin: 0;
        &:last-child{
          .time{
            border-right: none !important;
          }
        }
        &.active{
          border-radius: .2rem;
          box-shadow: 0 0 0 .0625rem #669ED9, 0 0 0 .1rem #fff, 0 0 0 .1rem #fff inset;
          margin-left: -.0625rem;
        }
        &:after{
          display: block;
          position: absolute;
          content: '';
          top: 50%;
          right: 0;
          left: 0;
          border-bottom: 1px solid #c5d1d9;
        }
        @media only screen and (min-width: 375px) {
          font-size: 13px;
        }
        &:first-child .time:not(.block) {
          border-left: none;
        }
      }
      .time.block {
        position: relative;
      }
      .time:not(.block) {
        padding: .25rem 0 .25rem .125rem;
        border-right: .0625rem solid #c5d1d9;
        margin: .4rem 0;
        @media only screen and (min-width: 375px) {
          padding: .25rem .125rem .25rem .25rem;
        }
        &.not.set{
          color: #c5d1d9;
        }
      }
    }

  }
}

