<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
    {% if desktopCss is defined and desktopCss %}
        <link rel="stylesheet" href="/css/desktop-example.css">
        {% else %}
            <link rel="stylesheet" href="/css/example.css">
    {% endif %}
    {% endblock %}
</head>
<body>
<div class="body__wrapper">
    <main id="main">

    {% include '_navbar.twig' %}

        {% block content %}{% endblock %}
    </main>
</div>
{% block javascripts %}
    <script src="/js/example.js"></script>
{% endblock %}
</body>
</html>
