<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/chat.css">
        {% if classKit is defined and classKit %} <link rel="stylesheet" href="/css/examples/kit-only-wrapper.css">{% endif %}
    {% endblock %}
</head>
<body>
<div class="kit">
    <a href="index.html" style="display: block; margin: 20px auto; text-align:center; font-size: 20px;">Вернуться на ГЛАВНУЮ</a>
    {% if classKit is defined and classKit %}
        <a href="frontend/chat/index.html" style="display: block; margin: 20px auto; text-align:center; font-size: 20px;">Перйти к верстке чата</a>
    {% endif %}
</div>
    {% block content %}{% endblock %}
{% block javascripts %}
    <script src="/js/chat.js"></script>
{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext"
      rel="stylesheet">
</body>
</html>
