<div class="ui container " style="margin-bottom: 80px;">
    <div class="ui sticky" id="navbar">
        <nav class="ui menu" >
            <a class="browse item">Меню</a>
            <a class="api item">API модули</a>
            <a href="/" class="item">Описание</a>
        </nav>
    </div>
    <div id="#popupMenu" class="ui fluid popup popup-navbar bottom left transition hidden popup-menu">
        <div class="ui four column relaxed equal height divided grid">
            <div class="six wide tablet eight wide computer column">
                <h4 class="ui header">Общие элементы</h4>
                <div class="ui link list">
                    <a href="/buttons.html" class="item">Кнопки</a>
                    <a href="/modals.html" class="item">Модальные окна</a>
                    <a href="/inputs.html" class="item">Инпуты</a>
                    <a href="/input.html" class="item">Инпуты Semantic</a>
                    <a href="/typography.html" class="item">Типографика</a>
                    <a href="/selects.html" class="item">Выпадающие списки</a>
                    <a href="/accordion.html" class="item">Аккордион</a>
                </div>
            </div>
            <div class="six wide tablet eight wide computer column">
                <h4 class="ui header">Desktop</h4>
                <div class="ui link list">
                    <a href="/desktop/index.html" class="item">Главная страница</a>
                    <a href="/desktop/elements.html" class="item">Элементы (elements)</a>
                    <a href="/desktop/modules.html" class="item">Модули (modules)</a>
                    <a href="/desktop/forms-inputs.html" class="item">Формы (modules)</a>
                    <a href="/desktop/collections.html" class="item">Коллекции (collections)</a>
                    <a href="/desktop/timepicker.html" class="item">Выбор времени</a>
                </div>
            </div>
            <div class="six wide tablet eight wide computer column">
                <h4 class="ui header">Mobile</h4>
                <div class="ui link list">
                    <a href="/mobile/elements.html" class="item">Елементы</a>
                    <a href="/mobile/application-modal.html" class="item">Модальное окно</a>
                </div>
            </div>
            <div class="six wide tablet eight wide computer column">
                <h4 class="ui header">Виджет</h4>
                <div class="ui link list">
                    <a href="/widget.html" class="item">Елементы виджета</a>
                </div>
            </div>
            <div class="six wide tablet eight wide computer column">
                <h4 class="ui header">Api модули</h4>
                <div class="ui link list">
                    <a href="/map.html" class="item">Карты Google</a>
                </div>
            </div>
            <div class="six wide tablet eight wide computer column">
                <h4 class="ui header">Чат</h4>
                <div class="ui link list">
                    <a href="/chat.html" class="item">Елементы чата</a>
                </div>
            </div>
        </div>
    </div>
    <div id="#popupApiMenu" class="ui popup popup-navbar bottom left transition hidden popup-api-menu">
        <h4 class="ui header">Общие элементы</h4>
        <div class="ui link list">
            <a href="/buttons.html" class="item">Кнопки</a>
            <a href="/modals.html" class="item">Модальные окна</a>
            <a href="/inputs.html" class="item">Инпуты</a>
            <a href="/input.html" class="item">Инпуты Semantic</a>
            <a href="/typography.html" class="item">Типографика</a>
            <a href="/selects.html" class="item">Выпадающие списки</a>
            <a href="/accordion.html" class="item">Аккордион</a>
        </div>

    </div>
</div>
