<aside id="sidebar" class="layout-phone-sidebar sidebar">
    <div id="sidebarSwiper" class="layout-phone-sidebar-swiper sidebar-swiper"></div>
    <nav class="layout-phone-sidebar-nav sidebar-nav">
        <a href="#" data-close-sidebar class="layout-phone-sidebar-close sidebar-close"></a>
        <a href="#" class="sidebar-link link_parts sidebar-link_parts active">
            <span>Запчасти</span>
        </a>
        <a href="#" class="sidebar-link link_autoservice sidebar-link_autoservice">
            <span>Автосервисы</span>
        </a>
        <a href="#" class="sidebar-link link_auto sidebar-link_auto">
            <span>Автомобили</span>
        </a>
    </nav>
</aside>
<nav id="sidebarSubmenu" class="layout-phone-submenu sidebar-submenu">
    <div class="sidebar-menu">
        <div class="sidebar-menu__title">
            <h2>Запчасти</h2>
        </div>
        <nav class="sidebar-menu__list">
            <a href="#" class="sidebar-menu__link">Поиск по номеру <br>или наименованию</a>
            <a href="#" class="sidebar-menu__link">Запрос по VIN</a>
            <a href="#" class="sidebar-menu__link">Шины/Диски</a>
            <a href="#" class="sidebar-menu__link">Контрактные запчасти</a>
            <a class="sidebar-menu__link" href="#">
                <span class="location-link-flag"> </span>
                <span class="location-link-text dropdown-toggle">Новосибирск</span>
            </a>
        </nav>

    </div>
</nav>