{% extends 'layout/_layout.twig' %}
{% set bodyModifier = 'index' %}
{% block headerContent %}
    {% include '../../desktop/modules/index-header.twig' %}
{% endblock %}
{% block content %}
    <section class="kit view index">
        <div class="content">
            <div class="search">
                {% include '../../desktop/modules/index-search.twig' %}
            </div>
            <div class="sections">
                {% include '../../desktop/modules/index-tile-section.twig' %}
            </div>
        </div>
        <div class="map"></div>
    </section>
{% endblock %}
{% block footerContent %}
    {% include '../../desktop/modules/index-footer.twig' %}
{% endblock %}
