{% extends 'layout/_layout.twig' %}
{% set bodyModifier = '' %}
{% set sidebarModifier = '' %}
{% block headerContent %}
    {% include '../../desktop/modules/index-header.twig' %}
{% endblock %}
{% block content %}
    <div class="ui container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae consequatur
            eligendi, enim eos eveniet expedita fugiat hic, id illum nesciunt nihil nostrum obcaecati quas qui
            quo sapiente unde.
        </p>
    </div>
{% endblock %}
{% block footerContent %}
    {% include '../../desktop/modules/index-footer.twig' %}
{% endblock %}
