{% extends 'layout/_layout.twig' %}
{% set bodyModifier = 'layout-desktop' %}
{% set layoutModifier = 'default' %}
{% set sidebarModifier = '' %}
{% set headerWithout = '' %}
{% block headerContent %}
    {% include '../../desktop/modules/sto-header.twig' %}
{% endblock %}
{% block content %}
    <div class="kit view page gray center">
        <div class="container shadow">
            <div class="line breadcrumb">
                {% include '../../desktop/modules/breadcrumb.twig' %}
            </div>
            <div class="line header small">
                <div class="left">
                    <div class="kit usertitle big">
                        <div class="info">
                            <div class="name">Запросить стоимость ремонта</div>
                            <div class="name other">
                                в Сто Верст, шиномонтажная мастерская (для запроса из конкретного СТО)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right half"></div>
            </div>
            <div class="line content">
                <div class="section left white fixed-300">
                    <div class="container border bottom p-24-44">
                        <div class="kit steps panel big">
                            <div class="icon step-auto"></div>
                            <div class="title">
                                <span class="medium">1 шаг:</span> Автомобиль
                            </div>
                            <div class="subtitle">Укажите VIN-номер или марку, <br>
                                модель и год выпуска автомобиля
                            </div>
                            <nav class="kit steps points">
                                <a href="#" class="item active"></a>
                                <a href="#" class="item "></a>
                                <a href="#" class="item"></a>
                            </nav>
                        </div>
                    </div>
                    <div class="container border bottom p-12-44">
                        <div class="kit steps panel big">
                            <div class="info">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                                <div class="text">
                                    <div class="title">Aston Martin DB9</div>
                                    <div class="subtitle">2000 г.в.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container border bottom p-12-44">
                        <p style="font-size: 11px">(Блок для запроса из конкретного СТО)</p>
                        <div class="kit block info service">
                            <div class="kit flexible row not wrap">
                                <div class="title chunk">
                                    <div class="name">Сто Верст, шиномомонтажная
                                        мастерская
                                    </div>
                                    <div class="address">Кутателадзе Кутателадзе Кутателадзе Кутателадзе, 10/2</div>
                                </div>
                                <div class="chunk">
                                    <div class="logo">
                                        <img src="../../images/userpic-example.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                 data-interactive="off"></div>
                        </div>
                    </div>
                </div>

                <div class="section right white stretch-300">
                    <div class="container medium p-24-32">
                        <div class="kit info medium text block line">
                            <span class="caption">Шаг 1:</span>
                            <span class="value light"> Автомобиль</span>
                        </div>
                        <div class="ui form desktop">
                            <div class="field">
                                <label>
                                    VIN/FRAME (Номер кузова)
                                    <span>*</span>
                                    <button type="button" class="kit btn question popoverBtn"
                                            data-container=".main" data-toggle="popover" data-trigger="hover"
                                            data-content="Выберите предоставляемые услуги" data-original-title=""
                                            title=""></button>
                                </label>
                                <div class="field fixed-364">
                                    <div class="ui action input">
                                        <input type="text" name=""
                                               placeholder="Введите VIN или номер кузова">
                                        <button class="kit btn h32 blue desktop text small" disabled>Проверить</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="separator">

                        <div class="ui form desktop">
                            <div class="field">
                                <label>VIN не найден, запоните поля вручную</label>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>
                                        Автомобиль
                                        <span>*</span>
                                    </label>
                                    <select class="ui dropdown desktop" name="">
                                        <option value="0">Укажите марку и модель авто</option>
                                        <option value="1">1111</option>
                                        <option value="2">1111</option>
                                        <option value="3">1111</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>
                                        Год выпуска
                                        <span>*</span>
                                    </label>
                                    <div class="ui input">
                                        <input type="text" name="" placeholder="Укажите год выпуска">
                                    </div>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Кузов</label>
                                    <div class="ui input">
                                        <input class="error" type="text" name="" placeholder="">
                                    </div>
                                    <div class="error message" style="display: block;">
                                        Сообщение об ошибке об ошибкеоб ошибке об ошибкеоб ошибке
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Двигатель</label>
                                    <div class="ui input">
                                        <input type="text" name="" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Пробег</label>
                                    <div class="ui input">
                                        <input type="text" name="" placeholder="">
                                    </div>
                                </div>
                                <div class="field"></div>
                            </div>

                            <div class="error message" style="display: block;">
                                Сообщение об ошибке общее на всю форму, которое не относится к конкретному полю
                            </div>
                        </div>


                        <div class="kit btn group triangles">
                            <button class="kit btn desktop gray triangle left text small" disabled>Назад</button>
                            <button class="kit btn desktop yellow triangle right text small">Вперед</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block footerContent %}
    {% include '../../desktop/modules/index-footer.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="/js/desktop_sto.js"></script>
{% endblock %}

