{% extends 'layout/_layout.twig' %}
{% set bodyModifier = 'layout-desktop' %}
{% set layoutModifier = 'default' %}
{% set sidebarModifier = '' %}
{% set headerWithout = '' %}
{% block headerContent %}
    {% include '../../desktop/modules/sto-header.twig' %}
{% endblock %}
{% block content %}
    <div class="kit view page gray center">
        <div class="container shadow">
            <div class="line breadcrumb">
                {% include '../../desktop/modules/breadcrumb.twig' %}
            </div>
            <div class="line header small">
                <div class="left">
                    <div class="kit usertitle big">
                        <div class="info">
                            <div class="name">Запросить стоимость ремонта</div>
                            <div class="name other">
                                в Сто Верст, шиномонтажная мастерская (для запроса из конкретного СТО)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right half"></div>
            </div>
            <div class="line content">
                <div class="section left white fixed-300">
                    <div class="container border bottom p-24-44">
                        <div class="kit steps panel big">
                            <div class="icon step-paper"></div>
                            <div class="title">
                                <span class="medium">2 шаг:</span> Причина обращения в сервис
                            </div>
                            <div class="subtitle">Кратко опишите проблему в авто
                            </div>
                            <nav class="kit steps points">
                                <a href="#" class="item visited"></a>
                                <a href="#" class="item active"></a>
                                <a href="#" class="item"></a>
                            </nav>
                        </div>
                    </div>
                    <div class="container border bottom p-12-44">
                        <div class="kit steps panel big">
                            <div class="info">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                                <div class="text">
                                    <div class="title">Aston Martin DB9</div>
                                    <div class="subtitle">2000 г.в.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="container border bottom p-12-44">
                        <p style="font-size: 11px">(Блок для запроса из конкретного СТО)</p>
                        <div class="kit block info service">
                            <div class="kit flexible row not wrap">
                                <div class="title chunk">
                                    <div class="name">Сто Верст, шиномомонтажная
                                        мастерская
                                    </div>
                                    <div class="address">Кутателадзе Кутателадзе Кутателадзе Кутателадзе, 10/2</div>
                                </div>
                                <div class="chunk">
                                    <div class="logo">
                                        <img src="../../images/userpic-example.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                 data-interactive="off"></div>
                        </div>
                    </div>
                </div>

                <div class="section right white stretch-300">
                    <div class="container medium p-24-32">
                        <div class="kit info medium text block line">
                            <span class="caption">Шаг 2:</span>
                            <span class="value light"> Причина обращения в сервис</span>
                        </div>

                        <div class="ui form desktop">
                            <div class="two fields">
                                <div class="field">
                                    <label>Причина обращения в сервис
                                        <span>*</span>
                                        <button type="button" class="kit btn question popoverBtn"
                                                data-container=".main" data-toggle="popover" data-trigger="hover"
                                                data-content="Выберите предоставляемые услуги" data-original-title=""
                                                title=""></button>
                                    </label>
                                    <div class="ui input">
                                        <textarea class="medium" placeholder="Опишите проблему или укажите услугу"></textarea>
                                    </div>
                                    <div class="warning message" style="display: block;">
                                        Например: диагностика и ремонт подвески,
                                        восстановление кузова, чистка салона.
                                    </div>
                                </div>
                                <div class="field"></div>
                            </div>
                        </div>


                        <div class="kit btn group triangles">
                            <button class="kit btn desktop gray triangle left text small">Назад</button>
                            <button class="kit btn desktop yellow triangle right text small">Вперед</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block footerContent %}
    {% include '../../desktop/modules/index-footer.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="/js/desktop_sto.js"></script>
{% endblock %}

