{% extends 'layout/_layout.twig' %}
{% set bodyModifier = 'layout-desktop' %}
{% set layoutModifier = 'default' %}
{% set sidebarModifier = '' %}
{% set headerWithout = '' %}
{% block headerContent %}
    {% include '../../desktop/modules/sto-header.twig' %}

{% endblock %}
{% block content %}
    <div class="kit view page full screen">
        <div class="container shadow">
            <div class="line breadcrumb">
                {% include '../../desktop/modules/breadcrumb.twig' %}
            </div>
            <div class="line header">
                <div class="left small">
                    <h2 class="title">
                        <span class="nowrap">В Новосибирске найдено: </span>
                        <span class="nowrap">12 252 центра</span>
                    </h2>
                </div>
                <div class="middle">
                    <div class="kit search round color-main">
                        <div class="wrapper">
                            <input type="text" id="" maxlength="100" class="input" placeholder="Введите название автосервиса или услуги">
                            <div class="formSearch__clear btn-clear" style="display: block;"></div>
                            <button id="" class="btn-search kit btn desktop round yellow">Найти</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line content">
                <div class="section left gray small">
                    <div class="container p-20-20">
                        <div class="kit group input label default spacing mini">
                            <label for="filtr1" class="name small">Специализация центра</label>
                            <select class="ui dropdown filter desktop" name="" id="filtr1">
                                <option value="0">Укажите услуги</option>
                                <option value="1">1111</option>
                                <option value="2">1111</option>
                                <option value="3">1111</option>
                            </select>
                        </div>
                        <div class="kit group input label default spacing mini">
                            <label for="filtr2" class="name small">Рейтинг центра</label>
                            <select class="ui dropdown filter desktop" name="" id="filtr2">
                                <option value="0">Выберите рейтинг</option>
                                <option value="1">1111</option>
                                <option value="2">1111</option>
                                <option value="3">1111</option>
                            </select>
                        </div>
                        <div class="kit group input label default spacing mini">
                            <label for="filtr3" class="name small">Ваш автомобиль</label>
                            <select class="ui dropdown filter desktop" name="" id="filtr3">
                                <option value="0">Укажите ваше авто</option>
                                <option value="1">1111</option>
                                <option value="2">1111</option>
                                <option value="3">1111</option>
                            </select>
                        </div>
                        <div class="kit group input label default spacing mini">
                            <label for="filtr3" class="name small">Город</label>
                            <select class="ui dropdown filter desktop" name="" id="filtr3">
                                <option value="0">Ваш город</option>
                                <option value="1" selected>Новосибирск</option>
                                <option value="2">1111</option>
                                <option value="3">1111</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="section right big">
                    <div class="kit view map full screen">
                        <div class="sidebar container service list color-none position-left size-max">
                            <div class="kit aside sto list">
                                <div class="kit search result shadow service">
                                    <div class="header">
                                        <div class="title">
                                            Найдено:
                                            <span class="nowrap">12 252 центра</span>
                                        </div>
                                    </div>
                                    <div class="scroll">
                                        <nav class="kit list vertical withseparator">
                                            <div class="item">
                                                <div class="kit block info service">
                                                    <div class="kit flexible row not wrap">
                                                        <div class="title chunk">
                                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                                мастерская
                                                            </div>
                                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                                        </div>
                                                    </div>
                                                    <div class="norating">
                                                        <span>Нет оценок. </span>
                                                        <a href="#" class="link">Написать отзыв</a>
                                                    </div>
                                                    <div class="kit mode open">Открыто до 16:00</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="kit block info service">
                                                    <div class="kit flexible row not wrap">
                                                        <div class="title chunk">
                                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                                мастерская
                                                            </div>
                                                            <div class="address ellipsis ">Кутателадзе, 10/2</div>
                                                        </div>
                                                        <div class="chunk">
                                                            <div class="logo">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui rating mini star empty disabled" data-rating="3" data-max-rating="5"
                                                         data-disabled="true" data-interactive="off"></div>
                                                    <div class="kit mode closed mt-4">Завтра с 10:00 до 17:00</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="kit block info service">
                                                    <div class="kit flexible row not wrap">
                                                        <div class="title chunk">
                                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                                мастерская
                                                            </div>
                                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                                        </div>
                                                        <div class="chunk">
                                                            <div class="logo">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                                         data-interactive="off"></div>
                                                    <div class="kit mode open mt-4">Открыто до 16:00</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="kit block info service">
                                                    <div class="kit flexible row not wrap">
                                                        <div class="title chunk">
                                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                                мастерская
                                                            </div>
                                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                                        </div>
                                                        <div class="chunk">
                                                            <div class="logo">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                                         data-interactive="off"></div>
                                                    <div class="kit mode open mt-4">Открыто до 16:00</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="kit block info service">
                                                    <div class="kit flexible row not wrap">
                                                        <div class="title chunk">
                                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                                мастерская
                                                            </div>
                                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                                        </div>
                                                        <div class="chunk">
                                                            <div class="logo">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                                         data-interactive="off"></div>
                                                    <div class="kit mode open mt-4">Открыто до 16:00</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="kit block info service">
                                                    <div class="kit flexible row not wrap">
                                                        <div class="title chunk">
                                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                                мастерская
                                                            </div>
                                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                                        </div>
                                                        <div class="chunk">
                                                            <div class="logo">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                                         data-interactive="off"></div>
                                                    <div class="kit mode open mt-4">Открыто до 16:00</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="kit block info service">
                                                    <div class="kit flexible row not wrap">
                                                        <div class="title chunk">
                                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                                мастерская
                                                            </div>
                                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                                        </div>
                                                        <div class="chunk">
                                                            <div class="logo">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                                         data-interactive="off"></div>
                                                    <div class="kit mode open mt-4">Открыто до 16:00</div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="footer">
                                        <div class="button outer">
                                            <button class="kit btn yellow desktop block text small"><span class="ellipsis">Узнать стоимость ремонта у 5 центров</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="map container">
                            <div id="stoMap" class="kit map full screen">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
{% block footerContent %}
    {% include '../../desktop/modules/index-footer.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="/js/desktop_sto.js"></script>
{% endblock %}
