{% extends 'layout/_layout.twig' %}
{% set bodyModifier = 'layout-desktop' %}
{% set layoutModifier = 'default' %}
{% set sidebarModifier = '' %}
{% set headerWithout = '' %}
{% block headerContent %}
    {% include '../../desktop/modules/sto-header.twig' %}
{% endblock %}
{% block content %}
    <div class="kit view page gray center">
        <div class="container shadow">
            <div class="line breadcrumb">
                {% include '../../desktop/modules/breadcrumb.twig' %}
            </div>
            <div class="line header small">
                <div class="left">
                    <div class="kit usertitle big">
                        <div class="info">
                            <div class="name">Запросить стоимость ремонта</div>
                            <div class="name other">
                                в Сто Верст, шиномонтажная мастерская (для запроса из конкретного СТО)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right half"></div>
            </div>
            <div class="line content">
                <div class="section left white fixed-300">
                    <div class="container border bottom p-24-44">
                        <div class="kit steps panel big">
                            <div class="icon step-post"></div>
                            <div class="title">
                                <span class="medium">Запрос отправлен</span>
                            </div>
                            <div class="subtitle">Спасибо, что воспользовались нашим&nbsp;сервисом
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section right white stretch-300">
                    <div class="container p-32-64">
                        <div class="kit info small text block line">
                            <span class="caption size w-135">Автомобиль</span>
                            <span class="value light"> Aston Martin DB7 2000 г.в.</span>
                        </div>
                        <div class="kit info small text block line">
                            <span class="caption size w-135">Причина обращения</span>
                            <span class="value light"> Шиномонтаж, балансировка колёс, гарантийный ремонт</span>
                        </div>
                        <div class="kit info small text block line">
                            <span class="caption size w-135">Контакты</span>
                            <span class="value light"> Антон, anton@mail.com</span>
                        </div>

                        <div class="kit info text block color blue">
                            <p>Запрос на стоимость отправлен в <span class="bold">1071</span> автотехцентр. <br>
                                В ближайшее время Вы получите ответ в личный <br>
                                кабинет и на e-mail <span class="bold nowrap">nao-nsk1@ngs.ru</span>
                            </p>
                        </div>
                        <div class="kit info text block color blue">
                            <p>(Блок для запроса из конкретного СТО)</p>
                            <p>Запрос на стоимость отправлен в <a href="#" class="aqualink">Сто Верст, шиномонтажная мастерская</a>.
                                В ближайшее время Вы получите ответ в личный кабинет и на e-mail <span class="bold nowrap">nao-nsk1@ngs.ru</span>
                            </p>
                        </div>


                        <button class="kit btn desktop h32 blue text small">Перейти в личный кабинет</button>

                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block footerContent %}
    {% include '../../desktop/modules/index-footer.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="/js/desktop_sto.js"></script>
{% endblock %}

