{% extends 'layout/_layout.twig' %}
{% set bodyModifier = 'layout-desktop' %}
{% set layoutModifier = 'default' %}
{% set sidebarModifier = '' %}
{% set headerWithout = '' %}
{% block headerContent %}
    {% include '../../desktop/modules/sto-header.twig' %}

{% endblock %}
{% block content %}
    <div class="kit view page center gray">
        <div class="container shadow">
            <div class="line breadcrumb">
                {% include '../../desktop/modules/breadcrumb.twig' %}
            </div>
            <div class="line header">
                <div class="left half">
                    <div class="kit usertitle big">
                        <div class="kit avatar online s48 no-avatar entity">
                            <div class="img outer">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="info">
                            <div class="name">Автосервис Автосервис Автосервис Автосервис Автосервис Автосервис 1</div>
                            <div class="status">
                                <div class="ui rating mini star" data-rating="3" data-max-rating="5"
                                     data-interactive="off"></div>
                                <a href="#" class="kit comment count">Написать отзыв</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right half">
                        <a href="#" class="kit btn desktop transparent">Запросить стоимость ремонта</a>
                        <button class="kit btn desktop round yellow">Записаться на сервис</button>
                </div>
            </div>
            <div class="line content">
                <div class="section left white medium">
                    <div class="container p-24-44">
                        <div class="kit info text mini contacts">
                            <div class="kit flexible row not wrap">
                                <div class="chunk column eight">
                                    <div class="contact">
                                        <div class="caption">Город</div>
                                        <div class="value">
                                            <span class="content">Новосибирск</span>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <div class="caption">Адрес</div>
                                        <div class="value">
                                            <span class="content">Горский микрорайон, 64, 206</span>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <div class="caption">Сайт</div>
                                        <div class="value">
                                            <a href="#" class="aqualink" target="_blank">
                                                111111.ru
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="chunk column eight">
                                    <div class="contact">
                                        <div class="caption">Телефон</div>
                                        <div class="value">
                                            <a href="#" class="cover">
                                                <span class="content"></span>
                                                <span class="stub">Показать телефон</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <div class="caption">E-mail</div>
                                        <div class="value">
                                            <a href="#" class="cover">
                                                <span class="content"></span>
                                                <span class="stub">Показать e-mail</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <div class="caption">График работы</div>
                                        <div class="value">
                                            <div class="value">
                                                <a href="#" class="aqualink">Сегодня с 10:00 до 21:00</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="ui accordion styled colorized desktop">
                            <div class="panel">
                                <div class="title">
                                    Дополнительная информация
                                </div>
                                <div class="content">
                                    <div class="outer top padding">
                                        <div class="kit info text mini block line">
                                            <span class="caption">Запчасти:</span>
                                            <span class="value">нет</span>
                                        </div>
                                        <div class="kit info text mini block">
                                            <span class="caption">Специализация</span>
                                            <ul class="textlist circles">
                                                <li>специализация 1</li>
                                                <li>специализация 2</li>
                                                <li>специализация 3</li>
                                                <li>специализация 4</li>
                                                <li>специализация 5</li>
                                            </ul>
                                        </div>
                                        <div class="kit info text mini block">
                                            <span class="caption">Обслуживают марки автомобилей</span>
                                            <ul class="textlist circles">
                                                <li>BMW</li>
                                                <li>Bentley</li>
                                                <li>KIA</li>
                                                <li>Mitsubishi</li>
                                                <li>Mazda</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="title">
                                    Реквизиты
                                </div>
                                <div class="content">
                                    <div class="outer top bottom padding">
                                        <div class="kit info text mini line">
                                            <span class="caption">Наименование:</span>
                                            <span class="value">ООО ТД "ТСС"</span>
                                        </div>
                                        <div class="kit info text mini line">
                                            <span class="caption">ИНН:</span>
                                            <span class="value">5401952398</span>
                                        </div>
                                        <div class="kit info text mini line">
                                            <span class="caption">КПП:</span540101001ООО ТД "ТСС"</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <a class="title">
                                    Филиалы (5)
                                </a>
                                <div class="content">
                                    <div class="ui accordion inner styled desktop borders">
                                        <div class="panel">
                                            <div class="title">
                                                <div class="kit info text mini">
                                                    <span class="caption">Автосервис 1</span>
                                                    <span class="value light">г. Москва, ул. Московская, д. 9</span>
                                                </div>
                                            </div>
                                            <div class="content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores
                                                ducimus error facilis id illum
                                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur,
                                                provident quidem repudiandae
                                                rerum, ut voluptatum?
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="title">
                                                <div class="kit info text mini">
                                                    <span class="caption">Автосервис 2</span>
                                                    <span class="value light">г. Москва, ул. Московская, д. 9</span>
                                                </div>
                                            </div>
                                            <div class="content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores
                                                ducimus error facilis id illum
                                                impedit ipsum iste, labore laboriosam magni molestias natus pariatur,
                                                provident quidem repudiandae
                                                rerum, ut voluptatum?
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <a class="title">
                                    Отзывы
                                    <div class="rating">
                                        <div class="ui rating mini star" data-rating="1" data-max-rating="5"
                                             data-interactive="off"></div>
                                    </div>
                                    <div class="button">
                                        <button class="kit btn desktop blue h32">Добавить отзыв</button>
                                    </div>
                                </a>
                                <div class="content">
                                    <div class="outer withseparator top bottom padding">
                                        <div class="kit review block">
                                            <div class="header">
                                                <div class="author">
                                                    <div class="kit usertitle small user-online">
                                                        <div class="kit avatar online s32">
                                                            <div class="img outer">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="info">
                                                            <span class="name">Автосервис Автосервис Автосервис 1</span>
                                                            <span class="address">г. Москва, пр-т Декабристов, д.8, офис 505</span>
                                                            <div class="date">23.02.18 17:23</div>
                                                        </div>
                                                    </div>
                                                    <div class="location right">
                                                        <div class="kit tooltip-action desktop">
                                                            <div class="js-call-tooltip kit btn-icon points"></div>
                                                            <div class="list ui fluid popup bottom left transition hidden">
                                                                <a href="#" class="item">Пожаловаться модератору</a>
                                                                <a href="#" class="item">Отписаться от комментариев</a>
                                                                <a href="#" class="item">Удалить из личного кабинета</a>
                                                                <a href="#" class="item">Отменить</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller">
                                                    <div class="kit usertitle light">
                                                        <div class="info">
                                                            <div>
                                                                <span class="name">Автосервис 1 </span>
                                                                <span class="address">г. Москва, пр-т Декабристов, д.8, офис 505</span>
                                                            </div>
                                                            <div class="status">
                                                                <div class="ui rating mini star" data-rating="3"
                                                                     data-max-rating="5"
                                                                     data-interactive="off"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content prev">
                                                <a href="#">Таким образом сложившаяся структура организации позволяет
                                                    выполнять важные
                                                    задания по разработке дальнейших направлений развития. Текст! Таким
                                                    образом Таким образом сложившаяся структура организации позволяет
                                                    выполнять важные
                                                    задания по разработке дальнейших направлений развития. Текст! Таким
                                                    образом
                                                </a>
                                            </div>

                                            <div class="kit status block">
                                                <div class="description moderation"></div>
                                                <div class="list">
                                                    <div class="item ">
                                                        <div class="reply">20</div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="like active">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="outer withseparator top bottom padding">
                                        <div class="kit review block">
                                            <div class="header">
                                                <div class="author">
                                                    <div class="kit usertitle small user-online">
                                                        <div class="kit avatar online s32">
                                                            <div class="img outer">
                                                                <img src="../../images/userpic-example.png" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="info">
                                                            <span class="name">Автосервис Автосервис Автосервис 1</span>
                                                            <span class="address">г. Москва, пр-т Декабристов, д.8, офис 505</span>
                                                            <div class="date">23.02.18 17:23</div>
                                                        </div>
                                                    </div>
                                                    <div class="location right">
                                                        <div class="kit tooltip-action desktop">
                                                            <div class="js-call-tooltip kit btn-icon points"></div>
                                                            <div class="list ui fluid popup bottom left transition hidden">
                                                                <a href="#" class="item">Пожаловаться модератору</a>
                                                                <a href="#" class="item">Отписаться от комментариев</a>
                                                                <a href="#" class="item">Удалить из личного кабинета</a>
                                                                <a href="#" class="item">Отменить</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller">
                                                    <div class="kit usertitle light">
                                                        <div class="info">
                                                            <div>
                                                                <span class="name">Автосервис 1 </span>
                                                                <span class="address">г. Москва, пр-т Декабристов, д.8, офис 505</span>
                                                            </div>
                                                            <div class="status">
                                                                <div class="ui rating mini star" data-rating="3"
                                                                     data-max-rating="5"
                                                                     data-interactive="off"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content prev">
                                                <a href="#">Таким образом сложившаяся структура организации позволяет
                                                    выполнять важные
                                                    задания по разработке дальнейших направлений развития. Текст! Таким
                                                    образом Таким образом сложившаяся структура организации позволяет
                                                    выполнять важные
                                                    задания по разработке дальнейших направлений развития. Текст! Таким
                                                    образом
                                                </a>
                                            </div>

                                            <div class="kit status block">
                                                <div class="description moderation"></div>
                                                <div class="list">
                                                    <div class="item ">
                                                        <div class="reply active">20</div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="like null">0</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section right medium">
                    <div class="kit view map full screen">
                        <div class="map container">
                            <div id="stoMap" class="kit map full screen">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
{% block footerContent %}
    {% include '../../desktop/modules/index-footer.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="/js/desktop_sto.js"></script>
{% endblock %}
