{% extends 'layout/_layout.twig' %}
{% set bodyModifier = 'layout-desktop' %}
{% set layoutModifier = 'full screen' %}
{% set sidebarModifier = 'static' %}
{% set headerWithout = 'without' %}
{% block headerContent %}
    {% include '../../desktop/modules/sto-header.twig' %}
{% endblock %}
{% block content %}
    <div class="kit view">
        <div class="sidebar container navigation position-main">
            <div class="kit aside sto main">
                <nav class="kit list vertical space small">
                    <a href="#" class="item">
                        <div class="kit card purpur">
                            <div class="name">
                                <div class="title">Расширенный поиск <br> автотехцентров</div>
                                <div class="subtitle"><span class="medium">8 956</span> СТО в России и СНГ</div>
                            </div>
                            <div class="icon">☆</div>
                        </div>
                    </a>

                    <a href="#" class="item">
                        <div class="kit card purpur">
                            <div class="name">
                                <div class="title">Узнать стоимость<br> ремонта вашего авто</div>
                                <div class="subtitle"><span class="medium"> 15 мин.</span> <br> среднее время ответа
                                </div>
                            </div>
                            <div class="icon">☁</div>
                        </div>
                    </a>
                    <a href="#" class="item" style="display: none">
                        <div class="kit card purpur">
                            <div class="name">
                                <div class="title">Записаться <br> на сервис</div>
                                <div class="subtitle"><span class="medium">8 956</span> СТО в России и СНГ</div>
                            </div>
                            <div class="icon">★</div>
                        </div>
                    </a>
                    <a href="#" class="item" style="display: none">
                        <div class="kit card purpur">
                            <div class="name">
                                <div class="title">Предварительная диагностика</div>
                                <div class="subtitle">Помощь в определении проблем с авто</div>
                            </div>
                            <div class="icon">☀</div>
                        </div>
                    </a>
                </nav>
            </div>
            <div class="kit footer small left sto">
                <nav class="navigation">
                    <a href="#" class="item link">Контакты</a>
                    <a href="#" class="item link">О проекте</a>
                    <div class="copyright">© GISAUTO.RU</div>
                </nav>
            </div>
        </div>
        <div class="sidebar container service list color-main position-main" style="display:'';">
            <div class="kit aside sto list">
                <div class="kit search result shadow service">
                    <div class="header">
                        <button class="kit btn-icon btn-back arr-back"></button>
                        <div class="title">Организаций в здании: 4</div>
                        <button class="kit btn-icon btn-back x-back"></button>
                    </div>
                    <div class="scroll">
                        <nav class="kit list vertical separator">
                            <div class="item">
                                <div class="kit block info service">
                                    <div class="kit flexible row not wrap">
                                        <div class="title chunk">
                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                мастерская
                                            </div>
                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                        </div>
                                    </div>
                                    <div class="norating">
                                        <span>Нет оценок. </span>
                                        <a href="#" class="link">Написать отзыв</a>
                                    </div>
                                    <div class="kit mode open">Открыто до 16:00</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="kit block info service">
                                    <div class="kit flexible row not wrap">
                                        <div class="title chunk">
                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                мастерская
                                            </div>
                                            <div class="address ellipsis ">Кутателадзе, 10/2</div>
                                        </div>
                                        <div class="chunk">
                                            <div class="logo">
                                                <img src="../../images/userpic-example.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui rating mini star empty disabled" data-rating="3" data-max-rating="5"
                                         data-disabled="true" data-interactive="off"></div>
                                    <div class="kit mode closed mt-4">Завтра с 10:00 до 17:00</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="kit block info service">
                                    <div class="kit flexible row not wrap">
                                        <div class="title chunk">
                                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                                мастерская
                                            </div>
                                            <div class="address ellipsis">Кутателадзе, 10/2</div>
                                        </div>
                                        <div class="chunk">
                                            <div class="logo">
                                                <img src="../../images/userpic-example.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui rating mini star disabled" data-rating="3" data-max-rating="5"
                                         data-interactive="off"></div>
                                    <div class="kit mode open mt-4">Открыто до 16:00</div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div class="search container service">
            <div class="kit search square location color-service">
                <div class="wrapper">
                    <button id="" class="btn-search"></button>
                    <input type="text" id="" maxlength="100" class="input" placeholder="">
                    <div class="formSearch__clear btn-clear" style="display: block;"></div>
                </div>
                <button class="btn-location"></button>
            </div>
        </div>
    </div>
    <div class="kit view map max screen">
        <div class="map container">
            <div id="stoMap" class="kit map full screen considering sidebar">
            </div>
            <div class="kit hint main sto" style="top: 80px; right: 100px;">
                <div class="kit block info service">
                    <div class="kit flexible row not wrap">
                        <div class="title chunk">
                            <div class="name ellipsis">Сто Верст, шиномомонтажная
                                мастерская
                            </div>
                            <div class="address ellipsis pb-4">Кутателадзе, 10/2</div>
                        </div>
                        <div class="chunk">
                            <div class="logo">
                                <img src="../../images/userpic-example.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="ui rating mini star empty disabled" data-rating="3" data-max-rating="5"
                         data-interactive="off"></div>
                    <div class="kit mode closed mt-4">Завтра с 10:00 до 17:00</div>
                    <a href="#" class="aqualink">и ещё 24 организации</a>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/js/desktop_sto.js"></script>
{% endblock %}
{% block footer %}{% endblock %}
