<div class="modal modal-fullscreen modal_fancybox-construct" tabindex="-1" role="dialog" id="modalFilters" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header_white"></div>
            <div class="modal-body">
                <div class="modal-title">Сортировка</div>
                <div class="filters-block">
                    <div class="form-sort">
                        <div class="form-sort__title">По цене:</div>
                        <div class="form-sort__radio">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio11" name="customRadio1"
                                       class="custom-control-input">
                                <label class="custom-control-label form-sort__radio-down"
                                       for="customRadio11">T</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio12" name="customRadio1"
                                       class="custom-control-input" checked>
                                <label class="custom-control-label form-sort__radio-up" for="customRadio12">Or</label>
                            </div>
                        </div>
                        <div class="form-sort__btn-del">
                            <a href="#" class="btn-del"></a>
                        </div>
                    </div>
                    <div class="form-sort">
                        <div class="form-sort__title active">По дате:</div>
                        <div class="form-sort__radio">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio21" name="customRadio2"
                                       class="custom-control-input" checked>
                                <label class="custom-control-label form-sort__radio-down"
                                       for="customRadio21">T</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio22" name="customRadio2"
                                       class="custom-control-input">
                                <label class="custom-control-label form-sort__radio-up" for="customRadio22">Or</label>
                            </div>
                        </div>
                        <div class="form-sort__btn-del">
                            <a href="#" class="btn-del"></a>
                        </div>
                    </div>
                    <div class="form-sort">
                        <div class="form-sort__title active">По названию:</div>
                        <div class="form-sort__radio">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio31" name="customRadio3"
                                       class="custom-control-input" checked>
                                <label class="custom-control-label form-sort__radio-down"
                                       for="customRadio31">T</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio32" name="customRadio3"
                                       class="custom-control-input">
                                <label class="custom-control-label form-sort__radio-up" for="customRadio32">Or</label>
                            </div>
                        </div>
                        <div class="form-sort__btn-del">
                            <a href="#" class="btn-del"></a>
                        </div>
                    </div>
                </div>
                <div class="modal-btn-group">
                    <button class="btn btn-circle btn-brand_blue-outline">Сбросить</button>
                    <button class="btn btn-circle btn-brand_blue">Применить</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>