.accord {
  &__panel {
    display: block;
    width: 100%;
  }
  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    background-color: $color-accord-300;
    border-bottom: 1px solid $color-accord-100;
    cursor: pointer;
    position: relative;
    text-decoration: none !important;
    transition: all 0.3s ease;
    @include hover-focus-active {
      background-color: $color-accord-200;
    }
    &.collapsed {
      .accord__open {
        @include inline-svg-icon('arr-down',  $color-accord-text, bottom center, 1rem);
        border-bottom: 0.7rem solid transparent;
        @media only screen and (min-width: $mobile-widget) {
          background-position: center;
        }
      }
    }
  }
  &__action {
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 1.875rem;
    @media only screen and (min-width: $mobile-widget)  {
      width: 4.375rem;
    }
  }
  &__hint, &__open {
    display: inline-block;
    width: 100%;
    height: 50%;
    font-size: 0;
    @media only screen and (min-width: $mobile-widget) {
      height: 100%;
    }
  }
  &__open {
    order: 1;
    background-color: transparent;
    border: none;
    @include inline-svg-icon('arr-up',  $color-accord-text, bottom center, 1rem);
    border-bottom: 0.3rem solid transparent;
    @media only screen and (min-width: $mobile-widget) {
      order: 0;
      width: 60%;
      background-position: center;
      border: none;
    }
  }

  &__hint {
    background-color: transparent;
    border: none;
    @include inline-svg-icon('points',  $color-accord-text, center, 0.35rem 1rem);
    @media only screen and (min-width: $mobile-widget) {
      width: 40%;
      background-color: $color-accord-100;
      border: none;
      border-left: 1px solid $color-accord-100;
      transition: all 0.3s ease;
      @include hover-focus-active {
        background-color: $color-accord-300;
      }
    }
  }

  &__body {
    display: none;
    background-color: $white;
  }

  &--text-color {
    color: $color-accord-text;
  }
  &--text-white {
    color: $white;
    font-size: 1rem;
    font-weight: $reg;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
      font-weight: $med;
    }
  }
}