.gisauto {
  font-family: GisautoRoboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272727;
  text-align: left;
  background-color: #fff;

  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  max-width: 32rem;
  margin: -1px auto 0;
  border-top: 1px solid transparent;
  overflow: hidden;
  @media only screen and (min-width: $mobile-widget) {
    position: static;
    display: block;
    width: 32rem;
    min-height: auto;
    padding: 0;
    overflow: visible;
  }
  &.ov-visible {
    overflow: visible;
  }
  .btn-main {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 38px;
    padding: 0.5rem 0.35rem;
    background-color: rgba(39, 39, 39, 0.75);
    @media only screen and (min-width: $mobile-widget) {
      padding-left: 0;
      position: static;
      background-color: transparent;
    }
  }
  &__container-widget,
  &__container-min,
  &__container-page,
  &__container-flex {
    overflow: hidden;
    max-height: none;
    padding: 1rem;
    margin-top: $m-widget-height-header;
    background-color: $white;
    .auto-info-head {
      margin: -1rem;
      margin-bottom: 0;
      width: 100vw;
      position: sticky;
      top: $m-widget-height-header;
      z-index: 500;
    }
    @media only screen and (min-width: $mobile-widget) {
      max-height: $height-widget;
      padding: 0;
      margin-top: 0;
      .auto-info-head {
        position: static;
        margin: 0;
        width: 100%;
      }
    }
  }
  &__container-min {
    padding: 1rem;
    @media only screen and (min-width: $mobile-widget) {
      max-width: 12.5rem;
      min-width: 12.5rem;
      margin-left: 0;
      padding: 1.5rem 1rem;
    }
  }
  &__container-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    overflow: visible;
    padding: 0;
    margin: 0;
    padding-top: $m-widget-height-header;
    height: 100vh;

    @media only screen and (min-width: $mobile-widget) {
      padding: 0;
      height: $height-widget;
      min-height: auto;
      max-height: $height-widget;
    }
  }
  &__container-flex {
    flex-shrink: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    overflow: visible;
    height: auto;
    @media only screen and (min-width: $mobile-widget) {
      height: $height-widget;
      max-height: $height-widget;

    }
  }
  &__content {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: relative;
    &.padding {
      padding: 0.625rem 0.875rem;
    }
    @media only screen and (min-width: $mobile-widget) {
      overflow-y: auto;
      &.padding {
        padding: 1rem;
      }
    }
  }
  &__content-panel {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    @media only screen and (min-width: $mobile-widget) {
      //overflow-y: auto;
    }
  }

  &__wrapper-scroll {
    padding-top: 1rem;
    border-bottom: 1px solid $turq;
    overflow: visible;
    @media only screen and (min-width: $mobile-widget) {
      overflow-y: auto;
      height: 100%;
    }
  }

  .btn-link {
    display: block;
    padding: 1rem 0;
  }

  .w-title {
    display: block;
    text-align: center;
    color: $black;
    font-size: 1.125rem;
    font-weight: $med;
    padding-bottom: 2rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }

  .w-text {
    display: block;
    max-width: 17rem;
    text-align: center;
    color: $black;
    font-size: 0.9375rem;
    padding: 0;
    margin: 0;
    a {
      font: inherit;
    }
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }

  .text-gray {
    color: $placeholder !important;
  }

  .text-black {
    color: $black;
  }

  .text-red {
    color: red !important;
  }

  .text-red-med {
    color: red !important;
    font-weight: $med !important;
  }

  .text-13-15 {
    font-size: 0.9375rem !important;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem !important;
    }
  }

  .img-sent {
    display: block;
    margin: 0 auto;
    width: 37px;
    height: 45px;
    margin-bottom: 1rem;
    @include inline-svg-icon('req-sent', $wblue, center, contain);
  }

  .desktop-show {
    display: none !important;
    @media only screen and (min-width: $mobile-widget) {
      display: block !important;
    }
  }

  .mobile-show {
    display: block !important;
    @media only screen and (min-width: $mobile-widget) {
      display: none !important;
    }
  }

  .mobile-ico-delivery {
    @include inline-svg-icon('ico-delivery', $wblue, left 0.15rem, 1.25rem 0.875rem);
    @media only screen and (min-width: $mobile-widget) {
      background-image: none;
    }
  }

  .mobile-ico-history {
    @include inline-svg-icon('ico-clock', $wblue, left 0, 1rem);
    @media only screen and (min-width: $mobile-widget) {
      background-image: none;
    }
  }

  .filters-block {
    .form-sort {
      margin-bottom: 1.5rem;
      &__title {
        width: 35%;
      }
    }
  }

  .dropdown-toggle-request,
  .dropdown-toggle-sidebar {
    padding: 0 !important;
    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    min-width: 100px;
    max-width: fit-content;
    z-index: 90;
  }

  .link {
    &.link-11 {
      font-size: 0.8125rem;
      @media only screen and (min-width: $mobile-widget) {
        font-size: 0.6875rem;
      }
    }
    &.link-13 {
      font-size: 0.9375rem;
      @media only screen and (min-width: $mobile-widget) {
        font-size: 0.8125rem;
      }
    }
  }
}


