$teal: #ECF2F7;
.bar {
  transition: all .3s ease;
  overflow: hidden;
  z-index: 99;
  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar {
    display: none;
  }
  &-fixture {
    min-height: 3rem;
  }
  &-actions {
    min-width: 4rem;
  }
  &-menu {
    flex: 0 1 auto;
    &-burger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 3.125rem;
      background: $white;
      cursor: pointer;
      height: 3.5rem;
      @media only screen and (min-width: $mobile-widget) {
        height: 3.75rem;
      }
      @include hover-focus-active {
        .bar-menu-burger-icon {
          background-color: $wblue;
          &:after,
          &:before {
            background-color: $wblue;
          }
        }
      }
      &-icon {
        display: block;
        height: 1.5px;
        width: 1.25rem;
        margin: auto;
        background-color: $widget-input-border;
        overflow: visible;
        position: relative;
        transition: all .3s ease;
        pointer-events: none;
        &:after,
        &:before {
          display: block;
          position: absolute;
          top: -5px;
          width: 100%;
          background-color: $widget-input-border;
          height: 1.5px;
          content: '';
          transition: all .3s ease;
        }
        &:after {
          top: auto;
          bottom: -5px;
          content: '';
        }
      }
    }
    &-close-icon, &-back-icon {
      display: block;
      height: 1.25rem;
      width: 1.25rem;
      margin: auto;
      @include inline-svg-icon('close', $widget-input-border, center, 1rem);
      overflow: visible;
      position: relative;
      transition: all .3s ease;
      pointer-events: none;
      @media only screen and (min-width: $mobile-widget) {
        background-size: 0.75rem;
      }
    }
    &-back-icon {
      @include inline-svg-icon('arr-left', $widget-input-border, center, 0.5rem);
      transform: rotate(180deg);
      @media only screen and (min-width: $mobile-widget) {
        background-size: 0.5rem;
      }
    }
  }
  &-info {
    width: 100%;
    text-align: left;
    .bar-text {
      white-space: normal;
      line-height: 1.2;
    }
    &.part-menu {
      padding: 0.75rem 0;
      max-width: calc(100vw - 3.375rem);
      overflow: hidden;
      .bar-text {
        max-height: 2.75rem;
        padding-left: 0;
      }
      @media only screen and (min-width: $mobile-widget) {
        max-width: calc(100% - 3rem);
        .bar-text {
          white-space: nowrap;
          padding-left: 1.5rem;
        }
      }
    }

  }
  &-text-footer {
    max-width: calc(100vw - 130px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 1rem;
    color: $wtext;
    font-size: 0.9375rem;
    font-weight: $med;
    line-height: 1.5rem;
    height: 1.5rem;
    @media only screen and (min-width: $mobile-widget) {
      max-width: 100%;
      font-size: 0.8125rem;
      padding: 0 1.5rem;
    }
  }
  &-text, &-add-text {
    max-width: calc(100vw - 100px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    color: $black;
    font-size: 1.125rem;
    font-weight: $med;
    &.cabinet-menu {
      max-width: calc(100vw - 70px);
    }
    &__count {
      font-weight: $bol;
    }
    @media only screen and (min-width: $mobile-widget) {
      max-width: 100%;
      font-size: 1rem;
      padding: 0 1.5rem;
    }
  }
  &-add-text {
    font-size: 0.8125rem;
    font-weight: $reg;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
  &-actions {
    display: flex;
    position: relative;
    height: 2.5rem;
    min-width: 3rem;
    @media only screen and (min-width: $mobile-widget) {
      min-width: 4.5rem;
    }
  }
  &-message {
    display: block;
    margin: auto;
    margin-left: 0.5rem;
    width: 2rem;
    height: 1.5rem;
    transition: all .3s ease;
    @include inline-svg-icon('notification', $widget-input-border, center, 1rem 1rem);
    @include hover-focus-active {
      cursor: pointer;
      @include inline-svg-icon('notification', $wblue, center, 1rem 1rem);
    }
  }
  &.f-blue {
    .bar-message {
      @include hover-focus-active {
        @include inline-svg-icon('notification', $turq, center, 1rem 1rem);
      }
      @media only screen and (min-width: $mobile-widget) {
        @include hover-focus-active {
          @include inline-svg-icon('notification', $turq, center, 1rem 1rem);
        }
      }
    }
  }
  &-btn-search {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    transition: all .3s ease;
    @include inline-svg-icon('loup', $widget-input-border, center, 1rem 1rem);
    @include hover-focus-active {
      cursor: pointer;
      @include inline-svg-icon('loup', $wblue, center, 1rem 1rem);
    }
  }
  &-search {
    display: none;
    position: absolute;
    z-index: 100;
    width: calc(100vw - 4rem);
    height: 2.5rem;
    right: 1rem;
    top: 0;
    bottom: 0;
    .form-control {
      padding: 0.625rem 1rem;
    }
    @media only screen and (min-width: $mobile-widget) {
      right: 1.875rem;
      width: 26rem;
    }
  }
  &-login {
    display: flex;
    width: 5.5rem;
    cursor: pointer;
    line-height: 1.5rem;
    height: 1.5rem;
    * {
      color: $widget-input-border;
      text-decoration: none;
      font-size: 0.9375rem;
      font-weight: $med;
      transition: all .3s ease;
      @media only screen and (min-width: $mobile-widget) {
        font-size: 0.8125rem;
      }
    }
    @include hover-focus-active {
      * {
        color: $wblue !important;
        text-decoration: none;
        font-weight: $med;
      }
      .bar-login-out {
        @include inline-svg-icon('exit', $wblue, 0.75rem center, 0.9rem);
        @media only screen and (min-width: $mobile-widget) {
          @include inline-svg-icon('exit', $wblue, 1.5rem center, 0.75rem);
        }
      }
    }
  }
  &-login-out {
    display: block;
    padding-left: 2rem;
    line-height: 1.5rem;
    height: 1.5rem;
    @include inline-svg-icon('exit', $widget-input-border, 0.75rem center, 0.9rem);
    @media only screen and (min-width: $mobile-widget) {
      @include inline-svg-icon('exit', $widget-input-border, 1.5rem center, 0.75rem);
      padding-left: 2.5rem;
    }
    @include hover-focus-active {
      color: $wblue !important;
      text-decoration: none;
      font-weight: $med;
    }
  }
  &-hint {
    width: 2.5rem;
    height: 3.5rem;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include inline-svg-icon('points', $turq, center, 0.35rem 1rem);
  }
}