.block-add-data {
  padding: 0;
  padding-bottom: 1rem;

  @media only screen and (min-width: $mobile-widget) {
    padding: 0.875rem 1.5rem 1.5rem 1.5rem;
  }

  .text-light-gray {
    margin-right: 3.5rem;
    display: none;
    @media only screen and (min-width: $mobile-widget) {
      display: block;
    }
  }
  &__title {
    padding-bottom: 1rem;
    color: $black;
    font-size: 0.9375rem;
    line-height: 1.3;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
  &__item {
    position: relative;
    border-bottom: 1px solid $part-seller;
    margin-bottom: 1rem;
    &:last-child {
      border-color: transparent;
    }
  }
  &__input-file {
    position: absolute;
    right: 0;
    bottom: auto;
    top: 6.25rem;
    .upload-file-del {
      margin-top: 0.5rem;
    }
    @media only screen and (min-width: $mobile-widget) {
      bottom: auto;
      top: 4.75rem;
      margin-bottom: 0;
    }
  }
  &__custom-checkbox {
    width: 70%;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .custom-checkbox {
     display: block;
      margin: 0 0 1.5rem 0;
      @media only screen and (min-width: $mobile-widget) {
        display: inline-block;
        vertical-align: top;
        margin: 0 1rem 0 0;
      }
    }
  }
  .btn-link {
    font-size: 1.125rem;
    width: 100%;
    text-align: center;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.9375rem;
      text-align: left;
    }

  }
}