.car-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: auto;
  min-height: 4.25rem;
  &__img {
    flex-shrink: 0;
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid $widget-input-border;
    border-radius: 50%;
    background-color: $white;
    overflow: hidden;
    margin: 2.25rem 0 auto 0.5625rem;
    text-align: right;
    @include inline-svg-icon('no-photo-car', $widget-input-border, center, 0.85rem);
    @media only screen and (min-width: $mobile-widget) {
      width: 3.125rem;
      height: 3.125rem;
      margin-top: auto;
      @include inline-svg-icon('no-photo-car', $widget-input-border, center, 2.125rem);
    }
    img {
      display: inline-block;
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }
  &__title {
    flex-shrink: 1;
    width: 100%;
    margin: auto 0;
    padding: 2rem 0.5rem 0.5rem 0.875rem;
    font-size: 0.9375rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
      padding: 0.5rem 0.5rem 0.5rem 0.875rem;
    }
  }
  &__count {
    flex-shrink: 1;
    width: auto;
    margin: auto 0 0.5rem 0;
    white-space: nowrap;
    font-size: 0.8125rem;
    font-weight: $reg;
    span {
      color: $yellow;
    }
    @media only screen and (min-width: $mobile-widget) {
      font-weight: $med;
      margin: auto 0;
    }
  }
  &--vin {
    position: absolute;
    top: 0.55rem;
    left: 0.5625rem;
    @media only screen and (min-width: $mobile-widget) {
      position: static;
    }
  }
}