.p-text {
  display: block;
  width: 100%;
  font-size: 0.8125rem;
  line-height: 1.3;
  color: $wtext;
  font-weight: $reg;
  text-align: left;
  * {
    font: inherit;
    margin: 0;
    padding: 0;
  }
  &__title {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 0.625rem;
    padding-bottom: 0.375rem;
    font-size: 0.9375rem;
    line-height: 1.3;
    color: $black;
    font-weight: $med;
  }
  &__content {
    font: inherit;
    padding-bottom: 0.375rem;
    &.center {
      text-align: left;
      @media only screen and (min-width: $mobile-widget) {
        text-align: center;
      }
    }
  }
  &__subtitle {
    font-weight: $med;
    color: $black;
    @media only screen and (min-width: $mobile-widget) {

    }
  }
  &__price {
    color: $black;
    padding: 0.5rem 0;
    @media only screen and (min-width: $mobile-widget) {
      padding: 0.5rem 0;
    }
  }
  &__xl {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: $bol;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 1.5rem;
    }
  }
  &__l {
    font-size: 0.9375rem;
    font-weight: $reg;
  }
  .m-pl {
    padding-left: 2rem;
    @media only screen and (min-width: $mobile-widget) {
      padding-left: 0;
    }
  }



  &--mtype {
    font-size: 0.9375rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
}