.panels {
  flex-flow: row nowrap;
  .panel {
    &-50 {
      display: none;
      width: 100%;
      background-color: $white;
      padding: 1.5rem;
      &.active {
        display: block;
      }
      @media only screen and (min-width: $mobile-widget) {
        display: block;
        padding: 1rem;
        &.active {
          display: block;
        }
      }
    }
    &--color {
      @media only screen and (min-width: $mobile-widget) {
        background-color: $part-seller;
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    &__btn-action {
      text-align: center;
      padding: 1.5rem 0;
    }
  }
}