@mixin border-bottom-absolute($ld, $rd, $lm, $rm) {
  position: relative;
  margin-top: -1px;
  &:after {
    content: "";
    display: block;
    width: auto;
    height: 1px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: $lm;
    right: $rm;
    background-color: $widget-input-border;
    @media only screen and (min-width: $mobile-widget) {
      background-color: $part-seller;
      left: $ld;
      right: $rd;
    }
  }
  @include hover-focus-active {
    z-index: 11;
    &:after {
      left: 0;
      right: 0;
    }
  }
}

.search-result {
  &__car-info {
    background-color: $white;
    padding-right: 1.5rem;
    cursor: pointer;
    color: $wtext;
    @include border-bottom-absolute(4.5rem, 1.5rem, 2.5rem, 1rem);
    @include hover-focus-active {
      background-color: $part-seller;
    }
    .text-medium {
      font-weight: $reg;
    }
  }
  &__part-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $white;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    cursor: pointer;
    color: $wtext;
    line-height: 1.5rem;
    @include border-bottom-absolute(1rem, 1rem, 1rem, 1rem);
    @media only screen and (min-width: $mobile-widget) {
      flex-flow: row nowrap;
      align-items: center;
    }
    @include hover-focus-active {
      background-color: $part-seller;
    }
    .date {
      flex: 0 0 100%;
      @media only screen and (min-width: $mobile-widget) {
        flex: 0 0 4rem;
        span {
          display: none;
        }

      }
    }
    .name {
      flex: 0 1 calc(100% - 100px);
      white-space: normal;
      font-size: 0.9375rem;
      line-height: 1.3;
      max-height: 2.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      @media only screen and (min-width: $mobile-widget) {
        flex: 0 1 100%;
        white-space: nowrap;
      }
    }
    .price {
      flex: 0 0 100px;
      white-space: nowrap;
      color: $black;
      font-weight: $med;
      text-align: right;
      padding-left: 1rem;
    }
  }
  &__count {
    color: $black;
    span {
      color: $wdanger;
    }
  }
  .marker {
    color: $black;
    font-weight: $med;
  }
}