.w-sidebar {
  flex: 1 1 100%;
  width: auto;
  height: calc(100vh - 3.25rem);
  margin-top: 0;
  @media only screen and (min-width: $mobile-widget) {
    position: absolute;
    top: 3.25rem;
    height: auto;
  }
}
.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: auto;
  height: $heght-mobil;
  margin-left: -100vw;
  background-color: $color-accord-300;
  color: $color-accord-text;
  transition: all 0.3s ease;

  &.m-active {
    margin-left: 0;
    width: 100%;
    .sidebar__close {
      transform: rotate(180deg);
    }
    ~ .sidebar-submenu {
      width: 0;
    }
  }
  @media only screen and (min-width: $mobile-widget) {
    position: static;
    flex: 0 0 9rem;
    width: 9rem;
    height: 100%;
    margin-left: 0;
    &.m-active {
      width: 9rem;
      .sidebar__close {
        transform: rotate(0);
      }
    }
  }
  &-menu {
    width: 100vw;
    height: 100%;
    @media only screen and (min-width: $mobile-widget) {
      width: 9rem;
    }
  }
  &__link {
    display: block;
    font-size: 0.9375rem;
    color: $color-accord-text;
    text-decoration: none;
    padding: 0.625rem 0.625rem 0.625rem 1.625rem;
    background-color: transparent;
    cursor: pointer;
    @include hover-focus-active {
      background-color: $color-accord-100;
      color: $color-accord-text;
      text-decoration: none;
    }
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.8125rem;
    }
  }
  &__close {
    display: block;
    border: none;
    outline: none;
    background: none;
    width: 2rem;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    @include inline-svg-icon('arr-right', $white, center, 0.75rem);
    @media only screen and (min-width: $mobile-widget) {
      display: none;
    }
  }
  &__request {
    padding: 0.5rem 0 0.5rem 0.575rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    color: $wtext;
    font-weight: $reg;
    .model {
      color: $black;
      font-weight: $med;
    }
    .year {
      display: inline-block;
      color: $wtext;
      font-weight: $reg;
      white-space: nowrap;
    }
    @include hover-focus-active {
      background-color: $part-seller;
    }
    @media only screen and (min-width: $mobile-widget) {
      align-items: center;
      font-size: 0.8125rem;
    }
  }
  &__checkbox {
    flex: 1 1 100%;
  }
  &__count {
    flex: 0 0 auto;
    white-space: nowrap;
    color: $black;
    font-weight: $med;
    @media only screen and (min-width: $mobile-widget) {
      font-weight: $reg;
    }
    span {
      color: $wdanger;
    }
  }
  &__hint {
    flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 1rem;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include inline-svg-icon('points',  $black, center, 0.35rem 1rem);
    @media only screen and (min-width: $mobile-widget) {
      width: 3rem;
      border: none;
      transition: all 0.3s ease;
      @include inline-svg-icon('points',  $widget-input-border, center, 0.35rem 1rem);
      @include hover-focus-active {
        @include inline-svg-icon('points',  $wblue, center, 0.35rem 1rem);
      }
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.575rem;
    position: relative;
    background-color: $white;
    &:after {
      content: '';
      width: 100%;
      font-size: 0;
      display: block;
      margin-right: 1.25rem;
      margin-left: 0.5rem;
      height: 1px;
      background-color: $part-seller;
    }
    @media only screen and (min-width: $mobile-widget) {
      &:after {
        margin-right: 2.5rem;
      }
    }
  }
}

.sidebar-submenu {
  width: 100%;
  height: $heght-mobil;
  padding-top: 0.5rem;
  background-color: $white;
  @media only screen and (min-width: $mobile-widget) {
    height: 100%;
  }
}

.scroll {
  overflow-y: auto;
}