//GisAuto
$reg: 400;
$med: 500;
$bol: 700;
$bbol: 800;
$roboto: 'GisautoRoboto', sans-serif;
$icons: 'GisAuto';
$black: #272727;
$dark: #383838;
$white: #fff;
$menuSideBG: #fdda8f;
$menuBlue: #75b2c1;
$indexMarker: #6c9cae;
$borderHover: #adc8e9;
$cellHover: #f6faff;
$sideMenuHover: #eef3f6;
$sideMenuSVG: #515f68;
$avatarFill: #96adbb;
$filterBG: #f4f4f4;
$gray: #fbfbfb;
$tableHead: #fbfbfb;
$searchOnWhite: #728896;
$placeholder: #8798a4;
$turq: #c5d1d9;
$lightTurq: #dee7ed;
$pageField: #ededed;
$devider: #dbe4e9;
$white: #fff;
$title: #383838;
$menuSide: #5b5b5b;
$text: #5b5b5b;
$aqua: #669ed9;
$link: #669ed9;
$lightBlue: #4272a4;
$blue: #345a81;
$lightYellow: #ffdb64;
$yellow: #ffcf68;
$red: #e13c3c;
$lightRed: #ef305d;
$darkRed: #d42951;
$mainHoverText: #b7e1ea;
$head: #74abbc;
$indexMarker: #568599;
$indexTitle: #00405f;
$priceGreen: #74bc92;
$priceRed: #f37c7c;
//mobile
$height-footer: 55px;
$bg-gray: #f7f7f7;
$border-gray: #95989A;
$line-gray: #F6F6F6;
$phone6: 375px;
$phone6p: 414px;

//WIDGET
$mobile-widget: 32rem;
$widthBtnWidget: 12.5rem;
$widthBtnWidgetSearch: 24rem;
$m-widget-height-header: 3.375rem;
$height-widget: 38rem;
$bg-tooltip-dark: rgba(39,39,39, 0.9);
$tooltip-link: #508CD9;
$widget-input-border: #C4D0D8;
$wtext: #6B6F74;
$wlink: #3779CF;
$wblue: #3779CF;
$wdanger: #FF0000;
$part-seller: #ECF2F7;
$parts-block-seller: #707070;

$color-accord-100: #801C3A;
$color-accord-200: #741230;
$color-accord-300: #650E29;
$color-accord-text: #EFE3E7;


$height-bars: 6.875rem; // head footer + head header
$heght-mobil: calc(100vh - 10.125rem);
.w-body {
  margin: 0;
}