.w-table {
  display: block;
  width: 100%;
  table {
    tr {
      &.new-request {
        background-color: $white;
        td {
          color: $black;
          font-weight: $med;
          line-height: 1.3;
        }
      }
      td {
        padding: 0.625rem;
        vertical-align: top;
        border-top: 1px solid $part-seller;
        border-bottom: 1px solid $part-seller;
        color: $wtext;
        font-weight: $reg;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          top: 4px;
          bottom: 4px;
          right: 0;
          background: $part-seller;
        }
        &:last-child {
          vertical-align: middle;
          &:before {
            display: none;
          }
        }
      }
      &:hover {
        background-color: $part-seller;
        td {
          border-top-style: double;
          border-color: $widget-input-border;
          &:before {
            background: $widget-input-border;
          }
        }
      }
    }
  }
  &__call-filter {
    text-align: right;
    padding: 0.5rem 0.35rem;
    color: $wblue;
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      @include size(1rem);
      @include inline-svg-icon('sort', $wblue, center, 0.75rem);
    }
  }
  &__btn-more {
    color: $wblue;
    @media only screen and (min-width: $mobile-widget) {
      color: $widget-input-border;
    }
  }
  &__cond {
    display: block;
    font-size: 0.8125rem;
    @media only screen and (min-width: $mobile-widget) {
      font-size: 0.6875rem;
    }
  }
  &__m-block {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0.875rem;
    border-top: 1px solid $part-seller;
    &:last-child {
      border-bottom: 1px solid $part-seller;
    }
    .date, .price, .amount, .status {
      margin-bottom: 0.25rem;
    }
    .name {
      font-size: 0.9375rem;
      margin-bottom: 0.5rem;
    }
    .amount, .status {
      text-align: right;
    }
  }
}
.new-request {
  background-color: $white;
  color: $black;
  font-weight: $med;
  line-height: 1.3;
}