.widget-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  height: 3.25rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $white;
  position: sticky;
  z-index: 500;
  bottom: 0;
  border-top: 1px solid $turq;
  overflow: visible !important;
  @media only screen and (min-width: $mobile-widget) {
    background-color: $white;
    position: static;
    height: 4rem;
  }
  .m-btn-footer, .m-status-footer {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
    color: $wtext;
  }
  &--action {
    background-color: $white;
    &.f-blue {
      background-color: $wblue;
      .m-btn-footer, .m-status-footer {
        color: $white;
      }
    }
    .bar-login, .bar-info {
      display: none;
    }
    .bar-hint, .bar-btn {
      display: block;
    }
    @media only screen and (min-width: $mobile-widget) {
      background-color: $white;
      &.f-blue {
        background-color: $white;
      }
      .bar-login, .bar-info {
        display: block;
      }
      .bar-hint, .bar-btn {
        display: none;
      }
    }
  }

}