.widget-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $white;
  position: sticky;
  z-index: 500;
  top: $m-widget-height-header;
  border-bottom: 1px solid $turq;
  @media only screen and (min-width: $mobile-widget) {
    position: static;
    height: 3.75rem;
  }
  &--part-menu {
    height: auto;
    max-height: 6rem;
    align-items: flex-start;
    @media only screen and (min-width: $mobile-widget) {
      align-items: center;
    }
  }

}