<section class="wrapper-fluid bar-a-search fixed">
    <div class="bar-a-search__btn a-filter float-left active"></div>
    <div class="bar-a-search__btn a-tires float-left active"></div>
    <div class="bar-a-search__btn a-disks float-left active"></div>
    <div class="bar-a-search__btn a-contract float-left active"></div>
    <div class="bar-a-search__btn a-map float-right"></div>
    <div class="bar-a-search__btn a-menu float-right"></div>
    <a href="#" class="bar-a-search__btn a-info float-right"></a>
</section>