<footer class="index-footer">
    <a href="#modalContacts" data-fancybox="" class="index-footer__contacts">Контакты</a>
    <a href="about.html" class="index-footer__about">О проекте</a>
    <span class="index-footer__rights">© GISAUTO.RU</span>
</footer>
{% include 'modals/_modal-contacts.twig' %}