<header id="siteHeader" class="bar {{ header_mode | default('') }} {{ header_fixed ? 'fixed' : '' }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="location-link" href="#">
            <span class="location-link-flag"> </span>
            <span class="location-link-text dropdown-toggle">Новосибирск</span>
        </a>
        <nav class="navbar-nav flex-row ml-md-auto"></nav>
    </nav>
    <div class="layout-phone-container mobile-view">
        <div class="bar-row">
            <div class="bar-menu">
                <div class="bar-menu-icon bar-menu-icon_parts"></div>
                <a data-sidebar="#sidebar" data-sub="true" class="bar-menu-burger"><span class="bar-menu-burger-icon"></span></a>
            </div>
            <div href="#" class="bar-info">
                <div class="bar-logo"></div>
                <h1>{{ title | default('Найдётся всё для вашего авто') }}</h1>
            </div>
            <div class="bar-actions">
                <div class="bar-cart"></div>
                <a href="#modalLogIn" data-fancybox="password" class="bar-profile"></a>
            </div>
        </div>
    </div>
</header>
{% include 'modals/_modal-login.twig' %}
{% include 'modals/_modal-reset-pass.twig' %}
{% include 'modals/_modal-reset-pass-end.twig' %}
{% include 'modals/_modal-new-pass-end.twig' %}