<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/mobile.css">
    {% endblock %}
</head>
<body class="mobile-view layout-phone">
{% include '_header.twig' with {title: title, header_mode:header_mode, header_fixed: header_fixed } %}
<main class="layout-phone-main">
    {% block content %}
        <section class="section-content-text">Тут контент сайта</section>
    {% endblock %}
</main>
{% include '_sidebar.twig' %}
{% include '_footer.twig' %}
{% block javascripts %}
    <script src="/js/mobile.js"></script>
{% endblock %}
</body>
</html>
