<aside id="sidebar" class="layout-phone-sidebar sidebar">
    <div id="sidebarSwiper" class="layout-phone-sidebar-swiper sidebar-swiper"></div>
    <nav class="layout-phone-sidebar-nav sidebar-nav">
        <a href="#" data-close-sidebar="" class="layout-phone-sidebar-close sidebar-close"></a>
        <a href="/" class="sidebar-link sidebar-link_parts active ">
            <span>Запчасти</span>
        </a>
        <a href="#" class="sidebar-link sidebar-link_autoservice  disable" onclick="alert('Простите, но данный раздел находится в разработке')">
            <span>Автосервисы</span>
        </a>
        <a href="#" class="sidebar-link sidebar-link_autoservice  disable" onclick="alert('Простите, но данный раздел находится в разработке')">
            <span>Автомобили</span>
        </a>
    </nav>
</aside>

<nav id="sidebarSubmenu" class="layout-phone-submenu sidebar-submenu">
    <div class="sidebar-menu">
        <div class="sidebar-menu__title">
            <h2>Запчасти</h2>
        </div>
        <nav class="sidebar-menu__list">
            <a href="/poisk-po-nomeru" class="sidebar-menu__link ">Поиск по номеру или наименованию</a>
            <a href="/request-to-spare" class="sidebar-menu__link ">Запрос по VIN</a>
            <a href="#" onclick="alert('Простите, но данный раздел находится в разработке')" class="sidebar-menu__link disabled">Шины/Диски</a>
            <a href="#" onclick="alert('Простите, но данный раздел находится в разработке')" class="sidebar-menu__link disabled">Контрактные запчасти</a>
            <a class="sidebar-menu__link" href="/locations">
                <div class="location-link-flag">
                    <img src="/bundles/gisautoweb/images/country_flags/country_390.svg" alt=" ">
                </div>
                <span class="location-link-text dropdown-toggle">Новосибирск</span>
            </a>
        </nav>
    </div>
</nav>
