<div class="modal modal-fullscreen modal_fancybox-construct" tabindex="-1" role="dialog" id="modalContacts" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Свяжитесь с нами</h5>
            </div>
            <div class="modal-body">
                <form class="form-login" action="">
                    <div class="form-group">
                        <select name="" data-select-piaker class="selectpicker">
                            <option value="">Адрес получателя</option>
                            <option value="123">Отдел продаж</option>
                            <option value="122">Тех поддержка</option>
                            <option value="111">Администрация</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Имя" class="form-control" name="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Телефон" class="form-control" name="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="E-mail" class="form-control" name="">
                    </div>
                    <div class="form-group">
                        <select name="" data-select-piaker class="selectpicker">
                            <option value="">Ваш город</option>
                            <option value="123">Новосибирск</option>
                            <option value="122">НовосибирскНовосибирсНовосибирскк</option>
                            <option value="111">Новосибирскef</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-control-textarea" placeholder="Введите сообщение"></textarea>
                    </div>
                    <a href="#modalContactsEnd" data-dismiss="modal" class="btn btn-mr btn-block btn-brand_yellow btn-circle m-16-40 btn-send-contacts">Отправить</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% include '_modal-contacts-end.twig' %}