<div class="modal modal_fancybox-construct" tabindex="-1" role="dialog" id="modalAddReview" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить отзыв</h5>
            </div>
            <div class="modal-body">
                <div class="add-review__head">
                    <div class="add-review__title">
                        <span>Ваш магазин:</span>
                        <span class="text-med">KART69.RU</span>
                    </div>
                    <div class="add-review__title">
                        <span>Отзыв о магазине:</span>
                        <span class="text-med">ООО "Шины и колеса"</span>
                    </div>
                </div>
                <div class="add-review__author">
                    <div class="user">
                        <div class="user__img-wrap">
                            <img class="user__img add-review__author-img" src="" alt="">
                        </div>
                        <div class="user__name">KART69.RU</div>
                    </div>
                    <div class="form-group add-review__select-seller">
                        <label class="label" for="inputSeller">Ваш магазин</label>
                        <select data-select-piaker class="selectpicker" title="" id="inputSeller">
                            <option>Магазин Мой</option>
                            <option>Магазин 1</option>
                            <option>Магазин 2</option>
                            <option>Магазин 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-control-textarea is-invalid" placeholder="Ваш отзыв"></textarea>
                        <div class="invalid-feedback invalid-feedback__modal no-list">
                            <ul>
                                <li>Это поле должно быть заполнено</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="add-review__rating is-invalid">
                    <div class="add-review__title text-center">Оценка:</div>
                    <div class="rating-set">
                        <div class="rating-set__background">
                            <div class="rating-set__bar" style="width:0%;"></div>
                        </div>
                    </div>
                    <div class="invalid-feedback invalid-feedback__modal no-list">
                        <ul>
                            <li>Поставьте оценку</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-mr btn-minw btn-brand_yellow btn-circle">Отправить</button>
            </div>
        </div>
    </div>
</div>
</div>