<div class="modal modal_fancybox-construct five-seconds-modal" id="modalContactsEnd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div type="button" class="modal-close icons-cross" data-dismiss="modal" aria-label="Close"></div>
                <div class="modal-title">Свяжитесь с нами</div>
            </div>
            <div class="modal-body">
                <div class="circle mail" id="circle-mail"></div>
                <div class="modal-text center">Сообщение отправлено.<br> Наши специалисты свяжутся с&nbsp;вами в&nbsp;ближайшее
                    время.
                </div>
                <button data-fancybox-close class="btn btn-circle btn-brand btn-brand_yellow btn-modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>