<div id="modalMode" class="modal modal_fancybox-construct modal-alternative" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="mode">
                    <div class="mode__title">Режим работы</div>
                    <table class="mode__table">
                        <thead>
                        <tr>
                            <th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Вс</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">9:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time active">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mode">
                    <div class="mode__title">Обед</div>
                    <table class="mode__table lunch">
                        <tbody>
                        <tr>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time active">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="mode__block-time">
                                    <div class="mode__time">09:00</div>
                                    <div class="mode__time">18:00</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>