<div class="modal modal_fancybox-construct" tabindex="-1" role="dialog" id="modalLogIn" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Войти</h5>
            </div>
            <div class="modal-body">
                <form class="form-login" action="">
                    <div class="form-group was-validated">
                        <input type="email" class="form-control" id="form-email" name="email" placeholder="Email">
                    </div>
                    <div class="form-controls form-group">
                        <input type="text" class="form-control" id="test1" placeholder="Пароль">
                        <div class="form-controls-container">
                            <a href="#" data-password-toggle="#test1" data-input-control=""
                               class="form-password-control open"></a>
                        </div>
                    </div>

                    <div class="form-group flex-row mb-4">
                        <div class="kit-checkbox ui checkbox flex-elem">
                            <input type="checkbox" name="example" id="checkbox1">
                            <label for="checkbox1">Запомнить меня</label>
                        </div>
                        <!--
                        <div class="custom-control custom-checkbox ">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label form-login__label" for="customCheck1">Запомнить
                                меня</label>
                        </div>
                        -->
                        <a href="#modalResetPass" data-fancybox="password"
                           class="btn btn-link flex-elem form-login__forgot-pass">Забыли пароль?</a>
                    </div>
                    <button class="btn btn-circle btn-brand btn-brand_yellow btn-modal btn-auth" type="submit">Войти
                    </button>
                    <div class="social">
                        <a href="#" class="btn btn-social btn-social_vk"></a>
                        <a href="#" class="btn btn-social btn-social_fb"></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer-btn">
                <a href="registration.html" class="btn btn-footer register">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>