<div class="modal modal_fancybox-construct" tabindex="-1" role="dialog" id="modalResponse" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ответить на отзыв</h5>
            </div>
            <div class="modal-body">
                <div class="modal-text mt-2 mb-4">Отзыв о магазине: <b>ООО "Шины и колеса"</b>
                </div>
                <form class="form-response" action="">
                    <div class="form-group">
                    <label class="label" for="input1">Ваш магазин</label>
                    <select id="input1" name="skills" data-use-labels="true" class="ui fluid search dropdown form-control auto-init">
                        <option value="0">Первый магазин</option>
                        <option value="1">Второй магазин</option>
                        <option value="2">Еще магазин</option>
                    </select>
                    </div>
                    <div class="form-group mb-0">
                        <textarea class="form-control form-control-textarea" placeholder="Ваш комментарий"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a href="cabinet-reviews13.html" class="btn btn-brand_yellow btn-circle btn-modal">Отправить</a>
            </div>
        </div>
    </div>
</div>