<div class="modal modal_fancybox-construct" tabindex="-1" role="dialog" id="modalInfo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация</h5>
            </div>
            <div class="modal-body">
                <div class="tovar__title">
                    Название товара. Одеяло-конверт
                    <span class="tovar__title-model">(BMW, J6668561289)</span>
                </div>
                <div class="tovar__img-wrapper">
                    <img src="../images/tmp/userpic-example.png" alt="">
                </div>
                <div class="tovar__character">
                    <div class="accord__text">
                        <span class="accord__subtitle">Артикул</span>
                        B1007PR
                    </div>
                    <div class="accord__text">
                        <span class="accord__subtitle">Производитель</span>
                        JS Premium
                    </div>
                    <div class="accord__text">
                        <span class="accord__subtitle">Исполнение фильтра</span>
                        Фильтр-патрон
                    </div>
                    <div class="accord__text">
                        <span class="accord__subtitle">Внутренний диаметр (мм)</span>
                        25,2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>