<div id="modalInfoVIN" class="modal modal_fancybox-construct modal-alternative" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-body text-center" style="padding: 0.5rem;">
                <div class="modal-img">
                    <img src="../images/vin_example.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>