<div class="modal modal_fancybox-construct" tabindex="-1" role="dialog" id="modalResetPassEnd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Восстановение пароля</h5>
            </div>
            <div class="modal-body">
                <div class="modal-text center"><br> <br> <br> тут круг с конвертом крутится!!!! <br> <br> <br></div>
                <div class="modal-text center">Вам на почту <strong>ivanov@gmail.com</strong>
                отправлено письмо с&nbsp;дальнейшими инструкциями по&nbsp;восстановлению пароля.</div>
                <div class="modal-footer">
                    <button data-fancybox-close class="btn btn-circle btn-brand_yellow btn-modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>