<div class="modal modal_fancybox-construct" tabindex="-1" role="dialog" id="modalNewPassEnd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Пароль изменен</h5>
            </div>
            <div class="modal-body">
                <div class="modal-text center"><br> <br> <br> тут круг с замком крутится!!!! <br> <br> <br></div>
                <div class="modal-text center">Если вы считаете, что кто-то знает ваш старый пароль, выполните выход
                    из&nbsp;аккаунта на&nbsp;всех устройствах.</div>
                <div class="modal-footer">
                    <button data-fancybox-close class="btn btn-circle btn-brand_yellow btn-modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>