<div class="modal modal_fancybox-construct" tabindex="-1" role="dialog" id="modalResetPass" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Восстановение пароля</h5>
            </div>
            <div class="modal-body">
                <div class="modal-text mt-2 mb-4">Для восстановление пароля введите Ваш e&#8209;mail. После чего Вы
                    получите письмо с&nbsp;инструкцией.
                </div>
                <form class="form-login" action="">
                    <div class="form-group was-validated">
                        <input type="email" class="form-control" id="form-email" name="email" placeholder="Email">
                    </div>
                    <div class="flex-row">
                    <a href="#modalResetPassEnd" data-fancybox="password"
                       class="btn btn-circle btn-brand_yellow btn-modal m-24-32" >Отправить</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer-btn">
                <a href="#modalLogIn" class="btn btn-footer">Вход в систему</a>
                <span class="separator"></span>
                <a href="registration.html" class="btn btn-footer register">Регистрация </a>
            </div>
        </div>
    </div>
</div>