<div class="widget-footer bar">
    <div class="bar-login">
        <a href="#" class="bar-login-out">Выход</a>
    </div>
    <div class="bar-info">
        <p class="bar-text-footer">
            ivanov_ivan.gmail@com
        </p>
    </div>
    <div class="bar-actions">
        <div class="bar-message"
             data-toggle="tooltip"                                   data-container=".w-body"
             data-placement="top"
             data-html="true"
             data-template='<div class="tooltip gisauto-tooltip-red" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
             title="5">
        </div>
    </div>
</div>