<div class="widget-footer bar widget-footer--action f-blue">
    <div class="bar-login">
        <a href="#" class="bar-login-out">Выход</a>
    </div>
    <div class="bar-info">
        <p class="bar-text-footer">
            ivanov_ivan.gmail@com
        </p>
    </div>


    <div class="bar-point">
        <div class="bar-hint dropdown-toggle dropdown-toggle-bar" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false"></div>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Отменить</a>
        </div>
    </div>
    <div class="bar-btn">
        <a href="#" class="btn m-btn-footer">Заказать</a>
        <div class="btn m-status-footer" style="display: none">В работе</div>
    </div>


    <div class="bar-actions">
        <div class="bar-message"
             data-toggle="tooltip"                                   data-container=".w-body"
             data-placement="top"
             data-html="true"
             data-template='<div class="tooltip gisauto-tooltip-red" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
             title="5">
        </div>

    </div>

</div>