
<div class="widget-header bar {% if partMenu is not empty %} widget-header--part-menu {% endif %}"">
    {% if cabinetMenu %}
    <div class="bar-menu">
        <a href="#" class="bar-menu-burger">
            <span class="bar-menu-close-icon"></span>
        </a>
    </div>
    <div class="bar-info">
        <p class="bar-text cabinet-menu">Настройка отображения запросов</p>
    </div>
    {% else %}
    {% if partMenu %}
        <div class="bar-menu">
            <a href="#" class="bar-menu-burger">
                <span class="bar-menu-back-icon"></span>
            </a>
        </div>
        <div class="bar-info part-menu">
            <p class="bar-text">Крышка люка топливного бака динное название диshgdhasgshg</p>
            <p class="bar-add-text">Mersedess-Benz, J6668561289</p>
        </div>
    {% else %}
        <div class="bar-menu">
            <a href="cabinet-menu.html" class="bar-menu-burger">
                <span class="bar-menu-burger-icon"></span>
            </a>
        </div>
        <div class="bar-info">
            <p class="bar-text">
                Ваши запросы
                <span class="bar-text__count">586</span>
                <span class="bar-text__count text-red">(100)</span>
            </p>
        </div>
        <div class="bar-actions">
            <div class="bar-search">
                <div class="form-group form-controls">
                    <input type="text" class="form-control form-control-erase" id="" value=""
                           placeholder="Введите данные авто или наменование запчасти">
                </div>
            </div>
            <div class="bar-btn-search"></div>
        </div>
    {% endif %}
    {% endif %}
</div>