<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/widget.css">
    {% endblock %}
</head>
<body class="w-body">
<main>
    {% block content %}
        <section class="section-content-text">Тут контент сайта</section>
    {% endblock %}
</main>
{% block javascripts %}
    <script src="/js/widget.js"></script>
    {#<script src="/js/vendor.js"></script>#}
    {#<script src="/js/common.js"></script>#}
{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext"
      rel="stylesheet">
</body>
</html>
