.font-input {
  font-size: 0.6875rem;
  line-height: 0.75rem;
  color: #4A4A4A;
}
.ui.selection.dropdown {
  width: 100%;
  min-width: 100%;
  line-height: 0.75rem;
  min-height: 2rem;
  padding: 0.5rem 2.25rem 0.5rem 0.5rem;
}
.ui.selection.dropdown > .search.icon,
.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon {
  width: 2rem;
  &:before {
    background-size: 0.75rem;
  }
}