.font-input {
  font-size: 1.063rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  margin: 0;
  color: $text;
  font-weight: $reg;
  opacity: 1;

  @include phone-sm {
    font-size: 0.9375rem;
  }
  @include phone-md {
    font-size: 0.9375rem;
  }
  @include phone-lg {
    font-size: 1.063rem;
  }
}
.ui.selection.dropdown {
  padding: 0.75rem 3.25rem 0.75rem 1rem;
  margin: 0;
  border-radius: 0.1875rem;
}
.ui.search.dropdown .menu {

  @include phone-sm {
    max-height: 8.8125rem;
  }
  @include phone-md {
    max-height: 8.8125rem;
  }
  @include phone-lg {
    max-height: 9.375rem;
  }
}
.ui.search.selection.dropdown > input.search,
.ui.multiple.search.dropdown > .text {
  @extend .font-input;
  padding-right: 3.25rem;
  margin: 0;
}


.ui.selection.dropdown.checkboxes .menu {
  &> .item{
    padding-left: 3.2rem !important;
    position: relative;
    &:before{
      display: block;
      content: '';
      @include size(1.5rem);
      background-color: $white;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      border: 1px $input-border-color solid;
      border-radius: .2rem;
    }
    &:after{
      display: block;
      content: '';
      @include size(1.5rem);
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);

    }
    &.active{
      &:after{
        @include inline-svg-icon('checked', $turq, 50% 40%, .8rem);
      }
    }
  }
}

.ui.dropdown > .delete.icon {
  &:before {
    content: '';
    display: block;
    @include inline-svg-icon('modal-close', $input-border-color, 'center', 0.85rem);
    @include size(100%);
  }
  @include hover-focus-active() {
    &:before {
      @include inline-svg-icon('modal-close', $input-focus-border-color, 'center', 0.85rem);
    }
  }
}

.ui.dropdown > .text {
  @extend .font-input;
  padding: 0;
}
.ui.dropdown:not(.button) > .default.text,
.ui.default.dropdown:not(.button) > .text {
  color: $placeholder;
}
.ui.selection.active.dropdown,
.ui.upward.selection.dropdown.visible {
  border-radius: 0.1875rem !important;
}
.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover .menu {
  border-color: $input-border-color;
  margin: 1px -1px;

}
.ui.dropdown.selected,
.ui.dropdown .menu > .item:hover,
.ui.dropdown .menu .active.item {
  background-color: $devider;
}
.ui.dropdown .menu .selected.item {
  background-color: $devider;
}

.ui.selection.dropdown > .search.icon,
.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon {
  cursor: pointer;
  position: absolute;
  width: 2.8rem;
  height: auto;
  line-height: 1;
  top: 3px;
  bottom: 3px;
  right: 0;
  z-index: 3;
  margin: 0;
  padding: 0;
  opacity: 1;
  border-left: 1px solid $input-border-color;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  @include phone-sm {
    width: 2.8rem;
  }
  @include phone-md {
    width: 2.8rem;
  }
  @include phone-lg {
    width: 3rem;
  }

}

.ui.dropdown {
  & > .dropdown.icon {
    outline: none;
    &:before {
      content: '';
      display: block;
      @include inline-svg-icon('select-arrow', $input-border-color, 'center', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $input-border-color);
      @include size(100%);

    }

  }
  @include hover-focus-active {
    & > .dropdown.icon:before {
      @include inline-svg-icon('select-arrow', $input-focus-border-color, 'center', 1rem, 'no-repeat', rgba(0, 0, 0, 0), $input-focus-border-color);

    }
  }
}
/* Selected Item */
.ui.dropdown.selected,
.ui.dropdown .menu .selected.item {
  background-color: $white;
  color: $black;
}
.ui.dropdown .menu > .item:hover,
.ui.dropdown .menu .active.item {
  background-color: $devider;
}

/*--------------
Multiple
---------------*/

/* Multiple Selection */
.ui.multiple.dropdown {
  @extend .font-input;
  padding: 0.75rem 3.25rem 0.75rem 1rem;
}

.ui.multiple.dropdown .menu {
  cursor: auto;
}

/* Multiple Search Selection */
.ui.multiple.search.dropdown,
.ui.multiple.search.dropdown > input.search {
  cursor: text;

}

/* Selection Label */
.ui.multiple.dropdown > .label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  @extend .font-input;
  box-shadow: 0px 4px 12px 0px rgba(96,126,146, 0.1);
}

/* Dropdown Icon */
.ui.multiple.dropdown .dropdown.icon {
  margin: '';
  padding: '';
}

/* Text */
.ui.multiple.dropdown > .text {
  position: absolute;
  padding: 0.75rem 3.25rem 0.75rem 1rem;
  max-width: 100%;
}

.ui.multiple.dropdown > .label ~ input.search {
  margin-left: 0.14285714em !important;
}

.ui.multiple.dropdown > .label ~ .text {
  display: none;
}

/*-----------------
  Multiple Search
-----------------*/

/* Prompt Text */
.ui.multiple.search.dropdown > .text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  @extend .font-input;

}

.ui.multiple.search.dropdown > .label ~ .text {
  display: none;
}

/* Search */
.ui.multiple.search.dropdown > input.search {
  position: static;
  text-align: left;
  max-width: 100%;
  width: 2.2em;
  padding: 0;
  @extend .font-input;
  margin: 0;
}