
$rating-star-default-color: $turq;
$rating-star-active-color: $yellow;
$rating-star-selected-color: darken($yellow, 15%);
$rating-star-empty-selected-color: #FFCF68;

.ui.rating {
  display: inline-flex;
  white-space: nowrap;
  vertical-align: baseline;
}

.ui.rating:last-child {
  margin-right: 0;
}

/* Icon */
.ui.rating .icon {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  flex: 1 0 auto;
  cursor: pointer;
  width: 1.25em;
  height: auto;
  transition: opacity 0.1s ease, background 0.1s ease, text-shadow 0.1s ease, color 0.1s ease;
}

/*******************************
             Types
*******************************/

/*-------------------
      Standard
--------------------*/

/* Inactive Icon */
.ui.rating .icon {
  background: transparent;
  font-family: 'rating', serif;
  &:before {
    content: '' !important;
  }
}

/* Active Icon */
.ui.rating .active.icon {
  background: transparent;
  color: rgba(0, 0, 0, 0.85);
  &:before {
    content: '' !important;
  }
}

/* Selected Icon */
.ui.rating .icon.selected,
.ui.rating .icon.selected.active {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  &:before {
    content: '' !important;
  }
}

/*-------------------
        Star
--------------------*/

/* Inactive */
.ui.star.rating .icon {
  width: 1.25em;
  height: auto;
  background: transparent;
  text-shadow: none;
  color: $rating-star-default-color;
  &:before {
    content: '' !important;
  }
}

/* Active Star */
.ui.star.rating .active.icon {
  background: transparent !important;
  text-shadow: none !important;
  color: $rating-star-active-color;
  &:before {
    content: '' !important;
  }
}

/* Selected Star */
.ui.star.rating .icon.selected,
.ui.star.rating .icon.selected.active {
  background: transparent !important;
  text-shadow: none !important;
  color: $rating-star-selected-color;
  &:before {
    content: '' !important;
  }
}

/*-------------------
        Heart
--------------------*/

.ui.heart.rating .icon {
  width: 1.4em;
  height: auto;
  background: transparent;
  color: rgba(0, 0, 0, 0.15);
  text-shadow: none !important;
}

/* Active Heart */
.ui.heart.rating .active.icon {
  background: transparent !important;
  color: #FF6D75 !important;
  text-shadow: 0px -1px 0px #CD0707, -1px 0px 0px #CD0707, 0px 1px 0px #CD0707, 1px 0px 0px #CD0707 !important;
}

/* Selected Heart */
.ui.heart.rating .icon.selected,
.ui.heart.rating .icon.selected.active {
  background: transparent !important;
  color: #FF3000 !important;
  text-shadow: 0px -1px 0px #AA0101, -1px 0px 0px #AA0101, 0px 1px 0px #AA0101, 1px 0px 0px #AA0101 !important;
}

/*******************************
             States
*******************************/

/*-------------------
       Disabled
--------------------*/

/* disabled rating */
.ui.disabled.rating .icon {
  cursor: default;
}

/*-------------------
   User Interactive
--------------------*/

/* Selected Rating */
.ui.rating.selected .active.icon {
  opacity: 1;
}

.ui.rating.selected .icon.selected,
.ui.rating .icon.selected {
  opacity: 1;
}

/*******************************
          Variations
*******************************/

.ui.mini.rating {
  font-size: 0.78571429rem;
}

.ui.tiny.rating {
  font-size: 0.85714286rem;
}

.ui.small.rating {
  font-size: 0.92857143rem;
}

.ui.rating {
  font-size: 1rem;
}

.ui.large.rating {
  font-size: 1.14285714rem;
}

.ui.huge.rating {
  font-size: 1.42857143rem;
}

.ui.massive.rating {
  font-size: 2rem;
}