/*!
 * # Semantic UI 2.3.0 - Checkbox
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

/*******************************
           Checkbox
*******************************/

/*--------------
     Toggle
---------------*/
$title: #383838;
.kit-toggle.ui.toggle.checkbox {
  display: block;
  min-height: 1.25rem;
}

/* Input */
.kit-toggle.ui.toggle.checkbox input {
  width: 2.5rem;
  height: 1.25rem;
}

/* Label */
.kit-toggle.ui.toggle.checkbox .box,
.kit-toggle.ui.toggle.checkbox label {
  min-height: 1.25rem;
  padding-left: 3rem;
  color: $turq !important;
  font-size: 1rem;
  font-weight: $med !important;
  line-height: 1.25rem;
  margin: 0;
}

.kit-toggle.ui.toggle.checkbox label {
  padding-top: 1px;
}

/* Switch */
.kit-toggle.ui.toggle.checkbox .box:before,
.kit-toggle.ui.toggle.checkbox label:before {
  display: block;
  position: absolute;
  content: '';
  z-index: 1;
  transform: none;
  top: 0rem;
  background: $white;
  border: 1px solid $turq;
  box-shadow: none;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 0.625rem;
}

/* Handle */
.kit-toggle.ui.toggle.checkbox .box:after,
.kit-toggle.ui.toggle.checkbox label:after {
  background: $white;
  border: none;
  box-shadow: none;
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  width: 0.875rem;
  height: 0.875rem;
  top: 0.1875rem;
  left: 0.1875rem;
  border-radius: 50%;
  transition: background 0.3s ease, left 0.3s ease;
}

.kit-toggle.ui.toggle.checkbox input ~ .box:after,
.kit-toggle.ui.toggle.checkbox input ~ label:after {
  left: 0.1875rem;
  background: $lightBlue;
  border: none;
  box-shadow: none;
}

/* Focus */
.kit-toggle.ui.toggle.checkbox input:focus ~ .box:before,
.kit-toggle.ui.toggle.checkbox input:focus ~ label:before {
  background-color: $white !important;
  border: 1px solid $turq;
}

/* Hover */
.kit-toggle.ui.toggle.checkbox .box:hover::before,
.kit-toggle.ui.toggle.checkbox label:hover::before {
  background-color: $white !important;
  border: 1px solid $turq;
}

/* Active */
.kit-toggle.ui.toggle.checkbox input:checked ~ .box,
.kit-toggle.ui.toggle.checkbox input:checked ~ label {
  color: $title !important;
}

.kit-toggle.ui.toggle.checkbox input:checked ~ .box:before,
.kit-toggle.ui.toggle.checkbox input:checked ~ label:before {
  background-color: $lightBlue !important;
  border-color: $lightBlue !important;
}

.kit-toggle.ui.toggle.checkbox input:checked ~ .box:after,
.kit-toggle.ui.toggle.checkbox input:checked ~ label:after {
  left: 1.4375rem;
  background: $white;
  border: none;
  box-shadow: none;

}

/* Active Focus */
.kit-toggle.ui.toggle.checkbox input:focus:checked ~ .box,
.kit-toggle.ui.toggle.checkbox input:focus:checked ~ label {
  color: $title !important;
  //background-color: $lightBlue !important;
  //border-color: $lightBlue !important;
}

.kit-toggle.ui.toggle.checkbox input:focus:checked ~ .box:before,
.kit-toggle.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: $lightBlue !important;
  border-color: $lightBlue !important;
}

