.ui-tooltip {
  .ui-tooltip-toggle {
    width: 1.5rem;
    height: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    cursor: pointer;
    @include inline-svg-icon('points', $turq, center, 0.25rem 1.25rem);

    &.visible {
      @include inline-svg-icon('points', $lightBlue, center, 0.25rem 1.25rem);
    }
  }
  .ui-tooltip-content {
    &.ui.popup {
      border: 1px solid $turq;
      background-color: $white;
      border-radius: 3px;
      box-shadow: 0 4px 12px rgba(96,126,146,0.1);
      &:before {
        display: none;
      }
      &.list {
        min-width: 9.5rem;
        padding: 0;
        overflow: hidden;
        .item {
          font-size: 1rem;
          color: $lightBlue;
          display: block;
          white-space: nowrap;
          padding: 0.5rem 1.5rem;
          text-decoration: none;
          background-color: $white;
          cursor: pointer;
          @include hover-focus-active {
            background-color: $filterBG;
          }
          &:first-child {
            padding-top: 1rem;
          }
          &:last-child {
            padding-bottom: 1rem;
          }
        }
      }
    }
  }

}