.kit-checkbox.ui.checkbox .box,
.kit-checkbox.ui.checkbox label {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 2px;
  margin: 0;
}

.kit-checkbox.ui.checkbox input:checked ~ .box:after,
.kit-checkbox.ui.checkbox input:checked ~ label:after {
  @include size(1.5rem);
  @include inline-svg-icon('checkbox', $lightBlue, center, 0.875rem);
  font-size: 0;
}