$tabular-active: #E5EAF5;
$tabular-border: #DDE3E8;
.ui-tabular.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  border-radius: 3px;
  border: 1px solid $tabular-border;
  overflow: hidden;
  .item {
    width: 100%;
    font-size: 0.875rem;
    font-weight: $med;
    padding: 0.75rem 0.5rem;
    color: $title;
    text-align: center;
    background-color: $white;
    &.active {
      background-color: $tabular-active;
    }
    @media only screen and (min-width: $phone6) {
      font-size: 1rem;
    }
  }
  .segment.tab {
  }
}