
.kit.flag {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../images/flags.png') no-repeat;
  &.outer.round {
    display: inline-flex;
    justify-content: center;
    align-items: top;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  &.desktop {
    margin: -0.25rem;
  }

  &.flag-pt {
    background-position: 0 -264px;
  }

  &.flag-ro {
    background-position: -96px -264px;
  }

  &.flag-si {
    background-position: -360px -264px;
  }

  &.flag-am {
    background-position: -144px 0;
  }

  &.flag-zm {
    background-position: -288px -336px;
  }

  &.flag-sm {
    background-position: -48px -288px;
  }

  &.flag-bb {
    background-position: -24px -24px;
  }

  &.flag-sd {
    background-position: -264px -264px;
  }

  &.flag-mt {
    background-position: -48px -216px;
  }

  &.flag-mq {
    background-position: -360px -192px;
  }

  &.flag-sn {
    background-position: -72px -288px;
  }

  &.flag-rs {
    background-position: -120px -264px;
  }

  &.flag-fr {
    background-position: -168px -96px;
  }

  &.flag-yt {
    background-position: -240px -336px;
  }

  &.flag-se {
    background-position: -288px -264px;
  }

  &.flag-as {
    background-position: -240px 0;
  }

  &.flag-gr {
    background-position: -72px -120px;
  }

  &.flag-ae {
    background-position: -24px 0;
  }

  &.flag-ge {
    background-position: -264px -96px;
  }

  &.flag-uy {
    background-position: -336px -312px;
  }

  &.flag-cv {
    background-position: 0 -72px;
  }

  &.flag-tf {
    background-position: -312px -288px;
  }

  &.flag-ag {
    background-position: -72px 0;
  }

  &.flag-ie {
    background-position: 0 -144px;
  }

  &.flag-ai {
    background-position: -96px 0;
  }

  &.flag-tr {
    background-position: -144px -312px;
  }

  &.flag-nr {
    background-position: -48px -240px;
  }

  &.flag-vg {
    background-position: -72px -336px;
  }

  &.flag-bw {
    background-position: 0 -48px;
  }

  &.flag-cd {
    background-position: -96px -48px;
  }

  &.flag-ao {
    background-position: -192px 0;
  }

  &.flag-sb {
    background-position: -216px -264px;
  }

  &.flag-bs {
    background-position: -336px -24px;
  }

  &.flag-mu {
    background-position: -72px -216px;
  }

  &.flag-hu {
    background-position: -312px -120px;
  }

  &.flag-hr {
    background-position: -264px -120px;
  }

  &.flag-bn {
    background-position: -264px -24px;
  }

  &.flag-be {
    background-position: -72px -24px;
  }

  &.flag-lv {
    background-position: 0 -192px;
  }

  &.flag-tv {
    background-position: -192px -312px;
  }

  &.flag-nc {
    background-position: -240px -216px;
  }

  &.flag-ax {
    background-position: -336px 0;
  }

  &.flag-nu {
    background-position: -72px -240px;
  }

  &.flag-il {
    background-position: -24px -144px;
  }

  &.flag-aw {
    background-position: -312px 0;
  }

  &.flag-ma {
    background-position: -48px -192px;
  }

  &.flag-gl {
    background-position: -360px -96px;
  }

  &.flag-bz {
    background-position: -48px -48px;
  }

  &.flag-sc {
    background-position: -240px -264px;
  }

  &.flag-mc {
    background-position: -72px -192px;
  }

  &.flag-dm {
    background-position: -168px -72px;
  }

  &.flag-py {
    background-position: -48px -264px;
  }

  &.flag-mx {
    background-position: -144px -216px;
  }

  &.flag-ki {
    background-position: -360px -144px;
  }

  &.flag-tw {
    background-position: -216px -312px;
  }

  &.flag-mf {
    background-position: -144px -192px;
  }

  &.flag-mg {
    background-position: -168px -192px;
  }

  &.flag-my {
    background-position: -168px -216px;
  }

  &.flag-lt {
    background-position: -336px -168px;
  }

  &.flag-gu {
    background-position: -144px -120px;
  }

  &.flag-va {
    background-position: 0 -336px;
  }

  &.flag-sy {
    background-position: -216px -288px;
  }

  &.flag-so {
    background-position: -96px -288px;
  }

  &.flag-mh {
    background-position: -192px -192px;
  }

  &.flag-an {
    background-position: -168px 0;
  }

  &.flag-cw {
    background-position: -24px -72px;
  }

  &.flag-bl {
    background-position: -216px -24px;
  }

  &.flag-gm {
    background-position: 0 -120px;
  }

  &.flag-az {
    background-position: -360px 0;
  }

  &.flag-ga {
    background-position: -192px -96px;
  }

  &.flag-cl {
    background-position: -240px -48px;
  }

  &.flag-gt {
    background-position: -120px -120px;
  }

  &.flag-td {
    background-position: -288px -288px;
  }

  &.flag-bg {
    background-position: -120px -24px;
  }

  &.flag-zw {
    background-position: -312px -336px;
  }

  &.flag-gd {
    background-position: -240px -96px;
  }

  &.flag-bt {
    background-position: -360px -24px;
  }

  &.flag-ca {
    background-position: -72px -48px;
  }

  &.flag-sz {
    background-position: -240px -288px;
  }

  &.flag-in {
    background-position: -72px -144px;
  }

  &.flag-jm {
    background-position: -216px -144px;
  }

  &.flag-pw {
    background-position: -24px -264px;
  }

  &.flag-sa {
    background-position: -192px -264px;
  }

  &.flag-ph {
    background-position: -240px -240px;
  }

  &.flag-ee {
    background-position: -264px -72px;
  }

  &.flag-lk {
    background-position: -264px -168px;
  }

  &.flag-gy {
    background-position: -192px -120px;
  }

  &.flag-pe {
    background-position: -168px -240px;
  }

  &.flag-kh {
    background-position: -336px -144px;
  }

  &.flag-ci {
    background-position: -192px -48px;
  }

  &.flag-ss {
    background-position: -144px -288px;
  }

  &.flag-om {
    background-position: -120px -240px;
  }

  &.flag-mp {
    background-position: -336px -192px;
  }

  &.flag-st {
    background-position: -168px -288px;
  }

  &.flag-cn {
    background-position: -288px -48px;
  }

  &.flag-dj {
    background-position: -120px -72px;
  }

  &.flag-al {
    background-position: -120px 0;
  }

  &.flag-lu {
    background-position: -360px -168px;
  }

  &.flag-bi {
    background-position: -168px -24px;
  }

  &.flag-lb {
    background-position: -192px -168px;
  }

  &.flag-nz {
    background-position: -96px -240px;
  }

  &.flag-ar {
    background-position: -216px 0;
  }

  &.flag-ls {
    background-position: -312px -168px;
  }

  &.flag-gg {
    background-position: -288px -96px;
  }

  &.flag-bm {
    background-position: -240px -24px;
  }

  &.flag-ke {
    background-position: -288px -144px;
  }

  &.flag-et {
    background-position: 0 -96px;
  }

  &.flag-tc {
    background-position: -264px -288px;
  }

  &.flag-mk {
    background-position: -216px -192px;
  }

  &.flag-za {
    background-position: -264px -336px;
  }

  &.flag-na {
    background-position: -216px -216px;
  }

  &.flag-km {
    background-position: 0 -168px;
  }

  &.flag-no {
    background-position: 0 -240px;
  }

  &.flag-de {
    background-position: -96px -72px;
  }

  &.flag-ly {
    background-position: -24px -192px;
  }

  &.flag-ck {
    background-position: -216px -48px;
  }

  &.flag-mw {
    background-position: -120px -216px;
  }

  &.flag-sh {
    background-position: -336px -264px;
  }

  &.flag-ne {
    background-position: -264px -216px;
  }

  &.flag-cm {
    background-position: -264px -48px;
  }

  &.flag-ad {
    background-position: 0 0;
  }

  &.flag-kp {
    background-position: -48px -168px;
  }

  &.flag-cu {
    background-position: -360px -48px;
  }

  &.flag-do {
    background-position: -192px -72px;
  }

  &.flag-cr {
    background-position: -336px -48px;
  }

  &.flag-tl {
    background-position: -48px -312px;
  }

  &.flag-fo {
    background-position: -144px -96px;
  }

  &.flag-mv {
    background-position: -96px -216px;
  }

  &.flag-pl {
    background-position: -288px -240px;
  }

  &.flag-uz {
    background-position: -360px -312px;
  }

  &.flag-pk {
    background-position: -264px -240px;
  }

  &.flag-tn {
    background-position: -96px -312px;
  }

  &.flag-gq {
    background-position: -48px -120px;
  }

  &.flag-is {
    background-position: -144px -144px;
  }

  &.flag-ec {
    background-position: -240px -72px;
  }

  &.flag-sl {
    background-position: -24px -288px;
  }

  &.flag-pa {
    background-position: -144px -240px;
  }

  &.flag-im {
    background-position: -48px -144px;
  }

  &.flag-pr {
    background-position: -336px -240px;
  }

  &.flag-kn {
    background-position: -24px -168px;
  }

  &.flag-iq {
    background-position: -96px -144px;
  }

  &.flag-ht {
    background-position: -288px -120px;
  }

  &.flag-er {
    background-position: -336px -72px;
  }

  &.flag-cy {
    background-position: -48px -72px;
  }

  &.flag-fm {
    background-position: -120px -96px;
  }

  &.flag-th {
    background-position: -360px -288px;
  }

  &.flag-lc {
    background-position: -216px -168px;
  }

  &.flag-ir {
    background-position: -120px -144px;
  }

  &.flag-at {
    background-position: -264px 0;
  }

  &.flag-tg {
    background-position: -336px -288px;
  }

  &.flag-pn {
    background-position: -312px -240px;
  }

  &.flag-by {
    background-position: -24px -48px;
  }

  &.flag-tt {
    background-position: -168px -312px;
  }

  &.flag-cz {
    background-position: -72px -72px;
  }

  &.flag-tm {
    background-position: -72px -312px;
  }

  &.flag-jp {
    background-position: -264px -144px;
  }

  &.flag-gs {
    background-position: -96px -120px;
  }

  &.flag-cf {
    background-position: -120px -48px;
  }

  &.flag-dk {
    background-position: -144px -72px;
  }

  &.flag-kr {
    background-position: -72px -168px;
  }

  &.flag-au {
    background-position: -288px 0;
  }

  &.flag-fk {
    background-position: -96px -96px;
  }

  &.flag-cg {
    background-position: -144px -48px;
  }

  &.flag-vn {
    background-position: -120px -336px;
  }

  &.flag-af {
    background-position: -48px 0;
  }

  &.flag-tk {
    background-position: -24px -312px;
  }

  &.flag-je {
    background-position: -192px -144px;
  }

  &.flag-gh {
    background-position: -312px -96px;
  }

  &.flag-fj {
    background-position: -72px -96px;
  }

  &.flag-ng {
    background-position: -312px -216px;
  }

  &.flag-tz {
    background-position: -240px -312px;
  }

  &.flag-bj {
    background-position: -192px -24px;
  }

  &.flag-bo {
    background-position: -288px -24px;
  }

  &.flag-ps {
    background-position: -360px -240px;
  }

  &.flag-tj {
    background-position: 0 -312px;
  }

  &.flag-ky {
    background-position: -120px -168px;
  }

  &.flag-it {
    background-position: -168px -144px;
  }

  &.flag-hk {
    background-position: -216px -120px;
  }

  &.flag-ba {
    background-position: 0 -24px;
  }

  &.flag-bh {
    background-position: -144px -24px;
  }

  &.flag-br {
    background-position: -312px -24px;
  }

  &.flag-es {
    background-position: -360px -72px;
  }

  &.flag-np {
    background-position: -24px -240px;
  }

  &.flag-rw {
    background-position: -168px -264px;
  }

  &.flag-vu {
    background-position: -144px -336px;
  }

  &.flag-md {
    background-position: -96px -192px;
  }

  &.flag-hn {
    background-position: -240px -120px;
  }

  &.flag-bf {
    background-position: -96px -24px;
  }

  &.flag-qa {
    background-position: -72px -264px;
  }

  &.flag-wf {
    background-position: -168px -336px;
  }

  &.flag-ms {
    background-position: -24px -216px;
  }

  &.flag-ic {
    background-position: -336px -120px;
  }

  &.flag-eh {
    background-position: -312px -72px;
  }

  &.flag-co {
    background-position: -312px -48px;
  }

  &.flag-sv {
    background-position: -192px -288px;
  }

  &.flag-kz {
    background-position: -144px -168px;
  }

  &.flag-vi {
    background-position: -96px -336px;
  }

  &.flag-kw {
    background-position: -96px -168px;
  }

  &.flag-me {
    background-position: -120px -192px;
  }

  &.flag-bd {
    background-position: -48px -24px;
  }

  &.flag-eg {
    background-position: -288px -72px;
  }

  &.flag-to {
    background-position: -120px -312px;
  }

  &.flag-ye {
    background-position: -216px -336px;
  }

  &.flag-mn {
    background-position: -288px -192px;
  }

  &.flag-eu {
    background-position: -24px -96px;
  }

  &.flag-ug {
    background-position: -288px -312px;
  }

  &.flag-id {
    background-position: -360px -120px;
  }

  &.flag-sr {
    background-position: -120px -288px;
  }

  &.flag-sg {
    background-position: -312px -264px;
  }

  &.flag-fi {
    background-position: -48px -96px;
  }

  &.flag-la {
    background-position: -168px -168px;
  }

  &.flag-nf {
    background-position: -288px -216px;
  }

  &.flag-ve {
    background-position: -48px -336px;
  }

  &.flag-vc {
    background-position: -24px -336px;
  }

  &.flag-pf {
    background-position: -192px -240px;
  }

  &.flag-sk {
    background-position: 0 -288px;
  }

  &.flag-ua {
    background-position: -264px -312px;
  }

  &.flag-ml {
    background-position: -240px -192px;
  }

  &.flag-dz {
    background-position: -216px -72px;
  }

  &.flag-us {
    background-position: -312px -312px;
  }

  &.flag-gb {
    background-position: -216px -96px;
  }

  &.flag-gi {
    background-position: -336px -96px;
  }

  &.flag-ru {
    background-position: -144px -264px;
  }

  &.flag-ws {
    background-position: -192px -336px;
  }

  &.flag-mr {
    background-position: 0 -216px;
  }

  &.flag-nl {
    background-position: -360px -216px;
  }

  &.flag-mz {
    background-position: -192px -216px;
  }

  &.flag-gw {
    background-position: -168px -120px;
  }

  &.flag-gn {
    background-position: -24px -120px;
  }

  &.flag-ni {
    background-position: -336px -216px;
  }

  &.flag-lr {
    background-position: -288px -168px;
  }

  &.flag-li {
    background-position: -240px -168px;
  }

  &.flag-ch {
    background-position: -168px -48px;
  }

  &.flag-pg {
    background-position: -216px -240px;
  }

  &.flag-jo {
    background-position: -240px -144px;
  }

  &.flag-mo {
    background-position: -312px -192px;
  }

  &.flag-mm {
    background-position: -264px -192px;
  }

  &.flag-kg {
    background-position: -312px -144px;

  }

}