.kit.image{
  &.fluid{
    width: 100%;
  }
  &.responsive{
    max-width: 100%;
  }
  &.icon{
    &.macro{
      width: 2rem;
    }
    &.mini{
      width: 2rem;
    }
    &.small{
      width: 3rem;
    }
    &.medium{
      width: 4rem;
    }
    &.large{
      width: 5rem;
    }
  }
}