.kit.panel{
  &.seller{
    &.description{
      border-left: 0.125rem solid #4272a4;
      background: #eef3f6;
      width: auto;
      margin: 0 0 1rem;
      padding: 16px;
      color: #5b5b5b;
      font-size: 1rem;
      line-height: 1.3;
      font-weight: 400;
    }
  }
}