.kit {
  &.author-talk {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.625rem;
    background-color: $white;
    cursor: pointer;
    &.active, &:hover, &:active {
      background-color: $gray-0;
    }
    .desc {
      display: block;
      width: 100%;
      overflow: hidden;
    }
    .last-message {
      display: none;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      padding-top: 0.25rem;
      font-size: 0.8125rem;
      color: $gray-400;
      .message {
        display: inline-block;
        vertical-align: middle;
        @extend .ellipsis;
        width: auto;
        max-width: 100%;
        font: inherit;
        color: inherit;
      }
      &.new {
        padding-right: 1rem;
        span.ico-new {
          display: inline-block;
          vertical-align: middle;
          @include size(0.3125rem);
          margin-left: 0.25rem;
          border-radius: 50%;
          background-color: $blue;
        }
      }
    }
    .name, .topic {
      display: block;
      padding-top: 0.25rem;
      @extend .ellipsis;
      text-align: center;
      font-size: 0.8125rem;
      font-weight: $med;
      color: $title;
    }
    .topic {
      display: none;
      @media only screen and (max-width: $phone) {
        display: block;
        text-align: left;
      }
    }
    .avatar {
      @include avatar(3.125rem, 1.375rem);
      .count-new {
        @include count-new();
        top: -1px;
        right: 2.45rem;
      }
      .online {
        @include status();
      }
    }
  }
  @mixin full-screen() {
    .author-talk {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      .desc {
        margin-left: 0.5rem;
        .name {
          text-align: left;
        }
      }
      .last-message {
        display: block;
        text-align: left;
      }
    }
  }

  &.full-screen {
    @include full-screen();
  }
  @media only screen and (max-width: $phone) {
    @include full-screen();
  }
}