.kit {
  .b-info {
    position: relative;
    font-size: 0.8125rem;
    @media only screen and (max-width: $phone) {
      font-size: 0.9375rem;
    }
    .count-new {
      @include count-new();
      top: -1rem;
      right: 0.75rem;
    }
    &.person {
      @include count-person();
    }
    &.part {
      @include count-part();
    }
  }
}