
.kit {
  .flex-row-reverse {
    display: flex;
    height: 100%;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .flex-row {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .w-100 {
      flex: 0 1 100%;
    }
  }
  .flex-column {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &.show {
    display: block !important;
  }
  &.hide {
    display: none !important;
  }
  &.chat-scroll {
    height: 100%;
    overflow-y: auto;
  }
  &.chat-container {
    * {
      font-family: Roboto, sans-serif;
      font-style: normal;
      color: #383838;
      text-decoration: none;
      box-sizing: border-box;
      @media only screen and (max-width: $phone) {
        cursor: default !important;
      }
    }
    &.fixed {
      @include fixed-chat();
      z-index: 10000;
      @media only screen and (max-width: $phone) {
        &.open {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          .chat-resize {
            width: 100%;
            height: 100%;
          }
          .kit.chat-nav {
            width: 100%;
          }
        }
      }
    }
    &.full-screen {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .kit.chat-body.chat-resize {
        width: 100%;
        height: 100%;
      }
      .kit.chat-nav {
        width: 22rem;
      }
    }

  }
  .user-active {
    color: $gray-400;
    &.online {
      color: $green;
    }
  }

  &.body, &.chat-body {
    position: relative;
    z-index: 9999;
    height: 29rem;
    min-height: 29rem;
    &.chat-resize {
      width: 35rem;
      @media only screen and (max-width: $phone) {
        width: 100vw;
      }
    }
    .mobile {
      display: none !important;
      @media only screen and (max-width: $phone) {
        display: block !important;
      }
    }
    .desktop {
      display: block !important;
      @media only screen and (max-width: $phone) {
        display: none !important;
      }
    }
    .overbox {
      display: none;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10000;
      background-color: rgba(39, 39, 39, 0.39);
      transition: all 0.3s ease;
      &.active {
        width: 100%;
        height: 100%;
        top: 0;
        display: block;
      }
    }
  }

  ::-webkit-input-placeholder {
    color: $placeholder;
    font-weight: $reg;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $placeholder;
    font-weight: $reg;
    opacity: 1;
  }
  :-moz-placeholder {
    color: $placeholder;
    font-weight: $reg;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $placeholder;
    font-weight: $reg;
    opacity: 1;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
