.kit {
  &.btn-group-attach {
    position: absolute;
    z-index: 10001;
    bottom: $height-user-message; //высота блока ввода сообщения chat-input
    .btn-attach {
      color: $white;
      background-color: transparent;
      margin-bottom: 2rem;
      margin-left: 3.25rem;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 0.8125rem;
      &:nth-child(even) {
        margin-left: 3.25rem + 1.2rem;
      }
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        @include size(2.5rem);
        margin-right: 1rem;
        border-radius: 50%;
        background-color: $white;
        transition: all 0.3s ease;
        box-shadow: 0 1px 4px rgba(108,118,135,0.64);
      }
      &.location:before {
        @include inline-svg-icon('file-location', $icon-blue, center, 16px 20px);
      }
      &.doc:before {
        @include inline-svg-icon('file-document', $icon-blue, center, 16px 20px);
      }
      &.img:before {
        @include inline-svg-icon('file-img', $icon-blue, center, 22px 16px);
      }
      @include hover-focus-active {
        background-color: transparent;
        &:before {
          background-color: $blue-100;
          box-shadow:
                  0 1px 4px rgba(108, 118, 135, 0.64),
                  0 0 0 3px #CCCCCC,
                  0 0 0 5px #C2C5C9,
                  0 1px 10px rgba(108, 118, 135, 0.64);
        }
      }
    }
  }
}