.kit {
  &.btn, .btn {
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.2s ease;
  }

  .btn-ico {
    @extend .btn;
    @include size(1rem);
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8125rem;
    @media only screen and (max-width: $phone) {
      font-size: 0.9375rem;
    }
    &.search-back{
      display: block;
      @include size(1.5rem);
      background: none;
      border: none;
      transform: rotate(90deg);
      transition: all 0.3s ease;
    }
    &.scroll {
      display: block;
      @include size(1.875rem);
      border-radius: 50%;
      border: 1px solid $gray-0;
      background-color: $white;
      transform: rotate(0deg);
      transition: all 0.3s ease;
      @include inline-svg-icon('arr-down-bold', $icon-blue, center, 11px 7px);
      @include hover-focus-active {
        @include inline-svg-icon('arr-down-bold', $blue-active, center, 11px 7px);
      }
      @media only screen and (max-width: $phone) {
        border-color: $dark-blue;
      }
      &.up {
        transform: rotate(0deg);
      }
      &.down {
        transform: rotate(180deg);
      }
    }
    &.close-chat {
      @include inline-svg-icon('ico-close-chat', $gray-0, center, 8px);
      @include hover-focus-active {
        @include inline-svg-icon('ico-close-chat', $gray-400, center, 8px);
      }
      @media only screen and (max-width: $phone) {
        @include inline-svg-icon('ico-close-chat-mobile', $gray-300, center, 15px 12px);
        @include hover-focus-active {
          @include inline-svg-icon('ico-close-chat-mobile', $gray-400, center, 15px 12px);
        }
      }
    }
    &.resize.min {
      @include inline-svg-icon('ico-resize-min', $gray-0, center, 10px);
      @include hover-focus-active {
        @include inline-svg-icon('ico-resize-min', $gray-400, center, 10px);
      }
    }
    &.resize.max {
      @include inline-svg-icon('ico-resize-max', $gray-0, center, 11px);
      @include hover-focus-active {
        @include inline-svg-icon('ico-resize-max', $gray-400, center, 11px);
      }

    }
    &.chat-search {
      @include inline-svg-icon('search-bold', $gray-300, center, 11px);
      &.active {
        @include inline-svg-icon('search-bold', $blue-active, center, 11px);
      }
      @include hover-focus-active {
        @include inline-svg-icon('search-bold', $blue-active, center, 11px);
      }
    }
    &.count-dialog.person {
      @include count-person();
    }
    &.count-dialog.talk {
      @include count-talk();
    }
    &.count-dialog.part {
      @include count-part();
    }
  }

  &.btn-chat {
    &.fixed {
      @include fixed-chat();
    }
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    min-width: 4.8125rem;
    width: auto;
    padding: 0 0.75rem;
    height: 2.25rem;
    border-radius: 1.125rem;
    background-color: $white;
    border: 1px solid $gray-0;
    color: $gray-400;
    font-size: 0.8125rem;
    box-shadow: -1px 4px 14px rgba(100, 115, 132, 0.16);
    @media only screen and (max-width: $phone) {
      min-width: 6rem;
      padding: 0 1.25rem;
      height: 3.125rem;
      border-radius: 1.56rem;
      font-size: 0.9375rem;
    }
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font: inherit;
      color: inherit;
      &:after {
        content: '';
        display: inline-flex;
        @include size(1rem);
        @include inline-svg-icon('ico-man-fill', $gray-300, right center, 12px 14px);
      }
    }
    &:hover {
      span:after {
        @include inline-svg-icon('ico-man-fill', $gray-400, right center, 12px 14px);
      }
    }
    &.new {
      background-color: $red;
      border-color: $red;
      color: $white;
      font-weight: $med;
      &:hover {
        background-color: $red-hover;
        border-color: $red-hover;
      }
      span:after {
        display: none;
      }
    }
  }
}