.kit {
  &.chat-nav {
    display: block;
    width: 6rem;
    background-color: $white;
    border: 1px solid $gray-0;
    .header {
      .b-action {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .b-right {
          width: 50%;
          text-align: right;
        }
        .b-left {
          width: 50%;
          text-align: left;
        }
      }
    }
    .b-title {
      width: 100%;
      text-align: center;
      padding: 0.625rem 0 0.75rem;
    }
    @media only screen and (max-width: $phone) {
      width: 100vw;
      min-width: 100vw;
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: stretch;
      border: none;
      .header.mobile {
        flex: 0 1 3.55rem;
        min-height: 3.35rem;
        border-bottom: 1px solid $gray-0;
        padding: 0 1.5rem;
      }
      .footer.mobile {
        flex: 0 1 3.55rem;
        min-height: 3.125rem;
        border-top: 1px solid $gray-300;
        display: flex !important;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}