.kit {
  &.chat-dialog-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    min-width: 29rem;
    background-color: $white;
    border: 1px solid $gray-0;
    border-right: none;
    @media only screen and (max-width: $phone) {
      min-width: 100vw;
      height: 100vh;
      border: none;
    }
    .header {
      flex: 0 1 3.75rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      min-height: 3.75rem;
      padding: 0.5rem;
      position: relative;
      @media only screen and (max-width: $phone) {
        padding: 0.5rem 1.5rem;
        align-items: center;
        .person.mobile {
          margin-top: 0.8125rem;
        }
        .close-chat.mobile {
          margin: 0 1.5rem auto 0;
        }
      }

      &.chat-search {
        flex-flow: column nowrap;
        flex: 1 0 auto;
        min-height: 5.5rem;
      }
      &.show {
        display: flex;
      }
      &.hide {
        display: none;
      }
      .b-left,.b-right {
        font-size: 0;
      }
      .center {
        text-align: center;
        @media only screen and (max-width: $phone) {
          width: 100%;
          text-align: left;
          * {padding: 0;}
        }
      }
      .close-chat-dialog {
        display: inline-block;
        width: auto;
      }
      .chat-search {
        width: 100%;
        padding: 0.5rem 0.5rem 0.25rem 0;
      }
    }
    .search-result-body {
      flex: 0 1 auto;
      display: block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: $white;
      border-top: 1px solid $gray-200;
    }
    .dialog-body {
      flex: 0 1 auto;
      display: block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: $gray-1000;
      border-top: 1px solid $gray-200;
    }
    .user-message {
      flex: 1 0 3.125rem;
      display: block;
      width: 100%;
      min-height: 3.125rem;
      height: auto;
      padding: 0;
    }
  }
  .full-screen-wrapper {
    width: 100%;
    max-width: 37.5rem;
    margin: 0 auto;
  }
}
