.kit {
  &.chat-list {
    display: block;
    width: 100%;
    .separator {
      display: block;
      width: 100%;
      padding-top: 1rem;
      text-align: center;
      font-size: 0.6875rem;
      color: $gray-400;
      @media only screen and (max-width: $phone) {
        margin: 0 auto;
        width: fit-content;
        font-size: 0.8125rem;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        box-shadow: -1px 4px 14px rgba(100, 115, 132, 0.16);
      }
      &.today {
        color: $dark-blue;
      }
    }
    .chat-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      width: 100%;
      padding-top: 0.75rem;
      .avatar {
        @include avatar(1.5625rem, 0.625rem);
        margin: 0.25rem 0.5rem 0 0;
        @media only screen and (max-width: $phone) {
          margin-top: 1.25rem;
        }
      }
      .message {
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        &.file-document {
          max-width: 100%;
          overflow: hidden;
          cursor: pointer;
          .text {
            padding-left: 3.5rem;
            min-height: 2rem;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 1rem;
              left: 1rem;
              display: block;
              @include size(2rem);
              border-radius: 50%;
              background-color: $white;
              @include inline-svg-icon('file-document', $icon-blue, center, 14px 17px);
            }
          }
        }
        &.file-img {
          max-width: 100%;
          overflow: hidden;
          cursor: pointer;
          .text.image {
            overflow: hidden;
            margin: 0;
            padding: 0;
            min-width: 3rem;
            min-height: 3rem;
            max-height: 9.56rem;
            img {
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 9.56rem;
            }
          }
        }
        @media only screen and (max-width: $phone) {
          flex-flow: column-reverse nowrap;
        }
        .text {
          max-width: 100%;
          padding: 1rem;
          border-radius: 1.25rem;
          background-color: $gray-100;
          font-size: 0.8125rem;
          p, span, div {
            @extend .ellipsis;
            &.medium {
              font-weight: $med;
            }
            &.bold {
              font-weight: $bol;
            }
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
          }
          @media only screen and (max-width: $phone) {
            font-size: 0.9375rem;
          }
        }
        .time {
          flex: 0 0 auto;
          max-width: 3.125rem;
          font-size: 0.6875rem;
          color: $gray-300;
          margin: 1rem 0.5rem 0.5rem;
          @media only screen and (max-width: $phone) {
            margin: 0 1rem 0.5rem;
          }
        }
      }
      &.inbox {
        justify-content: flex-start;
        .message {
          .text {
            background-color: $gray-100;
            color: $title;
            border-top-left-radius: 0;
            &.image {
              border: 1px solid $gray-100;
            }
          }
        }
      }
      &.outbox {
        justify-content: flex-end;
        .message {
          flex-flow: row-reverse nowrap;
          @media only screen and (max-width: $phone) {
            flex-flow: column-reverse nowrap;
            align-items: flex-end;
          }
          .text {
            border-bottom-right-radius: 0;
            background-color: $dark-blue;
            background-image: linear-gradient(25deg, #4272A4, #669ED9);
            color: $white;
            &.image {
              border: 1px solid $dark-blue;
            }
          }
        }
      }
    }

  }
}