.kit {
  &.chat-input {
    display: block;
    width: 100%;
    min-height: $height-user-message;
    padding: 1rem 3.875rem 0;
    border-top: 1px solid $dark-blue;
    position: relative;

    .action {
      display: block;
      @include size(1.875rem);
      position: absolute;
      bottom: 0.625rem;
      background-color: $white;
      border-radius: 50%;
      outline: none;
      background: none;
      border: none;
      font-size: 0;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(228,235,246,0.64);
      &.btn-attach {
        z-index: 100001;
        left: 1rem;
        border: 1px solid $gray-0;
        background-color: $white;
        transform: rotate(0deg);
        @include inline-svg-icon('btn-more-message', $icon-blue, center, 12px 15px);
        @include hover-focus-active {
           @include inline-svg-icon('btn-more-message', $blue-active, center, 12px 15px);
         }
        &.open {
          transform: rotate(0deg);
          transition: all 0.3s ease;
          @media only screen and (max-width: $phone) {
            border-color: $dark-blue;
          }
        }
        &.close {
          transform: rotate(45deg);
        }
      }
      &.btn-send {
        z-index: 10;
        right: 1rem;
        background-color: $icon-blue;
        @include inline-svg-icon('btn-send-message', $white, center, 12px 15px);
        @include hover-focus-active {
          background-color: $blue-active;
          @include inline-svg-icon('btn-send-message', $white, center, 12px 15px);
        }
      }
    }
    .text-wrap {
      width: 100%;
      height: 100%;
      min-height: 1.3rem;
      max-height: 9.6rem;
      overflow-y: auto;
      font-size: 0;
    }
    textarea.chat-text-input {
      display: block;
      width: 100%;
      height: auto;
      resize: none;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      font-size: 0.8125rem;
      line-height: 1.3rem;
      color: $title;
      @media only screen and (max-width: $phone) {
        font-size: 0.9375rem;
      }
    }
  }
}