.kit {
  input[placeholder] {
    text-overflow: ellipsis;
  }
  input::-moz-placeholder {
    text-overflow: ellipsis;
  }
  input:-moz-placeholder {
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder {
    text-overflow: ellipsis;
  }
  &.form-controls {
    position: relative;
    width: 100%;
    .valid-feedback,
    .invalid-feedback {
      display: none;
      color: $gray-300;
      ul, p {
        list-style: none;
        padding: 0;
        margin: 0.5rem 0 0 1rem;
        color: inherit;
        li {
          display: block;
          padding-left: 1rem;
          font-size: 11px;
          color: inherit;
          position: relative;
          &:before {
            display: block;
            position: absolute;
            left: 0;
            content: '—';
          }
        }
      }
    }
    .invalid-feedback {
      color: $red;
    }
  }
  .form-control {
    display: block;
    width: 100%;
    height: 2rem;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: $title;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $gray-300;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus, &:active {
    border-color: $blue;
    }
    &.is-invalid {
      ~ .invalid-feedback {
        display: block;
      }
    }
    &.is-valid {
      ~ .valid-feedback {
        display: block;
      }
    }
  }
  .form-control-circle {
    border-radius: 1rem;
  }
  .form-controls-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    justify-content: flex-end;
    right: 1rem;
    top: .25rem;
    pointer-events: none;
    z-index: 4;
    opacity: 1;
    width: 1px;
    overflow: visible;
    text-align: right;
  }
  .form-search-control {
    display: block;
    cursor: pointer;
    border: none;
    background: none;
    @include size(1.5rem);
    @include inline-svg-icon('search-bold', $gray-300, center, 13px);
  }
  &.form-chat-search {
    padding-left: 1.5rem;
    .where-search {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      @media only screen and (max-width: $phone) {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      .s-place {
        width: auto;
        max-width: 50%;
        font-size: 0.8125rem;
        color: $blue;
        cursor: pointer;
        padding: 0.5rem 1rem 0;
        &.select {
          color: $gray-400;
          cursor: default;
        }
        &.local {
          text-align: left;
          margin-left: 0;
          margin-right: auto;
        }
        &.global {
          text-align: right;
          margin-left: auto;
          margin-right: 0;
          white-space: nowrap;
        }
        @media only screen and (max-width: $phone) {
          &.local, &.global {
            margin: 0 !important;
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }
    .search-back {
      position: absolute;
      left: 0;
      top: 0.25rem;
    }
  }
}