.kit {
  &.hint-call {
    position: relative;
    z-index: 1000;
    &:hover {
      ~ .hint-hover,
      .hint-hover {
        display: block;
        z-index: 1000;
      }
    }
  }
  &.hint-hover {
    display: none;
    padding: 1rem;
    border-radius: 0.375rem;
    position: absolute;
    z-index: -1;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transition: opacity 0.3s ease;
    &.w-250 {
      width: 15.625rem;
    }
    @media only screen and (max-width: $phone) {
      padding: 2rem;
    }
    .m-close {
      display: none;
      @media only screen and (max-width: $phone) {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        @include size(2.5rem);
        @include inline-svg-icon('modal-close', $white, center, 1rem);
      }
    }
    &.dark {
      color: $white;
      background-color: $bg-hint-dark;
      * {
        color: $white;
      }
    }
    &.marker-right-bottom {
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-left-color: $bg-hint-dark;
        border-right: 0;
        bottom: 0.8125rem;
        right: -4px;
      }
      @media only screen and (max-width: $phone) {
        &:before {
          border-width: 8px;
          bottom: 1.125rem;
          right: -8px;
        }
      }
    }
    &.marker-bottom-right {
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-top-color: $bg-hint-dark;
        border-bottom: 0;
        bottom: -4px;
        right: 8px;
      }
      @media only screen and (max-width: $phone) {
        &:before {
          border-width: 8px;
          bottom: -8px;
          right: 8px;
        }
      }
    }
    &.hint-btn-chat {
      @extend .marker-right-bottom;
      bottom: 0;
      right: 4.8125rem + 0.8rem;
      @media only screen and (max-width: $phone) {
        bottom: $height-user-message + 0.8rem;
        right: 0;
        width: 90vw;
        max-width: 23.875rem;
        &:before {
          border: 8px solid transparent;
          border-top-color: $bg-hint-dark;
          border-bottom: 0;
          bottom: -8px;
          right: 2.5rem;
        }
      }
    }
  }
}