@mixin fixed-chat(){
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
}

@mixin avatar($size: 3.125rem, $font-size: 1.375rem) { //размер 50х50 + шрифт 22
  display: block;
  @include size($size); //50px
  flex: 0 1 $size;
  max-width: $size;
  min-width: $size;
  margin: 0 auto;
  position: relative;
  .img {
    display: block;
    @include size(100%);
    border: none;
    border-radius: 50%;
    overflow: hidden;
    .brand-stub {
      display: flex;
      justify-content: center;
      align-items: center;
      @include size(100%);
      color: $white;
      font-size: $font-size;
      font-weight: $med;
      background-image: linear-gradient(to top right, #4C5495, #C9C0DE);
      &.s-1 {
        background-image: linear-gradient(to top right, #4C5495, #C9C0DE);
      }
      &.s-2 {
        background-image: linear-gradient(to top right, #49748A, #A1D7EE);
      }
      &.s-3 {
        background-image: linear-gradient(to top right, #824C4C, #F5AAAA);
      }
      &.s-4 {
        background-image: linear-gradient(to top right, #2E5597, #A1CFEE);
      }
      &.s-5 {
        background-image: linear-gradient(to top right, #EFA147, #F2DD76);
      }
    }
  }
}

@mixin status() {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  @include size(0.33rem);
  border-radius: 50%;
  background-color: $green;
  &.active {
    display: inline-block;
  }
}

  @mixin count-new() {
    position: absolute;
    display: none;
    width: auto;
    min-width: 0.9375rem;
    height: 0.9375rem;
    padding: 0.125rem 0.3rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    border-bottom-right-radius: 0;
    background-color: $red;
    text-align: center;
    color: $white;
    font-size: 0.5625rem;
    &.active {
      display: block;
    }
  }

  @mixin count-person() {
    width: auto;
    height: 1.125rem;
    color: $gray-400;
    padding-right: 1rem;
    @include inline-svg-icon('ico-man-fill', $gray-300, right center, 12px 14px);
    @media only screen and (max-width: $phone) {
      @include inline-svg-icon('ico-man-fill', $gray-400, right center, 12px 14px);
    }
    &:hover, &.dark {
      @include inline-svg-icon('ico-man-fill', $gray-400, right center, 12px 14px);
    }
    &.active {
      @include inline-svg-icon('ico-man-active', $blue-active, right center, 12px 14px);
    }
  }
  @mixin count-talk() {
    width: auto;
    height: 1.125rem;
    color: $gray-400;
    padding-right: 1.25rem;
    @include inline-svg-icon('ico-cloud', $gray-300, right center, 17px 16px);
    @media only screen and (max-width: $phone) {
      @include inline-svg-icon('ico-cloud', $gray-400, right center, 18px);
    }
    &:hover {
      @include inline-svg-icon('ico-cloud', $gray-400, right center, 18px);
    }
    &.active {
      @include inline-svg-icon('ico-cloud-active', $blue-active, right center, 18px);
    }
  }
  @mixin count-part() {
    width: auto;
    height: 1.125rem;
    color: $gray-400;
    padding-right: 1.25rem;
    @include inline-svg-icon('ico-part', $gray-300, right center, 18px);
    @media only screen and (max-width: $phone) {
      @include inline-svg-icon('ico-part', $gray-400, right center, 18px);
    }
    &:hover {
      @include inline-svg-icon('ico-part', $gray-400, right center, 18px);
    }
    &.active {
      @include inline-svg-icon('ico-part-active', $blue-active, right center, 18px);
    }
  }
