.kit {
  &.search-result-message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.625rem;
    margin-top: 0.5rem;
    @media only screen and (max-width: $phone) {
      position: relative;
    }

    .avatar {
      @include avatar();
      .online {
        @include status();
      }
    }
    .date {
      flex: 0 1 5.5rem;
      min-width: 5.5rem;
      max-width: 5.5rem;
      text-align: right;
      color: $gray-300;
      font-size: 0.6875rem;
      font-weight: $reg;
      @media only screen and (max-width: $phone) {
        position: absolute;
        right: 0.625rem;
        top: 0.875rem;
        min-width: 4rem;
        max-width: 4rem;
        font-size: 0.8125rem;
      }
    }
    .desc {
      display: block;
      width: 100%;
      overflow: hidden;
      margin-left: 0.5rem;
      font-size: 0.8125rem;
      color: $title;
      @media only screen and (max-width: $phone) {
        font-size: 0.9375rem;
      }
      .name {
        text-align: left;
        font: inherit;
        color: inherit;
        @extend .ellipsis;
        width: auto;
        max-width: 100%;
        @media only screen and (max-width: $phone) {
          max-width: calc(100% - 4rem);
        }
      }
      .search-message {
        display: block;
        text-align: left;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 0.25rem;
        font: inherit;
        color: inherit;
        .message {
          display: inline-block;
          vertical-align: middle;
          @extend .ellipsis;
          width: auto;
          max-width: 100%;
          font: inherit;
          color: inherit;
          span.marker {
            font-weight: $bol;
          }
        }
      }
    }

  }
}