.kit {
  .pt-24 {
    display: block;
    width: 100%;
    padding-top: 24px;
  }
  .pt-4 {
    padding-top: 4px;
  }
  .pb-4 {
    padding-bottom: 4px;
  }
  .pt-8 {
    padding-top: 8px;
  }
  .pb-8 {
    padding-bottom: 8px;
  }
  .pt-16 {
    padding-top: 16px;
  }
  .pb-16 {
    padding-bottom: 16px;
  }
  .m-0 {
    margin: 0!important;
  }
  .mt-16 {
    padding-top: 16px;
  }
  .mb-16 {
    padding-bottom: 16px;
  }
  .p-24-24 {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .t-13-16 {
    font-size: 0.8125rem; //13px;
    line-height: 1.5;
    @media only screen and (max-width: $phone) {
      font-size: 1rem;
    }
  }
  .t-11 {
    font-size: 0.6875rem; //11px;
    line-height: 1.5;
  }
  .t-13 {
    font-size: 0.8125rem; //13px;
    line-height: 1.5;
  }
  .t-13-15 {
    font-size: 0.8125rem; //13px;
    line-height: 1.5;
    @media only screen and (max-width: $phone) {
      font-size: 0.9375rem;
    }
  }
  .t-16-18 {
    font-size: 1rem;
    @media only screen and (man-width: $phone) {
      font-size: 1.125rem; //18px
    }
     }
  .t-15-17 {
    font-size: 0.9375rem; //15px;
    @media only screen and (max-width: $phone) {
      font-size: 1.0625rem; //17px;
    }
  }
  
  .t-11-13 {
    font-size: 0.6875rem; //11px;
    @media only screen and (max-width: $phone) {
      font-size: 0.8125rem; //13px;
    }
  }
  [class*="t-"] {
    font-style: normal;
    font-weight: $reg;
    &.link {
      text-decoration: none;
      color: $blue;
      cursor: pointer;
    }
    &.dark {
      color: $title;
    }
    &.light {
      color: $gray-300;
    }
    //&.green {
    //  color: $green;
    //}
    &.bold {
      font-weight: $bol;
    }
    &.medium {
      font-weight: $med;
    }
  }
  .text-right {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 0;
  }
}