$reg: 400;
$med: 500;
$bol: 700;
$roboto: 'Roboto', sans-serif;
$icons: 'GisAuto';
$black: #272727;
$dark: #383838;
$white: #fff;




$menuSideBG: #fdda8f;
$menuBlue: #75b2c1;
$indexMarker: #6c9cae;
$borderHover : #adc8e9;
$cellHover: #f6faff;
$sideMenuHover: #eef3f6;
$sideMenuSVG: #515f68;
$avatarFill: #96adbb;
$filterBG: #f4f4f4;
$gray: #fbfbfb;
$tableHead: #fbfbfb;
$searchOnWhite: #728896;
$placeholder: #8798a4;
$turq: #c5d1d9;
$lightTurq: #dee7ed;
$pageField: #ededed;
$devider: #dbe4e9;

$title: #383838;
$menuSide: #5b5b5b;
$text: #5b5b5b;
$lightBlue: #4272a4;
$lightYellow: #ffdb64;
$yellow: #ffcf68;
$lightRed: #ef305d;
$darkRed: #d42951;
$mainHoverText: #b7e1ea;
$head: #74abbc;
$indexMarker: #568599;
$indexTitle: #00405f;
$priceRed: #f37c7c;

//chat
$gray-0: #E4EBF6;
$gray-100: #F1F3F8;
$gray-200: #F5F5F5;
$gray-300: #C5D1D9;
$gray-400: #8798A4;
$gray-1000: #FCFCFC;
$white: #fff;
$red: #D63232;
$green: #74bc92;
$blue: #669ED9;
$blue-100: #E6EDF7;
$blue-active: #0054AC;
$dark-blue: #4272A4;
$icon-blue: #2365AA;
$red-hover: #EE1F1F;
$bg-hint-dark: rgba(39,39,39,0.8);
$phone: 768px;
$title: #272727;

$height-user-message: 3.125rem; // 50px

//mobile
$height-footer: 55px;
$bg-gray: #f7f7f7;
$border-gray: #95989A;
$line-gray: #F6F6F6;
$phone6:  375px;
$phone6p: 414px;
$footer-btn-gray: #f0f0f0;


