//Device set
$devices: () !default;
$devices: map-merge((
        "iphone5": 320px,
        "iphone7": 375px,
        "iphone7plus": 414px,
        "ipad": 768px,
        "laptop": 1024px
), $devices);

@function device($device: 'iphone') {

}

@mixin phone {

  @media (max-width: #{map-get($devices, 'iphone7plus')}) {
    @content;
  }
}

@mixin phone-sm {

  @media (min-width: #{map-get($devices, 'iphone5')}) and (max-width: #{map-get($devices, 'iphone7') - 1px}) {
    @content;
  }
}

@mixin phone-md {

  @media (min-width: #{map-get($devices, 'iphone7')}) and (max-width: #{map-get($devices, 'iphone7plus') - 1px}) {
    @content;
  }
}

@mixin phone-lg {

  @media (min-width: #{map-get($devices, 'iphone7plus')}) and (max-width: #{map-get($devices, 'ipad') - 1px}) {
    @content;
  }
}

@mixin tablet {
  
  @media (min-width: #{map-get($devices, 'ipad')}) and (max-width: #{map-get($devices, 'laptop') - 1px}) {
    @content;
  }
}

@mixin tablet {

  @media (min-width: #{map-get($devices, 'laptop')}) {
    @content;
  }
}

@mixin landscape {

  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin portrait {

  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin _size($size: 1rem) {
  width: $size;
  height: $size;
  max-width: $size;
  max-height: $size;
  min-width: $size;
  min-height: $size;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
}

@function text-color($key: "base") {

  @return map-get($text-colors, $key);
}