$placeholderColor: #8798a4;
$placeholderFontWeight: 400;

* {
  -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
  color: $placeholderColor;
  font-weight: $placeholderFontWeight;
  opacity: 1;
}

::-moz-placeholder {
  color: $placeholderColor;
  font-weight: $placeholderFontWeight;
  opacity: 1;
}

:-moz-placeholder {
  color: $placeholderColor;
  font-weight: $placeholderFontWeight;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $placeholderColor;
  font-weight: $placeholderFontWeight;
  opacity: 1;
}