<template>
    <div class="page-cabinet">
        <div class="header">
            <ul class="breadcrumbs cabinet">
                <li class="breadcrumbs__item">
                    <router-link class="breadcrumbs__link" :to="{name: 'list'}">Магазины запчастей и автотехцентры
                    </router-link>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link"><span>{{ layout.title }}</span></span>
                </li>
            </ul>

            <div class="text-16 dark medium mb-24 mt-24">{{ layout.title }}</div>
            <div class="text-14 dark medium mb-16">Основные сведения об автотехцентре</div>
        </div>

        <div v-show="loaded.item">

            <form class="form-horizontal" @submit.prevent="submit">
                <div class="page-cabinet__block-fixed-big">
                    <div class="flex-row valign-top">
                        <div class="col-1-3">
                            <div class="form-group form-group_labled"
                                 :class="{'has-error': fieldHasAnyErrors('name')}">
                                <label for="name">Название центра
                                    <span class="req"></span>
                                    <span type="button" class="btn-quest popoverBtn" data-html="true"
                                          data-container=".page-cabinet" data-trigger="hover"
                                          data-content='Отображается в поле "Продавец" в результате поиска запчасти.'
                                          title=""
                                          data-original-title=""></span>
                                </label>
                                <input type="text" id="name" name="name" class="form-control" v-model="item.name">
                                <form-input-errors :errors="errors.name"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>
                            <div class="form-group form-group_labled" style="margin-bottom: 0;">
                                <label>Телефон
                                    <span class="req"></span>
                                    <span type="button" class="btn-quest popoverBtn" data-html="true"
                                          data-container=".page-cabinet" data-trigger="hover"
                                          data-content='Данные, которые доступны покупателям для связи с Вами, отображаются в поле "Продавец" в результате поиска запчасти для конкретного магазина.'
                                          title="" data-original-title=""></span>
                                </label>
                            </div>
                            <draggable @end="updatePhonesPosition"
                                       :list="item.phones"
                                       :options="{handle:'.drag-bar'}">
                                <div class="form-group" v-for="(ph, phIndex) in item.phones" :key="ph.position">
                                    <div class="flex-row">
                                        <span v-if="item.phones.length>1" class="drag-bar">≡</span>
                                        <div style="width: 50%">
                                            <input v-mask="['+# (###) ###-##-##', '+# (###) ###-##-## #', '+# (###) ###-##-## ##']"
                                                   :name="'phone['+phIndex+']'"
                                                   :class="{'input-error': subfieldHasErrors('phones',phIndex,'phone')}"
                                                   placeholder="+_ (___) ___-__-__"
                                                   type="text"
                                                   class="form-control"
                                                   v-model="ph.phone">
                                        </div>
                                        <div :style="phIndex>0 && item.phones.length>1?'width: 40%':'width: 50%'">
                                            <input type="text" class="form-control" v-model="ph.comment"
                                                   placeholder="Комментарий">
                                        </div>
                                        <button v-if="phIndex>0" type="button" class="del del32"
                                                @click="deletePhone(phIndex)"></button>
                                    </div>
                                    <form-input-errors :errors="subfieldErrors('phones',phIndex,'phone')"
                                                       class="error-reg"
                                                       style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                                </div>
                            </draggable>

                            <div class="form-group form-group_labled"
                                 :class="{'has-error': fieldHasAnyErrors('email')}">
                                <label for="email">E-mail
                                    <span class="req"></span>
                                    <span type="button" class="btn-quest popoverBtn" data-html="true"
                                          data-container=".page-cabinet" data-trigger="hover"
                                          data-content='Данные, которые доступны покупателям для связи с Вами, отображаются в поле "Продавец" в результате поиска запчасти для конкретного магазина.'
                                          title="" data-original-title=""></span>
                                </label>
                                <input type="text" id="email" name="email" class="form-control" v-model="item.email">
                                <form-input-errors :errors="errors.email"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>

                            <div class="form-group form-group_labled"
                                 :class="{'has-error': fieldHasAnyErrors('site')}">
                                <label for="site">Сайт
                                    <span type="button" class="btn-quest popoverBtn" data-html="true"
                                          data-container=".page-cabinet" data-trigger="hover"
                                          data-content='Данные, которые доступны покупателям для связи с Вами, отображаются в поле "Продавец" в результате поиска запчасти для конкретного магазина.'
                                          title="" data-original-title=""></span>
                                </label>
                                <input type="text" id="site" name="site" class="form-control" v-model="item.site">
                                <form-input-errors :errors="errors.site"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>

                            <div class="form-group" v-for="(cont, contIndex) in item.contacts">
                                <div class="flex-row">
                                    <div style="width: 50%">
                                        <multiselect v-model="cont.contactType"
                                                     :options="contactTypeList"
                                                     :allowEmpty="false"
                                                     @select="onSelectContactType"
                                                     :class="{'input-error': subfieldHasErrors('contacts',contIndex,'contactType')}"
                                                     :id="contIndex"
                                                     track-by="id"
                                                     label="name"
                                                     :show-labels="false"
                                                     placeholder="-">
                                        </multiselect>

                                    </div>
                                    <div style="width: 40%">
                                        <input type="text" class="form-control"
                                               :disabled="cont.contactType===null"
                                               :class="{'input-error': subfieldHasErrors('contacts',contIndex,'contact')}"
                                               v-model="cont.contact"
                                               placeholder="Контакт">
                                    </div>
                                    <button type="button" class="del del32"
                                            @click="deleteContact(contIndex)"></button>
                                </div>
                                <form-input-errors :errors="subfieldErrors('contacts',contIndex,'contactType')"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                                <form-input-errors :errors="subfieldErrors('contacts',contIndex,'contact')"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>

                            <button type="button" class="btn btn-transparent" @click="addContact">+ Добавить способ
                                связи
                            </button>

                        </div>
                        <div class="col-1-3">
                            <div class="form-group form-group_labled mb-8"
                                 :class="{'has-error': fieldHasAnyErrors('city')}">
                                <label for="city">Адрес
                                    <span class="req"></span>
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Данные, которые доступны покупателям, отображаются в поле "Продавец" в результате поиска запчасти для конкретного магазина. А также, отображаются на карте при условии нажатия кнопки "Найти на карте".'
                                          data-original-title="" title=""></span>
                                </label>
                                <multiselect v-model="item.city"
                                             :options="cityList"
                                             :allowEmpty="false"
                                             @search-change="cityFind"
                                             :searchable="true"
                                             :loading="loading.city"
                                             :internal-search="false"
                                             :preserve-search="true"
                                             id="city"
                                             track-by="id"
                                             label="name"
                                             :show-labels="false"
                                             placeholder="Город">
                                    <template slot="noResult">Не найдено</template>
                                    <template slot="option" slot-scope="props">
                                        <div class="__checkbox"
                                             :class="{selected: item.city!==null && item.city.id === props.option.id}"></div>
                                        {{ props.option.name }}
                                    </template>
                                </multiselect>

                                <form-input-errors :errors="errors.city"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>
                            <div class="form-group mb-8"
                                 :class="{'has-error': fieldHasAnyErrors('address')}">
                                <div class="dropdown-select-search">
                                    <div>
                                        <input type="text" id="address" name="address" class="form-control"
                                               placeholder="Улица, дом"
                                               @input="addressFind(item.address)"
                                               v-model="item.address" autocomplete="off">
                                        <div v-if="loading.address" class="multiselect__spinner"></div>
                                    </div>
                                    <div v-if="addressFocus" class="select-list" style="width: 100%;display: block;">
                                        <div v-if="addressSuggest.length==0" class="not-found-msg">
                                            Ничего не найдено
                                        </div>
                                        <ul v-else="">
                                            <li v-for="sugg in addressSuggest"><label
                                                    @click="onAddressSelect(sugg)">
                                                <span class="element-label">{{sugg.name}}</span></label></li>

                                        </ul>
                                    </div>
                                </div>
                                <form-input-errors :errors="errors.address"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>
                            <template v-if="hasCoords">
                                <a role="button" class="pull-left"
                                   @click="showMap(null)">{{item.coordLat}};{{item.coordLng}}</a>
                            </template>
                        </div>
                        <div class="col-1-3">
                            <div v-if="item.address" class="form-group">
                                <a role="button" @click="findAddress">Найти на карте</a>
                                <div class="btn-quest popoverBtn" data-container=".page-cabinet" data-trigger="hover"
                                     data-content="Позволяет отображать адрес Вашего магазина на карте."
                                     data-original-title=""
                                     title="" data-placement="right"></div>
                            </div>
                            <div class="form-group market-map">
                                <div id="map_canvas" v-show="show.map" style="width: 100%;height:300px;"></div>
                            </div>
                        </div>

                    </div>

                    <hr class="separator ">

                    <div class="text-14 dark medium mb-16">
                        Режим работы
                        <span class="req"></span>
                        <span type="button" class="btn-quest popoverBtn" data-html="true"
                              data-container=".page-cabinet" data-trigger="hover"
                              data-content='Текст подсказки.' title=""
                              data-original-title=""></span>
                    </div>

                    <div class="flex-row valign-top">

                        <div class="col-1-3" v-for="(gr, grIndex) in scheduleGroups">
                            <div class="block-mode">
                                <div class="form-group flex-row">
                                    <div class="kit mode setup mr-16">
                                        <div v-for="(day, dayIndex) in ['пн','вт','ср','чт','пт','сб','вс']"
                                             class="dayofweek"
                                             :class="{active: gr.days[dayIndex], disabled: !gr.days[dayIndex] && usedDays[dayIndex]}"
                                             @click="toggleDay(gr,dayIndex)">{{day}}
                                        </div>
                                    </div>
                                    <button type="button" class="del del32"
                                            @click="deleteScheduleGroup(grIndex)"></button>
                                </div>
                                <div class="form-group">
                                    <div class="flex-row">
                                        <input type="text" class="form-control mr-8"
                                               :placeholder="gr.hover.openingTime?'__:__':'с'"
                                               @mouseenter="markHover(gr,'openingTime',true)"
                                               @mouseleave="markHover(gr,'openingTime',false)"
                                               :class="{'input-error': subfieldHasErrors('scheduleGroups',grIndex,'openingTime')}"
                                               v-mask="timeMask"
                                               v-model="gr.openingTime"
                                               :disabled="gr.wholeDay"
                                               style="min-width:102px;">
                                        <div class="text-16 light medium">-</div>
                                        <input type="text" class="form-control ml-8 mr-16"
                                               :placeholder="gr.hover.closingTime?'__:__':'до'"
                                               @mouseenter="markHover(gr,'closingTime',true)"
                                               @mouseleave="markHover(gr,'closingTime',false)"
                                               :class="{'input-error': subfieldHasErrors('scheduleGroups',grIndex,'closingTime')}"
                                               v-mask="timeMask"
                                               v-model="gr.closingTime"
                                               :disabled="gr.wholeDay"
                                               style="min-width:102px;">
                                        <div class="round-the-clock nowrap">
                                            <label :for="'wholeDay_'+grIndex" class="text-13 dark">
                                                <div class="btn-checkbox-only" :class="{selected:gr.wholeDay}">
                                                    <input :id="'wholeDay_'+grIndex" type="checkbox"
                                                           v-model="gr.wholeDay"
                                                           v-show="false">
                                                </div>
                                                <span>24 часа</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div v-if="subfieldHasErrors('scheduleGroups',grIndex,'openingTime')
                                             ||subfieldHasErrors('scheduleGroups',grIndex,'closingTime')"
                                         style="padding-top: 10px">
                                        <form-input-errors
                                                :errors="subfieldErrors('scheduleGroups',grIndex,'openingTime')"
                                                class="error-reg"
                                                style="padding-left: 10px;"></form-input-errors>
                                        <form-input-errors
                                                :errors="subfieldErrors('scheduleGroups',grIndex,'closingTime')"
                                                class="error-reg"
                                                style="padding-left: 10px;"></form-input-errors>
                                    </div>
                                </div>

                                <div class="block-lunch">
                                    <div class="nowrap">
                                        <label :for="'dinner_'+grIndex" class="text-13 dark">
                                            <div class="btn-checkbox-only" :class="{selected:gr.dinner}">
                                                <input :id="'dinner_'+grIndex" type="checkbox" v-model="gr.dinner"
                                                       v-show="false">
                                            </div>
                                            <span>Есть перерыв</span>
                                        </label>
                                    </div>
                                    <div class="form-group mt-8 block-lunch-inputs" v-if="gr.dinner">
                                        <div class="flex-row">
                                            <input type="text" class="form-control mr-8"
                                                   :placeholder="gr.hover.dinnerBeginTime?'__:__':'с'"
                                                   @mouseenter="markHover(gr,'dinnerBeginTime',true)"
                                                   @mouseleave="markHover(gr,'dinnerBeginTime',false)"
                                                   :class="{'input-error': subfieldHasErrors('scheduleGroups',grIndex,'dinnerBeginTime')}"
                                                   v-mask="timeMask"
                                                   v-model="gr.dinnerBeginTime"
                                                   style="min-width:102px;">
                                            <div class="text-16 light medium">-</div>
                                            <input type="text" class="form-control ml-8 mr-16"
                                                   :placeholder="gr.hover.dinnerEndTime?'__:__':'до'"
                                                   @mouseenter="markHover(gr,'dinnerEndTime',true)"
                                                   @mouseleave="markHover(gr,'dinnerEndTime',false)"
                                                   :class="{'input-error': subfieldHasErrors('scheduleGroups',grIndex,'dinnerEndTime')}"
                                                   v-mask="timeMask"
                                                   v-model="gr.dinnerEndTime"
                                                   style="min-width:102px;">
                                            <div style="min-width:71px;"></div>
                                        </div>
                                        <div v-if="subfieldHasErrors('scheduleGroups',grIndex,'dinnerBeginTime')
                                                 ||subfieldHasErrors('scheduleGroups',grIndex,'dinnerEndTime')"
                                             style="padding-top: 10px;">
                                            <form-input-errors
                                                    :errors="subfieldErrors('scheduleGroups',grIndex,'dinnerBeginTime')"
                                                    class="error-reg"
                                                    style="padding-left: 10px;"></form-input-errors>
                                            <form-input-errors
                                                    :errors="subfieldErrors('scheduleGroups',grIndex,'dinnerEndTime')"
                                                    class="error-reg"
                                                    style="padding-left: 10px;"></form-input-errors>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-1-3" v-if="scheduleGroups.length<3 && usedDays.indexOf(false)!==-1">
                            <button @click="addScheduleGroup"
                                    type="button" class="btn btn-transparent">+ Добавить расписание
                            </button>

                            <form-input-errors :errors="errors.schedules"
                                               class="error-reg"
                                               style="padding-left: 10px; padding-top: 10px;"></form-input-errors>

                        </div>
                    </div>

                    <hr class="separator ">

                    <div class="text-14 dark medium mb-16">
                        Дополнительные сведения
                    </div>

                    <div class="flex-row valign-top">
                        <div class="col-1-3">
                            <div class="form-group form-group_labled mb-16">
                                <label>Запчасти
                                    <span class="req"></span>
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Укажите способы оплаты приемлемые для Вашего магазина. Отображается в поле "О&nbsp;продавце".'
                                          data-original-title="" title=""></span>
                                </label>
                                <div class="radio-item mb-8">
                                    <input type="radio" class="btn-radio-only" name="reg" id="spareTrue"
                                           v-model="item.spares" v-bind:value="true">
                                    <label for="spareTrue">
                                        <span class="pay-method__desc">Есть</span>
                                    </label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" class="btn-radio-only" name="reg" id="spareFalse"
                                           v-model="item.spares" v-bind:value="false">
                                    <label for="spareFalse">
                                        <span class="pay-method__desc">Не предусмотрено</span>
                                    </label>
                                </div>
                            </div>
                            <form-input-errors :errors="errors.spares"
                                               class="error-reg"
                                               style="padding-left: 10px; padding-top: 10px;"></form-input-errors>

                        </div>
                        <div class="col-1-3">
                            <div class="form-group form-group_labled ">
                                <label for="hourPriceMin">Нормочас
                                    <span class="req"></span>
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Укажите способы оплаты приемлемые для Вашего магазина. Отображается в поле "О&nbsp;продавце".'
                                          data-original-title="" title=""></span>
                                </label>
                                <div class="form-group mb-8">
                                    <div class="flex-row">
                                        <input type="text" placeholder="от" class="form-control mr-8"
                                               id="hourPriceMin" name="hourPriceMin"
                                               :class="{'input-error': fieldHasAnyErrors('hourPriceMin')}"
                                               v-model="item.hourPriceMin"
                                               style="min-width:102px;">
                                        <div class="text-16 light medium">-</div>
                                        <input type="text" placeholder="до" class="form-control ml-8 mr-16"
                                               id="hourPriceMax" name="hourPriceMax"
                                               :class="{'input-error': fieldHasAnyErrors('hourPriceMax')}"
                                               v-model="item.hourPriceMax"
                                               style="min-width:102px;">
                                        <div style="min-width:71px;"></div>
                                    </div>
                                    <div v-if="fieldHasAnyErrors('hourPriceMin')||fieldHasAnyErrors('hourPriceMax')"
                                         style="padding-top: 10px;">
                                        <form-input-errors :errors="errors.hourPriceMin"
                                                           class="error-reg"
                                                           style="padding-left: 10px;"></form-input-errors>
                                        <form-input-errors :errors="errors.hourPriceMax"
                                                           class="error-reg"
                                                           style="padding-left: 10px;"></form-input-errors>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-1-3">

                        </div>
                    </div>

                    <div class="flex-row valign-top">
                        <div class="col-1-3">
                            <div class="form-group form-group_labled mb-8"
                                 :class="{'has-error': fieldHasAnyErrors('paymentMethods')}">
                                <label for="paymentMethods">Способы оплаты
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Укажите способы оплаты приемлемые для Вашего магазина. Отображается в поле "О&nbsp;продавце".'
                                          data-original-title="" title=""></span>
                                </label>

                                <multiselect v-model="item.paymentMethods"
                                             :options="paymentMethodList"
                                             :multiple="true"
                                             :close-on-select="false"
                                             :limit="0"
                                             :limit-text="limitText"
                                             id="paymentMethods"
                                             track-by="id"
                                             label="name"
                                             :show-labels="false"
                                             placeholder="Выберите">
                                    <template slot="option" slot-scope="props">
                                        <div class="__checkbox"
                                             :class="{selected: isOptionSelected(item.paymentMethods, props.option )}"></div>
                                        {{ props.option.name }}
                                    </template>
                                </multiselect>
                                <ul v-if="item.paymentMethods.length>0" class="selected-elements">
                                    <li v-for="method in item.paymentMethods">{{method.name}}</li>
                                </ul>


                                <form-input-errors :errors="errors.paymentMethods"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>

                            <div class="form-group form-group_labled mb-8"
                                 :class="{'has-error': fieldHasAnyErrors('specialities')}">

                                <label for="specialities">Сфера деятельности
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Укажите сферы деятельности, которыми вы занимаетесь. Отображается в поле "О&nbsp;продавце".'
                                          data-original-title="" title=""></span>
                                </label>

                                <multiselect v-model="item.specialities"
                                             :options="specialityList"
                                             :multiple="true"
                                             :close-on-select="false"
                                             :limit="0"
                                             :limit-text="limitText"
                                             id="specialities"
                                             track-by="id"
                                             label="name"
                                             :show-labels="false"
                                             placeholder="Выберите">
                                    <template slot="option" slot-scope="props">
                                        <div class="__checkbox"
                                             :class="{selected: isOptionSelected(item.specialities, props.option )}"></div>
                                        {{ props.option.name }}
                                    </template>
                                </multiselect>
                                <ul v-if="item.specialities.length>0" class="selected-elements">
                                    <li v-for="item in item.specialities">{{item.name}}</li>
                                </ul>

                                <form-input-errors :errors="errors.specialities"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>

                            <div class="form-group form-group_labled mb-8">
                                <label>Дополнительная информация
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Укажите ту информацию, которую, как Вы считаете, должны знать покупатели о Вашем магазине, не более 300 символов.'
                                          data-original-title="" title=""></span>
                                </label>
                                <div class="textarea">
                                    <textarea data-label="info" class="form-control" rows="3" max="300"
                                              :class="{'input-error': fieldHasAnyErrors('additionalInfo')}"
                                              v-model="item.additionalInfo"></textarea>
                                    <form-input-errors :errors="errors.additionalInfo"
                                                       class="error-reg"
                                                       style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3">
                            <div class="form-group form-group_labled mb-8"
                                 :class="{'has-error': fieldHasAnyErrors('serviceGroups')}">
                                <label for="serviceGroups">Предоставляемые услуги
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Выберите предоставляемые услуги'
                                          data-original-title="" title=""></span>
                                </label>
                                <multiselect v-model="item.serviceGroups"
                                             :options="serviceGroupList"
                                             :multiple="true"
                                             :close-on-select="false"
                                             :limit="0"
                                             :limit-text="limitText"
                                             id="serviceGroups"
                                             track-by="id"
                                             label="name"
                                             :show-labels="false"
                                             placeholder="Выберите">
                                    <template slot="option" slot-scope="props">
                                        <div class="__checkbox"
                                             :class="{selected: isOptionSelected(item.serviceGroups, props.option )}"></div>
                                        {{ props.option.name }}
                                    </template>
                                </multiselect>
                                <ul v-if="item.serviceGroups.length>0" class="selected-elements">
                                    <li v-for="serviceGroup in item.serviceGroups">{{serviceGroup.name}}</li>
                                </ul>

                                <form-input-errors :errors="errors.serviceGroups"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>
                            <div class="form-group form-group_labled mb-8"
                                 :class="{'has-error': fieldHasAnyErrors('brands')}">
                                <label for="brands">Ремонтируемые марки
                                    <span type="button" class="btn-quest popoverBtn" data-container=".page-cabinet"
                                          data-toggle="popover" data-trigger="hover"
                                          data-content='Выберите ремонтируемые марки.'
                                          data-original-title="" title=""></span>
                                </label>
                                <multiselect v-model="item.brands"
                                             :options="brandList"
                                             :multiple="true"
                                             :close-on-select="false"
                                             :limit="0"
                                             :limit-text="limitText"
                                             id="brands"
                                             track-by="id"
                                             label="name"
                                             :show-labels="false"
                                             placeholder="Марка">
                                </multiselect>
                                <ul v-if="item.brands.length>0" class="selected-elements">
                                    <li v-for="brand in item.brands">{{brand.name}}</li>
                                </ul>

                                <form-input-errors :errors="errors.brands"
                                                   class="error-reg"
                                                   style="padding-left: 10px; padding-top: 10px;"></form-input-errors>
                            </div>
                        </div>
                        <div class="col-1-3">

                        </div>
                    </div>

                    <hr class="separator ">

                    <div class="form-group">
                        <div class="nowrap">
                            <label for="agreeSafeDeal" class="text-13 dark">
                                <div class="btn-checkbox-only disabled" :class="{selected:agreeSafeDeal}">
                                    <input id="agreeSafeDeal" type="checkbox" disabled="disabled"
                                           v-model="agreeSafeDeal"
                                           v-show="false">
                                </div>
                                <span>Согласен работать по <a role="button"
                                                              class="aqualink">условиям безопасной покупки</a></span>
                            </label>
                        </div>
                    </div>
                    <div class="mt-32 mb-24">
                        <button type="submit"
                                class="btn btn-yellow text-14 medium"
                                :class="{'modal-body-spinner':loading.save}"
                                :disabled="loading.save">
                            <template v-if="isNew">Создать автотехцентр</template>
                            <template v-else="">Сохранить автотехцентр</template>
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</template>

<script>
  var _ = {
    map: require('lodash.map'),
    filter: require('lodash.filter'),
    assign: require('lodash.assign'),
    pick: require('lodash.pick'),
    reduce: require('lodash/reduce'),
    findIndex: require('lodash/findIndex'),
    sortBy: require('lodash/sortBy'),
    groupBy: require('lodash/groupBy'),
    flatten: require('lodash/flatten'),
    debounce: require('lodash/debounce'),
  };
  export default {
    props: {
      id: {
        default: null,
      },
    },
    data() {
      return {
        errors: {},
        layout: {
          title: '',
        },
        item: {
          id: '',
          city: null,
          brands: [],
          paymentMethods: [],
          specialities: [],
          serviceGroups: [],
          schedules: [],
          name: '',
          address: '',
          coordLat: null,
          coordLng: null,
          email: '',
          phones: [],
          contacts: [],
          site: '',
          additionalInfo: '',
          hourPriceMin: '',
          hourPriceMax: '',
          spares: null,
        },
        agreeSafeDeal: false,
        cityList: [],
        addressSuggest: [],
        brandList: [],
        paymentMethodList: [],
        specialityList: [],
        serviceGroupList: [],
        contactTypeList: [],
        scheduleGroups: [],
        scheduleUsedDays: [],
        loaded: {
          item: false,
        },
        loading: {
          city: false,
          address: false,
          save: false,
        },
        addressFocus: false,
        timeMask: {
          mask: 'H#:M#',
          tokens: {
            'H': {pattern: /[0-2]/},
            'M': {pattern: /[0-5]/},
            '#': {pattern: /\d/},
          },
        },
        map: {
          map: null,
          geocoder: null,
          current: {
            location: null,
            marker: null,
          },
          address: {
            location: null,
            marker: null,
            info: null,
          },
        },
        show: {
          map: false,
          mapInfo: false,
        },
      };
    },
    computed: {
      isNew() {
        return this.$route.name === 'new-sto';
      },
      hasCoords() {
        return this.item.coordLat !== null && this.item.coordLng !== null;
      },
      usedDays() {
        let days = [false, false, false, false, false, false, false];
        for (let i = 0; i < this.scheduleGroups.length; i++) {
          for (let d = 0; d < 7; d++) {
            days[d] = days[d] || this.scheduleGroups[i].days[d];
          }
        }
        return days;
      },
    },
    watch: {
      'layout.title'() {
        window.document.title = this.layout.title;
      },
    },
    created() {
      this.fetchItem();
      this.map.geocoder = new google.maps.Geocoder();
    },
    methods: {
      isOptionSelected(list, item) {
        return _.findIndex(list, item) !== -1;
      },
      initCurrentMarker() {
        if (this.map.current.location !== null) {
          if (this.map.current.marker === null) {
            this.map.current.marker = new google.maps.Marker({
              icon: '/bundles/gisautoweb/images/map-mark.png',
              map: this.map.map,
              draggable: true,
            });
            google.maps.event.addListener(this.map.current.marker, 'dragend', this.onMarkerDragEnd);
          }
          this.map.current.marker.setPosition(this.map.current.location);
        }
      },
      initAddressMarker() {
        let self = this;
        if (this.map.address.location !== null) {
          if (this.map.address.marker === null) {

            var content = document.createElement('div'),
                button;
            content.innerHTML = 'Переместите маркер или<br/>';
            button = content.appendChild(document.createElement('input'));
            button.type = 'button';
            button.value = 'выберите текущую позицию';
            this.map.address.info = new google.maps.InfoWindow({
              content: content,
            });
            google.maps.event.addDomListener(button, 'click', function() {
              self.map.address.info.close();
              self.onMarkerDragEnd({latLng: self.map.address.location});
            });

            this.map.address.marker = new google.maps.Marker({
              map: this.map.map,
              draggable: true,
            });
            this.map.address.marker.addListener('click', function() {
              self.show.mapInfo = !self.show.mapInfo;
              if (self.show.mapInfo) {
                self.map.address.info.open(self.map.map, self.map.address.marker);
              } else {
                self.map.address.info.close();
              }
            });

            google.maps.event.addListener(this.map.address.marker, 'dragend', this.onMarkerDragEnd);
          }
          this.map.address.marker.setPosition(this.map.address.location);
        }
      },
      clearAddressMarker() {
        this.map.address.location = null;
        if (this.map.address.marker !== null) {
          this.map.address.marker.setMap(null);
          google.maps.event.clearInstanceListeners(this.map.address.marker);
          this.map.address.marker = null;
        }
      },
      onMarkerDragEnd(e) {
        this.item.coordLat = e.latLng.lat();
        this.item.coordLng = e.latLng.lng();
        this.map.current.location = new google.maps.LatLng(this.item.coordLat, this.item.coordLng);
        this.initCurrentMarker();
        this.clearAddressMarker();
      },
      showMap(location) {
        if (location !== null) {
          this.clearAddressMarker();
          this.map.address.location = location;
        } else if (this.hasCoords) {
          if (this.map.current.location === null) {
            this.map.current.location = new google.maps.LatLng(this.item.coordLat, this.item.coordLng);
          }
          location = this.map.current.location;
        }

        if (location !== undefined) {
          if (this.map.map === null) {
            this.map.map = new google.maps.Map(document.getElementById('map_canvas'), {
              center: location,
              scrollwheel: false,
              zoom: 16,
            });
          }
          this.initCurrentMarker();
          this.initAddressMarker();
          this.map.map.panTo(location);
          this.show.map = true;
        }
      },
      findAddress() {
        if (this.item.address !== '') {
          let name = [this.item.city.name, this.item.address].join(', ');
          let self = this;
          this.map.geocoder.geocode({address: name}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              let location = results[0].geometry.location;
              self.showMap(location);
            }
          });
        }
      },
      fieldHasAnyErrors(field) {
        return this.errors.hasOwnProperty(field)
            && this.errors[field].length > 0;
      },
      subfieldHasAnyErrors(field, index) {
        return this.errors.hasOwnProperty(field)
            && this.errors[field].hasOwnProperty(index);
      },
      subfieldHasErrors(field, index, subField) {
        return this.errors.hasOwnProperty(field)
            && this.errors[field].hasOwnProperty(index)
            && this.errors[field][index].hasOwnProperty(subField);
      },
      subfieldErrors(field, index, subField) {
        if (this.subfieldHasErrors(field, index, subField)) {
          return this.errors[field][index][subField];
        }
        return null;
      },
      updatePhonesPosition() {
        for (var i = 0; i < this.item.phones.length; i++) {
          this.item.phones[i].position = i;
        }
      },
      addPhone(phone) {
        this.item.phones.push({
          id: null,
          position: this.item.phones.length,
          phone: phone !== undefined ? phone : '',
          comment: '',
        });
        this.updatePhonesPosition();
      },
      deletePhone(index) {
        this.item.phones.splice(index, 1);
        this.updatePhonesPosition();
      },
      addContact() {
        this.item.contacts.push({
          id: null,
          position: this.item.contacts.length,
          contact: '',
          contactType: null,
        });
      },
      deleteContact(index) {
        this.item.contacts.splice(index, 1);
        this.updateContactsPosition();
      },
      updateContactsPosition() {
        for (var i = 0; i < this.item.contacts.length; i++) {
          this.item.contacts[i].position = i;
        }
      },
      onSelectContactType(selectedOption, id) {
        if (selectedOption.id === 'phone') {
          this.addPhone(this.item.contacts[id].contact);
          this.deleteContact(id);
        }
      },
      limitText(count) {
        return `Выбрано (${count})`;
      },
      cityFind: _.debounce(function(query) {
        if (query.length > 0) {
          this.loading.city = true;
          this.$http.get(Routing.generate('sto_api_find_city', {query: query})).then(response => {
            this.cityList = response.data.result;
          }).finally(() => {
            this.loading.city = false;
          });
        }
      }, 300),
      addressFind: _.debounce(function(query) {
        if (query.length > 2 && this.item.city !== null) {
          this.loading.address = true;
          this.$http.get(Routing.generate('sto_api_find_city_address', {
            city: this.item.city.id,
            query: query,
          })).then(response => {
            this.addressSuggest = response.data.result;
          }).finally(() => {
            this.addressFocus = true;
            this.loading.address = false;
          });
        }
      }, 300),
      onAddressSelect(selected) {
        this.item.address = selected.id;
        this.addressFocus = false;
      },
      addScheduleGroup() {
        this.scheduleGroups.push({
          days: [false, false, false, false, false, false, false],
          wholeDay: true,
          openingTime: null,
          closingTime: null,
          dinner: false,
          dinnerBeginTime: null,
          dinnerEndTime: null,
          hover: {
            openingTime: false,
            closingTime: false,
            dinnerBeginTime: false,
            dinnerEndTime: false,
          },
        });
      },
      deleteScheduleGroup(index) {
        this.scheduleGroups.splice(index, 1);
      },
      toggleDay(gr, index) {
        if (gr.days[index] || !this.usedDays[index]) {
          Vue.set(gr.days, index, !gr.days[index]);
        }
      },
      markHover(gr, f, val) {
        gr.hover[f] = val;
      },
      convertDaysToGroups(days) {
        return _.map(_.sortBy(_.groupBy(days,
            function(grO) {
              return [
                grO.openingTime !== null ? grO.openingTime : 'n',
                grO.closingTime !== null ? grO.closingTime : 'n',
                grO.dinnerBeginTime !== null ? grO.dinnerBeginTime : 'n',
                grO.dinnerEndTime !== null ? grO.dinnerEndTime : 'n',
              ].join('-');
            }),
            function(sortO) {
              return sortO[0].dayNumber;
            }),
            function(mapO) {
              return {
                days: _.reduce(mapO, function(ar, it) {
                  ar[it.dayNumber - 1] = true;
                  return ar;
                }, [false, false, false, false, false, false, false]),// 0 - ПН
                wholeDay: mapO[0].openingTime === null && mapO[0].closingTime === null,
                openingTime: mapO[0].openingTime,
                closingTime: mapO[0].closingTime,
                dinner: mapO[0].dinnerBeginTime !== null && mapO[0].dinnerEndTime !== null,
                dinnerBeginTime: mapO[0].dinnerBeginTime,
                dinnerEndTime: mapO[0].dinnerEndTime,
                hover: {
                  openingTime: false,
                  closingTime: false,
                  dinnerBeginTime: false,
                  dinnerEndTime: false,
                },
              };
            });
      },
      isValidTime(s) {
        return s !== null && s.length === 5;
      },
      convertGroupsToDays(groups) {
        let self = this;
        return _.sortBy(_.filter(_.flatten(_.map(groups,
            function(mapO) {
              return _.map(mapO.days, function(dayEl, index) {
                return dayEl ? {
                  dayNumber: index + 1,
                  openingTime: mapO.wholeDay ? null : (self.isValidTime(mapO.openingTime) ? mapO.openingTime : ':'),
                  closingTime: mapO.wholeDay ? null : (self.isValidTime(mapO.closingTime) ? mapO.closingTime : ':'),
                  dinnerBeginTime: mapO.dinner ?
                      (self.isValidTime(mapO.dinnerBeginTime) ? mapO.dinnerBeginTime : ':') : null,
                  dinnerEndTime: mapO.dinner ?
                      (self.isValidTime(mapO.dinnerEndTime) ? mapO.dinnerEndTime : ':') : null,
                } : null;
              });
            })),
            function(filterO) {
              return filterO !== null;
            }),
            function(sortO) {
              return sortO.dayNumber;
            });
      },
      convertErrors() {
        if (this.errors.hasOwnProperty('schedules')) {
          let groupsErrors = {};
          let dayGroup = {};
          for (let d = 0; d < 7; d++) {
            for (let i = 0; i < this.scheduleGroups.length; i++) {
              if (this.scheduleGroups[i].days[d]) {
                dayGroup['' + d] = i;
              }
            }
          }
          for (let e in this.errors.schedules) {
            if (typeof this.errors.schedules[e] === 'object') {
              groupsErrors[dayGroup[e]] = _.assign(groupsErrors[dayGroup[e]] || {}, this.errors.schedules[e]);
            }
          }
          if (Object.getOwnPropertyNames(groupsErrors).length > 0) {
            this.errors.scheduleGroups = groupsErrors;
            delete this.errors.schedules;
          }
        }
      },
      onFetchItem(body) {
        if (body.hasOwnProperty('item')) {
          this.item = body.item;
          if (this.item.city !== null) {
            this.cityList = [this.item.city];
          }
          this.brandList = body.brandList;
          this.paymentMethodList = body.paymentMethodList;
          this.specialityList = body.specialityList;
          this.serviceGroupList = body.serviceGroupList;
          this.contactTypeList = body.contactTypeList;
          this.contactTypeList.splice(0, 0, {id: 'phone', name: 'Телефон'});
          if (this.item.phones.length === 0) {
            this.addPhone();
          } else {
            this.updatePhonesPosition();
          }
          this.scheduleGroups = this.convertDaysToGroups(this.item.schedules);
          this.loaded.item = true;
        }
      },
      fetchItem() {
        if (this.$route.name === 'edit-sto' && this.id !== null) {
          if (this.layout.title === '') {
            this.layout.title = 'Редактирование автотехцентра';
          }
          this.$http.get(Routing.generate('sto_cabinet_api_item', {id: this.id})).then((response) => {
            this.onFetchItem(response.body);
          }).catch((response) => {
          });
        } else {
          this.layout.title = 'Добавление нового автотехцентра';
          this.$http.get(Routing.generate('sto_cabinet_api_new_item')).then((response) => {
            this.onFetchItem(response.body);
          }).catch((response) => {
          });
        }
      },
      submit() {
        var self = this;
        this.loading.save = true;
        this.$http.post(Routing.generate('sto_cabinet_api_save', {id: this.item.id}), {
          city: this.item.city !== null ? this.item.city.id : '',
          name: this.item.name,
          address: this.item.address,
          coordLat: this.item.coordLat,
          coordLng: this.item.coordLng,
          email: this.item.email,
          site: this.item.site,
          additionalInfo: this.item.additionalInfo,
          hourPriceMin: this.item.hourPriceMin,
          hourPriceMax: this.item.hourPriceMax,
          spares: this.item.spares ? 1 : 0,
          schedules: _.map(this.convertGroupsToDays(this.scheduleGroups),
              function(item) {
                return _.assign(item, self.item.id !== null ? {sto: self.item.id} : {});
              },
          ),
          brands: _.map(this.item.brands, function(item) {
            return item.id;
          }),
          phones: _.map(this.item.phones, function(item) {
            return _.assign(
                {
                  phone: item.phone !== null ? item.phone.trim() : null,
                  comment: item.comment !== null ? item.comment.trim() : null,
                  position: item.position,
                },
                item.id !== null ? {id: item.id} : {},
            );
          }),
          additionalContacts: _.map(this.item.contacts, function(item) {
            return _.assign(
                {
                  contactType: item.contactType !== null ? item.contactType.id : null,
                  contact: item.contact,
                  position: item.position,
                },
                item.id !== null ? {id: item.id} : {},
            );
          }),
          paymentMethods: _.map(this.item.paymentMethods, function(item) {
            return item.id;
          }),
          specialities: _.map(this.item.specialities, function(item) {
            return item.id;
          }),
          serviceGroups: _.map(this.item.serviceGroups, function(item) {
            return item.id;
          }),

        }, {
          emulateJSON: true,
        }).
            then(() => {
              this.$router.push({name: 'list'});
            }).
            catch((response) => {
              if (response.hasOwnProperty('body')) {
                const body = response.body;
                if (body.hasOwnProperty('errors')) {
                  this.errors = body.errors;
                  this.convertErrors();
                }
              } else {
                window.console.error(response);
              }
            }).
            finally(() => {
              this.loading.save = false;
            });
      },
    },
  };
</script>
