<template>
    <div v-show="loaded" class="page-cabinet">

        <div class="header pl-24">
            <h4 class="cabinet-title">{{layout.title}}
                <div class="btn-quest popoverBtn" data-container="#mainWin" data-trigger="hover"
                     data-content="Данные доступны только администратору GISAUTO.RU для&nbsp;связи с&nbsp;владельцем личного кабинета в&nbsp;случае возникновения такой необходимости."
                     data-original-title="" title="" data-placement="right"></div>
                <div class="text-13 dark mt-24">
                    Магазины запчастей позволяют размещать прайс-листы на товары. <br>
                    Если у Вас несколько филиалов, создайте для них магазины в нашем сервисе. <br>
                    Прайсы можно загружать для каждого магазина в отдельности.
                </div>
            </h4>
        </div>

        <div class="pl-24">
            <router-link to="/new-shop" class="btn btn-yellow btn-add-shop text-14 medium mr-16">Добавить магазин
            </router-link>
            <router-link to="/new-sto" class="btn btn-yellow btn-add-service text-14 medium">Добавить автотехцентр
            </router-link>
        </div>

        <div class="">

            <div class="container-tbody mt-32">
                <table class="table-cabinet shop-service grid-table gisauto-grid">
                    <thead>
                    <tr class="header">
                        <th data-name="type">
                            <div class="non-active-btn sortable" data-field="type">Тип
                                <div class="filter-group">
                                    <div class="filter-up unable"></div>
                                    <div class="filter-down unable"></div>
                                </div>
                            </div>
                        </th>
                        <th data-name="shop-service">
                            <div class="non-active-btn sortable" data-field="shop-service">Наименование
                                магазина/автотехцентра
                                <div class="filter-group">
                                    <div class="filter-up unable"></div>
                                    <div class="filter-down unable"></div>
                                </div>
                            </div>
                        </th>
                        <th data-name="address">
                            <div class="non-active-btn sortable" data-field="address">Адрес
                                <div class="filter-group">
                                    <div class="filter-up unable"></div>
                                    <div class="filter-down unable"></div>
                                </div>
                            </div>
                        </th>
                        <th data-name="contact">
                            <div class="non-active-btn sortable" data-field="contact">Контакты
                                <div class="filter-group">
                                    <div class="filter-up unable"></div>
                                    <div class="filter-down unable"></div>
                                </div>
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="item in items">
                        <td>
                            <div class="type-icon">
                                <svg v-if="item.type==='sto'" xmlns="http://www.w3.org/2000/svg" viewBox="13256.994 15230 19.184 24" width="19px"
                                     height="24px">
                                    <g transform="translate(9558 16093.89)">
                                        <path fill="#c5d1d9"
                                              d="M620.32,135.725v-6.653a1.851,1.851,0,0,0,.617-1.37V124h-4.32v3.7a1.851,1.851,0,0,0,.617,1.37v6.653A1.234,1.234,0,0,0,616,136.96v8.331a2.16,2.16,0,0,0,2.16,2.16h1.234a2.16,2.16,0,0,0,2.16-2.16V136.96A1.234,1.234,0,0,0,620.32,135.725Zm-2.468-10.491H619.7V127.7a.617.617,0,0,1-.617.617h-.617a.617.617,0,0,1-.617-.617Zm.617,4.32h.617v6.171h-.617Z"
                                              transform="translate(3082.995 -987.341)"/>
                                        <path fill="#c5d1d9"
                                              d="M638.614,124.628h0a5.215,5.215,0,0,0-2.006-1.234l-.821-.284v4.554l-1.234.821-1.234-.821v-4.548l-.827.3a5.264,5.264,0,0,0-.407,9.751v12.1a1.851,1.851,0,0,0,1.851,1.851h1.234a1.851,1.851,0,0,0,1.851-1.851v-12.1a5.264,5.264,0,0,0,1.592-8.541Zm-.87,6.579a3.992,3.992,0,0,1-1.537.957l-.42.136v12.96a.617.617,0,0,1-.617.617h-1.234a.617.617,0,0,1-.617-.617V132.3l-.407-.148a4.03,4.03,0,0,1-.827-7.189v3.351l2.468,1.648,2.469-1.648v-3.382a4.036,4.036,0,0,1,.716,6.276Z"
                                              transform="translate(3078.018 -987)"/>
                                    </g>
                                </svg>
                                <svg v-else="" xmlns="http://www.w3.org/2000/svg" viewBox="13254.995 15175 24 24" width="24px"
                                     height="24px">
                                    <g transform="translate(12636 14326)">
                                        <path fill="#c5d1d9"
                                              d="M10.6,23.717a10.918,10.918,0,0,1-8.45-10.079,1.464,1.464,0,0,1-1.212-.413L.47,12.761A1.672,1.672,0,0,1,0,11.74v-3.2A2.107,2.107,0,0,1,.736,7.172L7.159.766A2.235,2.235,0,0,1,8.555,0h3.206a1.636,1.636,0,0,1,.972.511l.486.454a1.458,1.458,0,0,1,.414,1.21,10.852,10.852,0,0,1,7.159,3.175v.015A10.919,10.919,0,0,1,10.6,23.717ZM3.14,13.082A9.918,9.918,0,0,0,20.066,20.07l.005-.005A9.892,9.892,0,0,0,13.06,3.18L8.519,7.713a.761.761,0,1,1-.808.807ZM2.25,8.794A1.023,1.023,0,1,0,3.273,7.774,1.022,1.022,0,0,0,2.25,8.794ZM7.6,3.456A1.023,1.023,0,1,0,8.622,2.435,1.021,1.021,0,0,0,7.6,3.456Zm4.684,15.966a.762.762,0,1,1,.762.761A.761.761,0,0,1,12.283,19.422ZM16.855,17.6a.762.762,0,1,1,.762.761A.761.761,0,0,1,16.855,17.6Zm-9.143,0a.762.762,0,1,1,.762.761A.761.761,0,0,1,7.711,17.6Zm2.508-1.708a4.021,4.021,0,0,1,5.69-5.683h0a4.021,4.021,0,0,1-5.69,5.683Zm.725-4.96a3,3,0,0,0,4.244,4.239l-.006.021a3,3,0,1,0-4.238-4.259Zm7.741,2.105a.762.762,0,1,1,.762.761A.761.761,0,0,1,18.685,13.036Zm-12.8,0a.762.762,0,1,1,.762.761A.761.761,0,0,1,5.881,13.036ZM16.855,8.473a.762.762,0,1,1,.762.76A.761.761,0,0,1,16.855,8.473ZM12.283,6.646a.762.762,0,1,1,.762.76A.761.761,0,0,1,12.283,6.646Z"
                                              transform="translate(618.995 849)"/>
                                    </g>
                                </svg>
                            </div>
                        </td>
                        <td>
                            <div class="text-13 medium dark">
                                {{ item.name }}
                            </div>
                        </td>
                        <td>
                            <div>
                                г. {{ item.city.name }}, {{ item.address }}
                            </div>
                        </td>
                        <td>
                            <p v-if="item.phones.length>0">Телефон: {{ item.phones[0].phone }}</p>
                            <p>e-mail: {{ item.email }}</p>
                        </td>
                        <td>
                            <router-link v-if="item.type==='sto'" :to="{ name: 'edit-sto', params: {id: item.id} }"
                                         class="btn btn-blue btn-circle btn-status btn-center">Подробнее
                            </router-link>
                            <router-link v-if="item.type==='shop'" :to="{ name: 'edit-shop', params: {id: item.id} }"
                                         class="btn btn-blue btn-circle btn-status btn-center">Подробнее
                            </router-link>
                        </td>
                        <td>
                            <button class="btn btn-delete gray no-ring popoverBtn" data-html="true" data-trigger="hover"
                                    data-content="Удалить" data-container=".page-cabinet" data-placement="left"
                                    data-original-title="" title="">
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</template>

<script>
  export default {
    data() {
      return {
        layout: {
          title: '',
        },
        items: [],
        loaded: false,
      };
    },
    watch: {
      'layout.title'() {
        window.document.title = this.layout.title;
      },
    },
    methods: {
      loadList: function() {
        this.$http.get(Routing.generate('sto_cabinet_api_list')).
            then((response) => {
              const body = response.body;
              if (body.hasOwnProperty('items')) {
                this.items = body.items;
                this.loaded = true;
              }
            }).
            catch((response) => {
            });
      },
    },
    created() {
      this.layout.title = 'Магазины запчастей и автотехцентры';
      this.loadList();
    },
  };
</script>

<style>

</style>
